scenarios/2317903
{"flow":[{"id":1,"mapper":{"scope":"roundtrip","variables":[{"name":"old_connection_id","value":""},{"name":"new_connection_id","value":""}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null,null]}}},"designer":{"x":0,"y":0,"name":"Set IDs"},"interface":[{"name":"old_connection_id","type":"any","label":"old_connection_id"},{"name":"new_connection_id","type":"any","label":"new_connection_id"}]},"parameters":{}},{"id":2,"mapper":{"cols":["id","name"],"team":77144,"organization":166},"module":"make:listScenarios","version":1,"metadata":{"expect":[{"name":"organization","type":"select","label":"Organization ID"},{"name":"islinked","type":"boolean","label":"Only Active Scenarios"},{"name":"cols","type":"select","label":"Fields","multiple":true,"validate":{"enum":["id","name","teamId","hookId","deviceId","deviceScope","description","folderId","isinvalid","islinked","islocked","isPaused","usedPackages","lastEdit","scheduling","iswaiting","dlqCount"]}},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"team","type":"select","label":"Team ID"},{"name":"folder","type":"select","label":"Folder ID"}],"restore":{"expect":{"cols":{"mode":"chose"},"team":{"mode":"chose","label":"My Team"},"limit":{"empty":true},"folder":{"mode":"chose"},"islinked":{"mode":"chose"},"organization":{"mode":"chose","label":"Prettysimpl"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"make"},"label":"Cor Schutte Prettysimpl Internal Make connection (cor@prettysim.pl)"}}},"advanced":true,"designer":{"x":300,"y":0,"name":"Get All"},"parameters":[{"name":"__IMTCONN__","type":"account:make","label":"Connection"}]},"parameters":{}},{"id":3,"filter":{"name":"Testing","conditions":[[{"a":"{{2.`__IMTINDEX__`}}","b":"1","o":"text:equal"}]]},"mapper":{"draft":false,"select":"file","scenario":"{{2.id}}"},"module":"make:getAScenarioBlueprint","version":1,"metadata":{"expect":[{"name":"scenario","type":"text","label":"Scenario ID","required":true},{"name":"draft","type":"boolean","label":"Draft"},{"name":"select","type":"select","label":"Return a Blueprint","required":true,"validate":{"enum":["json","string","file"]}}],"restore":{"expect":{"draft":{"mode":"chose"},"select":{"mode":"chose","label":"In a JSON File"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"make"},"label":"Cor Schutte Prettysimpl Internal Make connection (cor@prettysim.pl)"}}},"advanced":true,"designer":{"x":600,"y":0,"name":"Get Blueprint"},"interface":[{"name":"blueprint","type":"buffer","label":"Blueprint Data","semantic":"file:data"},{"name":"filename","type":"filename","label":"File Name","semantic":"file:name"},{"name":"gitSHA","type":"text","label":"GitHub SHA"},{"name":"scheduling","spec":[{"name":"type","type":"text","label":"Type"},{"name":"between","spec":{"type":"date"},"type":"array","label":"Between"},{"name":"interval","type":"number","label":"Interval"},{"name":"restrict","spec":{"spec":[{"name":"days","spec":{"type":"number"},"type":"array","label":"Days"},{"name":"time","spec":{"type":"text"},"type":"array","label":"Time"},{"name":"months","spec":{"type":"number"},"type":"array","label":"Months"}],"type":"collection"},"type":"array","label":"Restrict"},{"name":"date","time":true,"type":"date","label":"Date"},{"name":"time","type":"text","label":"Time"},{"name":"days","type":"array","label":"Days"},{"name":"months","type":"array","label":"Months"}],"type":"collection","label":"Scheduling"},{"name":"concept","type":"boolean","label":"Concept"},{"name":"idSequence","type":"uinteger","label":"ID Sequence"},{"name":"created","time":true,"type":"date","label":"Created"},{"name":"last_edit","time":true,"type":"date","label":"Last Edit"},{"name":"metadata","spec":[{"name":"input_spec","type":"any","label":"Input Spec"},{"name":"output_spec","type":"any","label":"Output Spec"}],"type":"collection","label":"Metadata"},{"name":"length","type":"number","label":"Length"}],"parameters":[{"name":"__IMTCONN__","type":"account:make","label":"Connection"}]},"parameters":{}},{"id":4,"filter":{"name":"Old Con","conditions":[[{"a":"{{toString(3.blueprint)}}","b":"{\"__IMTCONN__\":{{3.old_connection_id}}}","o":"text:contain:ci"}]]},"mapper":{"text":"{{toString(3.blueprint)}}","value":"{\"__IMTCONN__\":{{1.new_connection_id}}}","global":true,"pattern":"{\"__IMTCONN__\":{{1.old_connection_id}}}","multiline":false,"sensitive":false,"singleline":false},"module":"regexp:Replace","version":1,"metadata":{"expect":[{"name":"pattern","type":"text","label":"Pattern","required":true},{"name":"value","type":"text","label":"New value"},{"name":"global","type":"boolean","label":"Global match","required":true},{"name":"sensitive","type":"boolean","label":"Case sensitive","required":true},{"name":"multiline","type":"boolean","label":"Multiline","required":true},{"name":"singleline","type":"boolean","label":"Singleline","required":true},{"name":"text","type":"text","label":"Text"}],"restore":{"expect":{"global":{"mode":"chose"},"multiline":{"mode":"chose"},"sensitive":{"mode":"chose"},"singleline":{"mode":"chose"}}},"designer":{"x":900,"y":0,"name":"Update Con"}},"parameters":{}},{"id":5,"mapper":{"scenario":"{{2.id}}","blueprint":"{{4.text}}"},"module":"make:updateAScenario","version":1,"metadata":{"expect":[{"name":"scenario","type":"text","label":"Scenario ID","required":true},{"name":"blueprint","type":"any","label":"Blueprint"},{"name":"name","type":"text","label":"Scenario Name"},{"name":"folder","type":"text","label":"Folder ID"},{"name":"confirmed","type":"boolean","label":"Confirmed"}],"restore":{"expect":{"confirmed":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"make"},"label":"Cor Schutte Prettysimpl Internal Make connection (cor@prettysim.pl)"}}},"advanced":true,"designer":{"x":1200,"y":0,"name":"Update Scenario"},"parameters":[{"name":"__IMTCONN__","type":"account:make","label":"Connection"}]},"parameters":{}}],"name":"Showcase: Replace Connections Across Make Account [Airtable]","metadata":{"instant":false,"version":1,"designer":{"orphans":[],"samples":{"1":{"new_connection_id":null,"old_connection_id":null}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}