scenarios/2353256
{"flow":[{"id":1,"mapper":{},"module":"make:watchAScenarios","version":1,"metadata":{"restore":{"parameters":{"team":{"mode":"chose","label":"My Team"},"folder":{"mode":"chose"},"__IMTCONN__":{"data":{"scoped":"true","connection":"make"},"label":"My Make connection (karim@el-kassas.com)"},"organization":{"mode":"chose","label":"Valued"}}},"designer":{"x":0,"y":0},"parameters":[{"name":"__IMTCONN__","type":"account:make","label":"Connection","required":true},{"name":"organization","type":"select","label":"Organization ID"},{"name":"islinked","type":"boolean","label":"Only Active Scenarios"},{"name":"limit","type":"uinteger","label":"Limit","required":true},{"name":"team","type":"select","label":"Team ID"},{"name":"folder","type":"select","label":"Folder ID"}]},"parameters":{"team":195547,"limit":10000,"__IMTCONN__":2417656,"organization":317142}},{"id":2,"mapper":{"select":"file","scenario":"{{1.id}}"},"module":"make:getAScenarioBlueprint","version":1,"metadata":{"expect":[{"name":"scenario","type":"text","label":"Scenario ID","required":true},{"name":"draft","type":"boolean","label":"Draft"},{"name":"select","type":"select","label":"Return a Blueprint","required":true,"validate":{"enum":["json","string","file"]}}],"restore":{"expect":{"draft":{"mode":"chose"},"select":{"mode":"chose","label":"In a JSON File"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"make"},"label":"My Make connection (karim@el-kassas.com)"}}},"advanced":true,"designer":{"x":300,"y":0},"interface":[{"name":"blueprint","type":"buffer","label":"Blueprint Data","semantic":"file:data"},{"name":"filename","type":"filename","label":"File Name","semantic":"file:name"},{"name":"gitSHA","type":"text","label":"GitHub SHA"},{"name":"scheduling","spec":[{"name":"type","type":"text","label":"Type"},{"name":"between","spec":{"type":"date"},"type":"array","label":"Between"},{"name":"interval","type":"number","label":"Interval"},{"name":"restrict","spec":{"spec":[{"name":"days","spec":{"type":"number"},"type":"array","label":"Days"},{"name":"time","spec":{"type":"text"},"type":"array","label":"Time"},{"name":"months","spec":{"type":"number"},"type":"array","label":"Months"}],"type":"collection"},"type":"array","label":"Restrict"},{"name":"date","time":true,"type":"date","label":"Date"},{"name":"time","type":"text","label":"Time"},{"name":"days","type":"array","label":"Days"},{"name":"months","type":"array","label":"Months"}],"type":"collection","label":"Scheduling"},{"name":"concept","type":"boolean","label":"Concept"},{"name":"idSequence","type":"uinteger","label":"ID Sequence"},{"name":"created","time":true,"type":"date","label":"Created"},{"name":"last_edit","time":true,"type":"date","label":"Last Edit"},{"name":"metadata","spec":[{"name":"input_spec","type":"any","label":"Input Spec"},{"name":"output_spec","type":"any","label":"Output Spec"}],"type":"collection","label":"Metadata"},{"name":"length","type":"number","label":"Length"}],"parameters":[{"name":"__IMTCONN__","type":"account:make","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2417656}},{"id":3,"mapper":{"cpin":"utf8","data":"{{2.blueprint}}","cpout":"utf8"},"module":"util:TransformEncoding","version":1,"metadata":{"expect":[{"name":"data","type":"buffer","label":"Input data"},{"name":"cpin","type":"select","label":"Input data codepage","validate":{"enum":["utf8","ucs2","utf16be","cp1250","cp1251","cp1252","cp1253","cp1254","cp1255","cp1256","cp1257","cp1258","cp28591","cp28592","cp28593","cp28594","cp28595","cp28596","cp28597","cp28598","cp28599","cp28600","cp28601","cp28602","cp28603","cp28604","cp28605","cp28606","big5","big5-hkscs","euc-cn","euc-jp","euc-kr","gb18030","gb2312","gbk","ks_c_5601","shift_jis","windows-31j","windows932","windows936","windows949","windows950","ascii"]}},{"name":"cpout","type":"select","label":"Output data codepage","required":true,"validate":{"enum":["utf8","ucs2","utf16be","cp1250","cp1251","cp1252","cp1253","cp1254","cp1255","cp1256","cp1257","cp1258","cp28591","cp28592","cp28593","cp28594","cp28595","cp28596","cp28597","cp28598","cp28599","cp28600","cp28601","cp28602","cp28603","cp28604","cp28605","cp28606","big5","big5-hkscs","euc-cn","euc-jp","euc-kr","gb18030","gb2312","gbk","ks_c_5601","shift_jis","windows-31j","windows932","windows936","windows949","windows950","ascii"]}}],"restore":{"expect":{"cpin":{"mode":"chose","label":"UTF 8"},"cpout":{"mode":"chose","label":"UTF 8"}}},"designer":{"x":600,"y":0}},"parameters":{}},{"id":4,"mapper":{"name":"{{formatDate(now; \"YYYY-MM-DD\")}} - {{1.name}}","content":"{{3.data}}","convert":false,"folderId":"/1EBWFoTzGMCUU6KoibyCcKcNAP1UzHCZK","destination":"drive"},"module":"google-drive:createAFileFromText","version":4,"metadata":{"expect":[{"name":"destination","type":"select","label":"Choose a Drive","required":true,"validate":{"enum":["drive","share","team"]}},{"name":"name","type":"text","label":"File Name","required":true},{"name":"content","type":"text","label":"File Content","required":true},{"name":"convert","type":"boolean","label":"Convert the File to Google Docs Document","required":true},{"name":"folderId","type":"folder","label":"New Text File Location","required":true}],"restore":{"expect":{"folderId":{"mode":"chose","path":["[Make] Valued"]},"destination":{"label":"My Drive"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google-restricted"},"label":"My Google Restricted connection (karim@el-kassas.com)"}}},"designer":{"x":900,"y":0},"parameters":[{"name":"__IMTCONN__","type":"account:google-restricted","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2510299}},{"id":9,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":5,"mapper":{"file":"{{4.id}}","role":"reader","type":"anyone","select":"file","destination":"drive","allowFileDiscovery":false},"module":"google-drive:shareAFileFolder","version":4,"metadata":{"expect":[{"name":"destination","type":"select","label":"Choose a Drive","required":true,"validate":{"enum":["drive","share","team"]}},{"name":"select","type":"select","label":"Select","required":true,"validate":{"enum":["file","folder"]}},{"name":"role","type":"select","label":"Role","required":true,"validate":{"enum":["owner","writer","commenter","reader"]}},{"name":"type","type":"select","label":"Type","required":true,"validate":{"enum":["user","group","domain","anyone"]}},{"mode":"edit","name":"file","type":"file","label":"File ID","required":true},{"name":"allowFileDiscovery","type":"boolean","label":"Allow File Discovery","required":true}],"restore":{"expect":{"file":{"mode":"edit","path":[]},"role":{"mode":"chose","label":"Reader"},"type":{"mode":"chose","label":"Anyone"},"select":{"label":"File"},"destination":{"label":"My Drive"},"allowFileDiscovery":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google-restricted"},"label":"My Google Restricted connection (karim@el-kassas.com)"}}},"designer":{"x":1500,"y":0},"interface":[{"name":"kind","type":"text","label":"Kind"},{"name":"id","type":"text","label":"File ID"},{"name":"type","type":"text","label":"Type"},{"name":"shareLink","type":"url","label":"Share Link"},{"name":"emailAddress","type":"text","label":"Email Address"},{"name":"domain","type":"text","label":"Domain"},{"name":"role","type":"text","label":"Role"},{"name":"allowFileDiscovery","type":"boolean","label":"Allow File Discovery"},{"name":"displayName","type":"text","label":"Display Name"},{"name":"photoLink","type":"text","label":"Photo Link"},{"name":"expirationTime","type":"date","label":"Expiration Time"},{"name":"teamDrivePermissionDetails","spec":{"spec":[{"name":"teamDrivePermissionType","type":"text","label":"Team Drive Permission Type"},{"name":"role","type":"text","label":"Role"},{"name":"inheritedFrom","type":"text","label":"Inherited From"},{"name":"inherited","type":"boolean","label":"Inherited"}],"type":"collection"},"type":"array","label":"Team Drive Permission Details"},{"name":"permissionDetails","spec":{"spec":[{"name":"permissionType","type":"text","label":"Permission Type"},{"name":"role","type":"text","label":"Role"},{"name":"inheritedFrom","type":"text","label":"Inherited From"},{"name":"inherited","type":"boolean","label":"Inherited"}],"type":"collection"},"type":"array","label":"Permission Details"},{"name":"deleted","type":"boolean","label":"Deleted"},{"name":"webContentLink","type":"url","label":"Web Content Link"}],"parameters":[{"name":"__IMTCONN__","type":"account:google-restricted","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2510299}},{"id":6,"module":"airtable:ActionCreateRecord","version":3,"metadata":{"designer":{"x":1800,"y":0}}}],"disabled":true}],"version":1,"metadata":{"designer":{"x":1200,"y":0}}}],"name":"Valued: Scenario Backup","metadata":{"instant":false,"version":1,"designer":{"orphans":[],"samples":{"1":{"id":2257481,"name":"@Wemakefuture Dev_5_OneTime_Sync All Sales To Buchhaltung Airtable_@zsentes...","slots":null,"hookId":null,"teamId":195547,"concept":false,"created":"2024-02-14T07:44:00.845Z","deviceId":null,"dlqCount":0,"folderId":147531,"isPaused":false,"islinked":false,"islocked":false,"lastEdit":"2024-02-14T14:13:27.513Z","nextExec":null,"isinvalid":false,"iswaiting":false,"scheduling":{"type":"indefinitely...","interval":900},"description":"...","deviceScope":null,"usedPackages":["airtable..."],"createdByUser":{"id":694408,"name":"Tim Harder...","email":"tharder@wemakefuture.com..."},"updatedByUser":{"id":335364,"name":"Harez Tokhi...","email":"hello@valued.de..."}},"2":{"gitSHA":"cffa6ee275a726143f5ee699de5583b3d726a502...","length":43854,"concept":false,"created":"2024-02-14T07:44:00.845Z","filename":"blueprint.json...","metadata":{"input_spec":[],"output_spec":[]},"blueprint":"IMTBuffer(43854, binary, 2b4f52cbfeedb263d1577be8e1583838390f24c7): 7b22666c6f77223a5b7b226964223a37...","last_edit":"2024-02-14T14:13:27.513Z","idSequence":11,"scheduling":{"type":"indefinitely...","interval":900}},"3":{"data":"{\"flow\":[{\"id\":7,\"mapper\":{\"url\":\"v0/meta/bases/{{var.organization.BaseIDConsignment}}/tables\",\"meth..."},"4":{"id":"1U-se6cNJiTkye8iPvr7cCFp5rwaf5twc...","kind":"drive#file...","name":"2024-03-27 - @Wemakefuture Dev_5_OneTime_Sync All Sales To Buchhaltung Airtable_@zsentes.txt...","size":"43854...","owners":[{"me":true,"kind":"drive#user...","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocK-naGBDs5fqDhgnvKezeVF3-ybIEovuxwDlvfnR1zTxg=s64...","displayName":"Karim El Kassas...","emailAddress":"karim@el-kassas.com...","permissionId":"11633880213725456971..."}],"shared":false,"spaces":["drive..."],"parents":["1EBWFoTzGMCUU6KoibyCcKcNAP1UzHCZK..."],"starred":false,"trashed":false,"version":"3...","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/text/plain...","mimeType":"text/plain...","ownedByMe":true,"viewedByMe":false,"createdTime":"2024-03-27T07:34:16.635Z","md5Checksum":"05c2555461ff56f03a3d347b4911a6a5...","permissions":[{"id":"11633880213725456971...","kind":"drive#permission...","role":"owner...","type":"user...","deleted":false,"photoLink":"https://lh3.googleusercontent.com/a/ACg8ocK-naGBDs5fqDhgnvKezeVF3-ybIEovuxwDlvfnR1zTxg=s64...","displayName":"Karim El Kassas...","emailAddress":"karim@el-kassas.com...","pendingOwner":false}],"webViewLink":"https://drive.google.com/file/d/1U-se6cNJiTkye8iPvr7cCFp5rwaf5twc/view?usp=drivesdk...","capabilities":{"canCopy":true,"canEdit":true,"canShare":true,"canTrash":true,"canDelete":true,"canRename":true,"canComment":true,"canUntrash":true,"canDownload":true,"canReadLabels":false,"canAddChildren":false,"canListChildren":false,"canModifyLabels":false,"canModifyContent":true,"canReadRevisions":true,"canRemoveChildren":false,"canAcceptOwnership":false,"canAddMyDriveParent":false,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canRemoveMyDriveParent":true,"canMoveItemIntoTeamDrive":true,"canMoveChildrenWithinDrive":false,"canModifyContentRestriction":true,"canRemoveContentRestriction":false,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canModifyOwnerContentRestriction":true,"canModifyEditorContentRestriction":true,"canChangeCopyRequiresWriterPermission":true},"hasThumbnail":false,"modifiedByMe":true,"modifiedTime":"2024-03-27T07:34:20.104Z","sha1Checksum":"2b4f52cbfeedb263d1577be8e1583838390f24c7...","fileExtension":"txt...","permissionIds":["11633880213725456971..."],"headRevisionId":"0Bwmmr4F46wsqQVp5TlJqSmh3VGIwTkhLNUtndzE2VEVjQXo4PQ...","quotaBytesUsed":"43854...","sha256Checksum":"bc779385d5365d8a9ee6346fda6fee7c846794f1f23c5bcf2f4c71a56b5996ac...","webContentLink":"https://drive.google.com/uc?id=1U-se6cNJiTkye8iPvr7cCFp5rwaf5twc&export=download...","isAppAuthorized":true,"writersCanShare":true,"modifiedByMeTime":"2024-03-27T07:34:20.104Z","originalFilename":"2024-03-27 - @Wemakefuture Dev_5_OneTime_Sync All Sales To Buchhaltung Airtable_@zsentes.txt...","thumbnailVersion":"0...","explicitlyTrashed":false,"fullFileExtension":"txt...","lastModifyingUser":{"me":true,"kind":"drive#user...","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocK-naGBDs5fqDhgnvKezeVF3-ybIEovuxwDlvfnR1zTxg=s64...","displayName":"Karim El Kassas...","emailAddress":"karim@el-kassas.com...","permissionId":"11633880213725456971..."},"linkShareMetadata":{"securityUpdateEnabled":true,"securityUpdateEligible":false},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false},"5":{"id":"anyoneWithLink...","kind":"drive#permission...","role":"reader...","type":"anyone...","shareLink":"https://drive.google.com/file/d/1EgRg-_uM3cdH2HK6btckWoypB84MVmnl...","webContentLink":"https://drive.google.com/uc?id=1EgRg-_uM3cdH2HK6btckWoypB84MVmnl&export=download...","allowFileDiscovery":false}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}