scenarios/2381479
{"flow":[{"id":9,"module":"gateway:CustomWebHook","version":1,"metadata":{"designer":{"x":0,"y":0,"name":"Trigger by Airtable Button"}}},{"id":1,"mapper":{"scope":"roundtrip","variables":[{"name":"ID","value":"C-001"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null]}}},"designer":{"x":300,"y":0,"name":"Set ID"},"interface":[{"name":"ID","type":"any","label":"ID"}]},"parameters":{}},{"id":2,"mapper":{"base":"appxkYpC5VhjbSWBD","sort":[{"field":"Month","direction":"asc"}],"table":"tblpeK2R2uvQJCAZx","maxRecords":"100","useColumnId":false},"module":"airtable:ActionSearchRecords","version":3,"metadata":{"expect":[{"name":"base","type":"select","label":"Base","required":true},{"name":"useColumnId","type":"boolean","label":"Use Column ID","required":true},{"name":"table","type":"select","label":"Table","required":true},{"name":"formula","type":"text","label":"Formula"},{"name":"maxRecords","type":"integer","label":"Limit"},{"name":"sort","spec":[{"name":"field","type":"select","label":"Field","dynamic":true,"options":[]},{"name":"direction","type":"select","label":"Direction","options":[{"label":"Descending","value":"desc"},{"label":"Ascending","value":"asc"}]}],"type":"array","label":"Sort"},{"name":"view","type":"select","label":"View"},{"name":"fields","type":"select","label":"Output Fields","multiple":true}],"restore":{"expect":{"base":{"mode":"chose","label":"Sandbox 🏝️"},"sort":{"mode":"chose","items":[{"field":{"mode":"chose","label":"Month"},"direction":{"mode":"chose","label":"Ascending"}}]},"view":{"mode":"chose"},"table":{"mode":"chose","label":"C-001"},"fields":{"mode":"chose"},"useColumnId":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"airtable3"},"label":"My Airtable OAuth connection (User ID: usryWvTaoddQVF23q)"}}},"designer":{"x":600,"y":0,"name":"Get Data"},"interface":[{"name":"__IMTLENGTH__","type":"uinteger","label":"Total number of bundles"},{"name":"__IMTINDEX__","type":"uinteger","label":"Bundle order position"},{"name":"id","type":"text","label":"ID"},{"name":"createdTime","type":"date","label":"Created Time"},{"name":"Month","type":"text","label":"Month"},{"name":"Traffic","type":"number","label":"Traffic"},{"name":"Value","type":"number","label":"Value"},{"name":"User","type":"number","label":"User"}],"parameters":[{"name":"__IMTCONN__","type":"account:airtable3,airtable2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2419123}},{"id":3,"filter":{"name":"Last 6 Month","conditions":[[{"a":"{{2.`__IMTINDEX__`}}","b":"{{2.`__IMTLENGTH__` - 6}}","o":"number:greater"}]]},"mapper":{"from":"drive","mode":"select","values":{"0":"{{2.Month}}","1":"{{2.Traffic}}","2":"{{2.Value}}","3":"{{2.User}}"},"sheetId":"Data","rowNumber":"{{2.`__IMTINDEX__` - 2.`__IMTLENGTH__` + 7}}","spreadsheetId":"/1Z4xm8MKZaYs6lMziA-fLR9hNAMmI3KF83CgKZFVp3tY","includesHeaders":true,"valueInputOption":"USER_ENTERED"},"module":"google-sheets:updateRow","version":2,"metadata":{"expect":[{"name":"mode","type":"select","label":"Choose a Method","required":true,"validate":{"enum":["select","fromAll","map"]}},{"name":"valueInputOption","type":"select","label":"Value input option","validate":{"enum":["USER_ENTERED","RAW"]}},{"name":"from","type":"select","label":"Choose a Drive","required":true,"validate":{"enum":["drive","share","team"]}},{"name":"spreadsheetId","type":"file","label":"Spreadsheet ID","required":true},{"name":"sheetId","type":"select","label":"Sheet Name","required":true},{"name":"rowNumber","type":"uinteger","label":"Row number","required":true},{"name":"includesHeaders","type":"select","label":"Table contains headers","required":true,"validate":{"enum":[true,false]}},{"name":"values","spec":[{"name":"0","type":"text","label":"24-06 (A)"},{"name":"1","type":"text","label":"7935 (B)"},{"name":"2","type":"text","label":"1242 (C)"},{"name":"3","type":"text","label":"1500 (D)"}],"type":"collection","label":"Values"}],"restore":{"expect":{"from":{"label":"My Drive"},"mode":{"label":"Select by path"},"sheetId":{"label":"Data"},"spreadsheetId":{"path":["SEO Performance Reporting"]},"includesHeaders":{"label":"Yes","nested":[{"name":"values","spec":[{"name":"0","type":"text","label":"24-06 (A)"},{"name":"1","type":"text","label":"7935 (B)"},{"name":"2","type":"text","label":"1242 (C)"},{"name":"3","type":"text","label":"1500 (D)"}],"type":"collection","label":"Values"}]},"valueInputOption":{"mode":"chose","label":"User entered"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"My Google connection (karim@el-kassas.com)"}}},"designer":{"x":900,"y":0,"name":"Generate Chart"},"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2532630}},{"id":6,"mapper":{},"module":"builtin:BasicAggregator","version":1,"metadata":{"restore":{"extra":{"feeder":{"label":"Airtable - Search Records [2]"},"target":{"label":"Custom"}}},"designer":{"x":1200,"y":0}},"parameters":{"feeder":2}},{"id":7,"mapper":{},"module":"util:FunctionIncrement","version":1,"metadata":{"restore":{"parameters":{"reset":{"label":"Never"}}},"designer":{"x":1500,"y":0},"parameters":[{"name":"reset","type":"select","label":"Reset a value","required":true,"validate":{"enum":["run","execution","scenario"]}}]},"parameters":{"reset":"scenario"}},{"id":4,"mapper":{"from":"drive","name":"TEST-V{{7.i}}","select":"dropdown","document":"/1v8j0_-RA4_PfvyBubZ7QU6_zJaHPlGKENsZH8e5u5tI","folderId":"/","requests":{"Client ID":"{{1.ID}}"},"destination":"drive"},"module":"google-docs:createADocumentFromTemplate","version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Create a Document from a Template","required":true,"validate":{"enum":["map","dropdown"]}},{"name":"name","type":"text","label":"Title","required":true},{"name":"destination","type":"select","label":"New Drive Location","required":true,"validate":{"enum":["drive","share","team"]}},{"name":"from","type":"select","label":"Choose a Drive","required":true,"validate":{"enum":["drive","share","team"]}},{"name":"document","type":"file","label":"Document ID","required":true},{"name":"requests","spec":[{"name":"Client ID","type":"any"}],"type":"collection","label":"Values"},{"name":"folderId","type":"folder","label":"New Document's Location","required":true}],"restore":{"expect":{"from":{"label":"My Drive"},"select":{"label":"By Dropdown"},"document":{"path":["SEO Performance Reporting"]},"folderId":{"mode":"chose","path":["/"]},"destination":{"label":"My Drive"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"My Google connection (karim@el-kassas.com)"}}},"designer":{"x":1800,"y":0,"name":"Create Monthly Report"},"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2532630}},{"id":8,"module":"google-email:ActionSendEmail","version":2,"metadata":{"designer":{"x":2100,"y":0,"name":"Send To Client"}}}],"name":"Remastered: SEO Performance Reporting","metadata":{"instant":true,"version":1,"designer":{"orphans":[],"samples":{"1":{"ID":"C-001..."},"2":{"id":"recmHYbk2JAAxQmsN...","User":1023,"Month":"23-12...","Value":245,"Traffic":1240,"createdTime":"2024-04-07T05:18:12.000Z","__IMTINDEX__":1,"__IMTLENGTH__":7},"3":{"updatedRows":1,"updatedCells":4,"updatedRange":"Data!A2:D2...","spreadsheetId":"1Z4xm8MKZaYs6lMziA-fLR9hNAMmI3KF83CgKZFVp3tY...","updatedColumns":4},"4":{"id":"1kuiuM6xWi2AqSjNuOdHHsB3ZaO6mN6vY-3CHXzpapJU...","kind":"drive#file...","name":"TEST...","size":"3835...","owners":[{"me":true,"kind":"drive#user...","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocKfbrMNjCvggKTJPI-3z5-6EDaV2MtbZOFK3yCrv7oysAA1bYI=s64...","displayName":"Karim El Kassas...","emailAddress":"karim@el-kassas.com...","permissionId":"11633880213725456971..."}],"shared":false,"spaces":["drive..."],"parents":["0AAmmr4F46wsqUk9PVA..."],"starred":false,"trashed":false,"version":"5...","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document...","mimeType":"application/vnd.google-apps.document...","ownedByMe":true,"viewedByMe":true,"createdTime":"2024-04-07T06:30:54.535Z","exportLinks":{"text/html":"https://docs.google.com/feeds/download/documents/export/Export?id=1kuiuM6xWi2AqSjNuOdHHsB3ZaO6mN6vY-...","text/plain":"https://docs.google.com/feeds/download/documents/export/Export?id=1kuiuM6xWi2AqSjNuOdHHsB3ZaO6mN6vY-...","application/pdf":"https://docs.google.com/feeds/download/documents/export/Export?id=1kuiuM6xWi2AqSjNuOdHHsB3ZaO6mN6vY-...","application/rtf":"https://docs.google.com/feeds/download/documents/export/Export?id=1kuiuM6xWi2AqSjNuOdHHsB3ZaO6mN6vY-...","application/zip":"https://docs.google.com/feeds/download/documents/export/Export?id=1kuiuM6xWi2AqSjNuOdHHsB3ZaO6mN6vY-...","application/epub+zip":"https://docs.google.com/feeds/download/documents/export/Export?id=1kuiuM6xWi2AqSjNuOdHHsB3ZaO6mN6vY-...","application/vnd.oasis.opendocument.text":"https://docs.google.com/feeds/download/documents/export/Export?id=1kuiuM6xWi2AqSjNuOdHHsB3ZaO6mN6vY-...","application/vnd.openxmlformats-officedocument.wordprocessingml.document":"https://docs.google.com/feeds/download/documents/export/Export?id=1kuiuM6xWi2AqSjNuOdHHsB3ZaO6mN6vY-..."},"permissions":[{"id":"11633880213725456971...","kind":"drive#permission...","role":"owner...","type":"user...","deleted":false,"photoLink":"https://lh3.googleusercontent.com/a/ACg8ocKfbrMNjCvggKTJPI-3z5-6EDaV2MtbZOFK3yCrv7oysAA1bYI=s64...","displayName":"Karim El Kassas...","emailAddress":"karim@el-kassas.com...","pendingOwner":false}],"webViewLink":"https://docs.google.com/document/d/1kuiuM6xWi2AqSjNuOdHHsB3ZaO6mN6vY-3CHXzpapJU/edit?usp=drivesdk...","capabilities":{"canCopy":true,"canEdit":true,"canShare":true,"canTrash":true,"canDelete":true,"canRename":true,"canComment":true,"canUntrash":true,"canDownload":true,"canReadLabels":false,"canAddChildren":false,"canListChildren":false,"canModifyLabels":false,"canModifyContent":true,"canReadRevisions":true,"canRemoveChildren":false,"canAcceptOwnership":false,"canAddMyDriveParent":false,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canRemoveMyDriveParent":true,"canMoveItemIntoTeamDrive":true,"canMoveChildrenWithinDrive":false,"canModifyContentRestriction":true,"canRemoveContentRestriction":false,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canModifyOwnerContentRestriction":true,"canModifyEditorContentRestriction":true,"canChangeCopyRequiresWriterPermission":true},"hasThumbnail":true,"modifiedByMe":true,"modifiedTime":"2024-04-07T06:30:54.535Z","permissionIds":["11633880213725456971..."],"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBN9TFid4pN_DHTfDKrTSwlYCVxGhkFLdnLjJOvgvXJIHj4j...","quotaBytesUsed":"3835...","viewedByMeTime":"2024-04-07T06:25:28.118Z","isAppAuthorized":true,"writersCanShare":true,"modifiedByMeTime":"2024-04-07T06:30:54.535Z","thumbnailVersion":"1...","explicitlyTrashed":false,"lastModifyingUser":{"me":true,"kind":"drive#user...","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocKfbrMNjCvggKTJPI-3z5-6EDaV2MtbZOFK3yCrv7oysAA1bYI=s64...","displayName":"Karim El Kassas...","emailAddress":"karim@el-kassas.com...","permissionId":"11633880213725456971..."},"linkShareMetadata":{"securityUpdateEnabled":true,"securityUpdateEligible":false},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false},"6":{"array":[{}],"__IMTAGGLENGTH__":6}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}