scenarios/2516968
{"flow":[{"id":12,"mapper":{},"module":"gateway:CustomWebHook","version":1,"metadata":{"restore":{"parameters":{"hook":{"data":{"editable":"true"},"label":"PhantomBuster"}}},"designer":{"x":0,"y":150,"name":"Watch Phantom Output"},"parameters":[{"name":"hook","type":"hook:gateway-webhook","label":"Webhook","required":true},{"name":"maxResults","type":"number","label":"Maximum number of results"}]},"parameters":{"hook":1583218,"maxResults":1}},{"id":16,"mapper":{"json":"{{12.resultObject}}"},"module":"json:ParseJSON","version":1,"metadata":{"expect":[{"name":"json","type":"text","label":"JSON string","required":true}],"restore":{"parameters":{"type":{"label":"Choose a data structure"}}},"designer":{"x":300,"y":150,"name":"Parse JSON"},"parameters":[{"name":"type","type":"udt","label":"Data structure"}]},"parameters":{"type":""}},{"id":17,"mapper":{"email":"","website":"{{16.profileUrl}}","last_name":"{{16.lastName}}","first_name":"{{16.firstName}}"},"module":"json:AggregateToJSON","version":1,"metadata":{"expect":[{"name":"first_name","type":"text","label":"First Name"},{"name":"last_name","type":"text","label":"Last Name"},{"name":"email","type":"text","label":"Email"},{"name":"website","type":"text","label":"Website"}],"restore":{"extra":{"feeder":{"label":"Parse JSON - Parse JSON [16]"}},"parameters":{"type":{"label":"Dropcontact"},"space":{"label":"Empty"}}},"designer":{"x":600,"y":150,"name":"Dropcontact"},"parameters":[{"name":"type","type":"udt","label":"Data structure","required":true},{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"type":184189,"space":"","feeder":16}},{"id":33,"module":"builtin:BasicRepeater","version":1,"metadata":{"designer":{"x":900,"y":150,"name":"Split to 250 Batches"}}},{"id":31,"module":"builtin:BasicFeeder","version":1,"metadata":{"designer":{"x":1200,"y":150}}},{"id":34,"mapper":{},"module":"builtin:BasicAggregator","version":1,"metadata":{"restore":{"extra":{"feeder":{"label":"Iterator [31]"},"target":{"label":"Custom"}}},"designer":{"x":1500,"y":150}},"parameters":{"feeder":31}},{"id":9,"mapper":{"url":"/batch","body":"{\n    \"data\": {{17.json}},\n     \"siren\": {{false}},\n     \"language\": \"en\"\n}","method":"POST","headers":[{"key":"Content-Type","value":"application/json"}]},"module":"dropcontact:universal","version":1,"metadata":{"expect":[{"name":"url","type":"text","label":"URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["GET","POST","PUT","PATCH","DELETE"]}},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key"},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"key","type":"text","label":"Key"},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"body","type":"any","label":"Body"}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose","items":[null]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"dropcontact"},"label":"My Dropcontact connection"}}},"designer":{"x":1800,"y":150,"name":"Create Enrichment"},"parameters":[{"name":"__IMTCONN__","type":"account:dropcontact","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2641434}},{"id":30,"mapper":{"duration":"10"},"module":"util:FunctionSleep","version":1,"metadata":{"expect":[{"name":"duration","type":"uinteger","label":"Delay","required":true,"validate":{"max":300,"min":1}}],"restore":{},"designer":{"x":2100,"y":150,"name":"Delay"}},"parameters":{}},{"id":18,"mapper":{"url":"/batch/{{9.body.request_id}}","method":"GET","headers":[{"key":"Content-Type","value":"application/json"}]},"module":"dropcontact:universal","onerror":[{"id":28,"mapper":{"count":"3","retry":true,"interval":"30"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":2700,"y":300}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"url","type":"text","label":"URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["GET","POST","PUT","PATCH","DELETE"]}},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key"},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"key","type":"text","label":"Key"},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"body","type":"any","label":"Body"}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"dropcontact"},"label":"My Dropcontact connection"}}},"designer":{"x":2400,"y":150,"name":"Get Enrichment"},"parameters":[{"name":"__IMTCONN__","type":"account:dropcontact","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2641434}},{"id":26,"mapper":{"array":"{{18.body.data}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":2700,"y":0}},"parameters":{}},{"id":27,"filter":{"name":"Email Eixst","conditions":[]},"mapper":{"email":"","phone":"","website":"","last_name":"{{26.last_name}}","first_name":"{{26.first_name}}","company_name":"","personalization":"","custom_variables":{"language":"","favorite_restaurant":""}},"module":"json:AggregateToJSON","version":1,"metadata":{"expect":[{"name":"email","type":"text","label":"Email"},{"name":"first_name","type":"text","label":"First Name"},{"name":"last_name","type":"text","label":"Last Name"},{"name":"company_name","type":"text","label":"Company Name"},{"name":"personalization","type":"text","label":"Personalization"},{"name":"phone","type":"text","label":"Phone"},{"name":"website","type":"text","label":"Website"},{"name":"custom_variables","spec":[{"name":"favorite_restaurant","type":"text","label":null},{"name":"language","type":"text","label":null}],"type":"collection","label":"Custom Variables"}],"restore":{"extra":{"feeder":{"label":"Iterator [26]"}},"parameters":{"type":{"label":"Instantly"},"space":{"label":"Empty"}}},"designer":{"x":3000,"y":0,"name":"Instantly"},"parameters":[{"name":"type","type":"udt","label":"Data structure","required":true},{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"type":184188,"space":"","feeder":26}},{"id":10,"mapper":{"leads":"{{27.json}}","campaign_id":"0622a1eb-55c6-4d02-a037-0d6c420d050c"},"module":"instantly:addMultipleLeadsToCamp","version":1,"metadata":{"expect":[{"name":"campaign_id","type":"select","label":"Campaign ID","required":true},{"name":"leads","spec":{"name":"value","spec":[{"name":"email","type":"email","label":"Lead Email","required":true},{"name":"first_name","type":"text","label":"First Name"},{"name":"last_name","type":"text","label":"Last Name"},{"name":"company_name","type":"text","label":"Company Name"},{"name":"personalization","type":"text","label":"Personalization"},{"name":"phone","type":"text","label":"Phone"},{"name":"website","type":"url","label":"Website"},{"name":"custom_variables","spec":{"spec":[{"name":"key","type":"text","label":"Custom Variable Key"},{"name":"value","type":"text","label":"Custom Variable Value"}],"type":"collection","label":"Custom Variable"},"type":"array","label":"Custom Variables"}],"type":"collection","label":"Lead"},"type":"array","label":"Leads","required":true},{"name":"skip_if_in_workspace","type":"boolean","label":"Skip if in Workspace"}],"restore":{"expect":{"leads":{"mode":"edit"},"campaign_id":{"mode":"chose","label":"Test Campaign"},"skip_if_in_workspace":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"instantly"},"label":"My Instantly connection"}}},"designer":{"x":3300,"y":0,"name":"Add to Campaign"},"parameters":[{"name":"__IMTCONN__","type":"account:instantly","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2645770}}],"name":"Lead Capture: Cold Mail (2/2)","metadata":{"instant":true,"version":1,"designer":{"orphans":[],"samples":{"9":{"body":{"error":false,"success":true,"request_id":"ffgiingmtnjaiic","credits_left":28023},"headers":{"via":"1.1 0772ea0dd0bc3f86a96e50a0ecf625c6.cloudfront.net (CloudFront)","date":"Tue, 17 Sep 2024 22:42:46 GMT","x-cache":"Miss from cloudfront","connection":"close","x-amz-cf-id":"Wj01azARx_2K9mLowyKUES98rtLc1vcKUlzl4Ir66uhN6oQ3p8tS-Q==","content-type":"application/json","x-amz-cf-pop":"DUB56-P3","content-length":"82","x-amz-apigw-id":"eRXb-FQ7DoEEoXg=","x-amzn-trace-id":"Root=1-66ea05e5-4048ec4c0d1161b552124798;Parent=0221626c65446df9;Sampled=0;Lineage=1:3e6b2c3c:0","x-amzn-requestid":"76a9d2ba-1870-420e-8e30-25ac0f299116","x-amzn-remapped-content-length":"82"},"statusCode":200},"12":{"branch":"master","script":"Sales Navigator Search Export.js","agentId":"492263760070866","exitCode":0,"agentName":"Untitled Sales Navigator Search Export (1)","scriptOrg":"phantombuster","containerId":"2629859778054397","exitMessage":"finished","runDuration":31674,"resultObject":"[{\"profileUrl\":\"https://www.linkedin.com/sales/lead/ACwAAAJYRUoBk6TYDkIWGaLzlqCWQ0cviScYmnI,NAME_SEA...","launchDuration":390},"16":{"name":"Fabio Leoni","vmid":"ACwAAAJYRUoBk6TYDkIWGaLzlqCWQ0cviScYmnI","query":"CEO, Kronberg","title":"CEO","summary":"Enabling companies to achieve long-term success is my passion.\n\nI am a manager capable of imparting ...","fullName":"Fabio Leoni","industry":"Business Consulting and Services","lastName":"Leoni","location":"Milan, Lombardy, Italy","companyId":"263719","firstName":"Fabio ","isPremium":true,"timestamp":"2024-09-17T22:38:05.017Z","companyUrl":"https://www.linkedin.com/sales/company/263719","isOpenLink":true,"profileUrl":"https://www.linkedin.com/sales/lead/ACwAAAJYRUoBk6TYDkIWGaLzlqCWQ0cviScYmnI,NAME_SEARCH,PzOW","companyName":"Golden Group","durationInRole":"2 years in role","companyLocation":"Monte San Pietro, Emilia-Romagna, Italy","profileImageUrl":"https://media.licdn.com/dms/image/v2/D4D03AQEnpXlm0XtRYw/profile-displayphoto-shrink_800_800/profile...","connectionDegree":"3rd","titleDescription":"In the role of CEO and GM, I led the company through a period of significant growth and implemented ...","defaultProfileUrl":"https://linkedin.com/in/fabioleoni","durationInCompany":"2 years in company","regularCompanyUrl":"https://www.linkedin.com/company/263719","linkedInProfileUrl":"https://www.linkedin.com/in/ACwAAAJYRUoBk6TYDkIWGaLzlqCWQ0cviScYmnI/","pastExperienceDate":"10/2013-09/2020","pastExperienceDuration":"6 years 11 months","sharedConnectionsCount":0,"pastExperienceCompanyUrl":"https://www.linkedin.com/company/784322","pastExperienceCompanyName":"Vorwerk Group","pastExperienceCompanyTitle":"CEO"},"17":{"json":"[{\"email\":null,\"website\":\"https://www.linkedin.com/sales/lead/ACwAAAJYRUoBk6TYDkIWGaLzlqCWQ0cviScYmn..."},"18":{"body":{"data":[{"civility":"Mr","linkedin":"www.linkedin.com/in/ACwAAABvURAB37G0shZbwnYrltCPCyL2BUTRhhQ","full_name":"Thomas Kronberg","last_name":"Kronberg","first_name":"Thomas"}],"error":false,"success":true,"credits_left":28023},"headers":{"via":"1.1 bdd2f3fbf8d2aed05d93c4b73bb14f04.cloudfront.net (CloudFront)","date":"Tue, 17 Sep 2024 22:42:56 GMT","x-cache":"Miss from cloudfront","connection":"close","x-amz-cf-id":"4zHicLup-qV45QMkA7SWC8rd0bMY8JM49Tg8VjQDSxsW40LNzGUJtw==","content-type":"application/json","x-amz-cf-pop":"DUB56-P3","content-length":"1710","x-amz-apigw-id":"eRXdnFiDjoEEm2w=","x-amzn-trace-id":"Root=1-66ea05f0-1dfa222b11f9071916f598d8;Parent=3acbf8b4da3167e4;Sampled=0;Lineage=1:3e6b2c3c:0","x-amzn-requestid":"80ba4419-18fa-46d6-996b-b6e3c0210cd5","x-amzn-remapped-content-length":"1710"},"statusCode":200},"26":{"data":[{"civility":"Mr","linkedin":"www.linkedin.com/in/ACwAAABvURAB37G0shZbwnYrltCPCyL2BUTRhhQ","full_name":"Thomas Kronberg","last_name":"Kronberg","first_name":"Thomas"}],"error":false,"success":true,"__IMTINDEX__":1,"credits_left":28023,"__IMTLENGTH__":1},"27":{"json":"[{\"email\":null,\"phone\":null,\"website\":null,\"last_name\":null,\"first_name\":null,\"company_name\":null,\"p..."}}},"scenario":{"dlq":true,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}