scenarios/2519331.json
{
  "flow": [
    {
      "id": 1,
      "mapper": {},
      "module": "rss:TriggerNewArticle",
      "version": 4,
      "metadata": {
        "restore": {},
        "designer": {
          "x": 0,
          "y": 150,
          "name": "Watch Upwork"
        },
        "interface": [
          {
            "name": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "name": "description",
            "type": "text",
            "label": "Description"
          },
          {
            "name": "summary",
            "type": "text",
            "label": "Summary"
          },
          {
            "name": "author",
            "type": "text",
            "label": "Author"
          },
          {
            "name": "url",
            "type": "url",
            "label": "URL"
          },
          {
            "name": "dateUpdated",
            "type": "date",
            "label": "Date updated"
          },
          {
            "name": "dateCreated",
            "type": "date",
            "label": "Date created"
          },
          {
            "name": "comments",
            "type": "url",
            "label": "Comments"
          },
          {
            "name": "image",
            "spec": [
              {
                "name": "title",
                "type": "text",
                "label": "Name"
              },
              {
                "name": "url",
                "type": "url",
                "label": "URL"
              }
            ],
            "type": "collection",
            "label": "Image"
          },
          {
            "name": "categories",
            "spec": {
              "type": "text"
            },
            "type": "array",
            "label": "Categories"
          },
          {
            "name": "source",
            "spec": [
              {
                "name": "title",
                "type": "text",
                "label": "Name"
              },
              {
                "name": "url",
                "type": "url",
                "label": "URL"
              }
            ],
            "type": "collection",
            "label": "Source"
          },
          {
            "name": "enclosures",
            "spec": [
              {
                "name": "url",
                "type": "url",
                "label": "URL"
              },
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "length",
                "type": "number",
                "label": "Length"
              }
            ],
            "type": "array",
            "label": "Enclosures"
          },
          {
            "help": "Other RSS fields. All values are in text format.",
            "name": "rssFields",
            "spec": [
              {
                "name": "title",
                "type": "text",
                "label": "title"
              },
              {
                "name": "link",
                "type": "text",
                "label": "link"
              },
              {
                "name": "description",
                "type": "text",
                "label": "description"
              },
              {
                "name": "pubdate",
                "type": "text",
                "label": "pubdate"
              },
              {
                "name": "guid",
                "type": "text",
                "label": "guid"
              }
            ],
            "type": "collection",
            "label": "RSS fields"
          }
        ],
        "parameters": [
          {
            "name": "url",
            "type": "url",
            "label": "URL",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of returned items",
            "required": true
          },
          {
            "name": "username",
            "type": "text",
            "label": "User name"
          },
          {
            "name": "password",
            "type": "text",
            "label": "Password"
          },
          {
            "name": "include",
            "type": "select",
            "label": "Process RSS fields",
            "multiple": true,
            "validate": {
              "enum": [
                "google-merchant-center",
                "itunes"
              ]
            }
          },
          {
            "name": "gzip",
            "type": "boolean",
            "label": "Request compressed content",
            "required": true
          }
        ]
      },
      "parameters": {
        "url": "https://www.upwork.com/ab/feed/jobs/rss?amount=100-499%2C500-999%2C1000-4999%2C5000-&paging=NaN-undefined&q=automate&sort=recency&t=1&api_params=1&securityToken=ea473ee43fb6b8dcc5f84125b684a1b3c84f88f7638612159cc036e951df1c18b05420dd8103aae46873fca9d5cbe0a53d7b87eb69ed30998d68aa0e85fef2f5&userUid=1782134532914925568&orgUid=1782134532914925569",
        "gzip": true,
        "include": [],
        "password": "",
        "username": "",
        "maxResults": 100
      }
    },
    {
      "id": 2,
      "mapper": {
        "html": "{{1.description}}",
        "newline": "lf",
        "uppercaseHeadings": true
      },
      "module": "regexp:HTMLToText",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "html",
            "type": "text",
            "label": "HTML"
          },
          {
            "name": "newline",
            "type": "select",
            "label": "Line break",
            "required": true,
            "validate": {
              "enum": [
                "lf",
                "crlf",
                "cr"
              ]
            }
          },
          {
            "name": "uppercaseHeadings",
            "type": "boolean",
            "label": "Uppercase headings",
            "required": true
          }
        ],
        "restore": {
          "expect": {
            "newline": {
              "label": "LF (\\n) - Unix/Mac OS X"
            }
          }
        },
        "designer": {
          "x": 300,
          "y": 150,
          "name": "Parse Description"
        }
      },
      "parameters": {}
    },
    {
      "id": 3,
      "mapper": {
        "model": "gpt-4o",
        "top_p": "1",
        "select": "chat",
        "messages": [
          {
            "role": "system",
            "content": "You're an intelligent admin that filters jobs."
          },
          {
            "role": "user",
            "content": "We're an operations agency that builds outreach systems, CRM systems, project management systems, no-code systems and integrations.\n\nBelow is a job description. Filter it for relevance (true or false) in JSON. Some of the plattforms we use include Airtable, ClickUp, Notion, Webflow, Slack, Discord ChatGPT, Make, Monday, Zapier, LinkedIn, Google Sheets, Shopify. If relevant, write a short introductory icebreaker.\n\nNote:\n- API integrations are good, since we can develop them using no-code.\n- We don't develop full-stack apps.\n- We don't use Python, Telegram, Whatsapp, Facebook, Bubble.io or chatbots.\n- We don't work on very tiny projects (like integrations that will take less than 10 minutes to do) or those that require extrememly fast, same-day or 24h-delivery.\n\nExample client projects:\n- End to end project management for a $1M/yr copywriting agency\n- Outbound acquisition system that grew a contect company from $10K/mo to $90K/mo in 12 mo\n- Monday.com CRM and PM for a recruiting company doing > $1M/yr\n- Automated content generation system for an SEO agency doing > $10M/yr\n- ClickUP CRM build for a marketing company doing $1M/yr"
          },
          {
            "role": "user",
            "content": "---\nProduct Review Writer\n\nSee attached doc before responding. I need an excellent writer to do 2 product reviews 600-800 words each. I'll provide the products/sites to review.\n\nProduct 1: https://trycortexi.com/\nProduct 2: https://quietumpuls.com/\n\nBudget: $300\nPosted On: April 11, 2023 22:07 UTC\nCategory: Product Reviews\nSkills: Writing, English, Proofreading, Content Writing, Review, Creative Writing\nCountry: United States\n---"
          },
          {
            "role": "assistant",
            "content": "{\n   \"result\":\"false\",\n   \"reason\":\"This is about writing. Nothing to do with systems.\",\n   \"icebreaker\":\"\"\n}"
          },
          {
            "role": "user",
            "content": "TikTok Media Buyer\n\nWe're looking for a media buyer to specialize in running TikTok ads and other social media plattforms.\n\nYou need to be proficient in English.\n\nBudget: $200"
          },
          {
            "role": "assistant",
            "content": "{\n   \"result\":\"false\",\n   \"reason\":\"Focuses on social media marketing — not ops.\",\n   \"icebreaker\":\"\"\n}"
          },
          {
            "role": "user",
            "content": "Airtable Expert Needed\n\nNeed help linking things in Airtable and using interfaces for my company. Content is already in Airtable, just need help maximizing what Airtable can do and organizing it so it's easier to manage.\n\nHourly Range: $30.00-$60.00"
          },
          {
            "role": "assistant",
            "content": "{\n   \"result\":\"true\",\n   \"reason\":\"Involved automating Airtable, which aligns with our expertise in systems and no-code tools.\",\n   \"icebreaker\":\"Confident I'm the man you're looking for. I use Airtable to manage a copy writing company that does ~$1M/yr. We make heavy use of interfaces & some less known Airtable features. I also routinely build Airtable flows, databases, etc.\"\n}"
          },
          {
            "role": "user",
            "content": "Google Sheets to Monday.com CRM\n\nHelp pull data into CRM (Monday.com - Sales and Work Management)\n\nWe're an executive recruiting biz. Looking for someone that's VERY familiar with Monday.com (if you haven't useed Monday.com and know it very well, don't bid. Looking to take 3 tabs in Sheets and turn them into a consolidated and connected CRM.\n\nHourly Range: $40.00-$80.00"
          },
          {
            "role": "assistant",
            "content": "{\n   \"result\":\"true\",\n   \"reason\":\"Involves building a CRM in Monday.com, which aligns with our expertise.\",\n   \"icebreaker\":\"Confident I'm the man you're looking for. I use monday to manage a recruitment company that does > $1M/yr, and the majority of our project management & CRM work is automated.\"\n}"
          },
          {
            "role": "user",
            "content": "On-Page SEO Web Development\n\nSeeking a skilled Web Developer with a strong background in on-page SEO to join our team. Involved transforming an exisitng website into a WordPress.com platform, utilizing the default 2023 theme.\n\n​"
          },
          {
            "role": "assistant",
            "content": "{\n   \"result\":\"false\",\n   \"reason\":\"This is about web development, not operations.\",\n   \"icebreaker\":\"\"\n}"
          },
          {
            "role": "user",
            "content": "ChatGPT Writer\n\nLooking for writers to write 1000-word articles about different books that you're interested in, or you can write multiple articles about the same book! We pay $110 per 1000 words.\n\nRequirements:\n- Able to write 3 x 1000 words + articles each day\n- Passionate about books"
          },
          {
            "role": "assistant",
            "content": "{\n   \"result\":\"false\",\n   \"reason\":\"This is about content writing, not automation\",\n   \"icebreaker\":\"\"\n}"
          },
          {
            "role": "user",
            "content": "{{1.title}}\n\n{{1.description}}"
          }
        ],
        "max_tokens": "0",
        "temperature": "0.3",
        "n_completions": "1",
        "response_format": "text"
      },
      "module": "openai-gpt-3:CreateCompletion",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "select",
            "type": "select",
            "label": "Select Method",
            "required": true,
            "validate": {
              "enum": [
                "chat",
                "prompt"
              ]
            }
          },
          {
            "name": "max_tokens",
            "type": "number",
            "label": "Max Tokens",
            "required": true
          },
          {
            "name": "temperature",
            "type": "number",
            "label": "Temperature",
            "validate": {
              "max": 2,
              "min": 0
            }
          },
          {
            "name": "top_p",
            "type": "number",
            "label": "Top P",
            "validate": {
              "max": 1,
              "min": 0
            }
          },
          {
            "name": "n_completions",
            "type": "number",
            "label": "Number"
          },
          {
            "name": "frequency_penalty",
            "type": "number",
            "label": "Frequency Penalty",
            "validate": {
              "max": 2,
              "min": -2
            }
          },
          {
            "name": "presence_penalty",
            "type": "number",
            "label": "Presence Penalty",
            "validate": {
              "max": 2,
              "min": -2
            }
          },
          {
            "name": "logit_bias",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "token",
                  "type": "text",
                  "label": "Token ID",
                  "required": true
                },
                {
                  "name": "probability",
                  "type": "number",
                  "label": "Probability",
                  "required": true,
                  "validate": {
                    "max": 100,
                    "min": -100
                  }
                }
              ],
              "type": "collection",
              "label": "Token Probability"
            },
            "type": "array",
            "label": "Token Probability"
          },
          {
            "name": "response_format",
            "type": "select",
            "label": "Response Format",
            "validate": {
              "enum": [
                "text",
                "json_object"
              ]
            }
          },
          {
            "name": "seed",
            "type": "integer",
            "label": "Seed"
          },
          {
            "name": "stop",
            "spec": {
              "name": "value",
              "type": "text",
              "label": "Stop Sequence"
            },
            "type": "array",
            "label": "Stop Sequences",
            "validate": {
              "maxItems": 4
            }
          },
          {
            "name": "additionalParameters",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "key",
                  "type": "text",
                  "label": "Parameter Name",
                  "required": true
                },
                {
                  "name": "type",
                  "type": "select",
                  "label": "Input Type",
                  "options": [
                    {
                      "label": "Text",
                      "value": "text",
                      "nested": [
                        {
                          "name": "value",
                          "type": "text",
                          "label": "Parameter Value"
                        }
                      ],
                      "default": true
                    },
                    {
                      "label": "Number",
                      "value": "number",
                      "nested": [
                        {
                          "name": "value",
                          "type": "number",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Boolean",
                      "value": "boolean",
                      "nested": [
                        {
                          "name": "value",
                          "type": "boolean",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Date",
                      "value": "date",
                      "nested": [
                        {
                          "name": "value",
                          "type": "date",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Any",
                      "value": "any",
                      "nested": [
                        {
                          "name": "value",
                          "type": "any",
                          "label": "Parameter Value"
                        }
                      ]
                    }
                  ]
                }
              ],
              "type": "collection",
              "label": "Input Parameter"
            },
            "type": "array",
            "label": "Other Input Parameters"
          },
          {
            "name": "model",
            "type": "select",
            "label": "Model",
            "required": true
          },
          {
            "name": "messages",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "role",
                  "type": "select",
                  "label": "Role",
                  "options": [
                    {
                      "label": "System",
                      "value": "system"
                    },
                    {
                      "label": "User",
                      "value": "user"
                    },
                    {
                      "label": "Assistant",
                      "value": "assistant"
                    }
                  ],
                  "required": true
                },
                {
                  "name": "content",
                  "type": "text",
                  "label": "Message Content"
                }
              ],
              "type": "collection",
              "label": "Message"
            },
            "type": "array",
            "label": "Messages",
            "required": true
          }
        ],
        "restore": {
          "expect": {
            "stop": {
              "mode": "chose"
            },
            "model": {
              "mode": "chose",
              "label": "gpt-4o (system)"
            },
            "select": {
              "label": "Create a Chat Completion (GPT Models)"
            },
            "messages": {
              "mode": "chose",
              "items": [
                {
                  "role": {
                    "mode": "chose",
                    "label": "System"
                  }
                },
                {
                  "role": {
                    "mode": "chose",
                    "label": "User"
                  }
                },
                {
                  "role": {
                    "mode": "chose",
                    "label": "User"
                  }
                },
                {
                  "role": {
                    "mode": "chose",
                    "label": "Assistant"
                  }
                },
                {
                  "role": {
                    "mode": "chose",
                    "label": "User"
                  }
                },
                {
                  "role": {
                    "mode": "chose",
                    "label": "Assistant"
                  }
                },
                {
                  "role": {
                    "mode": "chose",
                    "label": "User"
                  }
                },
                {
                  "role": {
                    "mode": "chose",
                    "label": "Assistant"
                  }
                },
                {
                  "role": {
                    "mode": "chose",
                    "label": "User"
                  }
                },
                {
                  "role": {
                    "mode": "chose",
                    "label": "Assistant"
                  }
                },
                {
                  "role": {
                    "mode": "chose",
                    "label": "User"
                  }
                },
                {
                  "role": {
                    "mode": "chose",
                    "label": "Assistant"
                  }
                },
                {
                  "role": {
                    "mode": "chose",
                    "label": "User"
                  }
                },
                {
                  "role": {
                    "mode": "chose",
                    "label": "Assistant"
                  }
                },
                {
                  "role": {
                    "mode": "chose",
                    "label": "User"
                  }
                }
              ]
            },
            "logit_bias": {
              "mode": "chose"
            },
            "response_format": {
              "mode": "chose",
              "label": "Text"
            },
            "additionalParameters": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "openai-gpt-3"
              },
              "label": "My OpenAI connection"
            }
          }
        },
        "designer": {
          "x": 600,
          "y": 150,
          "name": "Filter Job"
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:openai-gpt-3",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 2579821
      }
    },
    {
      "id": 4,
      "mapper": {
        "json": "{{3.result}}"
      },
      "module": "json:ParseJSON",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "json",
            "type": "text",
            "label": "JSON string",
            "required": true
          }
        ],
        "restore": {
          "parameters": {
            "type": {
              "label": "Choose a data structure"
            }
          }
        },
        "designer": {
          "x": 900,
          "y": 150
        },
        "parameters": [
          {
            "name": "type",
            "type": "udt",
            "label": "Data structure"
          }
        ]
      },
      "parameters": {
        "type": ""
      }
    },
    {
      "id": 5,
      "filter": {
        "name": "Relevant?",
        "conditions": [
          [
            {
              "a": "{{4.result}}",
              "b": "true",
              "o": "text:equal"
            }
          ]
        ]
      },
      "mapper": {
        "input": "{{contains(1.description; \"<br /><b>Hourly Range</b>:\")}}",
        "casesTable": [
          {
            "output": "{{get(split(get(split(1.description; \"<br /><b>Hourly Range</b>: \"); 2); \"<br /><b>Posted On</b>: \"); 1)}}",
            "pattern": "{{true}}"
          },
          {
            "output": "{{get(split(get(split(1.description; \"<br /><b>Budget</b>: \"); 2); \"<br /><b>Posted On</b>: \"); 1)}}",
            "pattern": "{{false}}"
          }
        ],
        "elseOutput": "Error",
        "useRegExpMatch": false
      },
      "module": "util:Switcher",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "input",
            "type": "text",
            "label": "Input"
          },
          {
            "name": "useRegExpMatch",
            "type": "boolean",
            "label": "Use regular expressions to match",
            "required": true
          },
          {
            "name": "casesTable",
            "spec": [
              {
                "name": "pattern",
                "type": "text",
                "label": "Pattern"
              },
              {
                "name": "output",
                "type": "any",
                "label": "Output"
              }
            ],
            "type": "array",
            "label": "Cases",
            "required": true
          },
          {
            "name": "elseOutput",
            "type": "any",
            "label": "Else"
          }
        ],
        "restore": {
          "expect": {
            "casesTable": {
              "mode": "chose",
              "items": [
                null,
                null
              ]
            }
          }
        },
        "designer": {
          "x": 1200,
          "y": 150,
          "name": "Get Budget"
        }
      },
      "parameters": {}
    },
    {
      "id": 6,
      "mapper": null,
      "module": "builtin:BasicRouter",
      "routes": [
        {
          "flow": [
            {
              "id": 7,
              "filter": {
                "name": "Hourly",
                "conditions": [
                  [
                    {
                      "a": "{{5.output}}",
                      "b": "-",
                      "o": "text:contain"
                    }
                  ]
                ]
              },
              "mapper": {
                "scope": "roundtrip",
                "variables": [
                  {
                    "name": "Budget Min",
                    "value": "{{parseNumber(get(split(5.output; \"-\"); 1))}}"
                  },
                  {
                    "name": "Budget Max",
                    "value": "{{parseNumber(get(split(5.output; \"-\"); 2))}}"
                  },
                  {
                    "name": "Country",
                    "value": "{{get(split(get(split(1.description; \"<br /><b>Country</b>: \"); 2); \"<br /><a href=\"\"\"); 1)}}"
                  },
                  {
                    "name": "Category",
                    "value": "{{get(split(get(split(1.description; \"<br /><b>Category</b>: \"); 2); \"<br /><b>Skills</b>:\"); 1)}}"
                  },
                  {
                    "name": "Skills",
                    "value": "{{split(get(split(get(split(1.description; \"<br /><b>Skills</b>:\"); 2); \"<br /><b>Country</b>: \"); 1); \",\")}}"
                  }
                ]
              },
              "module": "util:SetVariables",
              "version": 1,
              "metadata": {
                "expect": [
                  {
                    "name": "variables",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                      }
                    ],
                    "type": "array",
                    "label": "Variables"
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  }
                ],
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    },
                    "variables": {
                      "items": [
                        null,
                        null,
                        null,
                        null,
                        null
                      ]
                    }
                  }
                },
                "designer": {
                  "x": 1800,
                  "y": 0
                },
                "interface": [
                  {
                    "name": "Budget Min",
                    "type": "any",
                    "label": "Budget Min"
                  },
                  {
                    "name": "Budget Max",
                    "type": "any",
                    "label": "Budget Max"
                  },
                  {
                    "name": "Country",
                    "type": "any",
                    "label": "Country"
                  },
                  {
                    "name": "Category",
                    "type": "any",
                    "label": "Category"
                  },
                  {
                    "name": "Skills",
                    "type": "any",
                    "label": "Skills"
                  }
                ]
              },
              "parameters": {}
            },
            {
              "id": 9,
              "mapper": {
                "base": "appBBx96ooOZX2Quk",
                "table": "tblvzptjRVhCK8LIF",
                "record": {
                  "fld1haa9SnqVyKd18": "{{get(split(1.title; \" - Upwork\"); 1)}}",
                  "fld2ZTvjaX7M3U8a9": "{{1.url}}",
                  "fld37qgxPu9didL4Y": "​\n\nA little bit about me: I'm a no-code developer with +4 years of process automation experience. I've implemented dozens of high-performing systems for service firms & e-commerce businesses, many of which that have scaled to $1M+ in sales. I use a variety of plattforms, including Integromat/Make, Airtable and Shopify, and am extremly proficient at documentation, process optimization & backend systems.\n\nI also write a popular newsletter on AI implementations (think GPT-4, Stable Diffusion, etc.) and own a successful e-commerce company, Valued, that does ~$230K/mo.\n\nMost of my Upwork jobs over the last two years have been for various U.S. content agencies, helping them with their marketing, SEO, and so on, but my automation and database work isn't really reflected (yet) on my account. My main goal at the moment is to find new clients to build a strong portfolio.\n\nLet me know if you're interested in working together. Happy to connect long-term — or just for this project, if that's what you're looking for.\n\nBelow are a few samples of recent systems I've created (website is mine). I can provide dozens of additional examples upon request.\n\nhttps://www.zynera.ai/work",
                  "fldLRZPQe018qXiFP": "Intake",
                  "fldMUz8byUHmNaakP": "{{7.`Budget Min`}}",
                  "fldThY0Uf84L75sOT": "{{4.icebreaker}}",
                  "fldTqzasSkjHlukCH": "Hourly",
                  "fldabGyvteRC14DFO": "{{1.dateCreated}}",
                  "fldahHFfS78NE1pBU": "{{7.Category}}",
                  "fldb1fv2BFCtYswz9": "{{7.Skills}}",
                  "fldfE8nNBUJftDdDx": "{{7.`Budget Max`}}",
                  "fldiZpNNRDHQgSp4g": "{{2.text}}",
                  "fldsZTvr94O3cFqRO": "{{7.Country}}"
                },
                "typecast": true,
                "useColumnId": false
              },
              "module": "airtable:ActionCreateRecord",
              "version": 3,
              "metadata": {
                "expect": [
                  {
                    "name": "base",
                    "type": "select",
                    "label": "Base",
                    "required": true
                  },
                  {
                    "name": "typecast",
                    "type": "boolean",
                    "label": "Smart links",
                    "required": true
                  },
                  {
                    "name": "useColumnId",
                    "type": "boolean",
                    "label": "Use Column ID",
                    "required": true
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  },
                  {
                    "name": "record",
                    "spec": [
                      {
                        "name": "fld1haa9SnqVyKd18",
                        "type": "text",
                        "label": "Title"
                      },
                      {
                        "name": "fldiZpNNRDHQgSp4g",
                        "type": "text",
                        "label": "Description"
                      },
                      {
                        "mode": "edit",
                        "name": "fldLRZPQe018qXiFP",
                        "type": "select",
                        "label": "Status"
                      },
                      {
                        "name": "fldIMEdfiOgRzPe9r",
                        "type": "text",
                        "label": "Loom URL"
                      },
                      {
                        "name": "fldabGyvteRC14DFO",
                        "time": true,
                        "type": "date",
                        "label": "Date Posted"
                      },
                      {
                        "name": "fldThY0Uf84L75sOT",
                        "type": "text",
                        "label": "Introduction"
                      },
                      {
                        "name": "fld37qgxPu9didL4Y",
                        "type": "text",
                        "label": "Template"
                      },
                      {
                        "mode": "edit",
                        "name": "fldTqzasSkjHlukCH",
                        "type": "select",
                        "label": "Type"
                      },
                      {
                        "mode": "edit",
                        "name": "fldsZTvr94O3cFqRO",
                        "type": "select",
                        "label": "Country"
                      },
                      {
                        "mode": "edit",
                        "name": "fldahHFfS78NE1pBU",
                        "type": "select",
                        "label": "Category"
                      },
                      {
                        "name": "fldb1fv2BFCtYswz9",
                        "spec": {
                          "mode": "edit",
                          "name": "value",
                          "type": "select",
                          "label": "Value",
                          "dynamic": true,
                          "options": [],
                          "validate": false
                        },
                        "type": "array",
                        "label": "Skills"
                      },
                      {
                        "name": "fldMUz8byUHmNaakP",
                        "type": "number",
                        "label": "Min Budget"
                      },
                      {
                        "name": "fldfE8nNBUJftDdDx",
                        "type": "number",
                        "label": "Max Budget"
                      },
                      {
                        "name": "fldzdfNcsAcPlrsI9",
                        "type": "number",
                        "label": "Budget"
                      },
                      {
                        "name": "fld2ZTvjaX7M3U8a9",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Record"
                  }
                ],
                "restore": {
                  "expect": {
                    "base": {
                      "label": "💚 Upwork RSS Feed"
                    },
                    "table": {
                      "label": "Records",
                      "nested": [
                        {
                          "name": "record",
                          "spec": [
                            {
                              "name": "fld1haa9SnqVyKd18",
                              "type": "text",
                              "label": "Title"
                            },
                            {
                              "name": "fldiZpNNRDHQgSp4g",
                              "type": "text",
                              "label": "Description",
                              "multiline": true
                            },
                            {
                              "mode": "edit",
                              "name": "fldLRZPQe018qXiFP",
                              "type": "select",
                              "label": "Status",
                              "dynamic": true,
                              "options": [
                                {
                                  "label": "Intake",
                                  "value": "Intake"
                                },
                                {
                                  "label": "Applied",
                                  "value": "Applied"
                                },
                                {
                                  "label": "Irrelevant",
                                  "value": "Irrelevant"
                                },
                                {
                                  "label": "No longer available",
                                  "value": "No longer available"
                                }
                              ],
                              "validate": false
                            },
                            {
                              "name": "fldIMEdfiOgRzPe9r",
                              "type": "text",
                              "label": "Loom URL"
                            },
                            {
                              "name": "fldabGyvteRC14DFO",
                              "time": true,
                              "type": "date",
                              "label": "Date Posted"
                            },
                            {
                              "name": "fldThY0Uf84L75sOT",
                              "type": "text",
                              "label": "Introduction",
                              "multiline": true
                            },
                            {
                              "name": "fld37qgxPu9didL4Y",
                              "type": "text",
                              "label": "Template",
                              "multiline": true
                            },
                            {
                              "mode": "edit",
                              "name": "fldTqzasSkjHlukCH",
                              "type": "select",
                              "label": "Type",
                              "dynamic": true,
                              "options": [
                                {
                                  "label": "Hourly",
                                  "value": "Hourly"
                                },
                                {
                                  "label": "Project",
                                  "value": "Project"
                                }
                              ],
                              "validate": false
                            },
                            {
                              "mode": "edit",
                              "name": "fldsZTvr94O3cFqRO",
                              "type": "select",
                              "label": "Country",
                              "dynamic": true,
                              "options": [],
                              "validate": false
                            },
                            {
                              "mode": "edit",
                              "name": "fldahHFfS78NE1pBU",
                              "type": "select",
                              "label": "Category",
                              "dynamic": true,
                              "options": [],
                              "validate": false
                            },
                            {
                              "name": "fldb1fv2BFCtYswz9",
                              "spec": {
                                "mode": "edit",
                                "type": "select",
                                "label": "Value",
                                "dynamic": true,
                                "options": [],
                                "validate": false
                              },
                              "type": "array",
                              "label": "Skills"
                            },
                            {
                              "name": "fldMUz8byUHmNaakP",
                              "type": "number",
                              "label": "Min Budget"
                            },
                            {
                              "name": "fldfE8nNBUJftDdDx",
                              "type": "number",
                              "label": "Max Budget"
                            },
                            {
                              "name": "fldzdfNcsAcPlrsI9",
                              "type": "number",
                              "label": "Budget"
                            },
                            {
                              "name": "fld2ZTvjaX7M3U8a9",
                              "type": "text",
                              "label": "Link"
                            }
                          ],
                          "type": "collection",
                          "label": "Record"
                        }
                      ]
                    },
                    "record": {
                      "nested": {
                        "fldLRZPQe018qXiFP": {
                          "mode": "chose",
                          "label": "Intake"
                        },
                        "fldTqzasSkjHlukCH": {
                          "mode": "chose",
                          "label": "Hourly"
                        },
                        "fldahHFfS78NE1pBU": {
                          "mode": "edit"
                        },
                        "fldb1fv2BFCtYswz9": {
                          "mode": "edit"
                        },
                        "fldsZTvr94O3cFqRO": {
                          "mode": "edit"
                        }
                      }
                    },
                    "typecast": {
                      "mode": "chose"
                    },
                    "useColumnId": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "airtable3"
                      },
                      "label": "My Airtable OAuth connection (User ID: usryWvTaoddQVF23q)"
                    }
                  }
                },
                "designer": {
                  "x": 2100,
                  "y": 0,
                  "name": "Add Hourly Job"
                },
                "interface": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "createdTime",
                    "type": "date",
                    "label": "Created Time"
                  },
                  {
                    "name": "Title",
                    "type": "text",
                    "label": "Title"
                  },
                  {
                    "name": "Description",
                    "type": "text",
                    "label": "Description"
                  },
                  {
                    "name": "Status",
                    "type": "text",
                    "label": "Status"
                  },
                  {
                    "name": "URL",
                    "spec": [
                      {
                        "name": "label",
                        "type": "text",
                        "label": "Label"
                      },
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      }
                    ],
                    "type": "collection",
                    "label": "URL"
                  },
                  {
                    "name": "Loom URL",
                    "type": "text",
                    "label": "Loom URL"
                  },
                  {
                    "name": "Copyable Message",
                    "type": "text",
                    "label": "Copyable Message"
                  },
                  {
                    "name": "Date Posted",
                    "time": true,
                    "type": "date",
                    "label": "Date Posted"
                  },
                  {
                    "name": "Introduction",
                    "type": "text",
                    "label": "Introduction",
                    "multiline": true
                  },
                  {
                    "name": "Template",
                    "type": "text",
                    "label": "Template",
                    "multiline": true
                  },
                  {
                    "name": "Type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "Country",
                    "type": "text",
                    "label": "Country"
                  },
                  {
                    "name": "Category",
                    "type": "text",
                    "label": "Category"
                  },
                  {
                    "name": "Skills",
                    "type": "array",
                    "label": "Skills",
                    "dynamic": true,
                    "editable": true
                  },
                  {
                    "name": "Min Budget",
                    "type": "number",
                    "label": "Min Budget"
                  },
                  {
                    "name": "Max Budget",
                    "type": "number",
                    "label": "Max Budget"
                  },
                  {
                    "name": "Budget",
                    "type": "number",
                    "label": "Budget"
                  },
                  {
                    "name": "Link",
                    "type": "text",
                    "label": "Link"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:airtable3,airtable2",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2419123
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 14,
              "filter": {
                "name": "Project",
                "conditions": [
                  [
                    {
                      "a": "{{5.isElse}}",
                      "b": "Error",
                      "o": "text:notequal"
                    }
                  ]
                ]
              },
              "mapper": {
                "scope": "roundtrip",
                "variables": [
                  {
                    "name": "Budget",
                    "value": "{{parseNumber(5.output)}}"
                  },
                  {
                    "name": "Country",
                    "value": "{{get(split(get(split(1.description; \"<br /><b>Country</b>: \"); 2); \"<br /><a href=\"\"\"); 1)}}"
                  },
                  {
                    "name": "Category",
                    "value": "{{get(split(get(split(1.description; \"<br /><b>Category</b>: \"); 2); \"<br /><b>Skills</b>:\"); 1)}}"
                  },
                  {
                    "name": "Skills",
                    "value": "{{split(get(split(get(split(1.description; \"<br /><b>Skills</b>:\"); 2); \"<br /><b>Country</b>: \"); 1); \",\")}}"
                  }
                ]
              },
              "module": "util:SetVariables",
              "version": 1,
              "metadata": {
                "expect": [
                  {
                    "name": "variables",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                      }
                    ],
                    "type": "array",
                    "label": "Variables"
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  }
                ],
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    },
                    "variables": {
                      "items": [
                        null,
                        null,
                        null,
                        null
                      ]
                    }
                  }
                },
                "designer": {
                  "x": 1800,
                  "y": 300
                },
                "interface": [
                  {
                    "name": "Budget",
                    "type": "any",
                    "label": "Budget"
                  },
                  {
                    "name": "Country",
                    "type": "any",
                    "label": "Country"
                  },
                  {
                    "name": "Category",
                    "type": "any",
                    "label": "Category"
                  },
                  {
                    "name": "Skills",
                    "type": "any",
                    "label": "Skills"
                  }
                ]
              },
              "parameters": {}
            },
            {
              "id": 15,
              "mapper": {
                "base": "appBBx96ooOZX2Quk",
                "table": "tblvzptjRVhCK8LIF",
                "record": {
                  "fld1haa9SnqVyKd18": "{{get(split(1.title; \" - Upwork\"); 1)}}",
                  "fld2ZTvjaX7M3U8a9": "{{1.url}}",
                  "fld37qgxPu9didL4Y": "​\n\nA little bit about me: I'm a no-code developer with +4 years of process automation experience. I've implemented dozens of high-performing systems for service firms & e-commerce businesses, many of which that have scaled to $1M+ in sales. I use a variety of plattforms, including Integromat/Make, Airtable and Shopify, and am extremly proficient at documentation, process optimization & backend systems.\n\nI also write a popular newsletter on AI implementations (think GPT-4, Stable Diffusion, etc.) and own a successful e-commerce company, Valued, that does ~$230K/mo.\n\nMost of my Upwork jobs over the last two years have been for various U.S. content agencies, helping them with their marketing, SEO, and so on, but my automation and database work isn't really reflected (yet) on my account. My main goal at the moment is to find new clients to build a strong portfolio.\n\nLet me know if you're interested in working together. Happy to connect long-term — or just for this project, if that's what you're looking for.\n\nBelow are a few samples of recent systems I've created (website is mine). I can provide dozens of additional examples upon request.\n\nhttps://www.zynera.ai/work",
                  "fldLRZPQe018qXiFP": "Intake",
                  "fldThY0Uf84L75sOT": "{{4.icebreaker}}",
                  "fldTqzasSkjHlukCH": "Project",
                  "fldabGyvteRC14DFO": "{{1.dateCreated}}",
                  "fldahHFfS78NE1pBU": "{{14.Category}}",
                  "fldb1fv2BFCtYswz9": "{{14.Skills}}",
                  "fldiZpNNRDHQgSp4g": "{{2.text}}",
                  "fldsZTvr94O3cFqRO": "{{14.Country}}",
                  "fldzdfNcsAcPlrsI9": "{{14.Budget}}"
                },
                "typecast": true,
                "useColumnId": false
              },
              "module": "airtable:ActionCreateRecord",
              "version": 3,
              "metadata": {
                "expect": [
                  {
                    "name": "base",
                    "type": "select",
                    "label": "Base",
                    "required": true
                  },
                  {
                    "name": "typecast",
                    "type": "boolean",
                    "label": "Smart links",
                    "required": true
                  },
                  {
                    "name": "useColumnId",
                    "type": "boolean",
                    "label": "Use Column ID",
                    "required": true
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  },
                  {
                    "name": "record",
                    "spec": [
                      {
                        "name": "fld1haa9SnqVyKd18",
                        "type": "text",
                        "label": "Title"
                      },
                      {
                        "name": "fldiZpNNRDHQgSp4g",
                        "type": "text",
                        "label": "Description"
                      },
                      {
                        "mode": "edit",
                        "name": "fldLRZPQe018qXiFP",
                        "type": "select",
                        "label": "Status"
                      },
                      {
                        "name": "fldIMEdfiOgRzPe9r",
                        "type": "text",
                        "label": "Loom URL"
                      },
                      {
                        "name": "fldabGyvteRC14DFO",
                        "time": true,
                        "type": "date",
                        "label": "Date Posted"
                      },
                      {
                        "name": "fldThY0Uf84L75sOT",
                        "type": "text",
                        "label": "Introduction"
                      },
                      {
                        "name": "fld37qgxPu9didL4Y",
                        "type": "text",
                        "label": "Template"
                      },
                      {
                        "mode": "edit",
                        "name": "fldTqzasSkjHlukCH",
                        "type": "select",
                        "label": "Type"
                      },
                      {
                        "mode": "edit",
                        "name": "fldsZTvr94O3cFqRO",
                        "type": "select",
                        "label": "Country"
                      },
                      {
                        "mode": "edit",
                        "name": "fldahHFfS78NE1pBU",
                        "type": "select",
                        "label": "Category"
                      },
                      {
                        "name": "fldb1fv2BFCtYswz9",
                        "spec": {
                          "mode": "edit",
                          "name": "value",
                          "type": "select",
                          "label": "Value",
                          "dynamic": true,
                          "options": [],
                          "validate": false
                        },
                        "type": "array",
                        "label": "Skills"
                      },
                      {
                        "name": "fldMUz8byUHmNaakP",
                        "type": "number",
                        "label": "Min Budget"
                      },
                      {
                        "name": "fldfE8nNBUJftDdDx",
                        "type": "number",
                        "label": "Max Budget"
                      },
                      {
                        "name": "fldzdfNcsAcPlrsI9",
                        "type": "number",
                        "label": "Budget"
                      },
                      {
                        "name": "fld2ZTvjaX7M3U8a9",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Record"
                  }
                ],
                "restore": {
                  "expect": {
                    "base": {
                      "label": "💚 Upwork RSS Feed"
                    },
                    "table": {
                      "label": "Records",
                      "nested": [
                        {
                          "name": "record",
                          "spec": [
                            {
                              "name": "fld1haa9SnqVyKd18",
                              "type": "text",
                              "label": "Title"
                            },
                            {
                              "name": "fldiZpNNRDHQgSp4g",
                              "type": "text",
                              "label": "Description",
                              "multiline": true
                            },
                            {
                              "mode": "edit",
                              "name": "fldLRZPQe018qXiFP",
                              "type": "select",
                              "label": "Status",
                              "dynamic": true,
                              "options": [
                                {
                                  "label": "Intake",
                                  "value": "Intake"
                                },
                                {
                                  "label": "Applied",
                                  "value": "Applied"
                                },
                                {
                                  "label": "Irrelevant",
                                  "value": "Irrelevant"
                                },
                                {
                                  "label": "No longer available",
                                  "value": "No longer available"
                                }
                              ],
                              "validate": false
                            },
                            {
                              "name": "fldIMEdfiOgRzPe9r",
                              "type": "text",
                              "label": "Loom URL"
                            },
                            {
                              "name": "fldabGyvteRC14DFO",
                              "time": true,
                              "type": "date",
                              "label": "Date Posted"
                            },
                            {
                              "name": "fldThY0Uf84L75sOT",
                              "type": "text",
                              "label": "Introduction",
                              "multiline": true
                            },
                            {
                              "name": "fld37qgxPu9didL4Y",
                              "type": "text",
                              "label": "Template",
                              "multiline": true
                            },
                            {
                              "mode": "edit",
                              "name": "fldTqzasSkjHlukCH",
                              "type": "select",
                              "label": "Type",
                              "dynamic": true,
                              "options": [
                                {
                                  "label": "Hourly",
                                  "value": "Hourly"
                                },
                                {
                                  "label": "Project",
                                  "value": "Project"
                                }
                              ],
                              "validate": false
                            },
                            {
                              "mode": "edit",
                              "name": "fldsZTvr94O3cFqRO",
                              "type": "select",
                              "label": "Country",
                              "dynamic": true,
                              "options": [],
                              "validate": false
                            },
                            {
                              "mode": "edit",
                              "name": "fldahHFfS78NE1pBU",
                              "type": "select",
                              "label": "Category",
                              "dynamic": true,
                              "options": [],
                              "validate": false
                            },
                            {
                              "name": "fldb1fv2BFCtYswz9",
                              "spec": {
                                "mode": "edit",
                                "type": "select",
                                "label": "Value",
                                "dynamic": true,
                                "options": [],
                                "validate": false
                              },
                              "type": "array",
                              "label": "Skills"
                            },
                            {
                              "name": "fldMUz8byUHmNaakP",
                              "type": "number",
                              "label": "Min Budget"
                            },
                            {
                              "name": "fldfE8nNBUJftDdDx",
                              "type": "number",
                              "label": "Max Budget"
                            },
                            {
                              "name": "fldzdfNcsAcPlrsI9",
                              "type": "number",
                              "label": "Budget"
                            },
                            {
                              "name": "fld2ZTvjaX7M3U8a9",
                              "type": "text",
                              "label": "Link"
                            }
                          ],
                          "type": "collection",
                          "label": "Record"
                        }
                      ]
                    },
                    "record": {
                      "nested": {
                        "fldLRZPQe018qXiFP": {
                          "mode": "chose",
                          "label": "Intake"
                        },
                        "fldTqzasSkjHlukCH": {
                          "mode": "chose",
                          "label": "Project"
                        },
                        "fldahHFfS78NE1pBU": {
                          "mode": "edit"
                        },
                        "fldb1fv2BFCtYswz9": {
                          "mode": "edit"
                        },
                        "fldsZTvr94O3cFqRO": {
                          "mode": "edit"
                        }
                      }
                    },
                    "typecast": {
                      "mode": "chose"
                    },
                    "useColumnId": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "airtable3"
                      },
                      "label": "My Airtable OAuth connection (User ID: usryWvTaoddQVF23q)"
                    }
                  }
                },
                "designer": {
                  "x": 2100,
                  "y": 300,
                  "name": "Add Hourly Job"
                },
                "interface": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "createdTime",
                    "type": "date",
                    "label": "Created Time"
                  },
                  {
                    "name": "Title",
                    "type": "text",
                    "label": "Title"
                  },
                  {
                    "name": "Description",
                    "type": "text",
                    "label": "Description"
                  },
                  {
                    "name": "Status",
                    "type": "text",
                    "label": "Status"
                  },
                  {
                    "name": "URL",
                    "spec": [
                      {
                        "name": "label",
                        "type": "text",
                        "label": "Label"
                      },
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      }
                    ],
                    "type": "collection",
                    "label": "URL"
                  },
                  {
                    "name": "Loom URL",
                    "type": "text",
                    "label": "Loom URL"
                  },
                  {
                    "name": "Copyable Message",
                    "type": "text",
                    "label": "Copyable Message"
                  },
                  {
                    "name": "Date Posted",
                    "time": true,
                    "type": "date",
                    "label": "Date Posted"
                  },
                  {
                    "name": "Introduction",
                    "type": "text",
                    "label": "Introduction",
                    "multiline": true
                  },
                  {
                    "name": "Template",
                    "type": "text",
                    "label": "Template",
                    "multiline": true
                  },
                  {
                    "name": "Type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "Country",
                    "type": "text",
                    "label": "Country"
                  },
                  {
                    "name": "Category",
                    "type": "text",
                    "label": "Category"
                  },
                  {
                    "name": "Skills",
                    "type": "array",
                    "label": "Skills",
                    "dynamic": true,
                    "editable": true
                  },
                  {
                    "name": "Min Budget",
                    "type": "number",
                    "label": "Min Budget"
                  },
                  {
                    "name": "Max Budget",
                    "type": "number",
                    "label": "Max Budget"
                  },
                  {
                    "name": "Budget",
                    "type": "number",
                    "label": "Budget"
                  },
                  {
                    "name": "Link",
                    "type": "text",
                    "label": "Link"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:airtable3,airtable2",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2419123
              }
            }
          ]
        }
      ],
      "version": 1,
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 150
        }
      },
      "parameters": {
        "else": 1
      }
    }
  ],
  "name": "Lead Capture: Upwork RSS to Airtable",
  "metadata": {
    "instant": false,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "1": {
          "id": "https://www.upwork.com/jobs/Air-table-order-management_%7E01822ff306eb91b781?source=rss...",
          "url": "https://www.upwork.com/jobs/Air-table-order-management_%7E01822ff306eb91b781?source=rss...",
          "date": "2024-06-04T23:41:47.000Z",
          "image": {},
          "title": "Air table order management - Upwork...",
          "author": "Upwork Corporation...",
          "source": {},
          "summary": "Using Airtable to track orders and manage the order process without tracking inventory.&nbsp;&nbsp;S...",
          "comments": "...",
          "rssFields": {
            "guid": "https://www.upwork.com/jobs/Air-table-order-management_%7E01822ff306eb91b781?source=rss...",
            "link": "https://www.upwork.com/jobs/Air-table-order-management_%7E01822ff306eb91b781?source=rss...",
            "title": "Air table order management - Upwork...",
            "pubdate": "Tue, 04 Jun 2024 23:41:47 +0000...",
            "description": "Using Airtable to track orders and manage the order process without tracking inventory.&nbsp;&nbsp;S..."
          },
          "categories": [],
          "enclosures": [],
          "dateCreated": "2024-06-04T23:41:47.000Z",
          "dateUpdated": "2024-06-04T23:41:47.000Z",
          "description": "Using Airtable to track orders and manage the order process without tracking inventory.&nbsp;&nbsp;S...",
          "content:encoded": "Using Airtable to track orders and manage the order process without tracking inventory.&nbsp;&nbsp;S..."
        },
        "2": {
          "text": "Using Airtable to track orders and manage the order process without tracking inventory. Set up a bas..."
        },
        "3": {
          "id": "chatcmpl-9WaDri0xqaLSUL2hOp7e53MAcLZic...",
          "model": "gpt-4o-2024-05-13...",
          "usage": {
            "total_tokens": 2000,
            "prompt_tokens": 1906,
            "completion_tokens": 94
          },
          "object": "chat.completion...",
          "result": "{\n   \"result\":\"true\",\n   \"reason\":\"Involves building an order management system in Airtable, which a...",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant...",
                "content": "{\n   \"result\":\"true\",\n   \"reason\":\"Involves building an order management system in Airtable, which a..."
              },
              "logprobs": null,
              "finish_reason": "stop..."
            }
          ],
          "created": "2024-06-05T01:59:23.000Z",
          "system_fingerprint": "fp_319be4768e..."
        },
        "4": {
          "reason": "Involves building an order management system in Airtable, which aligns with our expertise in systems...",
          "result": "true...",
          "icebreaker": "Confident I'm the man you're looking for. I use Airtable to manage a copy writing company that does ..."
        },
        "5": {
          "isElse": false,
          "output": "$300..."
        },
        "7": {
          "Skills": [
            "API Integration..."
          ],
          "Country": "United States...",
          "Category": "Scripting & Automation...",
          "Budget Max": 35,
          "Budget Min": 15
        },
        "9": {
          "id": "recCvKSaaaywpMJJZ...",
          "URL": {
            "url": "https://...",
            "label": "Upwork..."
          },
          "Link": "https://www.upwork.com/jobs/Google-App-Sheet-Expert_%7E01ca3b118f089cc1fe?source=rss...",
          "Type": "Hourly...",
          "Title": "Google App Sheet Expert...",
          "Skills": [
            "API Integration..."
          ],
          "Status": "Intake...",
          "Country": "United States...",
          "Category": "Scripting & Automation...",
          "Template": "​\n\nA little bit about me: I'm an AI developer with ~5 years of process automation experience. I've i...",
          "Max Budget": 35,
          "Min Budget": 15,
          "Date Posted": "2024-06-05T01:52:10.000Z",
          "Description": "Google app sheet expert needed to complete the desired end state and list of tasks.\n\nThe project is ...",
          "createdTime": "2024-06-05T01:58:26.000Z",
          "Introduction": "Confident I'm the man you're looking for. I have extensive experience with Google Sheets, Make.com, ...",
          "Copyable Message": "Hi — here's a video I just recorded to walk you through this (and a few systems I run for 7+ figure ..."
        },
        "14": {
          "Budget": 300,
          "Skills": [
            "Database Design..."
          ],
          "Country": "United States...",
          "Category": "Database Development..."
        },
        "15": {
          "id": "recWqPg6L4rvljYWp...",
          "URL": {
            "url": "https://...",
            "label": "Upwork..."
          },
          "Link": "https://www.upwork.com/jobs/Air-table-order-management_%7E01822ff306eb91b781?source=rss...",
          "Type": "Project...",
          "Title": "Air table order management...",
          "Budget": 300,
          "Skills": [
            "Database Design..."
          ],
          "Status": "Intake...",
          "Country": "United States...",
          "Category": "Database Development...",
          "Template": "​\n\nA little bit about me: I'm an AI developer with ~5 years of process automation experience. I've i...",
          "Date Posted": "2024-06-04T23:41:47.000Z",
          "Description": "Using Airtable to track orders and manage the order process without tracking inventory. Set up a bas...",
          "createdTime": "2024-06-05T01:59:26.000Z",
          "Introduction": "Confident I'm the man you're looking for. I use Airtable to manage a copy writing company that does ...",
          "Copyable Message": "Hi — here's a video I just recorded to walk you through this (and a few systems I run for 7+ figure ..."
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}