scenarios/2550674.json
{
  "flow": [
    {
      "id": 43,
      "mapper": {},
      "module": "gateway:CustomWebHook",
      "version": 1,
      "metadata": {
        "restore": {
          "parameters": {
            "hook": {
              "data": {
                "editable": "true"
              },
              "label": "TESTiNG"
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 0,
          "name": "Airtable Button"
        },
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-webhook",
            "label": "Webhook",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of results"
          }
        ]
      },
      "parameters": {
        "hook": 1465415,
        "maxResults": 1
      }
    },
    {
      "id": 48,
      "mapper": {
        "body": "<script>window.close()</script>",
        "status": "200",
        "headers": []
      },
      "module": "gateway:WebhookRespond",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "status",
            "type": "uinteger",
            "label": "Status",
            "required": true,
            "validate": {
              "min": 100
            }
          },
          {
            "name": "body",
            "type": "any",
            "label": "Body"
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key",
                "required": true,
                "validate": {
                  "max": 256
                }
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value",
                "required": true,
                "validate": {
                  "max": 4096
                }
              }
            ],
            "type": "array",
            "label": "Custom headers",
            "validate": {
              "maxItems": 16
            }
          }
        ],
        "restore": {
          "expect": {
            "headers": {
              "mode": "chose"
            }
          }
        },
        "designer": {
          "x": 300,
          "y": 0,
          "name": "Close Window"
        }
      },
      "parameters": {}
    },
    {
      "id": 7,
      "mapper": {
        "scope": "roundtrip",
        "variables": [
          {
            "name": "workspaceId",
            "value": "wspj1nqpMhCpX1Hun"
          },
          {
            "name": "baseId",
            "value": "appqQshYbmSCR1gHV"
          },
          {
            "name": "basesTableId",
            "value": "tbl02Mc1okCi2NN7G"
          },
          {
            "name": "tablesTableId",
            "value": "tblHu7ATkgVXqWHV5"
          },
          {
            "name": "fieldsTableId",
            "value": "tblKUSv7vWES42zpl"
          }
        ]
      },
      "module": "util:SetVariables",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "variables",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Variable name",
                "required": true
              },
              {
                "name": "value",
                "type": "any",
                "label": "Variable value"
              }
            ],
            "type": "array",
            "label": "Variables"
          },
          {
            "name": "scope",
            "type": "select",
            "label": "Variable lifetime",
            "required": true,
            "validate": {
              "enum": [
                "roundtrip",
                "execution"
              ]
            }
          }
        ],
        "restore": {
          "expect": {
            "scope": {
              "label": "One cycle"
            },
            "variables": {
              "items": [
                null,
                null,
                null,
                null,
                null
              ]
            }
          }
        },
        "designer": {
          "x": 600,
          "y": 0,
          "name": "Set IDs"
        },
        "interface": [
          {
            "name": "workspaceId",
            "type": "any",
            "label": "workspaceId"
          },
          {
            "name": "baseId",
            "type": "any",
            "label": "baseId"
          },
          {
            "name": "basesTableId",
            "type": "any",
            "label": "basesTableId"
          },
          {
            "name": "tablesTableId",
            "type": "any",
            "label": "tablesTableId"
          },
          {
            "name": "fieldsTableId",
            "type": "any",
            "label": "fieldsTableId"
          }
        ]
      },
      "parameters": {}
    },
    {
      "id": 45,
      "mapper": {
        "url": "v0/{{7.baseId}}/{{7.basesTableId}}/{{43.recordId}}",
        "body": "{\n  \"fields\": {\n    \"Status\": \"In progress\"\n  }\n}",
        "method": "PATCH",
        "headers": [
          {
            "key": "Content-Type",
            "value": "application/json"
          }
        ]
      },
      "module": "airtable:makeApiCall",
      "version": 3,
      "metadata": {
        "expect": [
          {
            "name": "url",
            "type": "text",
            "label": "URL",
            "required": true
          },
          {
            "name": "method",
            "type": "select",
            "label": "Method",
            "required": true,
            "validate": {
              "enum": [
                "GET",
                "POST",
                "PUT",
                "PATCH",
                "DELETE"
              ]
            }
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key"
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Headers"
          },
          {
            "name": "qs",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key"
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Query String"
          },
          {
            "name": "body",
            "type": "any",
            "label": "Body"
          }
        ],
        "restore": {
          "expect": {
            "qs": {
              "mode": "chose"
            },
            "method": {
              "mode": "chose",
              "label": "PATCH"
            },
            "headers": {
              "mode": "chose",
              "items": [
                null
              ]
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "airtable3"
              },
              "label": "My Airtable OAuth connection (User ID: usryWvTaoddQVF23q)"
            }
          }
        },
        "designer": {
          "x": 900,
          "y": 0,
          "name": "In progress"
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:airtable3,airtable2",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 2419123
      }
    },
    {
      "id": 15,
      "mapper": {
        "base": "{{7.baseId}}",
        "sort": [
          {
            "field": "Position",
            "direction": "asc"
          }
        ],
        "table": "{{7.tablesTableId}}",
        "maxRecords": "1000",
        "useColumnId": false
      },
      "module": "airtable:ActionSearchRecords",
      "version": 3,
      "metadata": {
        "expect": [
          {
            "name": "base",
            "type": "select",
            "label": "Base",
            "required": true
          },
          {
            "name": "useColumnId",
            "type": "boolean",
            "label": "Use Column ID",
            "required": true
          },
          {
            "name": "table",
            "type": "select",
            "label": "Table",
            "required": true
          },
          {
            "name": "formula",
            "type": "text",
            "label": "Formula"
          },
          {
            "name": "maxRecords",
            "type": "integer",
            "label": "Limit"
          },
          {
            "name": "sort",
            "spec": [
              {
                "name": "field",
                "type": "select",
                "label": "Field",
                "dynamic": true,
                "options": []
              },
              {
                "name": "direction",
                "type": "select",
                "label": "Direction",
                "options": [
                  {
                    "label": "Descending",
                    "value": "desc"
                  },
                  {
                    "label": "Ascending",
                    "value": "asc"
                  }
                ]
              }
            ],
            "type": "array",
            "label": "Sort"
          },
          {
            "name": "view",
            "type": "select",
            "label": "View"
          },
          {
            "name": "fields",
            "type": "select",
            "label": "Output Fields",
            "multiple": true
          }
        ],
        "restore": {
          "expect": {
            "base": {
              "mode": "edit"
            },
            "sort": {
              "mode": "chose",
              "items": [
                {
                  "field": {
                    "mode": "edit"
                  },
                  "direction": {
                    "mode": "chose",
                    "label": "Ascending"
                  }
                }
              ]
            },
            "view": {
              "mode": "chose"
            },
            "table": {
              "mode": "edit"
            },
            "fields": {
              "mode": "chose"
            },
            "useColumnId": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "airtable3"
              },
              "label": "My Airtable OAuth connection (User ID: usryWvTaoddQVF23q)"
            }
          }
        },
        "designer": {
          "x": 1200,
          "y": 0,
          "name": "Tables Records"
        },
        "interface": [
          {
            "name": "__IMTLENGTH__",
            "type": "uinteger",
            "label": "Total number of bundles"
          },
          {
            "name": "__IMTINDEX__",
            "type": "uinteger",
            "label": "Bundle order position"
          },
          {
            "name": "id",
            "type": "text",
            "label": "ID"
          },
          {
            "name": "createdTime",
            "type": "date",
            "label": "Created Time"
          },
          {
            "name": "Name",
            "type": "text",
            "label": "Name"
          },
          {
            "name": "Fields",
            "spec": {
              "label": "Record ID"
            },
            "type": "array",
            "label": "Fields"
          },
          {
            "name": "Position",
            "type": "number",
            "label": "Position"
          }
        ],
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:airtable3,airtable2",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 2419123
      }
    },
    {
      "id": 13,
      "mapper": {
        "base": "{{7.baseId}}",
        "sort": [
          {
            "field": "Position",
            "direction": "asc"
          }
        ],
        "table": "{{7.fieldsTableId}}",
        "formula": "{Table}=\"{{15.Name}}\"",
        "maxRecords": "1000",
        "useColumnId": false
      },
      "module": "airtable:ActionSearchRecords",
      "version": 3,
      "metadata": {
        "expect": [
          {
            "name": "base",
            "type": "select",
            "label": "Base",
            "required": true
          },
          {
            "name": "useColumnId",
            "type": "boolean",
            "label": "Use Column ID",
            "required": true
          },
          {
            "name": "table",
            "type": "select",
            "label": "Table",
            "required": true
          },
          {
            "name": "formula",
            "type": "text",
            "label": "Formula"
          },
          {
            "name": "maxRecords",
            "type": "integer",
            "label": "Limit"
          },
          {
            "name": "sort",
            "spec": [
              {
                "name": "field",
                "type": "select",
                "label": "Field",
                "dynamic": true,
                "options": []
              },
              {
                "name": "direction",
                "type": "select",
                "label": "Direction",
                "options": [
                  {
                    "label": "Descending",
                    "value": "desc"
                  },
                  {
                    "label": "Ascending",
                    "value": "asc"
                  }
                ]
              }
            ],
            "type": "array",
            "label": "Sort"
          },
          {
            "name": "view",
            "type": "select",
            "label": "View"
          },
          {
            "name": "fields",
            "type": "select",
            "label": "Output Fields",
            "multiple": true
          }
        ],
        "restore": {
          "expect": {
            "base": {
              "mode": "edit"
            },
            "sort": {
              "mode": "chose",
              "items": [
                {
                  "field": {
                    "mode": "edit"
                  },
                  "direction": {
                    "mode": "chose",
                    "label": "Ascending"
                  }
                }
              ]
            },
            "view": {
              "mode": "chose"
            },
            "table": {
              "mode": "edit"
            },
            "fields": {
              "mode": "chose"
            },
            "useColumnId": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "airtable3"
              },
              "label": "My Airtable OAuth connection (User ID: usryWvTaoddQVF23q)"
            }
          }
        },
        "designer": {
          "x": 1500,
          "y": 0,
          "name": "Fields Records"
        },
        "interface": [
          {
            "name": "__IMTLENGTH__",
            "type": "uinteger",
            "label": "Total number of bundles"
          },
          {
            "name": "__IMTINDEX__",
            "type": "uinteger",
            "label": "Bundle order position"
          },
          {
            "name": "id",
            "type": "text",
            "label": "ID"
          },
          {
            "name": "createdTime",
            "type": "date",
            "label": "Created Time"
          },
          {
            "name": "Name",
            "type": "text",
            "label": "Name"
          },
          {
            "name": "Field Type",
            "spec": {
              "label": "Record ID"
            },
            "type": "array",
            "label": "Field Type"
          },
          {
            "name": "Position",
            "type": "number",
            "label": "Position"
          },
          {
            "name": "Table",
            "spec": {
              "label": "Record ID"
            },
            "type": "array",
            "label": "Table"
          },
          {
            "name": "Table Position",
            "type": "array",
            "label": "Table Position"
          },
          {
            "name": "Table Name",
            "type": "text",
            "label": "Table Name"
          },
          {
            "name": "String",
            "type": "array",
            "label": "String"
          }
        ],
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:airtable3,airtable2",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 2419123
      }
    },
    {
      "id": 12,
      "filter": {
        "name": "Fields",
        "conditions": [
          [
            {
              "a": "{{13.`__IMTLENGTH__`}}",
              "b": "0",
              "o": "number:greater"
            }
          ]
        ]
      },
      "mapper": {
        "name": "{{13.Name}}",
        "type": "{{ifempty(13.String; \"singleLineText\")}}"
      },
      "module": "json:AggregateToJSON",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "name",
            "type": "text",
            "label": "Name"
          },
          {
            "name": "type",
            "type": "text",
            "label": "Type"
          }
        ],
        "restore": {
          "extra": {
            "feeder": {
              "label": "Fields Records - Search Records [13]"
            }
          },
          "parameters": {
            "type": {
              "label": "[1/3] Base Creation API"
            },
            "space": {
              "label": "Empty"
            }
          }
        },
        "designer": {
          "x": 1800,
          "y": 0,
          "name": "Fields"
        },
        "parameters": [
          {
            "name": "type",
            "type": "udt",
            "label": "Data structure",
            "required": true
          },
          {
            "name": "space",
            "type": "select",
            "label": "Indentation",
            "validate": {
              "enum": [
                "tab",
                "2",
                "4"
              ]
            }
          }
        ]
      },
      "parameters": {
        "type": 171424,
        "space": "",
        "feeder": 13
      }
    },
    {
      "id": 34,
      "mapper": {
        "json": "{\n   \"fields\": {{12.json}}\n}"
      },
      "module": "json:ParseJSON",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "json",
            "type": "text",
            "label": "JSON string",
            "required": true
          }
        ],
        "restore": {
          "parameters": {
            "type": {
              "label": "Choose a data structure"
            }
          }
        },
        "designer": {
          "x": 2100,
          "y": 0
        },
        "parameters": [
          {
            "name": "type",
            "type": "udt",
            "label": "Data structure"
          }
        ]
      },
      "parameters": {
        "type": ""
      }
    },
    {
      "id": 25,
      "filter": {
        "name": "Tables",
        "conditions": [
          [
            {
              "a": "{{34.fields}}",
              "b": "0",
              "o": "array:greater"
            }
          ]
        ]
      },
      "mapper": {
        "name": "{{15.Name}}",
        "fields": "{{34.fields}}"
      },
      "module": "json:AggregateToJSON",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "name",
            "type": "text",
            "label": "Name"
          },
          {
            "name": "fields",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "description",
                  "type": "text",
                  "label": null
                },
                {
                  "name": "name",
                  "type": "text",
                  "label": null
                },
                {
                  "name": "type",
                  "type": "text",
                  "label": null
                }
              ],
              "type": "collection"
            },
            "type": "array",
            "label": "Fields"
          }
        ],
        "restore": {
          "extra": {
            "feeder": {
              "label": "Tables Records - Search Records [15]"
            }
          },
          "expect": {
            "fields": {
              "mode": "edit"
            }
          },
          "parameters": {
            "type": {
              "label": "[2/3] Base Creation API"
            },
            "space": {
              "label": "Empty"
            }
          }
        },
        "designer": {
          "x": 2400,
          "y": 0,
          "name": "Tables"
        },
        "parameters": [
          {
            "name": "type",
            "type": "udt",
            "label": "Data structure",
            "required": true
          },
          {
            "name": "space",
            "type": "select",
            "label": "Indentation",
            "validate": {
              "enum": [
                "tab",
                "2",
                "4"
              ]
            }
          }
        ]
      },
      "parameters": {
        "type": 171411,
        "space": "",
        "feeder": 15
      }
    },
    {
      "id": 9,
      "mapper": {
        "url": "v0/meta/bases",
        "body": "{\n    \"name\": \"{{43.basename}}\",\n    \"tables\": {{25.json}},\n    \"workspaceId\": \"{{7.workspaceId}}\"\n}",
        "method": "POST",
        "headers": [
          {
            "key": "Content-Type",
            "value": "application/json"
          }
        ]
      },
      "module": "airtable:makeApiCall",
      "version": 3,
      "metadata": {
        "expect": [
          {
            "name": "url",
            "type": "text",
            "label": "URL",
            "required": true
          },
          {
            "name": "method",
            "type": "select",
            "label": "Method",
            "required": true,
            "validate": {
              "enum": [
                "GET",
                "POST",
                "PUT",
                "PATCH",
                "DELETE"
              ]
            }
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key"
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Headers"
          },
          {
            "name": "qs",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key"
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Query String"
          },
          {
            "name": "body",
            "type": "any",
            "label": "Body"
          }
        ],
        "restore": {
          "expect": {
            "qs": {
              "mode": "chose"
            },
            "method": {
              "mode": "chose",
              "label": "POST"
            },
            "headers": {
              "mode": "chose",
              "items": [
                null
              ]
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "airtable3"
              },
              "label": "My Airtable OAuth connection (User ID: usryWvTaoddQVF23q)"
            }
          }
        },
        "designer": {
          "x": 2700,
          "y": 0,
          "name": "Create Base"
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:airtable3,airtable2",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 2419123
      }
    },
    {
      "id": 47,
      "mapper": {
        "url": "v0/{{7.baseId}}/{{7.basesTableId}}/{{43.recordId}}",
        "body": "{\n  \"fields\": {\n    \"Status\": \"Done\",\n    \"Created\": \"{{now}}\",\n    \"URL\": \"https://airtable.com/{{9.body.id}}\"\n  }\n}",
        "method": "PATCH",
        "headers": [
          {
            "key": "Content-Type",
            "value": "application/json"
          }
        ]
      },
      "module": "airtable:makeApiCall",
      "version": 3,
      "metadata": {
        "expect": [
          {
            "name": "url",
            "type": "text",
            "label": "URL",
            "required": true
          },
          {
            "name": "method",
            "type": "select",
            "label": "Method",
            "required": true,
            "validate": {
              "enum": [
                "GET",
                "POST",
                "PUT",
                "PATCH",
                "DELETE"
              ]
            }
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key"
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Headers"
          },
          {
            "name": "qs",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key"
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Query String"
          },
          {
            "name": "body",
            "type": "any",
            "label": "Body"
          }
        ],
        "restore": {
          "expect": {
            "qs": {
              "mode": "chose"
            },
            "method": {
              "mode": "chose",
              "label": "PATCH"
            },
            "headers": {
              "mode": "chose",
              "items": [
                null
              ]
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "airtable3"
              },
              "label": "My Airtable OAuth connection (User ID: usryWvTaoddQVF23q)"
            }
          }
        },
        "designer": {
          "x": 3000,
          "y": 0,
          "name": "Done"
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:airtable3,airtable2",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 2419123
      }
    }
  ],
  "name": "Relationl: Airtable Base Creation",
  "metadata": {
    "instant": true,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "7": {
          "baseId": "appqQshYbmSCR1gHV",
          "workspaceId": "wspj1nqpMhCpX1Hun",
          "basesTableId": "tbl02Mc1okCi2NN7G",
          "fieldsTableId": "tblKUSv7vWES42zpl",
          "tablesTableId": "tblHu7ATkgVXqWHV5"
        },
        "9": {
          "body": {
            "id": "appOPWtjVPHCcodM2",
            "tables": [
              {
                "id": "tbl9zcACNeOnELzNW",
                "name": "Artists",
                "views": [
                  {
                    "id": "viwXWl2PhETfr7VLL",
                    "name": "Grid view",
                    "type": "grid"
                  }
                ],
                "fields": [
                  {
                    "id": "fldjKG5yQmn5gNdev",
                    "name": "URL",
                    "type": "url"
                  }
                ],
                "primaryFieldId": "fldh4y22KzmhKV7fZ"
              }
            ]
          },
          "headers": {
            "date": "Mon, 24 Jun 2024 23:19:41 GMT",
            "vary": "Accept-Encoding",
            "server": "Tengine",
            "connection": "close",
            "set-cookie": [
              "AWSALB=yxJ2IJ2JrTo0ZfPWvqJO9Q8jetaOz1nlSyIlsQNXVV4p/iDOsl31QPOXr29HOEAO88GI6VGgYHXmWJVzt64j/221zJ8hZ..."
            ],
            "content-type": "application/json; charset=utf-8",
            "content-length": "2655",
            "x-frame-options": "DENY",
            "x-content-type-options": "nosniff",
            "strict-transport-security": "max-age=31536000; includeSubDomains; preload",
            "access-control-allow-origin": "*",
            "airtable-datacenter-regions": "us-east-1",
            "access-control-allow-headers": "authorization,content-length,content-type,user-agent,x-airtable-application-id,x-airtable-user-agent...",
            "access-control-allow-methods": "DELETE,GET,OPTIONS,PATCH,POST,PUT",
            "airtable-uncompressed-content-length": "2655"
          },
          "statusCode": 200
        },
        "12": {
          "json": "[{\"name\":\"AI Text\",\"type\":\"singleLineText\"},{\"name\":\"Attachment\",\"type\":\"singleLineText\"},{\"name\":\"A..."
        },
        "13": {
          "id": "rec81aXXdkPCHXMri",
          "Name": "AI Text",
          "Table": [
            "reczBibeUJUYpNdka"
          ],
          "Field Type": [
            "recf43ibwTqVI9Mww"
          ],
          "Table Name": "Table 1 - Users",
          "createdTime": "2024-06-23T15:18:15.000Z",
          "__IMTINDEX__": 1,
          "__IMTLENGTH__": 31,
          "Table Position": [
            1
          ]
        },
        "15": {
          "id": "reczBibeUJUYpNdka",
          "Name": "Users",
          "Fields": [
            "rec81aXXdkPCHXMri"
          ],
          "Position": 1,
          "createdTime": "2024-06-23T16:30:04.000Z",
          "__IMTINDEX__": 1,
          "__IMTLENGTH__": 2
        },
        "25": {
          "json": "[{\"name\":\"Users\",\"fields\":[{\"name\":\"AI Text\",\"type\":\"singleLineText\"},{\"name\":\"Attachment\",\"type\":\"s..."
        },
        "34": {
          "fields": [
            {
              "name": "Single Select",
              "type": "singleLineText"
            }
          ]
        },
        "43": {
          "basename": "RRRelationLLL",
          "recordId": "recia1Uw4CczojYiX"
        },
        "45": {
          "body": {
            "id": "recia1Uw4CczojYiX",
            "fields": {
              "Name": "RRRelationLLL",
              "Start": {
                "url": "https://hook.eu1.make.com/tpdr5fbcss136xdvd4uhj3xki256qq5d?basename=RRRelationLLL&recordId=recia1Uw4...",
                "label": "Build"
              },
              "Status": "In progress"
            },
            "createdTime": "2024-06-23T16:19:32.000Z"
          },
          "headers": {
            "date": "Mon, 24 Jun 2024 23:19:38 GMT",
            "vary": "Accept-Encoding",
            "server": "Tengine",
            "connection": "close",
            "set-cookie": [
              "AWSALB=cWDzLWM7O5uZeikzegpmnmBMKMazbz+mpKNnCv/OASa6nkrgFTtk/9V6ZRoTZRPLRbzQqefNq9e64JFNvsW02SFrwbXix..."
            ],
            "content-type": "application/json; charset=utf-8",
            "content-length": "267",
            "x-frame-options": "DENY",
            "x-content-type-options": "nosniff",
            "strict-transport-security": "max-age=31536000; includeSubDomains; preload",
            "access-control-allow-origin": "*",
            "airtable-datacenter-regions": "us-east-1",
            "access-control-allow-headers": "authorization,content-length,content-type,user-agent,x-airtable-application-id,x-airtable-user-agent...",
            "access-control-allow-methods": "DELETE,GET,OPTIONS,PATCH,POST,PUT",
            "airtable-uncompressed-content-length": "267"
          },
          "statusCode": 200
        },
        "47": {
          "body": {
            "id": "recia1Uw4CczojYiX",
            "fields": {
              "URL": "https://airtable.com/",
              "Name": "Final Test",
              "Start": {
                "url": "https://hook.eu1.make.com/tpdr5fbcss136xdvd4uhj3xki256qq5d?basename=Final Test&recordId=recia1Uw4Ccz...",
                "label": "Build"
              },
              "Status": "Done",
              "Created": "2024-06-24T23:22:52.624Z"
            },
            "createdTime": "2024-06-23T16:19:32.000Z"
          },
          "headers": {
            "date": "Mon, 24 Jun 2024 23:22:53 GMT",
            "vary": "Accept-Encoding",
            "server": "Tengine",
            "connection": "close",
            "set-cookie": [
              "AWSALB=0CkdzQ2dMXlLFXlalv9QGsKp0jaglZr2Dv+jKEBrU5hc7h87YuF/v79CieccdVuMfryjImcuFtVXM76ODDl5c02eho62B..."
            ],
            "content-type": "application/json; charset=utf-8",
            "content-length": "321",
            "x-frame-options": "DENY",
            "x-content-type-options": "nosniff",
            "strict-transport-security": "max-age=31536000; includeSubDomains; preload",
            "access-control-allow-origin": "*",
            "airtable-datacenter-regions": "us-east-1",
            "access-control-allow-headers": "authorization,content-length,content-type,user-agent,x-airtable-application-id,x-airtable-user-agent...",
            "access-control-allow-methods": "DELETE,GET,OPTIONS,PATCH,POST,PUT",
            "airtable-uncompressed-content-length": "321"
          },
          "statusCode": 200
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}