scenarios/2565386.json
{
  "flow": [
    {
      "id": 18,
      "mapper": {},
      "module": "airtable:TriggerWatchRecords",
      "version": 3,
      "metadata": {
        "restore": {
          "parameters": {
            "base": {
              "label": "📝 Social Media Planning"
            },
            "view": {
              "label": "Empty"
            },
            "table": {
              "label": "Posts"
            },
            "config": {
              "nested": {
                "labelField": {
                  "label": "ID"
                },
                "triggerField": {
                  "label": "Last Modified Time"
                }
              }
            },
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "airtable3"
              },
              "label": "My Airtable OAuth connection (User ID: usryWvTaoddQVF23q)"
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 1050,
          "name": "Staged Post"
        },
        "interface": [
          {
            "name": "id",
            "type": "text",
            "label": "ID"
          },
          {
            "name": "createdTime",
            "type": "date",
            "label": "Created Time"
          },
          {
            "name": "ID",
            "type": "text",
            "label": "ID"
          },
          {
            "name": "Name",
            "type": "text",
            "label": "Name"
          },
          {
            "name": "Notes",
            "type": "text",
            "label": "Notes",
            "multiline": true
          },
          {
            "name": "Status",
            "type": "text",
            "label": "Status"
          },
          {
            "name": "Date Scheduled",
            "time": false,
            "type": "date",
            "label": "Date Scheduled"
          },
          {
            "name": "Platform",
            "type": "array",
            "label": "Platform",
            "dynamic": true,
            "editable": true
          },
          {
            "name": "Type",
            "type": "text",
            "label": "Type"
          },
          {
            "name": "Media",
            "spec": [
              {
                "name": "id",
                "type": "text",
                "label": "ID"
              },
              {
                "name": "url",
                "type": "url",
                "label": "URL"
              },
              {
                "name": "filename",
                "type": "filename",
                "label": "File name"
              },
              {
                "name": "size",
                "type": "uinteger",
                "label": "Size"
              },
              {
                "name": "type",
                "type": "text",
                "label": "MIME type"
              },
              {
                "name": "thumbnails",
                "spec": [
                  {
                    "name": "small",
                    "spec": [
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      },
                      {
                        "name": "width",
                        "type": "uinteger",
                        "label": "Width"
                      },
                      {
                        "name": "height",
                        "type": "uinteger",
                        "label": "Height"
                      }
                    ],
                    "type": "collection",
                    "label": "Small"
                  },
                  {
                    "name": "large",
                    "spec": [
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      },
                      {
                        "name": "width",
                        "type": "uinteger",
                        "label": "Width"
                      },
                      {
                        "name": "height",
                        "type": "uinteger",
                        "label": "Height"
                      }
                    ],
                    "type": "collection",
                    "label": "Large"
                  },
                  {
                    "name": "full",
                    "spec": [
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      },
                      {
                        "name": "width",
                        "type": "uinteger",
                        "label": "Width"
                      },
                      {
                        "name": "height",
                        "type": "uinteger",
                        "label": "Height"
                      }
                    ],
                    "type": "collection",
                    "label": "Full"
                  }
                ],
                "type": "collection",
                "label": "Thumbnails"
              }
            ],
            "type": "array",
            "label": "Media"
          },
          {
            "name": "Topic",
            "type": "text",
            "label": "Topic"
          },
          {
            "name": "Generate",
            "spec": [
              {
                "name": "label",
                "type": "text",
                "label": "Label"
              },
              {
                "name": "url",
                "type": "url",
                "label": "URL"
              }
            ],
            "type": "collection",
            "label": "Generate"
          },
          {
            "name": "Twitter",
            "type": "text",
            "label": "Twitter",
            "multiline": true
          },
          {
            "name": "LinkedIn",
            "type": "text",
            "label": "LinkedIn",
            "multiline": true
          },
          {
            "name": "Last Modified Time",
            "type": "date",
            "label": "Last Modified Time"
          },
          {
            "name": "Content Piece",
            "type": "number",
            "label": "Content Piece"
          }
        ],
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:airtable3,airtable2",
            "label": "Connection",
            "required": true
          },
          {
            "name": "base",
            "type": "select",
            "label": "Base",
            "required": true
          },
          {
            "name": "useColumnId",
            "type": "boolean",
            "label": "Use Column ID",
            "required": true
          },
          {
            "name": "table",
            "type": "select",
            "label": "Table",
            "required": true
          },
          {
            "name": "config",
            "spec": [
              {
                "name": "triggerField",
                "type": "select",
                "label": "Trigger field",
                "required": true
              },
              {
                "name": "triggerField",
                "type": "hidden"
              },
              {
                "name": "labelField",
                "type": "select",
                "label": "Label field",
                "required": true
              }
            ],
            "type": "collection",
            "label": "Trigger configuration"
          },
          {
            "name": "maxRecords",
            "type": "integer",
            "label": "Limit",
            "required": true
          },
          {
            "name": "view",
            "type": "select",
            "label": "View"
          },
          {
            "name": "formula",
            "type": "text",
            "label": "Formula"
          }
        ]
      },
      "parameters": {
        "base": "appqlZH2PZJo03qxk",
        "view": "",
        "table": "tblLW012iC7rzJCcX",
        "config": {
          "labelField": "ID",
          "triggerField": "Last Modified Time"
        },
        "formula": "Status=\"Staged\"",
        "maxRecords": 1,
        "__IMTCONN__": 2419123,
        "useColumnId": false
      }
    },
    {
      "id": 9,
      "filter": {
        "name": "Today",
        "conditions": [
          [
            {
              "a": "{{formatDate(18.`Date Scheduled`; \"DD.MM.YYYY\")}}",
              "b": "{{formatDate(now; \"DD.MM.YYYY\")}}",
              "o": "date:equal"
            }
          ]
        ]
      },
      "mapper": null,
      "module": "builtin:BasicRouter",
      "routes": [
        {
          "flow": [
            {
              "id": 25,
              "filter": {
                "name": "Text",
                "conditions": [
                  [
                    {
                      "a": "{{18.Type}}",
                      "b": "Text",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": null,
              "module": "builtin:BasicRouter",
              "routes": [
                {
                  "flow": [
                    {
                      "id": 30,
                      "mapper": null,
                      "module": "builtin:BasicRouter",
                      "routes": [
                        {
                          "flow": [
                            {
                              "id": 31,
                              "filter": {
                                "name": "Twitter",
                                "conditions": [
                                  [
                                    {
                                      "a": "{{18.Platform}}",
                                      "b": "Twitter",
                                      "o": "array:contain"
                                    }
                                  ]
                                ]
                              },
                              "mapper": {
                                "text": "{{18.Twitter}}"
                              },
                              "module": "twitter:createATweet",
                              "version": 6,
                              "metadata": {
                                "expect": [
                                  {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text Content",
                                    "required": true
                                  },
                                  {
                                    "mode": "edit",
                                    "name": "media_ids",
                                    "spec": {
                                      "name": "value",
                                      "type": "text"
                                    },
                                    "type": "array",
                                    "label": "Media IDs"
                                  },
                                  {
                                    "name": "place_id",
                                    "type": "text",
                                    "label": "Place ID"
                                  },
                                  {
                                    "name": "direct_message_deep_link",
                                    "type": "url",
                                    "label": "Direct Message Link"
                                  },
                                  {
                                    "name": "for_super_followers_only",
                                    "type": "boolean",
                                    "label": "Allow to Post Exclusively for Super Followers Only"
                                  },
                                  {
                                    "name": "quote_tweet_id",
                                    "type": "text",
                                    "label": "Quote Post ID"
                                  }
                                ],
                                "restore": {
                                  "expect": {
                                    "media_ids": {
                                      "mode": "edit"
                                    },
                                    "for_super_followers_only": {
                                      "mode": "chose"
                                    }
                                  },
                                  "parameters": {
                                    "__IMTCONN__": {
                                      "data": {
                                        "scoped": "true",
                                        "connection": "twitter2"
                                      },
                                      "label": "My X (formerly Twitter) OAuth 2.0 connection (karimlks)"
                                    }
                                  }
                                },
                                "designer": {
                                  "x": 1200,
                                  "y": 0,
                                  "name": "@karimlks"
                                },
                                "parameters": [
                                  {
                                    "name": "__IMTCONN__",
                                    "type": "account:twitter2",
                                    "label": "Connection",
                                    "required": true
                                  }
                                ]
                              },
                              "parameters": {
                                "__IMTCONN__": 2669554
                              }
                            },
                            {
                              "id": 35,
                              "mapper": null,
                              "module": "builtin:BasicRouter",
                              "routes": [],
                              "version": 1,
                              "metadata": {
                                "designer": {
                                  "x": 1500,
                                  "y": 0
                                }
                              }
                            }
                          ]
                        },
                        {
                          "flow": [
                            {
                              "id": 8,
                              "filter": {
                                "name": "LinkedIn",
                                "conditions": [
                                  [
                                    {
                                      "a": "{{18.Platform}}",
                                      "b": "LinkedIn",
                                      "o": "array:contain"
                                    }
                                  ]
                                ]
                              },
                              "mapper": {
                                "content": "{{18.LinkedIn}}",
                                "visibility": "PUBLIC",
                                "feedDistribution": "MAIN_FEED",
                                "isReshareDisabledByAuthor": false
                              },
                              "module": "linkedin:CreatePost",
                              "version": 2,
                              "metadata": {
                                "expect": [
                                  {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Content",
                                    "required": true
                                  },
                                  {
                                    "name": "mentions",
                                    "spec": [
                                      {
                                        "name": "entity",
                                        "type": "select",
                                        "label": "Entity",
                                        "options": [
                                          {
                                            "label": "Person",
                                            "value": "member",
                                            "nested": [
                                              {
                                                "help": "For example, `urn:li:person:1234`. Only mention someone with a connection to the authenticated user.",
                                                "name": "urn",
                                                "type": "text",
                                                "label": "Entity URN",
                                                "required": true
                                              }
                                            ]
                                          },
                                          {
                                            "label": "Company",
                                            "value": "company",
                                            "nested": [
                                              {
                                                "help": "For example, `urn:li:organization:123456`.",
                                                "name": "urn",
                                                "type": "text",
                                                "label": "Entity URN",
                                                "required": true
                                              }
                                            ]
                                          }
                                        ],
                                        "required": true
                                      },
                                      {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Entity Name",
                                        "required": true
                                      },
                                      {
                                        "name": "start",
                                        "type": "number",
                                        "label": "Start",
                                        "required": true
                                      }
                                    ],
                                    "type": "array",
                                    "label": "Mentions"
                                  },
                                  {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Media Type",
                                    "validate": {
                                      "enum": [
                                        "ARTICLE"
                                      ]
                                    }
                                  },
                                  {
                                    "name": "visibility",
                                    "type": "select",
                                    "label": "Visibility",
                                    "required": true,
                                    "validate": {
                                      "enum": [
                                        "PUBLIC",
                                        "CONNECTIONS",
                                        "LOGGED_IN"
                                      ]
                                    }
                                  },
                                  {
                                    "name": "feedDistribution",
                                    "type": "select",
                                    "label": "Feed Distribution",
                                    "required": true,
                                    "validate": {
                                      "enum": [
                                        "MAIN_FEED",
                                        "NONE"
                                      ]
                                    }
                                  },
                                  {
                                    "name": "isReshareDisabledByAuthor",
                                    "type": "boolean",
                                    "label": "Is Reshare Disabled",
                                    "required": true
                                  }
                                ],
                                "restore": {
                                  "expect": {
                                    "type": {
                                      "mode": "chose",
                                      "empty": true
                                    },
                                    "mentions": {
                                      "mode": "chose"
                                    },
                                    "visibility": {
                                      "mode": "chose",
                                      "label": "Public"
                                    },
                                    "feedDistribution": {
                                      "mode": "chose",
                                      "label": "Main feed"
                                    },
                                    "isReshareDisabledByAuthor": {
                                      "mode": "chose"
                                    }
                                  },
                                  "parameters": {
                                    "__IMTCONN__": {
                                      "data": {
                                        "scoped": "true",
                                        "connection": "linkedin2"
                                      },
                                      "label": "My LinkedIn connection (Karim El Kassas)"
                                    }
                                  }
                                },
                                "designer": {
                                  "x": 1200,
                                  "y": 300,
                                  "name": "Karim El Kassas"
                                },
                                "parameters": [
                                  {
                                    "name": "__IMTCONN__",
                                    "type": "account:linkedin2",
                                    "label": "Connection",
                                    "required": true
                                  }
                                ]
                              },
                              "parameters": {
                                "__IMTCONN__": 2669522
                              }
                            },
                            {
                              "id": 17,
                              "mapper": {
                                "model": "gpt-3.5-turbo",
                                "top_p": "1",
                                "select": "chat",
                                "messages": [
                                  {
                                    "role": "system",
                                    "content": "You are a helpful writing assistant."
                                  },
                                  {
                                    "role": "user",
                                    "content": "Slightly modify the following LinkedIn post for my personal page to be posted on my business page.\n\nHere is the content:\n{{18.LinkedIn}}"
                                  }
                                ],
                                "max_tokens": "0",
                                "temperature": "1",
                                "n_completions": "1",
                                "response_format": "text"
                              },
                              "module": "openai-gpt-3:CreateCompletion",
                              "version": 1,
                              "metadata": {
                                "expect": [
                                  {
                                    "name": "select",
                                    "type": "select",
                                    "label": "Select Method",
                                    "required": true,
                                    "validate": {
                                      "enum": [
                                        "chat",
                                        "prompt"
                                      ]
                                    }
                                  },
                                  {
                                    "name": "max_tokens",
                                    "type": "number",
                                    "label": "Max Tokens",
                                    "required": true
                                  },
                                  {
                                    "name": "temperature",
                                    "type": "number",
                                    "label": "Temperature",
                                    "validate": {
                                      "max": 2,
                                      "min": 0
                                    }
                                  },
                                  {
                                    "name": "top_p",
                                    "type": "number",
                                    "label": "Top P",
                                    "validate": {
                                      "max": 1,
                                      "min": 0
                                    }
                                  },
                                  {
                                    "name": "n_completions",
                                    "type": "number",
                                    "label": "Number"
                                  },
                                  {
                                    "name": "frequency_penalty",
                                    "type": "number",
                                    "label": "Frequency Penalty",
                                    "validate": {
                                      "max": 2,
                                      "min": -2
                                    }
                                  },
                                  {
                                    "name": "presence_penalty",
                                    "type": "number",
                                    "label": "Presence Penalty",
                                    "validate": {
                                      "max": 2,
                                      "min": -2
                                    }
                                  },
                                  {
                                    "name": "logit_bias",
                                    "spec": {
                                      "name": "value",
                                      "spec": [
                                        {
                                          "name": "token",
                                          "type": "text",
                                          "label": "Token ID",
                                          "required": true
                                        },
                                        {
                                          "name": "probability",
                                          "type": "number",
                                          "label": "Probability",
                                          "required": true,
                                          "validate": {
                                            "max": 100,
                                            "min": -100
                                          }
                                        }
                                      ],
                                      "type": "collection",
                                      "label": "Token Probability"
                                    },
                                    "type": "array",
                                    "label": "Token Probability"
                                  },
                                  {
                                    "name": "response_format",
                                    "type": "select",
                                    "label": "Response Format",
                                    "validate": {
                                      "enum": [
                                        "text",
                                        "json_object"
                                      ]
                                    }
                                  },
                                  {
                                    "name": "seed",
                                    "type": "integer",
                                    "label": "Seed"
                                  },
                                  {
                                    "name": "stop",
                                    "spec": {
                                      "name": "value",
                                      "type": "text",
                                      "label": "Stop Sequence"
                                    },
                                    "type": "array",
                                    "label": "Stop Sequences",
                                    "validate": {
                                      "maxItems": 4
                                    }
                                  },
                                  {
                                    "name": "additionalParameters",
                                    "spec": {
                                      "name": "value",
                                      "spec": [
                                        {
                                          "name": "key",
                                          "type": "text",
                                          "label": "Parameter Name",
                                          "required": true
                                        },
                                        {
                                          "name": "type",
                                          "type": "select",
                                          "label": "Input Type",
                                          "options": [
                                            {
                                              "label": "Text",
                                              "value": "text",
                                              "nested": [
                                                {
                                                  "name": "value",
                                                  "type": "text",
                                                  "label": "Parameter Value"
                                                }
                                              ],
                                              "default": true
                                            },
                                            {
                                              "label": "Number",
                                              "value": "number",
                                              "nested": [
                                                {
                                                  "name": "value",
                                                  "type": "number",
                                                  "label": "Parameter Value"
                                                }
                                              ]
                                            },
                                            {
                                              "label": "Boolean",
                                              "value": "boolean",
                                              "nested": [
                                                {
                                                  "name": "value",
                                                  "type": "boolean",
                                                  "label": "Parameter Value"
                                                }
                                              ]
                                            },
                                            {
                                              "label": "Date",
                                              "value": "date",
                                              "nested": [
                                                {
                                                  "name": "value",
                                                  "type": "date",
                                                  "label": "Parameter Value"
                                                }
                                              ]
                                            },
                                            {
                                              "label": "Any",
                                              "value": "any",
                                              "nested": [
                                                {
                                                  "name": "value",
                                                  "type": "any",
                                                  "label": "Parameter Value"
                                                }
                                              ]
                                            }
                                          ]
                                        }
                                      ],
                                      "type": "collection",
                                      "label": "Input Parameter"
                                    },
                                    "type": "array",
                                    "label": "Other Input Parameters"
                                  },
                                  {
                                    "name": "model",
                                    "type": "select",
                                    "label": "Model",
                                    "required": true
                                  },
                                  {
                                    "name": "messages",
                                    "spec": {
                                      "name": "value",
                                      "spec": [
                                        {
                                          "name": "role",
                                          "type": "select",
                                          "label": "Role",
                                          "options": [
                                            {
                                              "label": "System",
                                              "value": "system"
                                            },
                                            {
                                              "label": "User",
                                              "value": "user"
                                            },
                                            {
                                              "label": "Assistant",
                                              "value": "assistant"
                                            }
                                          ],
                                          "required": true
                                        },
                                        {
                                          "name": "content",
                                          "type": "text",
                                          "label": "Message Content"
                                        }
                                      ],
                                      "type": "collection",
                                      "label": "Message"
                                    },
                                    "type": "array",
                                    "label": "Messages",
                                    "required": true
                                  }
                                ],
                                "restore": {
                                  "expect": {
                                    "stop": {
                                      "mode": "chose"
                                    },
                                    "model": {
                                      "mode": "chose",
                                      "label": "gpt-3.5-turbo"
                                    },
                                    "select": {
                                      "label": "Create a Chat Completion (GPT Models)"
                                    },
                                    "messages": {
                                      "mode": "chose",
                                      "items": [
                                        {
                                          "role": {
                                            "mode": "chose",
                                            "label": "System"
                                          }
                                        },
                                        {
                                          "role": {
                                            "mode": "chose",
                                            "label": "User"
                                          }
                                        }
                                      ]
                                    },
                                    "logit_bias": {
                                      "mode": "chose"
                                    },
                                    "response_format": {
                                      "mode": "chose",
                                      "label": "Text"
                                    },
                                    "additionalParameters": {
                                      "mode": "chose"
                                    }
                                  },
                                  "parameters": {
                                    "__IMTCONN__": {
                                      "data": {
                                        "scoped": "true",
                                        "connection": "openai-gpt-3"
                                      },
                                      "label": "My OpenAI connection"
                                    }
                                  }
                                },
                                "designer": {
                                  "x": 1500,
                                  "y": 300,
                                  "name": "Rewrite"
                                },
                                "parameters": [
                                  {
                                    "name": "__IMTCONN__",
                                    "type": "account:openai-gpt-3",
                                    "label": "Connection",
                                    "required": true
                                  }
                                ]
                              },
                              "parameters": {
                                "__IMTCONN__": 2579821
                              }
                            },
                            {
                              "id": 12,
                              "mapper": {
                                "content": "{{17.result}}",
                                "visibility": "PUBLIC",
                                "organization": "urn:li:organization:102154617",
                                "feedDistribution": "MAIN_FEED",
                                "isReshareDisabledByAuthor": false
                              },
                              "module": "linkedin:CreateTextShare",
                              "version": 2,
                              "metadata": {
                                "expect": [
                                  {
                                    "name": "organization",
                                    "type": "select",
                                    "label": "Organization",
                                    "required": true
                                  },
                                  {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Content",
                                    "required": true
                                  },
                                  {
                                    "name": "mentions",
                                    "spec": [
                                      {
                                        "name": "entity",
                                        "type": "select",
                                        "label": "Entity",
                                        "options": [
                                          {
                                            "label": "Person",
                                            "value": "member",
                                            "nested": [
                                              {
                                                "help": "For example, `urn:li:person:1234`. Only mention someone with a connection to the authenticated user.",
                                                "name": "urn",
                                                "type": "text",
                                                "label": "Entity URN",
                                                "required": true
                                              }
                                            ]
                                          },
                                          {
                                            "label": "Company",
                                            "value": "company",
                                            "nested": [
                                              {
                                                "help": "For example, `urn:li:organization:123456`.",
                                                "name": "urn",
                                                "type": "text",
                                                "label": "Entity URN",
                                                "required": true
                                              }
                                            ]
                                          }
                                        ],
                                        "required": true
                                      },
                                      {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Entity Name",
                                        "required": true
                                      },
                                      {
                                        "name": "start",
                                        "type": "number",
                                        "label": "Start",
                                        "required": true
                                      }
                                    ],
                                    "type": "array",
                                    "label": "Mentions"
                                  },
                                  {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Media Type",
                                    "validate": {
                                      "enum": [
                                        "ARTICLE"
                                      ]
                                    }
                                  },
                                  {
                                    "name": "visibility",
                                    "type": "select",
                                    "label": "Visibility",
                                    "required": true,
                                    "validate": {
                                      "enum": [
                                        "PUBLIC",
                                        "LOGGED_IN"
                                      ]
                                    }
                                  },
                                  {
                                    "name": "feedDistribution",
                                    "type": "select",
                                    "label": "Feed Distribution",
                                    "required": true,
                                    "validate": {
                                      "enum": [
                                        "MAIN_FEED",
                                        "NONE"
                                      ]
                                    }
                                  },
                                  {
                                    "name": "isReshareDisabledByAuthor",
                                    "type": "boolean",
                                    "label": "Is Reshare Disabled",
                                    "required": true
                                  }
                                ],
                                "restore": {
                                  "expect": {
                                    "type": {
                                      "mode": "chose",
                                      "empty": true
                                    },
                                    "mentions": {
                                      "mode": "chose"
                                    },
                                    "visibility": {
                                      "mode": "chose",
                                      "label": "Public"
                                    },
                                    "organization": {
                                      "mode": "chose",
                                      "label": "Zynera"
                                    },
                                    "feedDistribution": {
                                      "mode": "chose",
                                      "label": "Main feed"
                                    },
                                    "isReshareDisabledByAuthor": {
                                      "mode": "chose"
                                    }
                                  },
                                  "parameters": {
                                    "__IMTCONN__": {
                                      "data": {
                                        "scoped": "true",
                                        "connection": "linkedin2"
                                      },
                                      "label": "My LinkedIn connection (Karim El Kassas)"
                                    }
                                  }
                                },
                                "designer": {
                                  "x": 1800,
                                  "y": 300,
                                  "name": "Zynera"
                                },
                                "parameters": [
                                  {
                                    "name": "__IMTCONN__",
                                    "type": "account:linkedin2",
                                    "label": "Connection",
                                    "required": true
                                  }
                                ]
                              },
                              "parameters": {
                                "__IMTCONN__": 2669522
                              }
                            }
                          ]
                        }
                      ],
                      "version": 1,
                      "metadata": {
                        "designer": {
                          "x": 900,
                          "y": 150
                        }
                      }
                    }
                  ]
                }
              ],
              "version": 1,
              "metadata": {
                "designer": {
                  "x": 600,
                  "y": 150
                }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 19,
              "filter": {
                "name": "Image",
                "conditions": [
                  [
                    {
                      "a": "{{18.Type}}",
                      "b": "Image",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "url": "{{18.Image}}",
                "method": "get",
                "serializeUrl": false,
                "shareCookies": false
              },
              "module": "http:ActionGetFile",
              "version": 3,
              "metadata": {
                "expect": [
                  {
                    "name": "url",
                    "type": "url",
                    "label": "URL",
                    "required": true
                  },
                  {
                    "name": "serializeUrl",
                    "type": "boolean",
                    "label": "Serialize URL",
                    "required": true
                  },
                  {
                    "name": "method",
                    "type": "hidden",
                    "label": "Method"
                  },
                  {
                    "name": "shareCookies",
                    "type": "boolean",
                    "label": "Share cookies with other HTTP modules",
                    "required": true
                  }
                ],
                "restore": {},
                "designer": {
                  "x": 600,
                  "y": 750,
                  "name": "Get Image"
                },
                "parameters": [
                  {
                    "name": "handleErrors",
                    "type": "boolean",
                    "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "handleErrors": false
              }
            },
            {
              "id": 33,
              "mapper": null,
              "module": "builtin:BasicRouter",
              "routes": [
                {
                  "flow": [
                    {
                      "id": 27,
                      "filter": {
                        "name": "Twitter",
                        "conditions": [
                          [
                            {
                              "a": "{{18.Platform}}",
                              "b": "Twitter",
                              "o": "array:contain"
                            }
                          ]
                        ]
                      },
                      "mapper": {
                        "select": "image",
                        "attachments": [
                          {
                            "data": "{{19.data}}",
                            "filename": "{{19.fileName}}"
                          }
                        ]
                      },
                      "module": "twitter:uploadAMedia",
                      "version": 5,
                      "metadata": {
                        "expect": [
                          {
                            "name": "select",
                            "type": "select",
                            "label": "Upload",
                            "required": true,
                            "validate": {
                              "enum": [
                                "image",
                                "video"
                              ]
                            }
                          },
                          {
                            "name": "attachments",
                            "spec": [
                              {
                                "name": "filename",
                                "type": "filename",
                                "label": "File Name",
                                "required": true,
                                "semantic": "file:name"
                              },
                              {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                              }
                            ],
                            "type": "array",
                            "label": "Attachments",
                            "required": true,
                            "validate": {
                              "maxItems": 4
                            }
                          }
                        ],
                        "restore": {
                          "expect": {
                            "select": {
                              "label": "Image or GIF (Size less than 5MB)"
                            },
                            "attachments": {
                              "mode": "chose",
                              "items": [
                                null
                              ]
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "twitter"
                              },
                              "label": "My X (formerly Twitter) connection (Karim)"
                            }
                          }
                        },
                        "designer": {
                          "x": 1200,
                          "y": 600,
                          "name": "Upload Image"
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:twitter",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 2669558
                      }
                    },
                    {
                      "id": 7,
                      "mapper": {
                        "text": "{{18.Twitter}}",
                        "media_ids": "{{27.media_ids}}"
                      },
                      "module": "twitter:createATweet",
                      "version": 6,
                      "metadata": {
                        "expect": [
                          {
                            "name": "text",
                            "type": "text",
                            "label": "Text Content",
                            "required": true
                          },
                          {
                            "mode": "edit",
                            "name": "media_ids",
                            "spec": {
                              "name": "value",
                              "type": "text"
                            },
                            "type": "array",
                            "label": "Media IDs"
                          },
                          {
                            "name": "place_id",
                            "type": "text",
                            "label": "Place ID"
                          },
                          {
                            "name": "direct_message_deep_link",
                            "type": "url",
                            "label": "Direct Message Link"
                          },
                          {
                            "name": "for_super_followers_only",
                            "type": "boolean",
                            "label": "Allow to Post Exclusively for Super Followers Only"
                          },
                          {
                            "name": "quote_tweet_id",
                            "type": "text",
                            "label": "Quote Post ID"
                          }
                        ],
                        "restore": {
                          "expect": {
                            "media_ids": {
                              "mode": "edit"
                            },
                            "for_super_followers_only": {
                              "mode": "chose"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "twitter2"
                              },
                              "label": "My X (formerly Twitter) OAuth 2.0 connection (karimlks)"
                            }
                          }
                        },
                        "advanced": true,
                        "designer": {
                          "x": 1500,
                          "y": 600,
                          "name": "@karimlks"
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:twitter2",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 2669554
                      }
                    }
                  ]
                },
                {
                  "flow": [
                    {
                      "id": 10,
                      "filter": {
                        "name": "LinkedIn",
                        "conditions": [
                          [
                            {
                              "a": "{{18.Platform}}",
                              "b": "LinkedIn",
                              "o": "array:contain"
                            }
                          ]
                        ]
                      },
                      "mapper": {
                        "data": "{{19.data}}",
                        "content": "{{18.LinkedIn}}",
                        "fileName": "{{19.fileName}}",
                        "visibility": "PUBLIC",
                        "feedDistribution": "MAIN_FEED",
                        "isReshareDisabledByAuthor": false
                      },
                      "module": "linkedin:ShareImage",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "fileName",
                            "type": "text",
                            "label": "File name",
                            "required": true
                          },
                          {
                            "name": "data",
                            "type": "buffer",
                            "label": "Data",
                            "required": true
                          },
                          {
                            "name": "title",
                            "type": "text",
                            "label": "Title"
                          },
                          {
                            "name": "altText",
                            "type": "text",
                            "label": "Alt Text"
                          },
                          {
                            "name": "content",
                            "type": "text",
                            "label": "Content",
                            "required": true
                          },
                          {
                            "name": "visibility",
                            "type": "select",
                            "label": "Visibility",
                            "required": true,
                            "validate": {
                              "enum": [
                                "PUBLIC",
                                "CONNECTIONS",
                                "LOGGED_IN"
                              ]
                            }
                          },
                          {
                            "name": "feedDistribution",
                            "type": "select",
                            "label": "Feed Distribution",
                            "required": true,
                            "validate": {
                              "enum": [
                                "MAIN_FEED",
                                "NONE"
                              ]
                            }
                          },
                          {
                            "name": "isReshareDisabledByAuthor",
                            "type": "boolean",
                            "label": "Is Reshare Disabled",
                            "required": true
                          }
                        ],
                        "restore": {
                          "expect": {
                            "visibility": {
                              "mode": "chose",
                              "label": "Public"
                            },
                            "feedDistribution": {
                              "mode": "chose",
                              "label": "Main feed"
                            },
                            "isReshareDisabledByAuthor": {
                              "mode": "chose"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "linkedin2"
                              },
                              "label": "My LinkedIn connection (Karim El Kassas)"
                            }
                          }
                        },
                        "designer": {
                          "x": 1200,
                          "y": 900,
                          "name": "Karim El Kassas"
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:linkedin2",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 2669522
                      }
                    },
                    {
                      "id": 16,
                      "mapper": {
                        "model": "gpt-3.5-turbo",
                        "top_p": "1",
                        "select": "chat",
                        "messages": [
                          {
                            "role": "system",
                            "content": "You are a helpful writing assistant."
                          },
                          {
                            "role": "user",
                            "content": "Slightly modify the following LinkedIn post for my personal page to be posted on my business page.\n\nHere is the content:\n{{18.LinkedIn}}"
                          }
                        ],
                        "max_tokens": "0",
                        "temperature": "1",
                        "n_completions": "1",
                        "response_format": "text"
                      },
                      "module": "openai-gpt-3:CreateCompletion",
                      "version": 1,
                      "metadata": {
                        "expect": [
                          {
                            "name": "select",
                            "type": "select",
                            "label": "Select Method",
                            "required": true,
                            "validate": {
                              "enum": [
                                "chat",
                                "prompt"
                              ]
                            }
                          },
                          {
                            "name": "max_tokens",
                            "type": "number",
                            "label": "Max Tokens",
                            "required": true
                          },
                          {
                            "name": "temperature",
                            "type": "number",
                            "label": "Temperature",
                            "validate": {
                              "max": 2,
                              "min": 0
                            }
                          },
                          {
                            "name": "top_p",
                            "type": "number",
                            "label": "Top P",
                            "validate": {
                              "max": 1,
                              "min": 0
                            }
                          },
                          {
                            "name": "n_completions",
                            "type": "number",
                            "label": "Number"
                          },
                          {
                            "name": "frequency_penalty",
                            "type": "number",
                            "label": "Frequency Penalty",
                            "validate": {
                              "max": 2,
                              "min": -2
                            }
                          },
                          {
                            "name": "presence_penalty",
                            "type": "number",
                            "label": "Presence Penalty",
                            "validate": {
                              "max": 2,
                              "min": -2
                            }
                          },
                          {
                            "name": "logit_bias",
                            "spec": {
                              "name": "value",
                              "spec": [
                                {
                                  "name": "token",
                                  "type": "text",
                                  "label": "Token ID",
                                  "required": true
                                },
                                {
                                  "name": "probability",
                                  "type": "number",
                                  "label": "Probability",
                                  "required": true,
                                  "validate": {
                                    "max": 100,
                                    "min": -100
                                  }
                                }
                              ],
                              "type": "collection",
                              "label": "Token Probability"
                            },
                            "type": "array",
                            "label": "Token Probability"
                          },
                          {
                            "name": "response_format",
                            "type": "select",
                            "label": "Response Format",
                            "validate": {
                              "enum": [
                                "text",
                                "json_object"
                              ]
                            }
                          },
                          {
                            "name": "seed",
                            "type": "integer",
                            "label": "Seed"
                          },
                          {
                            "name": "stop",
                            "spec": {
                              "name": "value",
                              "type": "text",
                              "label": "Stop Sequence"
                            },
                            "type": "array",
                            "label": "Stop Sequences",
                            "validate": {
                              "maxItems": 4
                            }
                          },
                          {
                            "name": "additionalParameters",
                            "spec": {
                              "name": "value",
                              "spec": [
                                {
                                  "name": "key",
                                  "type": "text",
                                  "label": "Parameter Name",
                                  "required": true
                                },
                                {
                                  "name": "type",
                                  "type": "select",
                                  "label": "Input Type",
                                  "options": [
                                    {
                                      "label": "Text",
                                      "value": "text",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "text",
                                          "label": "Parameter Value"
                                        }
                                      ],
                                      "default": true
                                    },
                                    {
                                      "label": "Number",
                                      "value": "number",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "number",
                                          "label": "Parameter Value"
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Boolean",
                                      "value": "boolean",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "boolean",
                                          "label": "Parameter Value"
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Date",
                                      "value": "date",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "date",
                                          "label": "Parameter Value"
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Any",
                                      "value": "any",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "any",
                                          "label": "Parameter Value"
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "collection",
                              "label": "Input Parameter"
                            },
                            "type": "array",
                            "label": "Other Input Parameters"
                          },
                          {
                            "name": "model",
                            "type": "select",
                            "label": "Model",
                            "required": true
                          },
                          {
                            "name": "messages",
                            "spec": {
                              "name": "value",
                              "spec": [
                                {
                                  "name": "role",
                                  "type": "select",
                                  "label": "Role",
                                  "options": [
                                    {
                                      "label": "System",
                                      "value": "system"
                                    },
                                    {
                                      "label": "User",
                                      "value": "user"
                                    },
                                    {
                                      "label": "Assistant",
                                      "value": "assistant"
                                    }
                                  ],
                                  "required": true
                                },
                                {
                                  "name": "content",
                                  "type": "text",
                                  "label": "Message Content"
                                }
                              ],
                              "type": "collection",
                              "label": "Message"
                            },
                            "type": "array",
                            "label": "Messages",
                            "required": true
                          }
                        ],
                        "restore": {
                          "expect": {
                            "stop": {
                              "mode": "chose"
                            },
                            "model": {
                              "mode": "chose",
                              "label": "gpt-3.5-turbo"
                            },
                            "select": {
                              "label": "Create a Chat Completion (GPT Models)"
                            },
                            "messages": {
                              "mode": "chose",
                              "items": [
                                {
                                  "role": {
                                    "mode": "chose",
                                    "label": "System"
                                  }
                                },
                                {
                                  "role": {
                                    "mode": "chose",
                                    "label": "User"
                                  }
                                }
                              ]
                            },
                            "logit_bias": {
                              "mode": "chose"
                            },
                            "response_format": {
                              "mode": "chose",
                              "label": "Text"
                            },
                            "additionalParameters": {
                              "mode": "chose"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                              },
                              "label": "My OpenAI connection"
                            }
                          }
                        },
                        "designer": {
                          "x": 1500,
                          "y": 900,
                          "name": "Rewrite"
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:openai-gpt-3",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 2579821
                      }
                    },
                    {
                      "id": 13,
                      "mapper": {
                        "data": "{{19.data}}",
                        "content": "{{16.result}}",
                        "fileName": "{{19.fileName}}",
                        "visibility": "PUBLIC",
                        "organization": "urn:li:organization:102154617",
                        "feedDistribution": "MAIN_FEED",
                        "isReshareDisabledByAuthor": false
                      },
                      "module": "linkedin:CreateCompanyImagePost",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "organization",
                            "type": "select",
                            "label": "Organization",
                            "required": true
                          },
                          {
                            "name": "fileName",
                            "type": "text",
                            "label": "File name",
                            "required": true
                          },
                          {
                            "name": "data",
                            "type": "buffer",
                            "label": "Data",
                            "required": true
                          },
                          {
                            "name": "title",
                            "type": "text",
                            "label": "Title"
                          },
                          {
                            "name": "altText",
                            "type": "text",
                            "label": "Alt Text"
                          },
                          {
                            "name": "content",
                            "type": "text",
                            "label": "Content",
                            "required": true
                          },
                          {
                            "name": "visibility",
                            "type": "select",
                            "label": "Visibility",
                            "required": true,
                            "validate": {
                              "enum": [
                                "PUBLIC",
                                "CONNECTIONS",
                                "LOGGED_IN"
                              ]
                            }
                          },
                          {
                            "name": "feedDistribution",
                            "type": "select",
                            "label": "Feed Distribution",
                            "required": true,
                            "validate": {
                              "enum": [
                                "MAIN_FEED",
                                "NONE"
                              ]
                            }
                          },
                          {
                            "name": "isReshareDisabledByAuthor",
                            "type": "boolean",
                            "label": "Is Reshare Disabled",
                            "required": true
                          }
                        ],
                        "restore": {
                          "expect": {
                            "visibility": {
                              "mode": "chose",
                              "label": "Public"
                            },
                            "organization": {
                              "mode": "chose",
                              "label": "Zynera"
                            },
                            "feedDistribution": {
                              "mode": "chose",
                              "label": "Main feed"
                            },
                            "isReshareDisabledByAuthor": {
                              "mode": "chose"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "linkedin2"
                              },
                              "label": "My LinkedIn connection (Karim El Kassas)"
                            }
                          }
                        },
                        "designer": {
                          "x": 1800,
                          "y": 900,
                          "name": "Zynera"
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:linkedin2",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 2669522
                      }
                    }
                  ]
                }
              ],
              "version": 1,
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 750
                }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 20,
              "filter": {
                "name": "Video",
                "conditions": [
                  [
                    {
                      "a": "{{18.Type}}",
                      "b": "Video",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "url": "{{18.Image}}",
                "method": "get",
                "serializeUrl": false,
                "shareCookies": false
              },
              "module": "http:ActionGetFile",
              "version": 3,
              "metadata": {
                "expect": [
                  {
                    "name": "url",
                    "type": "url",
                    "label": "URL",
                    "required": true
                  },
                  {
                    "name": "serializeUrl",
                    "type": "boolean",
                    "label": "Serialize URL",
                    "required": true
                  },
                  {
                    "name": "method",
                    "type": "hidden",
                    "label": "Method"
                  },
                  {
                    "name": "shareCookies",
                    "type": "boolean",
                    "label": "Share cookies with other HTTP modules",
                    "required": true
                  }
                ],
                "restore": {},
                "designer": {
                  "x": 600,
                  "y": 1350,
                  "name": "Get Video"
                },
                "parameters": [
                  {
                    "name": "handleErrors",
                    "type": "boolean",
                    "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "handleErrors": false
              }
            },
            {
              "id": 34,
              "mapper": null,
              "module": "builtin:BasicRouter",
              "routes": [
                {
                  "flow": [
                    {
                      "id": 28,
                      "filter": {
                        "name": "Twitter",
                        "conditions": [
                          [
                            {
                              "a": "{{18.Platform}}",
                              "b": "Twitter",
                              "o": "array:contain"
                            }
                          ]
                        ]
                      },
                      "mapper": {
                        "data": "{{20.data}}",
                        "select": "video",
                        "filename": "{{20.fileName}}"
                      },
                      "module": "twitter:uploadAMedia",
                      "version": 5,
                      "metadata": {
                        "expect": [
                          {
                            "name": "select",
                            "type": "select",
                            "label": "Upload",
                            "required": true,
                            "validate": {
                              "enum": [
                                "image",
                                "video"
                              ]
                            }
                          },
                          {
                            "name": "filename",
                            "type": "filename",
                            "label": "File Name",
                            "required": true
                          },
                          {
                            "name": "data",
                            "type": "buffer",
                            "label": "Data",
                            "required": true
                          }
                        ],
                        "restore": {
                          "expect": {
                            "select": {
                              "label": "Video or GIF (Size more than 5MB)"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "twitter"
                              },
                              "label": "My X (formerly Twitter) connection (Karim)"
                            }
                          }
                        },
                        "designer": {
                          "x": 1200,
                          "y": 1200,
                          "name": "Upload Video"
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:twitter",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 2669558
                      }
                    },
                    {
                      "id": 29,
                      "mapper": {
                        "text": "{{18.Twitter}}",
                        "media_ids": "{{28.media_ids}}"
                      },
                      "module": "twitter:createATweet",
                      "version": 6,
                      "metadata": {
                        "expect": [
                          {
                            "name": "text",
                            "type": "text",
                            "label": "Text Content",
                            "required": true
                          },
                          {
                            "mode": "edit",
                            "name": "media_ids",
                            "spec": {
                              "name": "value",
                              "type": "text"
                            },
                            "type": "array",
                            "label": "Media IDs"
                          },
                          {
                            "name": "place_id",
                            "type": "text",
                            "label": "Place ID"
                          },
                          {
                            "name": "direct_message_deep_link",
                            "type": "url",
                            "label": "Direct Message Link"
                          },
                          {
                            "name": "for_super_followers_only",
                            "type": "boolean",
                            "label": "Allow to Post Exclusively for Super Followers Only"
                          },
                          {
                            "name": "quote_tweet_id",
                            "type": "text",
                            "label": "Quote Post ID"
                          }
                        ],
                        "restore": {
                          "expect": {
                            "media_ids": {
                              "mode": "edit"
                            },
                            "for_super_followers_only": {
                              "mode": "chose"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "twitter2"
                              },
                              "label": "My X (formerly Twitter) OAuth 2.0 connection (karimlks)"
                            }
                          }
                        },
                        "advanced": true,
                        "designer": {
                          "x": 1500,
                          "y": 1200,
                          "name": "@karimlks"
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:twitter2",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 2669554
                      }
                    }
                  ]
                },
                {
                  "flow": [
                    {
                      "id": 11,
                      "filter": {
                        "name": "LinkedIn",
                        "conditions": [
                          [
                            {
                              "a": "{{18.Platform}}",
                              "b": "LinkedIn",
                              "o": "array:contain"
                            }
                          ]
                        ]
                      },
                      "mapper": {
                        "video": "{{20.data}}",
                        "content": "{{18.LinkedIn}}",
                        "videoName": "{{20.fileName}}",
                        "visibility": "PUBLIC",
                        "feedDistribution": "MAIN_FEED",
                        "isReshareDisabledByAuthor": false
                      },
                      "module": "linkedin:createVideoPost",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "videoName",
                            "type": "text",
                            "label": "File Name",
                            "required": true
                          },
                          {
                            "name": "video",
                            "type": "buffer",
                            "label": "Video",
                            "required": true
                          },
                          {
                            "name": "title",
                            "type": "text",
                            "label": "Title"
                          },
                          {
                            "name": "content",
                            "type": "text",
                            "label": "Content",
                            "required": true
                          },
                          {
                            "name": "visibility",
                            "type": "select",
                            "label": "Visibility",
                            "required": true,
                            "validate": {
                              "enum": [
                                "PUBLIC",
                                "CONNECTIONS",
                                "LOGGED_IN"
                              ]
                            }
                          },
                          {
                            "name": "feedDistribution",
                            "type": "select",
                            "label": "Feed Distribution",
                            "required": true,
                            "validate": {
                              "enum": [
                                "MAIN_FEED",
                                "NONE"
                              ]
                            }
                          },
                          {
                            "name": "isReshareDisabledByAuthor",
                            "type": "boolean",
                            "label": "Is Reshare Disabled",
                            "required": true
                          }
                        ],
                        "restore": {
                          "expect": {
                            "visibility": {
                              "mode": "chose",
                              "label": "Public"
                            },
                            "feedDistribution": {
                              "mode": "chose",
                              "label": "Main Feed"
                            },
                            "isReshareDisabledByAuthor": {
                              "mode": "chose"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "linkedin2"
                              },
                              "label": "My LinkedIn connection (Karim El Kassas)"
                            }
                          }
                        },
                        "designer": {
                          "x": 1200,
                          "y": 1500,
                          "name": "Karim El Kassas"
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:linkedin2",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 2669522
                      }
                    },
                    {
                      "id": 15,
                      "mapper": {
                        "model": "gpt-3.5-turbo",
                        "top_p": "1",
                        "select": "chat",
                        "messages": [
                          {
                            "role": "system",
                            "content": "You are a helpful writing assistant."
                          },
                          {
                            "role": "user",
                            "content": "Slightly modify the following LinkedIn post for my personal page to be posted on my business page.\n\nHere is the content:\n{{18.LinkedIn}}"
                          }
                        ],
                        "max_tokens": "0",
                        "temperature": "1",
                        "n_completions": "1",
                        "response_format": "text"
                      },
                      "module": "openai-gpt-3:CreateCompletion",
                      "version": 1,
                      "metadata": {
                        "expect": [
                          {
                            "name": "select",
                            "type": "select",
                            "label": "Select Method",
                            "required": true,
                            "validate": {
                              "enum": [
                                "chat",
                                "prompt"
                              ]
                            }
                          },
                          {
                            "name": "max_tokens",
                            "type": "number",
                            "label": "Max Tokens",
                            "required": true
                          },
                          {
                            "name": "temperature",
                            "type": "number",
                            "label": "Temperature",
                            "validate": {
                              "max": 2,
                              "min": 0
                            }
                          },
                          {
                            "name": "top_p",
                            "type": "number",
                            "label": "Top P",
                            "validate": {
                              "max": 1,
                              "min": 0
                            }
                          },
                          {
                            "name": "n_completions",
                            "type": "number",
                            "label": "Number"
                          },
                          {
                            "name": "frequency_penalty",
                            "type": "number",
                            "label": "Frequency Penalty",
                            "validate": {
                              "max": 2,
                              "min": -2
                            }
                          },
                          {
                            "name": "presence_penalty",
                            "type": "number",
                            "label": "Presence Penalty",
                            "validate": {
                              "max": 2,
                              "min": -2
                            }
                          },
                          {
                            "name": "logit_bias",
                            "spec": {
                              "name": "value",
                              "spec": [
                                {
                                  "name": "token",
                                  "type": "text",
                                  "label": "Token ID",
                                  "required": true
                                },
                                {
                                  "name": "probability",
                                  "type": "number",
                                  "label": "Probability",
                                  "required": true,
                                  "validate": {
                                    "max": 100,
                                    "min": -100
                                  }
                                }
                              ],
                              "type": "collection",
                              "label": "Token Probability"
                            },
                            "type": "array",
                            "label": "Token Probability"
                          },
                          {
                            "name": "response_format",
                            "type": "select",
                            "label": "Response Format",
                            "validate": {
                              "enum": [
                                "text",
                                "json_object"
                              ]
                            }
                          },
                          {
                            "name": "seed",
                            "type": "integer",
                            "label": "Seed"
                          },
                          {
                            "name": "stop",
                            "spec": {
                              "name": "value",
                              "type": "text",
                              "label": "Stop Sequence"
                            },
                            "type": "array",
                            "label": "Stop Sequences",
                            "validate": {
                              "maxItems": 4
                            }
                          },
                          {
                            "name": "additionalParameters",
                            "spec": {
                              "name": "value",
                              "spec": [
                                {
                                  "name": "key",
                                  "type": "text",
                                  "label": "Parameter Name",
                                  "required": true
                                },
                                {
                                  "name": "type",
                                  "type": "select",
                                  "label": "Input Type",
                                  "options": [
                                    {
                                      "label": "Text",
                                      "value": "text",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "text",
                                          "label": "Parameter Value"
                                        }
                                      ],
                                      "default": true
                                    },
                                    {
                                      "label": "Number",
                                      "value": "number",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "number",
                                          "label": "Parameter Value"
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Boolean",
                                      "value": "boolean",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "boolean",
                                          "label": "Parameter Value"
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Date",
                                      "value": "date",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "date",
                                          "label": "Parameter Value"
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Any",
                                      "value": "any",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "any",
                                          "label": "Parameter Value"
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "collection",
                              "label": "Input Parameter"
                            },
                            "type": "array",
                            "label": "Other Input Parameters"
                          },
                          {
                            "name": "model",
                            "type": "select",
                            "label": "Model",
                            "required": true
                          },
                          {
                            "name": "messages",
                            "spec": {
                              "name": "value",
                              "spec": [
                                {
                                  "name": "role",
                                  "type": "select",
                                  "label": "Role",
                                  "options": [
                                    {
                                      "label": "System",
                                      "value": "system"
                                    },
                                    {
                                      "label": "User",
                                      "value": "user"
                                    },
                                    {
                                      "label": "Assistant",
                                      "value": "assistant"
                                    }
                                  ],
                                  "required": true
                                },
                                {
                                  "name": "content",
                                  "type": "text",
                                  "label": "Message Content"
                                }
                              ],
                              "type": "collection",
                              "label": "Message"
                            },
                            "type": "array",
                            "label": "Messages",
                            "required": true
                          }
                        ],
                        "restore": {
                          "expect": {
                            "stop": {
                              "mode": "chose"
                            },
                            "model": {
                              "mode": "chose",
                              "label": "gpt-3.5-turbo"
                            },
                            "select": {
                              "label": "Create a Chat Completion (GPT Models)"
                            },
                            "messages": {
                              "mode": "chose",
                              "items": [
                                {
                                  "role": {
                                    "mode": "chose",
                                    "label": "System"
                                  }
                                },
                                {
                                  "role": {
                                    "mode": "chose",
                                    "label": "User"
                                  }
                                }
                              ]
                            },
                            "logit_bias": {
                              "mode": "chose"
                            },
                            "response_format": {
                              "mode": "chose",
                              "label": "Text"
                            },
                            "additionalParameters": {
                              "mode": "chose"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                              },
                              "label": "My OpenAI connection"
                            }
                          }
                        },
                        "designer": {
                          "x": 1500,
                          "y": 1500,
                          "name": "Rewrite"
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:openai-gpt-3",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 2579821
                      }
                    },
                    {
                      "id": 14,
                      "mapper": {
                        "video": "{{20.data}}",
                        "content": "{{15.result}}",
                        "videoName": "{{20.fileName}}",
                        "visibility": "PUBLIC",
                        "organization": "urn:li:organization:102154617",
                        "feedDistribution": "MAIN_FEED",
                        "isReshareDisabledByAuthor": false
                      },
                      "module": "linkedin:createOrganizationVideoPost",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "organization",
                            "type": "select",
                            "label": "Organization",
                            "required": true
                          },
                          {
                            "name": "videoName",
                            "type": "text",
                            "label": "File Name",
                            "required": true
                          },
                          {
                            "name": "video",
                            "type": "buffer",
                            "label": "Video",
                            "required": true
                          },
                          {
                            "name": "title",
                            "type": "text",
                            "label": "Title"
                          },
                          {
                            "name": "content",
                            "type": "text",
                            "label": "Content",
                            "required": true
                          },
                          {
                            "name": "visibility",
                            "type": "select",
                            "label": "Visibility",
                            "required": true,
                            "validate": {
                              "enum": [
                                "PUBLIC",
                                "LOGGED_IN"
                              ]
                            }
                          },
                          {
                            "name": "feedDistribution",
                            "type": "select",
                            "label": "Feed Distribution",
                            "required": true,
                            "validate": {
                              "enum": [
                                "MAIN_FEED",
                                "NONE"
                              ]
                            }
                          },
                          {
                            "name": "isReshareDisabledByAuthor",
                            "type": "boolean",
                            "label": "Is Reshare Disabled",
                            "required": true
                          }
                        ],
                        "restore": {
                          "expect": {
                            "visibility": {
                              "mode": "chose",
                              "label": "Public"
                            },
                            "organization": {
                              "mode": "chose",
                              "label": "Zynera"
                            },
                            "feedDistribution": {
                              "mode": "chose",
                              "label": "Main Feed"
                            },
                            "isReshareDisabledByAuthor": {
                              "mode": "chose"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "linkedin2"
                              },
                              "label": "My LinkedIn connection (Karim El Kassas)"
                            }
                          }
                        },
                        "designer": {
                          "x": 1800,
                          "y": 1500,
                          "name": "Zynera"
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:linkedin2",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 2669522
                      }
                    }
                  ]
                }
              ],
              "version": 1,
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 1350
                }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 21,
              "mapper": {
                "id": "{{18.ID}}",
                "base": "appqlZH2PZJo03qxk",
                "table": "tblLW012iC7rzJCcX",
                "record": {
                  "fldCFb77MOi329SeI": "Posted"
                },
                "typecast": false,
                "useColumnId": false
              },
              "module": "airtable:ActionUpdateRecords",
              "version": 3,
              "metadata": {
                "expect": [
                  {
                    "name": "base",
                    "type": "select",
                    "label": "Base",
                    "required": true
                  },
                  {
                    "name": "typecast",
                    "type": "boolean",
                    "label": "Smart links",
                    "required": true
                  },
                  {
                    "name": "useColumnId",
                    "type": "boolean",
                    "label": "Use Column ID",
                    "required": true
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  },
                  {
                    "name": "id",
                    "type": "text",
                    "label": "Record ID",
                    "required": true
                  },
                  {
                    "name": "record",
                    "spec": [
                      {
                        "name": "fldFDwEto85JRWZcc",
                        "type": "text",
                        "label": "Name"
                      },
                      {
                        "name": "fldskWXJ5RbZtpVnZ",
                        "type": "text",
                        "label": "Notes"
                      },
                      {
                        "mode": "edit",
                        "name": "fldCFb77MOi329SeI",
                        "type": "select",
                        "label": "Status"
                      },
                      {
                        "name": "fldWZ5FrAKvfpjsrl",
                        "time": false,
                        "type": "date",
                        "label": "Date Scheduled"
                      },
                      {
                        "name": "fld6Rsxe9s7wfhsmm",
                        "spec": {
                          "mode": "edit",
                          "name": "value",
                          "type": "select",
                          "label": "Value",
                          "dynamic": true,
                          "options": [
                            {
                              "label": "LinkedIn",
                              "value": "LinkedIn"
                            },
                            {
                              "label": "Twitter",
                              "value": "Twitter"
                            },
                            {
                              "label": "Instagram",
                              "value": "Instagram"
                            }
                          ],
                          "validate": false
                        },
                        "type": "array",
                        "label": "Platform"
                      },
                      {
                        "mode": "edit",
                        "name": "fldLRVhRDCngAxcM3",
                        "type": "select",
                        "label": "Type"
                      },
                      {
                        "name": "fldqI620NIJrD56RE",
                        "spec": [
                          {
                            "name": "url",
                            "type": "text",
                            "label": "File URL"
                          },
                          {
                            "name": "filename",
                            "type": "filename",
                            "label": "File name"
                          }
                        ],
                        "type": "array",
                        "label": "Media"
                      },
                      {
                        "mode": "edit",
                        "name": "fldt8hKWLTe9ZDBMv",
                        "type": "select",
                        "label": "Topic"
                      },
                      {
                        "name": "fldBpxLIcOgdS2CzS",
                        "type": "text",
                        "label": "Twitter"
                      },
                      {
                        "name": "fldn14GYXurHfo9yW",
                        "type": "text",
                        "label": "LinkedIn"
                      }
                    ],
                    "type": "collection",
                    "label": "Record"
                  }
                ],
                "restore": {
                  "expect": {
                    "base": {
                      "label": "📝 Social Media Planning"
                    },
                    "table": {
                      "label": "Posts"
                    },
                    "record": {
                      "nested": {
                        "fld6Rsxe9s7wfhsmm": {
                          "mode": "chose"
                        },
                        "fldCFb77MOi329SeI": {
                          "mode": "chose",
                          "label": "Posted"
                        },
                        "fldLRVhRDCngAxcM3": {
                          "mode": "edit"
                        },
                        "fldqI620NIJrD56RE": {
                          "mode": "chose"
                        },
                        "fldt8hKWLTe9ZDBMv": {
                          "mode": "edit"
                        }
                      }
                    },
                    "typecast": {
                      "mode": "chose"
                    },
                    "useColumnId": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "airtable3"
                      },
                      "label": "My Airtable OAuth connection (User ID: usryWvTaoddQVF23q)"
                    }
                  }
                },
                "designer": {
                  "x": 600,
                  "y": 1800,
                  "name": "Set Published"
                },
                "interface": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "createdTime",
                    "type": "date",
                    "label": "Created Time"
                  },
                  {
                    "name": "ID",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "Name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "Notes",
                    "type": "text",
                    "label": "Notes",
                    "multiline": true
                  },
                  {
                    "name": "Status",
                    "type": "text",
                    "label": "Status"
                  },
                  {
                    "name": "Date Scheduled",
                    "time": false,
                    "type": "date",
                    "label": "Date Scheduled"
                  },
                  {
                    "name": "Platform",
                    "type": "array",
                    "label": "Platform",
                    "dynamic": true,
                    "editable": true
                  },
                  {
                    "name": "Type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "Media",
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      },
                      {
                        "name": "filename",
                        "type": "filename",
                        "label": "File name"
                      },
                      {
                        "name": "size",
                        "type": "uinteger",
                        "label": "Size"
                      },
                      {
                        "name": "type",
                        "type": "text",
                        "label": "MIME type"
                      },
                      {
                        "name": "thumbnails",
                        "spec": [
                          {
                            "name": "small",
                            "spec": [
                              {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                              },
                              {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                              },
                              {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                              }
                            ],
                            "type": "collection",
                            "label": "Small"
                          },
                          {
                            "name": "large",
                            "spec": [
                              {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                              },
                              {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                              },
                              {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                              }
                            ],
                            "type": "collection",
                            "label": "Large"
                          },
                          {
                            "name": "full",
                            "spec": [
                              {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                              },
                              {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                              },
                              {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                              }
                            ],
                            "type": "collection",
                            "label": "Full"
                          }
                        ],
                        "type": "collection",
                        "label": "Thumbnails"
                      }
                    ],
                    "type": "array",
                    "label": "Media"
                  },
                  {
                    "name": "Topic",
                    "type": "text",
                    "label": "Topic"
                  },
                  {
                    "name": "Generate",
                    "spec": [
                      {
                        "name": "label",
                        "type": "text",
                        "label": "Label"
                      },
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      }
                    ],
                    "type": "collection",
                    "label": "Generate"
                  },
                  {
                    "name": "Twitter",
                    "type": "text",
                    "label": "Twitter",
                    "multiline": true
                  },
                  {
                    "name": "LinkedIn",
                    "type": "text",
                    "label": "LinkedIn",
                    "multiline": true
                  },
                  {
                    "name": "Last Modified Time",
                    "type": "date",
                    "label": "Last Modified Time"
                  },
                  {
                    "name": "Content Piece",
                    "type": "number",
                    "label": "Content Piece"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:airtable3,airtable2",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2419123
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 26,
              "mapper": {
                "url": "/v2/scenarios/{{var.scenario.id}}",
                "body": "{\n    \"scheduling\": {\n        \"date\": \"{{setHour(addDays(now; 1); random * 12 + 8)}}\",\n        \"type\": \"once\"\n    }\n}",
                "method": "PATCH",
                "headers": [
                  {
                    "key": "Content-Type",
                    "value": "application/json"
                  }
                ]
              },
              "module": "make:makeApiCall",
              "version": 1,
              "metadata": {
                "expect": [
                  {
                    "name": "url",
                    "type": "text",
                    "label": "URL",
                    "required": true
                  },
                  {
                    "name": "method",
                    "type": "select",
                    "label": "Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "GET",
                        "POST",
                        "PUT",
                        "PATCH",
                        "DELETE"
                      ]
                    }
                  },
                  {
                    "name": "headers",
                    "spec": [
                      {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                      },
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                      }
                    ],
                    "type": "array",
                    "label": "Headers"
                  },
                  {
                    "name": "qs",
                    "spec": [
                      {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                      },
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                      }
                    ],
                    "type": "array",
                    "label": "Query String"
                  },
                  {
                    "name": "body",
                    "type": "any",
                    "label": "Body"
                  }
                ],
                "restore": {
                  "expect": {
                    "qs": {
                      "mode": "chose",
                      "collapsed": true
                    },
                    "method": {
                      "mode": "chose",
                      "label": "PATCH"
                    },
                    "headers": {
                      "mode": "chose",
                      "items": [
                        null
                      ]
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "make"
                      },
                      "label": "My Make connection (karim@el-kassas.com)"
                    }
                  }
                },
                "designer": {
                  "x": 600,
                  "y": 2100,
                  "name": "Randomize Post Time"
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:make",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2417656
              }
            }
          ],
          "disabled": true
        }
      ],
      "version": 1,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 1050
        }
      }
    }
  ],
  "name": "✏️ 2 - Publish Content | Airtable > Social @kelkassas",
  "metadata": {
    "instant": false,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "8": {
          "id": "urn:li:share:7211499125492588544"
        },
        "12": {
          "id": "urn:li:share:7211499136502693888"
        },
        "15": {
          "id": "chatcmpl-9e90RJQ8vyzGVZ7DbaPhpzzRyHJKu",
          "model": "gpt-3.5-turbo-0125",
          "usage": {
            "total_tokens": 296,
            "prompt_tokens": 171,
            "completion_tokens": 125
          },
          "object": "chat.completion",
          "result": "🚀 Just posted this update after streamlining my content planning process with the help of Airtable ...",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "🚀 Just posted this update after streamlining my content planning process with the help of Airtable ..."
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "created": "2024-06-25T22:32:47.000Z",
          "system_fingerprint": null
        },
        "17": {
          "id": "chatcmpl-9e9AF4PbXYF4aYytGTACHt38aA2Sw",
          "model": "gpt-3.5-turbo-0125",
          "usage": {
            "total_tokens": 287,
            "prompt_tokens": 169,
            "completion_tokens": 118
          },
          "object": "chat.completion",
          "result": "🚀 Just shared this post using a content planner in Airtable and automated the process with Make.com...",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "🚀 Just shared this post using a content planner in Airtable and automated the process with Make.com..."
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "created": "2024-06-25T22:42:55.000Z",
          "system_fingerprint": null
        },
        "18": {
          "ID": "C8 - Automated Post",
          "id": "recXSxCGem9her50K",
          "Name": "Automated Post",
          "Type": "Text",
          "Notes": "I just wrote this post trough a content planner base in Airtable and automated the publication using...",
          "Status": "Staged",
          "Twitter": "Just crafted this tweet using a content planner base in Airtable and automated the publication with ...",
          "Generate": {
            "url": "https://hook.eu1.make.com/osi4e355stmobxpnhh2wd6mibw35zdo7?recordID=recXSxCGem9her50K",
            "label": "ChatGPT"
          },
          "LinkedIn": "🚀 Just wrote this post through a content planner based in Airtable and automated the publication us...",
          "Platform": [
            "LinkedIn"
          ],
          "createdTime": "2024-06-19T00:17:42.000Z",
          "Content Piece": 8,
          "Date Scheduled": "2024-06-26",
          "Last Modified Time": "2024-06-25T22:37:20.000Z"
        },
        "21": {
          "ID": "C8 - Automated Post",
          "id": "recXSxCGem9her50K",
          "Name": "Automated Post",
          "Type": "Text",
          "Notes": "I just wrote this post trough a content planner base in Airtable and automated the publication using...",
          "Status": "Posted",
          "Twitter": "Just crafted this tweet using a content planner base in Airtable and automated the publication with ...",
          "Generate": {
            "url": "https://hook.eu1.make.com/osi4e355stmobxpnhh2wd6mibw35zdo7?recordID=recXSxCGem9her50K",
            "label": "ChatGPT"
          },
          "LinkedIn": "🚀 Just wrote this post through a content planner based in Airtable and automated the publication us...",
          "Platform": [
            "LinkedIn"
          ],
          "createdTime": "2024-06-19T00:17:42.000Z",
          "Content Piece": 8,
          "Date Scheduled": "2024-06-26",
          "Last Modified Time": "2024-06-25T22:43:44.000Z"
        },
        "31": {
          "id": "1805733433395519514",
          "text": "Just crafted this tweet using a content planner base in Airtable and automated the publication with ...",
          "edit_history_tweet_ids": [
            "1805733433395519514"
          ]
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}