scenarios/2635870
{"flow":[{"id":1,"mapper":{},"module":"slack:NewEvent","version":4,"metadata":{"restore":{"parameters":{"__IMTHOOK__":{"data":{"editable":"false"},"label":"My slack-events webhook"}}},"designer":{"x":0,"y":600,"name":"Watch Reactions"},"interface":[{"name":"type","type":"text","label":"Type"},{"name":"user","type":"text","label":"User"},{"name":"reaction","type":"text","label":"Reaction"},{"name":"item","spec":[{"name":"type","type":"text","label":"Type"},{"name":"channel","type":"text","label":"Channel"},{"name":"ts","type":"text","label":"Timestamp"}],"type":"collection","label":"Item"},{"name":"item_user","type":"text","label":"Item User"},{"name":"event_ts","type":"text","label":"Event Timestamp"}],"parameters":[{"name":"__IMTHOOK__","type":"hook:slack-events","label":"Webhook","required":true}]},"parameters":{"__IMTHOOK__":1517376}},{"id":2,"filter":{"name":"⚙️✋🐞💡🤝","conditions":[[{"a":"{{1.reaction}}","b":"\\b(gear|hand|ladybug|bulb|handshake)\\b","o":"text:pattern"},{"a":"{{1.item.channel}}","b":"D","o":"text:notstartwith"}]]},"mapper":{"user":"{{1.user}}"},"module":"slack:GetUser","version":4,"metadata":{"expect":[{"name":"user","type":"text","label":"User ID","required":true}],"restore":{"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"slack2"},"label":"My Slack (user) connection (karim)"}}},"designer":{"x":300,"y":600,"name":"Get User"},"parameters":[{"name":"__IMTCONN__","type":"account:slack2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2736810}},{"id":3,"filter":{"name":"Team Member","conditions":[[{"a":"{{2.profile.email}}","b":"zynera","o":"text:contain"}]]},"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":4,"filter":{"name":"⚙️ Feature","conditions":[[{"a":"{{1.reaction}}","b":"gear","o":"text:equal"}]]},"mapper":{"text":"A New Feature Has Been Logged! ⚙️ (<@{{2.id}}>)","parse":false,"mrkdwn":true,"channel":"{{1.item.channel}}","thread_ts":"{{1.item.ts}}","channelWType":"manualy"},"module":"slack:CreateMessage","version":4,"metadata":{"expect":[{"name":"channelWType","type":"select","label":"Enter a channel ID or name","required":true,"validate":{"enum":["manualy","list"]}},{"name":"text","type":"text","label":"Text"},{"name":"blocks","type":"text","label":"Blocks"},{"name":"thread_ts","type":"text","label":"Thread message ID (time stamp)"},{"name":"reply_broadcast","type":"boolean","label":"Reply broadcast"},{"name":"link_names","type":"boolean","label":"Link names"},{"name":"parse","type":"boolean","label":"Parse message text"},{"name":"mrkdwn","type":"boolean","label":"Use markdown"},{"name":"unfurl_links","type":"boolean","label":"Unfurl primarily text-based content"},{"name":"unfurl_media","type":"boolean","label":"Unfurl media content"},{"name":"icon_emoji","type":"text","label":"Icon emoji"},{"name":"icon_url","type":"url","label":"Icon url"},{"name":"username","type":"text","label":"User name"},{"name":"channel","type":"text","label":"Channel ID or name","required":true}],"restore":{"expect":{"parse":{"mode":"chose"},"mrkdwn":{"mode":"chose"},"link_names":{"mode":"chose"},"channelWType":{"label":"Enter manually"},"unfurl_links":{"mode":"chose"},"unfurl_media":{"mode":"chose"},"reply_broadcast":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"slack3"},"label":"My Slack (bot) connection (zarvis)"}}},"advanced":true,"designer":{"x":900,"y":0,"name":"Auto Reply"},"parameters":[{"name":"__IMTCONN__","type":"account:slack2,slack3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2736305}}]},{"flow":[{"id":7,"filter":{"name":"✋ Change","conditions":[[{"a":"{{1.reaction}}","b":"hand","o":"text:equal"}]]},"mapper":{"text":"A New Change Has Been Logged! ✋ (<@{{2.id}}>)","parse":false,"mrkdwn":true,"channel":"{{1.item.channel}}","thread_ts":"{{1.item.ts}}","channelWType":"manualy"},"module":"slack:CreateMessage","version":4,"metadata":{"expect":[{"name":"channelWType","type":"select","label":"Enter a channel ID or name","required":true,"validate":{"enum":["manualy","list"]}},{"name":"text","type":"text","label":"Text"},{"name":"blocks","type":"text","label":"Blocks"},{"name":"thread_ts","type":"text","label":"Thread message ID (time stamp)"},{"name":"reply_broadcast","type":"boolean","label":"Reply broadcast"},{"name":"link_names","type":"boolean","label":"Link names"},{"name":"parse","type":"boolean","label":"Parse message text"},{"name":"mrkdwn","type":"boolean","label":"Use markdown"},{"name":"unfurl_links","type":"boolean","label":"Unfurl primarily text-based content"},{"name":"unfurl_media","type":"boolean","label":"Unfurl media content"},{"name":"icon_emoji","type":"text","label":"Icon emoji"},{"name":"icon_url","type":"url","label":"Icon url"},{"name":"username","type":"text","label":"User name"},{"name":"channel","type":"text","label":"Channel ID or name","required":true}],"restore":{"expect":{"parse":{"mode":"chose"},"mrkdwn":{"mode":"chose"},"link_names":{"mode":"chose"},"channelWType":{"label":"Enter manually"},"unfurl_links":{"mode":"chose"},"unfurl_media":{"mode":"chose"},"reply_broadcast":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"slack3"},"label":"My Slack (bot) connection (zarvis)"}}},"advanced":true,"designer":{"x":900,"y":300,"name":"Auto Reply"},"parameters":[{"name":"__IMTCONN__","type":"account:slack2,slack3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2736305}}]},{"flow":[{"id":8,"filter":{"name":"🐞 Bug","conditions":[[{"a":"{{1.reaction}}","b":"ladybug","o":"text:equal"}]]},"mapper":{"text":"A New Bug Has Been Logged! 🐞 (<@{{2.id}}>)","parse":false,"mrkdwn":true,"channel":"{{1.item.channel}}","thread_ts":"{{1.item.ts}}","channelWType":"manualy"},"module":"slack:CreateMessage","version":4,"metadata":{"expect":[{"name":"channelWType","type":"select","label":"Enter a channel ID or name","required":true,"validate":{"enum":["manualy","list"]}},{"name":"text","type":"text","label":"Text"},{"name":"blocks","type":"text","label":"Blocks"},{"name":"thread_ts","type":"text","label":"Thread message ID (time stamp)"},{"name":"reply_broadcast","type":"boolean","label":"Reply broadcast"},{"name":"link_names","type":"boolean","label":"Link names"},{"name":"parse","type":"boolean","label":"Parse message text"},{"name":"mrkdwn","type":"boolean","label":"Use markdown"},{"name":"unfurl_links","type":"boolean","label":"Unfurl primarily text-based content"},{"name":"unfurl_media","type":"boolean","label":"Unfurl media content"},{"name":"icon_emoji","type":"text","label":"Icon emoji"},{"name":"icon_url","type":"url","label":"Icon url"},{"name":"username","type":"text","label":"User name"},{"name":"channel","type":"text","label":"Channel ID or name","required":true}],"restore":{"expect":{"parse":{"mode":"chose"},"mrkdwn":{"mode":"chose"},"link_names":{"mode":"chose"},"channelWType":{"label":"Enter manually"},"unfurl_links":{"mode":"chose"},"unfurl_media":{"mode":"chose"},"reply_broadcast":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"slack3"},"label":"My Slack (bot) connection (zarvis)"}}},"advanced":true,"designer":{"x":900,"y":600,"name":"Auto Reply"},"parameters":[{"name":"__IMTCONN__","type":"account:slack2,slack3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2736305}}]},{"flow":[{"id":9,"filter":{"name":"💡 Idea","conditions":[[{"a":"{{1.reaction}}","b":"bulb","o":"text:equal"}]]},"mapper":{"text":"A New Idea Has Been Logged! 💡 (<@{{2.id}}>)","parse":false,"mrkdwn":true,"channel":"{{1.item.channel}}","thread_ts":"{{1.item.ts}}","channelWType":"manualy"},"module":"slack:CreateMessage","version":4,"metadata":{"expect":[{"name":"channelWType","type":"select","label":"Enter a channel ID or name","required":true,"validate":{"enum":["manualy","list"]}},{"name":"text","type":"text","label":"Text"},{"name":"blocks","type":"text","label":"Blocks"},{"name":"thread_ts","type":"text","label":"Thread message ID (time stamp)"},{"name":"reply_broadcast","type":"boolean","label":"Reply broadcast"},{"name":"link_names","type":"boolean","label":"Link names"},{"name":"parse","type":"boolean","label":"Parse message text"},{"name":"mrkdwn","type":"boolean","label":"Use markdown"},{"name":"unfurl_links","type":"boolean","label":"Unfurl primarily text-based content"},{"name":"unfurl_media","type":"boolean","label":"Unfurl media content"},{"name":"icon_emoji","type":"text","label":"Icon emoji"},{"name":"icon_url","type":"url","label":"Icon url"},{"name":"username","type":"text","label":"User name"},{"name":"channel","type":"text","label":"Channel ID or name","required":true}],"restore":{"expect":{"parse":{"mode":"chose"},"mrkdwn":{"mode":"chose"},"link_names":{"mode":"chose"},"channelWType":{"label":"Enter manually"},"unfurl_links":{"mode":"chose"},"unfurl_media":{"mode":"chose"},"reply_broadcast":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"slack3"},"label":"My Slack (bot) connection (zarvis)"}}},"advanced":true,"designer":{"x":900,"y":900,"name":"Auto Reply"},"parameters":[{"name":"__IMTCONN__","type":"account:slack2,slack3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2736305}}]},{"flow":[{"id":10,"filter":{"name":"🤝 Meeting Note","conditions":[[{"a":"{{1.reaction}}","b":"handshake","o":"text:equal"}]]},"mapper":{"text":"A New Meeting Note Has Been Logged! 🤝 (<@{{2.id}}>)","parse":false,"mrkdwn":true,"channel":"{{1.item.channel}}","thread_ts":"{{1.item.ts}}","channelWType":"manualy"},"module":"slack:CreateMessage","version":4,"metadata":{"expect":[{"name":"channelWType","type":"select","label":"Enter a channel ID or name","required":true,"validate":{"enum":["manualy","list"]}},{"name":"text","type":"text","label":"Text"},{"name":"blocks","type":"text","label":"Blocks"},{"name":"thread_ts","type":"text","label":"Thread message ID (time stamp)"},{"name":"reply_broadcast","type":"boolean","label":"Reply broadcast"},{"name":"link_names","type":"boolean","label":"Link names"},{"name":"parse","type":"boolean","label":"Parse message text"},{"name":"mrkdwn","type":"boolean","label":"Use markdown"},{"name":"unfurl_links","type":"boolean","label":"Unfurl primarily text-based content"},{"name":"unfurl_media","type":"boolean","label":"Unfurl media content"},{"name":"icon_emoji","type":"text","label":"Icon emoji"},{"name":"icon_url","type":"url","label":"Icon url"},{"name":"username","type":"text","label":"User name"},{"name":"channel","type":"text","label":"Channel ID or name","required":true}],"restore":{"expect":{"parse":{"mode":"chose"},"mrkdwn":{"mode":"chose"},"link_names":{"mode":"chose"},"channelWType":{"label":"Enter manually"},"unfurl_links":{"mode":"chose"},"unfurl_media":{"mode":"chose"},"reply_broadcast":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"slack3"},"label":"My Slack (bot) connection (zarvis)"}}},"advanced":true,"designer":{"x":900,"y":1200,"name":"Auto Reply"},"parameters":[{"name":"__IMTCONN__","type":"account:slack2,slack3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2736305}}]}],"version":1,"metadata":{"designer":{"x":600,"y":600}}}],"name":"Slack Emoji Reaction","metadata":{"instant":true,"version":1,"designer":{"notes":[{"id":6,"text":"","filter":true}],"orphans":[],"samples":{"1":{"item":{"ts":"1722179247.388929","type":"message","channel":"C07EDPTPV18"},"type":"reaction_added","user":"U0766MTE84A","event_ts":"1722179468.001600","reaction":"handshake","item_user":"U0766MTE84A"},"2":{"id":"U0766MTE84A","tz":"Europe/Amsterdam","name":"karim","color":"9f69e7","is_bot":false,"locale":"en-GB","deleted":false,"has_2fa":false,"profile":{"team":"T0766JH8935","email":"karim@zynera.de","phone":"","skype":"","title":"","fields":null,"image_24":"https://avatars.slack-edge.com/2024-06-02/7210742393250_f153838f11c058bddfbc_24.png","image_32":"https://avatars.slack-edge.com/2024-06-02/7210742393250_f153838f11c058bddfbc_32.png","image_48":"https://avatars.slack-edge.com/2024-06-02/7210742393250_f153838f11c058bddfbc_48.png","image_72":"https://avatars.slack-edge.com/2024-06-02/7210742393250_f153838f11c058bddfbc_72.png","image_192":"https://avatars.slack-edge.com/2024-06-02/7210742393250_f153838f11c058bddfbc_192.png","image_512":"https://avatars.slack-edge.com/2024-06-02/7210742393250_f153838f11c058bddfbc_512.png","last_name":"El Kassas","real_name":"Karim El Kassas","first_name":"Karim","image_1024":"https://avatars.slack-edge.com/2024-06-02/7210742393250_f153838f11c058bddfbc_1024.png","avatar_hash":"f153838f11c0","status_text":"","display_name":"","status_emoji":"","image_original":"https://avatars.slack-edge.com/2024-06-02/7210742393250_f153838f11c058bddfbc_original.png","is_custom_image":true,"status_expiration":0,"real_name_normalized":"Karim El Kassas","status_text_canonical":"","display_name_normalized":"","status_emoji_display_info":[]},"team_id":"T0766JH8935","updated":"2024-06-02T21:30:49.000Z","is_admin":true,"is_owner":true,"tz_label":"Central European Summer Time","real_name":"Karim El Kassas","tz_offset":7200,"is_app_user":false,"is_restricted":false,"is_primary_owner":true,"is_email_confirmed":true,"is_ultra_restricted":false,"who_can_share_contact_card":"EVERYONE"},"4":{"ts":"1722179266.224349","channel":"C07EDPTPV18","message":{"ts":"1722179266.224349","team":"T0766JH8935","text":"A New Feature Has Been Logged! :gear: (<@U0766MTE84A>)","type":"message","user":"U07EF8P5D2Q","app_id":"A07ERC5QP97","blocks":[{"type":"rich_text","block_id":"n0=R","elements":[{"type":"rich_text_section","elements":[{"name":"gear","text":")","type":"text","unicode":"2699-fe0f","user_id":"U0766MTE84A"}]}]}],"bot_id":"B07F1HQ8HPS","thread_ts":"1722179238.086409","bot_profile":{"id":"B07F1HQ8HPS","name":"ZARVIS","icons":{"image_36":"https://avatars.slack-edge.com/2024-07-27/7474217493991_66ecfa41a56d2ebcc673_36.webp","image_48":"https://avatars.slack-edge.com/2024-07-27/7474217493991_66ecfa41a56d2ebcc673_48.webp","image_72":"https://avatars.slack-edge.com/2024-07-27/7474217493991_66ecfa41a56d2ebcc673_72.webp"},"app_id":"A07ERC5QP97","deleted":false,"team_id":"T0766JH8935","updated":"2024-07-28T01:03:56.000Z"},"parent_user_id":"U0766MTE84A"}},"7":{"ts":"1722179373.287719","channel":"C07EDPTPV18","message":{"ts":"1722179373.287719","team":"T0766JH8935","text":"A New Change Has Been Logged! :hand: (<@U0766MTE84A>)","type":"message","user":"U07EF8P5D2Q","app_id":"A07ERC5QP97","blocks":[{"type":"rich_text","block_id":"eKML","elements":[{"type":"rich_text_section","elements":[{"name":"hand","text":")","type":"text","unicode":"270b","user_id":"U0766MTE84A"}]}]}],"bot_id":"B07F1HQ8HPS","thread_ts":"1722179239.083839","bot_profile":{"id":"B07F1HQ8HPS","name":"ZARVIS","icons":{"image_36":"https://avatars.slack-edge.com/2024-07-27/7474217493991_66ecfa41a56d2ebcc673_36.webp","image_48":"https://avatars.slack-edge.com/2024-07-27/7474217493991_66ecfa41a56d2ebcc673_48.webp","image_72":"https://avatars.slack-edge.com/2024-07-27/7474217493991_66ecfa41a56d2ebcc673_72.webp"},"app_id":"A07ERC5QP97","deleted":false,"team_id":"T0766JH8935","updated":"2024-07-28T01:03:56.000Z"},"parent_user_id":"U0766MTE84A"}},"8":{"ts":"1722179433.032199","channel":"C07EDPTPV18","message":{"ts":"1722179433.032199","team":"T0766JH8935","text":"A New Bug Has Been Logged! :ladybug: (<@U0766MTE84A>)","type":"message","user":"U07EF8P5D2Q","app_id":"A07ERC5QP97","blocks":[{"type":"rich_text","block_id":"NHKGY","elements":[{"type":"rich_text_section","elements":[{"name":"ladybug","text":")","type":"text","unicode":"1f41e","user_id":"U0766MTE84A"}]}]}],"bot_id":"B07F1HQ8HPS","thread_ts":"1722179240.895249","bot_profile":{"id":"B07F1HQ8HPS","name":"ZARVIS","icons":{"image_36":"https://avatars.slack-edge.com/2024-07-27/7474217493991_66ecfa41a56d2ebcc673_36.webp","image_48":"https://avatars.slack-edge.com/2024-07-27/7474217493991_66ecfa41a56d2ebcc673_48.webp","image_72":"https://avatars.slack-edge.com/2024-07-27/7474217493991_66ecfa41a56d2ebcc673_72.webp"},"app_id":"A07ERC5QP97","deleted":false,"team_id":"T0766JH8935","updated":"2024-07-28T01:03:56.000Z"},"parent_user_id":"U0766MTE84A"}},"9":{"ts":"1722179449.704239","channel":"C07EDPTPV18","message":{"ts":"1722179449.704239","team":"T0766JH8935","text":"A New Idea Has Been Logged! :bulb: (<@U0766MTE84A>)","type":"message","user":"U07EF8P5D2Q","app_id":"A07ERC5QP97","blocks":[{"type":"rich_text","block_id":"QUm","elements":[{"type":"rich_text_section","elements":[{"name":"bulb","text":")","type":"text","unicode":"1f4a1","user_id":"U0766MTE84A"}]}]}],"bot_id":"B07F1HQ8HPS","thread_ts":"1722179244.348639","bot_profile":{"id":"B07F1HQ8HPS","name":"ZARVIS","icons":{"image_36":"https://avatars.slack-edge.com/2024-07-27/7474217493991_66ecfa41a56d2ebcc673_36.webp","image_48":"https://avatars.slack-edge.com/2024-07-27/7474217493991_66ecfa41a56d2ebcc673_48.webp","image_72":"https://avatars.slack-edge.com/2024-07-27/7474217493991_66ecfa41a56d2ebcc673_72.webp"},"app_id":"A07ERC5QP97","deleted":false,"team_id":"T0766JH8935","updated":"2024-07-28T01:03:56.000Z"},"parent_user_id":"U0766MTE84A"}},"10":{"ts":"1722179469.134939","channel":"C07EDPTPV18","message":{"ts":"1722179469.134939","team":"T0766JH8935","text":"A New Meeting Note Has Been Logged! :handshake: (<@U0766MTE84A>)","type":"message","user":"U07EF8P5D2Q","app_id":"A07ERC5QP97","blocks":[{"type":"rich_text","block_id":"baA4P","elements":[{"type":"rich_text_section","elements":[{"name":"handshake","text":")","type":"text","unicode":"1f91d","user_id":"U0766MTE84A"}]}]}],"bot_id":"B07F1HQ8HPS","thread_ts":"1722179247.388929","bot_profile":{"id":"B07F1HQ8HPS","name":"ZARVIS","icons":{"image_36":"https://avatars.slack-edge.com/2024-07-27/7474217493991_66ecfa41a56d2ebcc673_36.webp","image_48":"https://avatars.slack-edge.com/2024-07-27/7474217493991_66ecfa41a56d2ebcc673_48.webp","image_72":"https://avatars.slack-edge.com/2024-07-27/7474217493991_66ecfa41a56d2ebcc673_72.webp"},"app_id":"A07ERC5QP97","deleted":false,"team_id":"T0766JH8935","updated":"2024-07-28T01:03:56.000Z"},"parent_user_id":"U0766MTE84A"}}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}