scenarios/2635206
{"flow":[{"id":1,"mapper":{},"module":"gateway:CustomWebHook","version":1,"metadata":{"restore":{"parameters":{"hook":{"data":{"editable":"true"},"label":"Slack Interactivity Listener"}}},"designer":{"x":0,"y":0,"name":"Slack Interactivity Listener"},"parameters":[{"name":"hook","type":"hook:gateway-webhook","label":"Webhook","required":true},{"name":"maxResults","type":"number","label":"Maximum number of results"}]},"parameters":{"hook":1516989,"maxResults":1}},{"id":6,"mapper":{"json":"{{1.payload}}"},"module":"json:ParseJSON","version":1,"metadata":{"expect":[{"name":"json","type":"text","label":"JSON string","required":true}],"restore":{"parameters":{"type":{"label":"Choose a data structure"}}},"designer":{"x":300,"y":0,"name":"Visualize"},"parameters":[{"name":"type","type":"udt","label":"Data structure"}]},"parameters":{"type":""}},{"id":7,"mapper":{"Name":"{{var.scenario.name}}","team":{"id":"{{6.team.id}}","domain":"{{6.team.domain}}"},"type":"{{6.type}}","user":{"id":"{{6.user.id}}","team_id":"{{6.user.team_id}}","username":"{{6.user.username}}"},"token":"{{6.token}}","Scenario":"{{var.scenario.url}}","Execution":"{{var.scenario.executionUrl}}","action_ts":"{{6.action_ts}}","enterprise":"{{6.enterprise}}","trigger_id":"{{6.trigger_id}}","callback_id":"{{6.callback_id}}","is_enterprise_install":"{{6.is_enterprise_install}}"},"module":"json:CreateJSON","version":1,"metadata":{"expect":[{"name":"type","type":"text","label":"Type"},{"name":"token","type":"text","label":"Token"},{"name":"action_ts","type":"text","label":"Action Ts"},{"name":"team","spec":[{"name":"id","type":"text","label":null},{"name":"domain","type":"text","label":null}],"type":"collection","label":"Team"},{"name":"user","spec":[{"name":"id","type":"text","label":null},{"name":"username","type":"text","label":null},{"name":"team_id","type":"text","label":null}],"type":"collection","label":"User"},{"name":"is_enterprise_install","type":"boolean","label":"Is Enterprise Install"},{"name":"enterprise","type":"text","label":"Enterprise"},{"name":"callback_id","type":"text","label":"Callback ID"},{"name":"trigger_id","type":"text","label":"Trigger ID"},{"name":"Name","type":"text","label":null},{"name":"Scenario","type":"text","label":null},{"name":"Execution","type":"text","label":null}],"restore":{"expect":{"is_enterprise_install":{"mode":"edit"}},"parameters":{"type":{"label":"Slack Interactivity Listener"},"space":{"label":"Empty"}}},"designer":{"x":600,"y":0,"name":"Add Source"},"parameters":[{"name":"type","type":"udt","label":"Data structure","required":true},{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"type":176498,"space":""}},{"id":4,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":5,"mapper":{"ca":"","qs":[],"url":"http://google.com","data":"{{7.json}}","gzip":true,"method":"post","headers":[],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":false,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose"},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":1200,"y":0,"name":"Trigger Scenario"},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":true,"useNewZLibDeCompress":true}}]}],"version":1,"metadata":{"designer":{"x":900,"y":0}}}],"name":"Slack Interactivity Listener","metadata":{"instant":true,"version":1,"designer":{"orphans":[],"samples":{"1":{"payload":"{\"type\":\"shortcut\",\"token\":\"NC1vqlPKEFpGCLtbyEZ1EQNa\",\"action_ts\":\"1722132175.952885\",\"team\":{\"id\":\"..."},"6":{"team":{"id":"T0766JH8935","domain":"zynerahq"},"type":"shortcut","user":{"id":"U0766MTE84A","team_id":"T0766JH8935","username":"karim"},"token":"NC1vqlPKEFpGCLtbyEZ1EQNa","action_ts":"1722132175.952885","enterprise":null,"trigger_id":"7482251630630.7210629281107.6d1de4fec1483b1f2962fc733ecb0fb2","callback_id":"generate_ticket","is_enterprise_install":false},"7":{"json":"{\"team\":{\"id\":null,\"domain\":null},\"type\":null,\"user\":{\"id\":null,\"team_id\":null,\"username\":null},\"tok..."}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}