scenarios/2635845.json
{
  "flow": [
    {
      "id": 1,
      "mapper": {},
      "module": "gateway:CustomWebHook",
      "version": 1,
      "metadata": {
        "restore": {
          "parameters": {
            "hook": {
              "data": {
                "editable": "true"
              },
              "label": "Create Templates -> Client Organization"
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 0,
          "name": "Airtable Automation"
        },
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-webhook",
            "label": "Webhook",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of results"
          }
        ]
      },
      "parameters": {
        "hook": 1517358,
        "maxResults": 1
      }
    },
    {
      "id": 10,
      "module": "airtable:ActionGetRecord",
      "version": 3,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0,
          "name": "Get Client"
        }
      }
    },
    {
      "id": 8,
      "mapper": {
        "scope": "roundtrip",
        "variables": [
          {
            "name": "Organization ID",
            "value": "{{var.organization.id}}"
          },
          {
            "name": "Team ID",
            "value": "{{var.team.id}}"
          }
        ]
      },
      "module": "util:SetVariables",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "variables",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Variable name",
                "required": true
              },
              {
                "name": "value",
                "type": "any",
                "label": "Variable value"
              }
            ],
            "type": "array",
            "label": "Variables"
          },
          {
            "name": "scope",
            "type": "select",
            "label": "Variable lifetime",
            "required": true,
            "validate": {
              "enum": [
                "roundtrip",
                "execution"
              ]
            }
          }
        ],
        "restore": {
          "expect": {
            "scope": {
              "label": "One cycle"
            },
            "variables": {
              "items": [
                null,
                null
              ]
            }
          }
        },
        "designer": {
          "x": 600,
          "y": 0,
          "name": "Set IDs"
        },
        "interface": [
          {
            "name": "Organization ID",
            "type": "any",
            "label": "Organization ID"
          },
          {
            "name": "Team ID",
            "type": "any",
            "label": "Team ID"
          }
        ]
      },
      "parameters": {}
    },
    {
      "id": 4,
      "mapper": {
        "name": "[Zynera] Templates",
        "team": "{{8.`Team ID`}}"
      },
      "module": "make:getAScenarioFolder",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "team",
            "type": "text",
            "label": "Team ID",
            "required": true
          },
          {
            "name": "name",
            "type": "text",
            "label": "Folder Name",
            "required": true
          }
        ],
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "make"
              },
              "label": "My Make connection (karim@el-kassas.com)"
            }
          }
        },
        "designer": {
          "x": 900,
          "y": 0,
          "name": "Create Client Folder"
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:make",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 2417656
      }
    },
    {
      "id": 2,
      "module": "make:listScenarios",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0,
          "name": "Get Template Folder"
        }
      }
    },
    {
      "id": 6,
      "mapper": {
        "select": "file",
        "scenario": "{{2.id}}"
      },
      "module": "make:getAScenarioBlueprint",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "scenario",
            "type": "text",
            "label": "Scenario ID",
            "required": true
          },
          {
            "name": "draft",
            "type": "boolean",
            "label": "Draft"
          },
          {
            "name": "select",
            "type": "select",
            "label": "Return a Blueprint",
            "required": true,
            "validate": {
              "enum": [
                "json",
                "string",
                "file"
              ]
            }
          }
        ],
        "restore": {
          "expect": {
            "draft": {
              "mode": "chose"
            },
            "select": {
              "mode": "chose",
              "label": "In a JSON File"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "make"
              },
              "label": "My Make connection (karim@el-kassas.com)"
            }
          }
        },
        "designer": {
          "x": 1500,
          "y": 0,
          "name": "Get Template Blueprint"
        },
        "interface": [
          {
            "name": "blueprint",
            "type": "buffer",
            "label": "Blueprint Data",
            "semantic": "file:data"
          },
          {
            "name": "filename",
            "type": "filename",
            "label": "File Name",
            "semantic": "file:name"
          },
          {
            "name": "gitSHA",
            "type": "text",
            "label": "GitHub SHA"
          },
          {
            "name": "scheduling",
            "spec": [
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "between",
                "spec": {
                  "type": "date"
                },
                "type": "array",
                "label": "Between"
              },
              {
                "name": "interval",
                "type": "number",
                "label": "Interval"
              },
              {
                "name": "restrict",
                "spec": {
                  "spec": [
                    {
                      "name": "days",
                      "spec": {
                        "type": "number"
                      },
                      "type": "array",
                      "label": "Days"
                    },
                    {
                      "name": "time",
                      "spec": {
                        "type": "text"
                      },
                      "type": "array",
                      "label": "Time"
                    },
                    {
                      "name": "months",
                      "spec": {
                        "type": "number"
                      },
                      "type": "array",
                      "label": "Months"
                    }
                  ],
                  "type": "collection"
                },
                "type": "array",
                "label": "Restrict"
              },
              {
                "name": "date",
                "time": true,
                "type": "date",
                "label": "Date"
              },
              {
                "name": "time",
                "type": "text",
                "label": "Time"
              },
              {
                "name": "days",
                "type": "array",
                "label": "Days"
              },
              {
                "name": "months",
                "type": "array",
                "label": "Months"
              }
            ],
            "type": "collection",
            "label": "Scheduling"
          },
          {
            "name": "concept",
            "type": "boolean",
            "label": "Concept"
          },
          {
            "name": "idSequence",
            "type": "uinteger",
            "label": "ID Sequence"
          },
          {
            "name": "created",
            "time": true,
            "type": "date",
            "label": "Created"
          },
          {
            "name": "last_edit",
            "time": true,
            "type": "date",
            "label": "Last Edit"
          },
          {
            "name": "metadata",
            "spec": [
              {
                "name": "input_spec",
                "type": "any",
                "label": "Input Spec"
              },
              {
                "name": "output_spec",
                "type": "any",
                "label": "Output Spec"
              }
            ],
            "type": "collection",
            "label": "Metadata"
          },
          {
            "name": "length",
            "type": "number",
            "label": "Length"
          }
        ],
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:make",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 2417656
      }
    },
    {
      "id": 7,
      "mapper": {
        "team": "{{8.`Team ID`}}",
        "folder": "{{4.id}}",
        "blueprint": "{{6.blueprint}}",
        "scheduling": {},
        "organization": "{{8.`Organization ID`}}"
      },
      "module": "make:createAScenario",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "blueprint",
            "type": "any",
            "label": "Blueprint",
            "required": true
          },
          {
            "name": "organization",
            "type": "select",
            "label": "Organization ID"
          },
          {
            "name": "scheduling",
            "spec": [
              {
                "name": "type",
                "type": "select",
                "label": "Type",
                "validate": {
                  "enum": [
                    "indefinitely",
                    "once",
                    "daily",
                    "weekly",
                    "monthly",
                    "yearly"
                  ]
                }
              }
            ],
            "type": "collection",
            "label": "Scheduling"
          },
          {
            "name": "confirmed",
            "type": "boolean",
            "label": "Confirmed"
          },
          {
            "name": "team",
            "type": "any",
            "label": "Team ID",
            "required": true
          },
          {
            "name": "folder",
            "type": "any",
            "label": "Folder ID"
          }
        ],
        "restore": {
          "expect": {
            "confirmed": {
              "mode": "chose"
            },
            "scheduling": {
              "nested": {
                "type": {
                  "mode": "chose",
                  "label": "Empty"
                }
              }
            },
            "organization": {
              "mode": "edit"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "make"
              },
              "label": "My Make connection (karim@el-kassas.com)"
            }
          }
        },
        "designer": {
          "x": 1800,
          "y": 0,
          "name": "Create Client Scenario"
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:make",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 2417656
      }
    },
    {
      "id": 9,
      "module": "airtable:ActionUpdateRecords",
      "version": 3,
      "metadata": {
        "designer": {
          "x": 2100,
          "y": 0,
          "name": "Update Client"
        }
      }
    }
  ],
  "name": "Create Templates > Client Organization",
  "metadata": {
    "instant": true,
    "version": 1,
    "designer": {
      "orphans": []
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}