scenarios/2719625.json
{
  "flow": [
    {
      "id": 4,
      "mapper": {
        "scope": "roundtrip",
        "variables": [
          {
            "name": "Internal Channel Name",
            "value": "internal-client"
          },
          {
            "name": "External Channel Name",
            "value": "client-zynera"
          },
          {
            "name": "Executive Channel Name",
            "value": "client-executive-zynera"
          }
        ]
      },
      "module": "util:SetVariables",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "variables",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Variable name",
                "required": true
              },
              {
                "name": "value",
                "type": "any",
                "label": "Variable value"
              }
            ],
            "type": "array",
            "label": "Variables"
          },
          {
            "name": "scope",
            "type": "select",
            "label": "Variable lifetime",
            "required": true,
            "validate": {
              "enum": [
                "roundtrip",
                "execution"
              ]
            }
          }
        ],
        "restore": {
          "expect": {
            "scope": {
              "label": "One cycle"
            },
            "variables": {
              "items": [
                null,
                null,
                null
              ]
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 600,
          "name": "Airtable Form Submission"
        },
        "interface": [
          {
            "name": "Internal Channel Name",
            "type": "any",
            "label": "Internal Channel Name"
          },
          {
            "name": "External Channel Name",
            "type": "any",
            "label": "External Channel Name"
          },
          {
            "name": "Executive Channel Name",
            "type": "any",
            "label": "Executive Channel Name"
          }
        ]
      },
      "parameters": {}
    },
    {
      "id": 1,
      "mapper": {
        "name": "{{4.`Internal Channel Name`}}",
        "is_private": true
      },
      "module": "slack:CreateChannel",
      "version": 4,
      "metadata": {
        "expect": [
          {
            "name": "name",
            "type": "text",
            "label": "Name",
            "required": true
          },
          {
            "name": "is_private",
            "type": "boolean",
            "label": "Is private",
            "required": true
          }
        ],
        "restore": {
          "expect": {
            "is_private": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "slack2"
              },
              "label": "My Slack (user) connection (karim)"
            }
          }
        },
        "designer": {
          "x": 300,
          "y": 600,
          "name": "Create Internal"
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:slack2",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 2736810
      }
    },
    {
      "id": 5,
      "mapper": {
        "type": "private",
        "users": [
          "U079DMV8D6C",
          "U07EF8P5D2Q"
        ],
        "channel": "{{1.id}}"
      },
      "module": "slack:InviteUsers",
      "version": 4,
      "metadata": {
        "expect": [
          {
            "name": "type",
            "type": "select",
            "label": "Channel type",
            "required": true,
            "validate": {
              "enum": [
                "public",
                "private"
              ]
            }
          },
          {
            "name": "users",
            "type": "select",
            "label": "Users",
            "multiple": true,
            "required": true
          },
          {
            "name": "channel",
            "type": "select",
            "label": "Private channel",
            "required": true
          }
        ],
        "restore": {
          "expect": {
            "type": {
              "label": "Private channel"
            },
            "users": {
              "mode": "chose",
              "label": [
                "harez",
                "zarvis"
              ]
            },
            "channel": {
              "mode": "edit"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "slack2"
              },
              "label": "My Slack (user) connection (karim)"
            }
          }
        },
        "designer": {
          "x": 600,
          "y": 600,
          "name": "Invite Team Internal"
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:slack2",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 2736810
      }
    },
    {
      "id": 6,
      "mapper": null,
      "module": "builtin:BasicRouter",
      "routes": [
        {
          "flow": [
            {
              "id": 2,
              "mapper": {
                "name": "{{4.`External Channel Name`}}",
                "is_private": true
              },
              "module": "slack:CreateChannel",
              "version": 4,
              "metadata": {
                "expect": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Name",
                    "required": true
                  },
                  {
                    "name": "is_private",
                    "type": "boolean",
                    "label": "Is private",
                    "required": true
                  }
                ],
                "restore": {
                  "expect": {
                    "is_private": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "slack2"
                      },
                      "label": "My Slack (user) connection (karim)"
                    }
                  }
                },
                "designer": {
                  "x": 1200,
                  "y": 450,
                  "name": "Create External"
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:slack2",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2736810
              }
            },
            {
              "id": 7,
              "mapper": {
                "type": "private",
                "users": [
                  "U079DMV8D6C",
                  "U07EF8P5D2Q"
                ],
                "channel": "{{2.id}}"
              },
              "module": "slack:InviteUsers",
              "version": 4,
              "metadata": {
                "expect": [
                  {
                    "name": "type",
                    "type": "select",
                    "label": "Channel type",
                    "required": true,
                    "validate": {
                      "enum": [
                        "public",
                        "private"
                      ]
                    }
                  },
                  {
                    "name": "users",
                    "type": "select",
                    "label": "Users",
                    "multiple": true,
                    "required": true
                  },
                  {
                    "name": "channel",
                    "type": "select",
                    "label": "Private channel",
                    "required": true
                  }
                ],
                "restore": {
                  "expect": {
                    "type": {
                      "label": "Private channel"
                    },
                    "users": {
                      "mode": "chose",
                      "label": [
                        "harez",
                        "zarvis"
                      ]
                    },
                    "channel": {
                      "mode": "edit"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "slack2"
                      },
                      "label": "My Slack (user) connection (karim)"
                    }
                  }
                },
                "designer": {
                  "x": 1500,
                  "y": 450,
                  "name": "Invite Team External"
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:slack2",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2736810
              }
            },
            {
              "id": 9,
              "mapper": null,
              "module": "builtin:BasicRouter",
              "routes": [
                {
                  "flow": [
                    {
                      "id": 3,
                      "mapper": {
                        "name": "{{4.`Executive Channel Name`}}",
                        "is_private": true
                      },
                      "module": "slack:CreateChannel",
                      "version": 4,
                      "metadata": {
                        "expect": [
                          {
                            "name": "name",
                            "type": "text",
                            "label": "Name",
                            "required": true
                          },
                          {
                            "name": "is_private",
                            "type": "boolean",
                            "label": "Is private",
                            "required": true
                          }
                        ],
                        "restore": {
                          "expect": {
                            "is_private": {
                              "mode": "chose"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "slack2"
                              },
                              "label": "My Slack (user) connection (karim)"
                            }
                          }
                        },
                        "designer": {
                          "x": 2100,
                          "y": 0,
                          "name": "Create Executive"
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:slack2",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 2736810
                      }
                    },
                    {
                      "id": 8,
                      "mapper": {
                        "type": "private",
                        "users": [
                          "U079DMV8D6C",
                          "U07EF8P5D2Q"
                        ],
                        "channel": "{{3.id}}"
                      },
                      "module": "slack:InviteUsers",
                      "version": 4,
                      "metadata": {
                        "expect": [
                          {
                            "name": "type",
                            "type": "select",
                            "label": "Channel type",
                            "required": true,
                            "validate": {
                              "enum": [
                                "public",
                                "private"
                              ]
                            }
                          },
                          {
                            "name": "users",
                            "type": "select",
                            "label": "Users",
                            "multiple": true,
                            "required": true
                          },
                          {
                            "name": "channel",
                            "type": "select",
                            "label": "Private channel",
                            "required": true
                          }
                        ],
                        "restore": {
                          "expect": {
                            "type": {
                              "label": "Private channel"
                            },
                            "users": {
                              "mode": "chose",
                              "label": [
                                "harez",
                                "zarvis"
                              ]
                            },
                            "channel": {
                              "mode": "edit"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "slack2"
                              },
                              "label": "My Slack (user) connection (karim)"
                            }
                          }
                        },
                        "designer": {
                          "x": 2400,
                          "y": 0,
                          "name": "Invite Team Executive"
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:slack2",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 2736810
                      }
                    }
                  ],
                  "disabled": true
                },
                {
                  "flow": [
                    {
                      "id": 11,
                      "mapper": {
                        "scope": "roundtrip",
                        "variables": [
                          {
                            "name": "Invitee Array",
                            "value": "{{map(emptyarray; )}}"
                          }
                        ]
                      },
                      "module": "util:SetVariables",
                      "version": 1,
                      "metadata": {
                        "expect": [
                          {
                            "name": "variables",
                            "spec": [
                              {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                              },
                              {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                              }
                            ],
                            "type": "array",
                            "label": "Variables"
                          },
                          {
                            "name": "scope",
                            "type": "select",
                            "label": "Variable lifetime",
                            "required": true,
                            "validate": {
                              "enum": [
                                "roundtrip",
                                "execution"
                              ]
                            }
                          }
                        ],
                        "restore": {
                          "expect": {
                            "scope": {
                              "label": "One cycle"
                            },
                            "variables": {
                              "items": [
                                null
                              ]
                            }
                          }
                        },
                        "designer": {
                          "x": 2100,
                          "y": 600,
                          "name": "Invitee Array"
                        },
                        "interface": [
                          {
                            "name": "Invitee Array",
                            "type": "any",
                            "label": "Invitee Array"
                          }
                        ]
                      },
                      "parameters": {}
                    },
                    {
                      "id": 12,
                      "mapper": null,
                      "module": "builtin:BasicRouter",
                      "routes": [
                        {
                          "flow": [
                            {
                              "id": 13,
                              "mapper": {
                                "array": "{{11.`Invitee Array`}}"
                              },
                              "module": "builtin:BasicFeeder",
                              "version": 1,
                              "metadata": {
                                "expect": [
                                  {
                                    "mode": "edit",
                                    "name": "array",
                                    "spec": [],
                                    "type": "array",
                                    "label": "Array"
                                  }
                                ],
                                "restore": {
                                  "expect": {
                                    "array": {
                                      "mode": "edit"
                                    }
                                  }
                                },
                                "designer": {
                                  "x": 2700,
                                  "y": 300,
                                  "name": "Invitee Array"
                                }
                              },
                              "parameters": {}
                            },
                            {
                              "id": 14,
                              "mapper": {
                                "url": "/conversations.inviteShared",
                                "body": "{\n  \"channel\": \"{{2.id}}\",\n  \"emails\": \"{{13.value}}\"\n}",
                                "domain": "https://slack.com/api/",
                                "method": "POST",
                                "headers": [
                                  {
                                    "key": "Content-Type",
                                    "value": "application/json"
                                  }
                                ]
                              },
                              "module": "slack:MakeAPICall",
                              "version": 4,
                              "metadata": {
                                "expect": [
                                  {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL",
                                    "required": true
                                  },
                                  {
                                    "name": "method",
                                    "type": "select",
                                    "label": "Method",
                                    "required": true,
                                    "validate": {
                                      "enum": [
                                        "GET",
                                        "POST",
                                        "PUT",
                                        "PATCH",
                                        "DELETE"
                                      ]
                                    }
                                  },
                                  {
                                    "name": "headers",
                                    "spec": [
                                      {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                      },
                                      {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                      }
                                    ],
                                    "type": "array",
                                    "label": "Headers"
                                  },
                                  {
                                    "name": "qs",
                                    "spec": [
                                      {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                      },
                                      {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                      }
                                    ],
                                    "type": "array",
                                    "label": "Query String"
                                  },
                                  {
                                    "name": "body",
                                    "type": "any",
                                    "label": "Body"
                                  },
                                  {
                                    "name": "domain",
                                    "type": "select",
                                    "label": "Base URL",
                                    "validate": {
                                      "enum": [
                                        "https://slack.com/api/",
                                        "https://hooks.slack.com/"
                                      ]
                                    }
                                  }
                                ],
                                "restore": {
                                  "expect": {
                                    "qs": {
                                      "mode": "chose"
                                    },
                                    "domain": {
                                      "mode": "chose",
                                      "label": "https://slack.com/api/"
                                    },
                                    "method": {
                                      "mode": "chose",
                                      "label": "POST"
                                    },
                                    "headers": {
                                      "mode": "chose",
                                      "items": [
                                        null
                                      ]
                                    }
                                  },
                                  "parameters": {
                                    "__IMTCONN__": {
                                      "data": {
                                        "scoped": "true",
                                        "connection": "slack3"
                                      },
                                      "label": "My Slack (bot) connection (zarvis)"
                                    }
                                  }
                                },
                                "designer": {
                                  "x": 3000,
                                  "y": 300,
                                  "name": "Invite Client External"
                                },
                                "parameters": [
                                  {
                                    "name": "__IMTCONN__",
                                    "type": "account:slack2,slack3",
                                    "label": "Connection",
                                    "required": true
                                  }
                                ]
                              },
                              "parameters": {
                                "__IMTCONN__": 2736305
                              }
                            },
                            {
                              "id": 23,
                              "mapper": null,
                              "module": "builtin:BasicRouter",
                              "routes": [
                                {
                                  "flow": [
                                    {
                                      "id": 15,
                                      "mapper": {
                                        "url": "/conversations.inviteShared",
                                        "body": "{\n  \"channel\": \"\",\n  \"emails\": \"{{13.value}}\"\n}",
                                        "domain": "https://slack.com/api/",
                                        "method": "POST",
                                        "headers": [
                                          {
                                            "key": "Content-Type",
                                            "value": "application/json"
                                          }
                                        ]
                                      },
                                      "module": "slack:MakeAPICall",
                                      "version": 4,
                                      "metadata": {
                                        "expect": [
                                          {
                                            "name": "url",
                                            "type": "text",
                                            "label": "URL",
                                            "required": true
                                          },
                                          {
                                            "name": "method",
                                            "type": "select",
                                            "label": "Method",
                                            "required": true,
                                            "validate": {
                                              "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                              ]
                                            }
                                          },
                                          {
                                            "name": "headers",
                                            "spec": [
                                              {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                              },
                                              {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                              }
                                            ],
                                            "type": "array",
                                            "label": "Headers"
                                          },
                                          {
                                            "name": "qs",
                                            "spec": [
                                              {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                              },
                                              {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                              }
                                            ],
                                            "type": "array",
                                            "label": "Query String"
                                          },
                                          {
                                            "name": "body",
                                            "type": "any",
                                            "label": "Body"
                                          },
                                          {
                                            "name": "domain",
                                            "type": "select",
                                            "label": "Base URL",
                                            "validate": {
                                              "enum": [
                                                "https://slack.com/api/",
                                                "https://hooks.slack.com/"
                                              ]
                                            }
                                          }
                                        ],
                                        "restore": {
                                          "expect": {
                                            "qs": {
                                              "mode": "chose"
                                            },
                                            "domain": {
                                              "mode": "chose",
                                              "label": "https://slack.com/api/"
                                            },
                                            "method": {
                                              "mode": "chose",
                                              "label": "POST"
                                            },
                                            "headers": {
                                              "mode": "chose",
                                              "items": [
                                                null
                                              ]
                                            }
                                          },
                                          "parameters": {
                                            "__IMTCONN__": {
                                              "data": {
                                                "scoped": "true",
                                                "connection": "slack3"
                                              },
                                              "label": "My Slack (bot) connection (zarvis)"
                                            }
                                          }
                                        },
                                        "designer": {
                                          "x": 3600,
                                          "y": 300,
                                          "name": "Invite Client Executive"
                                        },
                                        "parameters": [
                                          {
                                            "name": "__IMTCONN__",
                                            "type": "account:slack2,slack3",
                                            "label": "Connection",
                                            "required": true
                                          }
                                        ]
                                      },
                                      "parameters": {
                                        "__IMTCONN__": 2736305
                                      }
                                    }
                                  ],
                                  "disabled": true
                                }
                              ],
                              "version": 1,
                              "metadata": {
                                "designer": {
                                  "x": 3300,
                                  "y": 300
                                }
                              }
                            }
                          ]
                        },
                        {
                          "flow": [
                            {
                              "id": 16,
                              "mapper": {
                                "url": "/bookmarks.add",
                                "body": "{\n  \"channel\": \"{{2.id}}\",\n  \"type\": \"link\",\n\"title\": \"Company Brain\",\n\"emoji\": \":brain:\",\n\"link\": \"https://zynera.ai\"\n}",
                                "domain": "https://slack.com/api/",
                                "method": "POST",
                                "headers": [
                                  {
                                    "key": "Content-Type",
                                    "value": "application/json"
                                  }
                                ]
                              },
                              "module": "slack:MakeAPICall",
                              "version": 4,
                              "metadata": {
                                "expect": [
                                  {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL",
                                    "required": true
                                  },
                                  {
                                    "name": "method",
                                    "type": "select",
                                    "label": "Method",
                                    "required": true,
                                    "validate": {
                                      "enum": [
                                        "GET",
                                        "POST",
                                        "PUT",
                                        "PATCH",
                                        "DELETE"
                                      ]
                                    }
                                  },
                                  {
                                    "name": "headers",
                                    "spec": [
                                      {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                      },
                                      {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                      }
                                    ],
                                    "type": "array",
                                    "label": "Headers"
                                  },
                                  {
                                    "name": "qs",
                                    "spec": [
                                      {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                      },
                                      {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                      }
                                    ],
                                    "type": "array",
                                    "label": "Query String"
                                  },
                                  {
                                    "name": "body",
                                    "type": "any",
                                    "label": "Body"
                                  },
                                  {
                                    "name": "domain",
                                    "type": "select",
                                    "label": "Base URL",
                                    "validate": {
                                      "enum": [
                                        "https://slack.com/api/",
                                        "https://hooks.slack.com/"
                                      ]
                                    }
                                  }
                                ],
                                "restore": {
                                  "expect": {
                                    "qs": {
                                      "mode": "chose"
                                    },
                                    "domain": {
                                      "mode": "chose",
                                      "label": "https://slack.com/api/"
                                    },
                                    "method": {
                                      "mode": "chose",
                                      "label": "POST"
                                    },
                                    "headers": {
                                      "mode": "chose",
                                      "items": [
                                        null
                                      ]
                                    }
                                  },
                                  "parameters": {
                                    "__IMTCONN__": {
                                      "data": {
                                        "scoped": "true",
                                        "connection": "slack3"
                                      },
                                      "label": "My Slack (bot) connection (zarvis)"
                                    }
                                  }
                                },
                                "designer": {
                                  "x": 2700,
                                  "y": 600,
                                  "name": "Company Brain Bookmark"
                                },
                                "parameters": [
                                  {
                                    "name": "__IMTCONN__",
                                    "type": "account:slack2,slack3",
                                    "label": "Connection",
                                    "required": true
                                  }
                                ]
                              },
                              "parameters": {
                                "__IMTCONN__": 2736305
                              }
                            },
                            {
                              "id": 17,
                              "mapper": {
                                "url": "/bookmarks.add",
                                "body": "{\n  \"channel\": \"{{2.id}}\",\n  \"type\": \"link\",\n\"title\": \"Roadmap\",\n\"emoji\": \":motorway:\",\n\"link\": \"https://zynera.ai\"\n}",
                                "domain": "https://slack.com/api/",
                                "method": "POST",
                                "headers": [
                                  {
                                    "key": "Content-Type",
                                    "value": "application/json"
                                  }
                                ]
                              },
                              "module": "slack:MakeAPICall",
                              "version": 4,
                              "metadata": {
                                "expect": [
                                  {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL",
                                    "required": true
                                  },
                                  {
                                    "name": "method",
                                    "type": "select",
                                    "label": "Method",
                                    "required": true,
                                    "validate": {
                                      "enum": [
                                        "GET",
                                        "POST",
                                        "PUT",
                                        "PATCH",
                                        "DELETE"
                                      ]
                                    }
                                  },
                                  {
                                    "name": "headers",
                                    "spec": [
                                      {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                      },
                                      {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                      }
                                    ],
                                    "type": "array",
                                    "label": "Headers"
                                  },
                                  {
                                    "name": "qs",
                                    "spec": [
                                      {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                      },
                                      {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                      }
                                    ],
                                    "type": "array",
                                    "label": "Query String"
                                  },
                                  {
                                    "name": "body",
                                    "type": "any",
                                    "label": "Body"
                                  },
                                  {
                                    "name": "domain",
                                    "type": "select",
                                    "label": "Base URL",
                                    "validate": {
                                      "enum": [
                                        "https://slack.com/api/",
                                        "https://hooks.slack.com/"
                                      ]
                                    }
                                  }
                                ],
                                "restore": {
                                  "expect": {
                                    "qs": {
                                      "mode": "chose"
                                    },
                                    "domain": {
                                      "mode": "chose",
                                      "label": "https://slack.com/api/"
                                    },
                                    "method": {
                                      "mode": "chose",
                                      "label": "POST"
                                    },
                                    "headers": {
                                      "mode": "chose",
                                      "items": [
                                        null
                                      ]
                                    }
                                  },
                                  "parameters": {
                                    "__IMTCONN__": {
                                      "data": {
                                        "scoped": "true",
                                        "connection": "slack3"
                                      },
                                      "label": "My Slack (bot) connection (zarvis)"
                                    }
                                  }
                                },
                                "designer": {
                                  "x": 3000,
                                  "y": 600,
                                  "name": "Roadmap Bookmark"
                                },
                                "parameters": [
                                  {
                                    "name": "__IMTCONN__",
                                    "type": "account:slack2,slack3",
                                    "label": "Connection",
                                    "required": true
                                  }
                                ]
                              },
                              "parameters": {
                                "__IMTCONN__": 2736305
                              }
                            },
                            {
                              "id": 18,
                              "mapper": {
                                "url": "/bookmarks.add",
                                "body": "{\n  \"channel\": \"{{2.id}}\",\n  \"type\": \"link\",\n\"title\": \"How does this work?\",\n\"emoji\": \":thinking_face:\",\n\"link\": \"https://zynera.ai\"\n}",
                                "domain": "https://slack.com/api/",
                                "method": "POST",
                                "headers": [
                                  {
                                    "key": "Content-Type",
                                    "value": "application/json"
                                  }
                                ]
                              },
                              "module": "slack:MakeAPICall",
                              "version": 4,
                              "metadata": {
                                "expect": [
                                  {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL",
                                    "required": true
                                  },
                                  {
                                    "name": "method",
                                    "type": "select",
                                    "label": "Method",
                                    "required": true,
                                    "validate": {
                                      "enum": [
                                        "GET",
                                        "POST",
                                        "PUT",
                                        "PATCH",
                                        "DELETE"
                                      ]
                                    }
                                  },
                                  {
                                    "name": "headers",
                                    "spec": [
                                      {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                      },
                                      {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                      }
                                    ],
                                    "type": "array",
                                    "label": "Headers"
                                  },
                                  {
                                    "name": "qs",
                                    "spec": [
                                      {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                      },
                                      {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                      }
                                    ],
                                    "type": "array",
                                    "label": "Query String"
                                  },
                                  {
                                    "name": "body",
                                    "type": "any",
                                    "label": "Body"
                                  },
                                  {
                                    "name": "domain",
                                    "type": "select",
                                    "label": "Base URL",
                                    "validate": {
                                      "enum": [
                                        "https://slack.com/api/",
                                        "https://hooks.slack.com/"
                                      ]
                                    }
                                  }
                                ],
                                "restore": {
                                  "expect": {
                                    "qs": {
                                      "mode": "chose"
                                    },
                                    "domain": {
                                      "mode": "chose",
                                      "label": "https://slack.com/api/"
                                    },
                                    "method": {
                                      "mode": "chose",
                                      "label": "POST"
                                    },
                                    "headers": {
                                      "mode": "chose",
                                      "items": [
                                        null
                                      ]
                                    }
                                  },
                                  "parameters": {
                                    "__IMTCONN__": {
                                      "data": {
                                        "scoped": "true",
                                        "connection": "slack3"
                                      },
                                      "label": "My Slack (bot) connection (zarvis)"
                                    }
                                  }
                                },
                                "designer": {
                                  "x": 3300,
                                  "y": 600,
                                  "name": "FAQ Bookmark"
                                },
                                "parameters": [
                                  {
                                    "name": "__IMTCONN__",
                                    "type": "account:slack2,slack3",
                                    "label": "Connection",
                                    "required": true
                                  }
                                ]
                              },
                              "parameters": {
                                "__IMTCONN__": 2736305
                              }
                            },
                            {
                              "id": 19,
                              "mapper": {
                                "url": "/bookmarks.add",
                                "body": "{\n  \"channel\": \"{{2.id}}\",\n  \"type\": \"link\",\n\"title\": \"Feedback\",\n\"emoji\": \":star:\",\n\"link\": \"https://zynera.ai\"\n}",
                                "domain": "https://slack.com/api/",
                                "method": "POST",
                                "headers": [
                                  {
                                    "key": "Content-Type",
                                    "value": "application/json"
                                  }
                                ]
                              },
                              "module": "slack:MakeAPICall",
                              "version": 4,
                              "metadata": {
                                "expect": [
                                  {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL",
                                    "required": true
                                  },
                                  {
                                    "name": "method",
                                    "type": "select",
                                    "label": "Method",
                                    "required": true,
                                    "validate": {
                                      "enum": [
                                        "GET",
                                        "POST",
                                        "PUT",
                                        "PATCH",
                                        "DELETE"
                                      ]
                                    }
                                  },
                                  {
                                    "name": "headers",
                                    "spec": [
                                      {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                      },
                                      {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                      }
                                    ],
                                    "type": "array",
                                    "label": "Headers"
                                  },
                                  {
                                    "name": "qs",
                                    "spec": [
                                      {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                      },
                                      {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                      }
                                    ],
                                    "type": "array",
                                    "label": "Query String"
                                  },
                                  {
                                    "name": "body",
                                    "type": "any",
                                    "label": "Body"
                                  },
                                  {
                                    "name": "domain",
                                    "type": "select",
                                    "label": "Base URL",
                                    "validate": {
                                      "enum": [
                                        "https://slack.com/api/",
                                        "https://hooks.slack.com/"
                                      ]
                                    }
                                  }
                                ],
                                "restore": {
                                  "expect": {
                                    "qs": {
                                      "mode": "chose"
                                    },
                                    "domain": {
                                      "mode": "chose",
                                      "label": "https://slack.com/api/"
                                    },
                                    "method": {
                                      "mode": "chose",
                                      "label": "POST"
                                    },
                                    "headers": {
                                      "mode": "chose",
                                      "items": [
                                        null
                                      ]
                                    }
                                  },
                                  "parameters": {
                                    "__IMTCONN__": {
                                      "data": {
                                        "scoped": "true",
                                        "connection": "slack3"
                                      },
                                      "label": "My Slack (bot) connection (zarvis)"
                                    }
                                  }
                                },
                                "designer": {
                                  "x": 3600,
                                  "y": 600,
                                  "name": "Feedback Bookmark"
                                },
                                "parameters": [
                                  {
                                    "name": "__IMTCONN__",
                                    "type": "account:slack2,slack3",
                                    "label": "Connection",
                                    "required": true
                                  }
                                ]
                              },
                              "parameters": {
                                "__IMTCONN__": 2736305
                              }
                            },
                            {
                              "id": 20,
                              "mapper": {
                                "url": "/bookmarks.add",
                                "body": "{\n  \"channel\": \"{{2.id}}\",\n  \"type\": \"link\",\n\"title\": \"Company Brain\",\n\"emoji\": \":star:\",\n\"link\": \"https://zynera.ai\"\n}",
                                "domain": "https://slack.com/api/",
                                "method": "POST",
                                "headers": [
                                  {
                                    "key": "Content-Type",
                                    "value": "application/json"
                                  }
                                ]
                              },
                              "module": "slack:MakeAPICall",
                              "version": 4,
                              "metadata": {
                                "expect": [
                                  {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL",
                                    "required": true
                                  },
                                  {
                                    "name": "method",
                                    "type": "select",
                                    "label": "Method",
                                    "required": true,
                                    "validate": {
                                      "enum": [
                                        "GET",
                                        "POST",
                                        "PUT",
                                        "PATCH",
                                        "DELETE"
                                      ]
                                    }
                                  },
                                  {
                                    "name": "headers",
                                    "spec": [
                                      {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                      },
                                      {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                      }
                                    ],
                                    "type": "array",
                                    "label": "Headers"
                                  },
                                  {
                                    "name": "qs",
                                    "spec": [
                                      {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                      },
                                      {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                      }
                                    ],
                                    "type": "array",
                                    "label": "Query String"
                                  },
                                  {
                                    "name": "body",
                                    "type": "any",
                                    "label": "Body"
                                  },
                                  {
                                    "name": "domain",
                                    "type": "select",
                                    "label": "Base URL",
                                    "validate": {
                                      "enum": [
                                        "https://slack.com/api/",
                                        "https://hooks.slack.com/"
                                      ]
                                    }
                                  }
                                ],
                                "restore": {
                                  "expect": {
                                    "qs": {
                                      "mode": "chose"
                                    },
                                    "domain": {
                                      "mode": "chose",
                                      "label": "https://slack.com/api/"
                                    },
                                    "method": {
                                      "mode": "chose",
                                      "label": "POST"
                                    },
                                    "headers": {
                                      "mode": "chose",
                                      "items": [
                                        null
                                      ]
                                    }
                                  },
                                  "parameters": {
                                    "__IMTCONN__": {
                                      "data": {
                                        "scoped": "true",
                                        "connection": "slack3"
                                      },
                                      "label": "My Slack (bot) connection (zarvis)"
                                    }
                                  }
                                },
                                "designer": {
                                  "x": 3900,
                                  "y": 600,
                                  "name": "Feedback Bookmark Executive"
                                },
                                "parameters": [
                                  {
                                    "name": "__IMTCONN__",
                                    "type": "account:slack2,slack3",
                                    "label": "Connection",
                                    "required": true
                                  }
                                ]
                              },
                              "parameters": {
                                "__IMTCONN__": 2736305
                              }
                            }
                          ],
                          "disabled": true
                        },
                        {
                          "flow": [
                            {
                              "id": 21,
                              "module": "util:SetVariables",
                              "version": 1,
                              "metadata": {
                                "designer": {
                                  "x": 2700,
                                  "y": 900,
                                  "name": "Airtable Update Channel IDs"
                                }
                              }
                            },
                            {
                              "id": 22,
                              "mapper": {
                                "parse": false,
                                "blocks": "{\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Kick-off automation ran successfully.\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"This means\\n <{{20.webViewLink}}|{{19.Name}} Gdrive Folders> has been created.\\n External & Exec Channels created <#{{11.id}}> <#{{49.id}}>\\n Internal Channel created (that's this one)\\n Invited all of us here :D \\n Invited {{16.`Contact Email`}} to <#{{11.id}}> \"\n\t\t\t}\n\t\t}\n\t]\n}",
                                "mrkdwn": true,
                                "channel": "{{1.id}}",
                                "channelWType": "manualy"
                              },
                              "module": "slack:CreateMessage",
                              "version": 4,
                              "metadata": {
                                "expect": [
                                  {
                                    "name": "channelWType",
                                    "type": "select",
                                    "label": "Enter a channel ID or name",
                                    "required": true,
                                    "validate": {
                                      "enum": [
                                        "manualy",
                                        "list"
                                      ]
                                    }
                                  },
                                  {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                  },
                                  {
                                    "name": "blocks",
                                    "type": "text",
                                    "label": "Blocks"
                                  },
                                  {
                                    "name": "thread_ts",
                                    "type": "text",
                                    "label": "Thread message ID (time stamp)"
                                  },
                                  {
                                    "name": "reply_broadcast",
                                    "type": "boolean",
                                    "label": "Reply broadcast"
                                  },
                                  {
                                    "name": "link_names",
                                    "type": "boolean",
                                    "label": "Link names"
                                  },
                                  {
                                    "name": "parse",
                                    "type": "boolean",
                                    "label": "Parse message text"
                                  },
                                  {
                                    "name": "mrkdwn",
                                    "type": "boolean",
                                    "label": "Use markdown"
                                  },
                                  {
                                    "name": "unfurl_links",
                                    "type": "boolean",
                                    "label": "Unfurl primarily text-based content"
                                  },
                                  {
                                    "name": "unfurl_media",
                                    "type": "boolean",
                                    "label": "Unfurl media content"
                                  },
                                  {
                                    "name": "icon_emoji",
                                    "type": "text",
                                    "label": "Icon emoji"
                                  },
                                  {
                                    "name": "icon_url",
                                    "type": "url",
                                    "label": "Icon url"
                                  },
                                  {
                                    "name": "username",
                                    "type": "text",
                                    "label": "User name"
                                  },
                                  {
                                    "name": "channel",
                                    "type": "text",
                                    "label": "Channel ID or name",
                                    "required": true
                                  }
                                ],
                                "restore": {
                                  "expect": {
                                    "parse": {
                                      "mode": "chose"
                                    },
                                    "mrkdwn": {
                                      "mode": "chose"
                                    },
                                    "link_names": {
                                      "mode": "chose"
                                    },
                                    "channelWType": {
                                      "label": "Enter manually"
                                    },
                                    "unfurl_links": {
                                      "mode": "chose"
                                    },
                                    "unfurl_media": {
                                      "mode": "chose"
                                    },
                                    "reply_broadcast": {
                                      "mode": "chose"
                                    }
                                  },
                                  "parameters": {
                                    "__IMTCONN__": {
                                      "data": {
                                        "scoped": "true",
                                        "connection": "slack3"
                                      },
                                      "label": "My Slack (bot) connection (zarvis)"
                                    }
                                  }
                                },
                                "designer": {
                                  "x": 3000,
                                  "y": 900,
                                  "name": "Confirmation Message Internal",
                                  "messages": [
                                    {
                                      "message": "Module references non-existing module '49'.",
                                      "category": "reference",
                                      "severity": "error"
                                    },
                                    {
                                      "message": "Referenced module 'Slack - Make an API Call' [16] is not accessible.",
                                      "category": "reference",
                                      "severity": "warning"
                                    },
                                    {
                                      "message": "Referenced module 'Slack - Make an API Call' [19] is not accessible.",
                                      "category": "reference",
                                      "severity": "warning"
                                    },
                                    {
                                      "message": "Referenced module 'Slack - Make an API Call' [20] is not accessible.",
                                      "category": "reference",
                                      "severity": "warning"
                                    }
                                  ]
                                },
                                "parameters": [
                                  {
                                    "name": "__IMTCONN__",
                                    "type": "account:slack2,slack3",
                                    "label": "Connection",
                                    "required": true
                                  }
                                ]
                              },
                              "parameters": {
                                "__IMTCONN__": 2736305
                              }
                            }
                          ]
                        }
                      ],
                      "version": 1,
                      "metadata": {
                        "designer": {
                          "x": 2400,
                          "y": 600
                        }
                      }
                    }
                  ]
                }
              ],
              "version": 1,
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 450
                }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 24,
              "mapper": {
                "name": "{{emptystring}}",
                "send": false,
                "fields": {},
                "tokens": {},
                "template": "F2s3y6DU6d6dZes7L5wSSL",
                "folder_uuid": null
              },
              "module": "pandadoc:createADocuments",
              "version": 1,
              "metadata": {
                "expect": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Document Name",
                    "required": true
                  },
                  {
                    "name": "template",
                    "type": "select",
                    "label": "Template ID",
                    "required": true
                  },
                  {
                    "name": "send",
                    "type": "boolean",
                    "label": "Send a document",
                    "required": true
                  },
                  {
                    "name": "folder_uuid",
                    "type": "folder",
                    "label": "Folder"
                  },
                  {
                    "name": "tags",
                    "spec": {
                      "name": "value",
                      "type": "text",
                      "label": "Tag"
                    },
                    "type": "array",
                    "label": "Tags"
                  },
                  {
                    "name": "images",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Image Block Name",
                        "required": true
                      },
                      {
                        "name": "urls",
                        "type": "url",
                        "label": "Image URL",
                        "required": true
                      }
                    ],
                    "type": "array",
                    "label": "Images"
                  },
                  {
                    "name": "metadata",
                    "spec": [
                      {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value",
                        "required": true
                      }
                    ],
                    "type": "array",
                    "label": "Document Metadata"
                  },
                  {
                    "name": "content_placeholders",
                    "spec": [
                      {
                        "name": "block_id",
                        "type": "select",
                        "label": "Block ID",
                        "dynamic": true,
                        "options": [],
                        "required": true
                      },
                      {
                        "name": "content_library_items",
                        "spec": [
                          {
                            "name": "id",
                            "type": "select",
                            "label": "Content Library Item ID",
                            "dynamic": true,
                            "options": {
                              "store": []
                            },
                            "required": true
                          }
                        ],
                        "type": "array",
                        "label": "Content Library Items",
                        "required": true
                      }
                    ],
                    "type": "array",
                    "label": "Content Placeholders"
                  },
                  {
                    "name": "tokens",
                    "spec": [
                      {
                        "name": "Client.Email",
                        "type": "email",
                        "label": "Role: Client Email",
                        "metadata": {
                          "role": "Client"
                        }
                      },
                      {
                        "name": "Sender.Email",
                        "type": "email",
                        "label": "Role: Sender Email",
                        "metadata": {
                          "role": "Sender"
                        }
                      },
                      {
                        "name": "Client.City",
                        "type": "text",
                        "label": "Role: Client  City ",
                        "metadata": {
                          "role": "Client"
                        }
                      },
                      {
                        "name": "Client.Company",
                        "type": "text",
                        "label": "Role: Client  Company ",
                        "metadata": {
                          "role": "Client"
                        }
                      },
                      {
                        "name": "Client.FirstName",
                        "type": "text",
                        "label": "Role: Client  First Name ",
                        "metadata": {
                          "role": "Client"
                        }
                      },
                      {
                        "name": "Client.LastName",
                        "type": "text",
                        "label": "Role: Client  Last Name ",
                        "metadata": {
                          "role": "Client"
                        }
                      },
                      {
                        "name": "Client.PostalCode",
                        "type": "text",
                        "label": "Role: Client  Postal Code ",
                        "metadata": {
                          "role": "Client"
                        }
                      },
                      {
                        "name": "Client.StreetAddress",
                        "type": "text",
                        "label": "Role: Client  Street Address ",
                        "metadata": {
                          "role": "Client"
                        }
                      },
                      {
                        "name": "Sender.City",
                        "type": "text",
                        "label": "Role: Sender  City ",
                        "metadata": {
                          "role": "Sender"
                        }
                      },
                      {
                        "name": "Sender.Company",
                        "type": "text",
                        "label": "Role: Sender  Company ",
                        "metadata": {
                          "role": "Sender"
                        }
                      },
                      {
                        "name": "Sender.FirstName",
                        "type": "text",
                        "label": "Role: Sender  First Name ",
                        "metadata": {
                          "role": "Sender"
                        }
                      },
                      {
                        "name": "Sender.LastName",
                        "type": "text",
                        "label": "Role: Sender  Last Name ",
                        "metadata": {
                          "role": "Sender"
                        }
                      },
                      {
                        "name": "Sender.PostalCode",
                        "type": "text",
                        "label": "Role: Sender  Postal Code ",
                        "metadata": {
                          "role": "Sender"
                        }
                      },
                      {
                        "name": "Sender.StreetAddress",
                        "type": "text",
                        "label": "Role: Sender  Street Address ",
                        "metadata": {
                          "role": "Sender"
                        }
                      }
                    ],
                    "type": "collection",
                    "label": "Tokens"
                  },
                  {
                    "name": "fields",
                    "spec": [
                      {
                        "name": "MM / DD / YYYY",
                        "type": "text",
                        "label": "Sender MM / DD / YYYY"
                      }
                    ],
                    "type": "collection",
                    "label": "Fields"
                  },
                  {
                    "name": "recipients",
                    "spec": [
                      {
                        "name": "email",
                        "type": "email",
                        "label": "Email",
                        "required": true
                      },
                      {
                        "name": "first_name",
                        "type": "text",
                        "label": "First name"
                      },
                      {
                        "name": "last_name",
                        "type": "text",
                        "label": "Last name"
                      }
                    ],
                    "type": "array",
                    "label": "CC Recipients"
                  }
                ],
                "restore": {
                  "expect": {
                    "tags": {
                      "mode": "chose"
                    },
                    "images": {
                      "mode": "chose"
                    },
                    "metadata": {
                      "mode": "chose"
                    },
                    "template": {
                      "mode": "chose",
                      "label": "Beratungsvertrag V1"
                    },
                    "recipients": {
                      "mode": "chose"
                    },
                    "folder_uuid": {
                      "mode": "chose"
                    },
                    "content_placeholders": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "pandadoc"
                      },
                      "label": "My PandaDoc connection (hello@zynera.de)"
                    }
                  }
                },
                "designer": {
                  "x": 1200,
                  "y": 1200
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:pandadoc",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2756561
              }
            }
          ]
        }
      ],
      "version": 1,
      "metadata": {
        "designer": {
          "x": 900,
          "y": 600
        }
      }
    }
  ],
  "name": "1 - Onboarding Submission | Airtable > Slack @kelkassas",
  "metadata": {
    "instant": false,
    "version": 1,
    "designer": {
      "orphans": []
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}