scenarios/2719920.json
{
  "flow": [
    {
      "id": 47,
      "mapper": {},
      "module": "util:BasicTrigger",
      "version": 1,
      "metadata": {
        "restore": {
          "parameters": {
            "values": {
              "items": [
                {
                  "spec": {
                    "mode": "chose",
                    "items": [
                      null,
                      null
                    ]
                  }
                }
              ]
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 450
        },
        "interface": [
          {
            "name": "test",
            "type": "text",
            "label": "test"
          }
        ],
        "parameters": [
          {
            "name": "values",
            "spec": [
              {
                "name": "spec",
                "spec": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Name",
                    "required": true
                  },
                  {
                    "name": "value",
                    "type": "text",
                    "label": "Value",
                    "required": true
                  }
                ],
                "type": "array",
                "label": "Items",
                "required": true
              }
            ],
            "type": "array",
            "label": "Bundles",
            "required": true
          }
        ]
      },
      "parameters": {
        "values": [
          {
            "spec": [
              {
                "name": "Test",
                "value": "Test"
              },
              {
                "name": "Test",
                "value": "Test"
              }
            ]
          }
        ]
      }
    },
    {
      "id": 48,
      "mapper": null,
      "module": "builtin:BasicRouter",
      "routes": [
        {
          "flow": [
            {
              "id": 35,
              "mapper": {
                "base": "appmLkopsWumFkgXM",
                "table": "tblMaSYop5fzqigPi",
                "record": {
                  "fldMl8lw9Cf18yOni": {},
                  "fldq3AEE1cemrs39R": "Hi",
                  "fldxXiZHRiVpKszM6": "Zacharia Test"
                },
                "typecast": false,
                "useColumnId": true
              },
              "module": "airtable:ActionCreateRecord",
              "version": 3,
              "metadata": {
                "expect": [
                  {
                    "name": "base",
                    "type": "select",
                    "label": "Base",
                    "required": true
                  },
                  {
                    "name": "typecast",
                    "type": "boolean",
                    "label": "Smart links",
                    "required": true
                  },
                  {
                    "name": "useColumnId",
                    "type": "boolean",
                    "label": "Use Column ID",
                    "required": true
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  },
                  {
                    "name": "record",
                    "spec": [
                      {
                        "mode": "edit",
                        "name": "fldkdKw2c3nBm9kGJ",
                        "type": "select",
                        "label": "Status"
                      },
                      {
                        "name": "fldMl8lw9Cf18yOni",
                        "spec": [
                          {
                            "name": "id",
                            "type": "text",
                            "label": "ID"
                          },
                          {
                            "name": "email",
                            "type": "email",
                            "label": "Email"
                          }
                        ],
                        "type": "collection",
                        "label": "Airtable User"
                      },
                      {
                        "name": "fldzL9feKkz4PufmD",
                        "spec": {
                          "name": "value",
                          "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Meetings"
                      },
                      {
                        "name": "fldxXiZHRiVpKszM6",
                        "type": "text",
                        "label": "Prename"
                      },
                      {
                        "name": "fldBxBm5QvWqYcsNg",
                        "type": "text",
                        "label": "Lastname"
                      },
                      {
                        "name": "fldYxoy6SCynnUMgx",
                        "type": "text",
                        "label": "Email"
                      },
                      {
                        "name": "fldq3AEE1cemrs39R",
                        "type": "text",
                        "label": "Slack ID"
                      },
                      {
                        "mode": "edit",
                        "name": "fld0USfkRcnXGScFB",
                        "type": "select",
                        "label": "Timezone"
                      },
                      {
                        "name": "fldeWZiGJW1XKSKxA",
                        "spec": [
                          {
                            "name": "url",
                            "type": "text",
                            "label": "File URL"
                          },
                          {
                            "name": "filename",
                            "type": "filename",
                            "label": "File name"
                          }
                        ],
                        "type": "array",
                        "label": "Profile Picture"
                      },
                      {
                        "name": "fldozHkkEY73ULjYZ",
                        "type": "text",
                        "label": "Phone"
                      },
                      {
                        "mode": "edit",
                        "name": "fldWOkEF4MMNfct3D",
                        "type": "select",
                        "label": "Role"
                      },
                      {
                        "name": "fldm3VEUlEZOp8mjG",
                        "spec": {
                          "name": "value",
                          "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Clients"
                      },
                      {
                        "name": "fldbJdKMR8RY9fwU8",
                        "spec": {
                          "name": "value",
                          "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Features"
                      }
                    ],
                    "type": "collection",
                    "label": "Record"
                  }
                ],
                "restore": {
                  "expect": {
                    "base": {
                      "label": "Zynera OS"
                    },
                    "table": {
                      "label": "Team",
                      "nested": [
                        {
                          "name": "record",
                          "spec": [
                            {
                              "mode": "edit",
                              "name": "fldkdKw2c3nBm9kGJ",
                              "type": "select",
                              "label": "Status",
                              "dynamic": true,
                              "options": [
                                {
                                  "label": "Active",
                                  "value": "Active"
                                },
                                {
                                  "label": "Onboarding",
                                  "value": "Onboarding"
                                },
                                {
                                  "label": "Inactive",
                                  "value": "Inactive"
                                }
                              ],
                              "validate": false
                            },
                            {
                              "name": "fldMl8lw9Cf18yOni",
                              "spec": [
                                {
                                  "help": "Unique user id",
                                  "name": "id",
                                  "type": "text",
                                  "label": "ID"
                                },
                                {
                                  "help": "User's email address",
                                  "name": "email",
                                  "type": "email",
                                  "label": "Email"
                                }
                              ],
                              "type": "collection",
                              "label": "Airtable User"
                            },
                            {
                              "name": "fldzL9feKkz4PufmD",
                              "spec": {
                                "label": "Record ID"
                              },
                              "type": "array",
                              "label": "Meetings"
                            },
                            {
                              "name": "fldxXiZHRiVpKszM6",
                              "type": "text",
                              "label": "Prename"
                            },
                            {
                              "name": "fldBxBm5QvWqYcsNg",
                              "type": "text",
                              "label": "Lastname"
                            },
                            {
                              "name": "fldYxoy6SCynnUMgx",
                              "type": "text",
                              "label": "Email"
                            },
                            {
                              "name": "fldq3AEE1cemrs39R",
                              "type": "text",
                              "label": "Slack ID"
                            },
                            {
                              "mode": "edit",
                              "name": "fld0USfkRcnXGScFB",
                              "type": "select",
                              "label": "Timezone",
                              "dynamic": true,
                              "options": [
                                {
                                  "label": "Europe/Amsterdam",
                                  "value": "Europe/Amsterdam"
                                }
                              ],
                              "validate": false
                            },
                            {
                              "name": "fldeWZiGJW1XKSKxA",
                              "spec": [
                                {
                                  "help": "Airtable will download the file at the given url and keep its own copy of it.",
                                  "name": "url",
                                  "type": "text",
                                  "label": "File URL"
                                },
                                {
                                  "help": "If empty, Airtable will generate the name automatically.",
                                  "name": "filename",
                                  "type": "filename",
                                  "label": "File name"
                                }
                              ],
                              "type": "array",
                              "label": "Profile Picture",
                              "editable": true
                            },
                            {
                              "name": "fldozHkkEY73ULjYZ",
                              "type": "text",
                              "label": "Phone"
                            },
                            {
                              "mode": "edit",
                              "name": "fldWOkEF4MMNfct3D",
                              "type": "select",
                              "label": "Role",
                              "dynamic": true,
                              "options": [
                                {
                                  "label": "Customer Success",
                                  "value": "Customer Success"
                                },
                                {
                                  "label": "Developer",
                                  "value": "Developer"
                                }
                              ],
                              "validate": false
                            },
                            {
                              "name": "fldm3VEUlEZOp8mjG",
                              "spec": {
                                "label": "Record ID"
                              },
                              "type": "array",
                              "label": "Clients"
                            },
                            {
                              "name": "fldbJdKMR8RY9fwU8",
                              "spec": {
                                "label": "Record ID"
                              },
                              "type": "array",
                              "label": "Features"
                            }
                          ],
                          "type": "collection",
                          "label": "Record"
                        }
                      ]
                    },
                    "record": {
                      "nested": {
                        "fld0USfkRcnXGScFB": {
                          "mode": "edit"
                        },
                        "fldWOkEF4MMNfct3D": {
                          "mode": "edit"
                        },
                        "fldbJdKMR8RY9fwU8": {
                          "mode": "chose"
                        },
                        "fldeWZiGJW1XKSKxA": {
                          "mode": "chose"
                        },
                        "fldkdKw2c3nBm9kGJ": {
                          "mode": "edit"
                        },
                        "fldm3VEUlEZOp8mjG": {
                          "mode": "chose"
                        },
                        "fldzL9feKkz4PufmD": {
                          "mode": "chose"
                        }
                      }
                    },
                    "typecast": {
                      "mode": "chose"
                    },
                    "useColumnId": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "airtable3"
                      },
                      "label": "Karim's Airtable connection (User ID: usryWvTaoddQVF23q)"
                    }
                  }
                },
                "advanced": true,
                "designer": {
                  "x": 600,
                  "y": 0
                },
                "interface": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "createdTime",
                    "type": "date",
                    "label": "Created Time"
                  },
                  {
                    "name": "fld8JSvFF9DHvyx8U",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "fldkdKw2c3nBm9kGJ",
                    "type": "text",
                    "label": "Status"
                  },
                  {
                    "name": "fldMl8lw9Cf18yOni",
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      }
                    ],
                    "type": "collection",
                    "label": "Airtable User"
                  },
                  {
                    "name": "fldzL9feKkz4PufmD",
                    "spec": {
                      "label": "Record ID"
                    },
                    "type": "array",
                    "label": "Meetings"
                  },
                  {
                    "name": "fldxXiZHRiVpKszM6",
                    "type": "text",
                    "label": "Prename"
                  },
                  {
                    "name": "fldBxBm5QvWqYcsNg",
                    "type": "text",
                    "label": "Lastname"
                  },
                  {
                    "name": "fldYxoy6SCynnUMgx",
                    "type": "text",
                    "label": "Email"
                  },
                  {
                    "name": "fldq3AEE1cemrs39R",
                    "type": "text",
                    "label": "Slack ID"
                  },
                  {
                    "name": "fld0USfkRcnXGScFB",
                    "type": "text",
                    "label": "Timezone"
                  },
                  {
                    "name": "fldeWZiGJW1XKSKxA",
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "width",
                        "type": "uinteger",
                        "label": "Width"
                      },
                      {
                        "name": "height",
                        "type": "uinteger",
                        "label": "Height"
                      },
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      },
                      {
                        "name": "filename",
                        "type": "filename",
                        "label": "File name"
                      },
                      {
                        "name": "size",
                        "type": "uinteger",
                        "label": "Size"
                      },
                      {
                        "name": "type",
                        "type": "text",
                        "label": "MIME type"
                      },
                      {
                        "name": "thumbnails",
                        "spec": [
                          {
                            "name": "small",
                            "spec": [
                              {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                              },
                              {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                              },
                              {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                              }
                            ],
                            "type": "collection",
                            "label": "Small"
                          },
                          {
                            "name": "large",
                            "spec": [
                              {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                              },
                              {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                              },
                              {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                              }
                            ],
                            "type": "collection",
                            "label": "Large"
                          },
                          {
                            "name": "full",
                            "spec": [
                              {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                              },
                              {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                              },
                              {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                              }
                            ],
                            "type": "collection",
                            "label": "Full"
                          }
                        ],
                        "type": "collection",
                        "label": "Thumbnails"
                      }
                    ],
                    "type": "array",
                    "label": "Profile Picture"
                  },
                  {
                    "name": "fldozHkkEY73ULjYZ",
                    "type": "text",
                    "label": "Phone"
                  },
                  {
                    "name": "fldWOkEF4MMNfct3D",
                    "type": "text",
                    "label": "Role"
                  },
                  {
                    "name": "flddc9lk1X9XKHn2B",
                    "type": "date",
                    "label": "Created at"
                  },
                  {
                    "name": "fldyOChw50mZWwLyw",
                    "type": "date",
                    "label": "Upadted at"
                  },
                  {
                    "name": "fldMyEFUgTElWNWUk",
                    "type": "text",
                    "label": "Record ID"
                  },
                  {
                    "name": "fldm3VEUlEZOp8mjG",
                    "spec": {
                      "label": "Record ID"
                    },
                    "type": "array",
                    "label": "Clients"
                  },
                  {
                    "name": "fldbJdKMR8RY9fwU8",
                    "spec": {
                      "label": "Record ID"
                    },
                    "type": "array",
                    "label": "Features"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:airtable3,airtable2",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2419123
              }
            },
            {
              "id": 34,
              "mapper": {
                "id": "{{35.id}}",
                "base": "appmLkopsWumFkgXM",
                "table": "tblMaSYop5fzqigPi"
              },
              "module": "airtable:ActionDeleteRecord",
              "version": 3,
              "metadata": {
                "expect": [
                  {
                    "name": "base",
                    "type": "select",
                    "label": "Base",
                    "required": true
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  },
                  {
                    "name": "id",
                    "type": "text",
                    "label": "Record ID",
                    "required": true
                  }
                ],
                "restore": {
                  "expect": {
                    "base": {
                      "mode": "chose",
                      "label": "Zynera OS"
                    },
                    "table": {
                      "mode": "chose",
                      "label": "Team"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "airtable3"
                      },
                      "label": "Karim's Airtable connection (User ID: usryWvTaoddQVF23q)"
                    }
                  }
                },
                "designer": {
                  "x": 900,
                  "y": 0
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:airtable3,airtable2",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2419123
              }
            },
            {
              "id": 33,
              "mapper": {
                "base": "appmLkopsWumFkgXM",
                "table": "tblMaSYop5fzqigPi",
                "formula": "{{35.fldWOkEF4MMNfct3D}}='Developer'",
                "useColumnId": false
              },
              "module": "airtable:ActionSearchRecords",
              "version": 3,
              "metadata": {
                "expect": [
                  {
                    "name": "base",
                    "type": "select",
                    "label": "Base",
                    "required": true
                  },
                  {
                    "name": "useColumnId",
                    "type": "boolean",
                    "label": "Use Column ID",
                    "required": true
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  },
                  {
                    "name": "formula",
                    "type": "text",
                    "label": "Formula"
                  },
                  {
                    "name": "maxRecords",
                    "type": "integer",
                    "label": "Limit"
                  },
                  {
                    "name": "sort",
                    "spec": [
                      {
                        "name": "field",
                        "type": "select",
                        "label": "Field",
                        "dynamic": true,
                        "options": []
                      },
                      {
                        "name": "direction",
                        "type": "select",
                        "label": "Direction",
                        "options": [
                          {
                            "label": "Descending",
                            "value": "desc"
                          },
                          {
                            "label": "Ascending",
                            "value": "asc"
                          }
                        ]
                      }
                    ],
                    "type": "array",
                    "label": "Sort"
                  },
                  {
                    "name": "view",
                    "type": "select",
                    "label": "View"
                  },
                  {
                    "name": "fields",
                    "type": "select",
                    "label": "Output Fields",
                    "multiple": true
                  }
                ],
                "restore": {
                  "expect": {
                    "base": {
                      "mode": "chose",
                      "label": "Zynera OS"
                    },
                    "sort": {
                      "mode": "chose"
                    },
                    "view": {
                      "mode": "chose"
                    },
                    "table": {
                      "mode": "chose",
                      "label": "Team"
                    },
                    "fields": {
                      "mode": "chose"
                    },
                    "maxRecords": {
                      "empty": true
                    },
                    "useColumnId": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "airtable3"
                      },
                      "label": "Karim's Airtable connection (User ID: usryWvTaoddQVF23q)"
                    }
                  }
                },
                "designer": {
                  "x": 1200,
                  "y": 0
                },
                "interface": [
                  {
                    "name": "__IMTLENGTH__",
                    "type": "uinteger",
                    "label": "Total number of bundles"
                  },
                  {
                    "name": "__IMTINDEX__",
                    "type": "uinteger",
                    "label": "Bundle order position"
                  },
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "createdTime",
                    "type": "date",
                    "label": "Created Time"
                  },
                  {
                    "name": "Name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "Status",
                    "type": "text",
                    "label": "Status"
                  },
                  {
                    "name": "Airtable User",
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      }
                    ],
                    "type": "collection",
                    "label": "Airtable User"
                  },
                  {
                    "name": "Meetings",
                    "spec": {
                      "label": "Record ID"
                    },
                    "type": "array",
                    "label": "Meetings"
                  },
                  {
                    "name": "Prename",
                    "type": "text",
                    "label": "Prename"
                  },
                  {
                    "name": "Lastname",
                    "type": "text",
                    "label": "Lastname"
                  },
                  {
                    "name": "Email",
                    "type": "text",
                    "label": "Email"
                  },
                  {
                    "name": "Slack ID",
                    "type": "text",
                    "label": "Slack ID"
                  },
                  {
                    "name": "Timezone",
                    "type": "text",
                    "label": "Timezone"
                  },
                  {
                    "name": "Profile Picture",
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "width",
                        "type": "uinteger",
                        "label": "Width"
                      },
                      {
                        "name": "height",
                        "type": "uinteger",
                        "label": "Height"
                      },
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      },
                      {
                        "name": "filename",
                        "type": "filename",
                        "label": "File name"
                      },
                      {
                        "name": "size",
                        "type": "uinteger",
                        "label": "Size"
                      },
                      {
                        "name": "type",
                        "type": "text",
                        "label": "MIME type"
                      },
                      {
                        "name": "thumbnails",
                        "spec": [
                          {
                            "name": "small",
                            "spec": [
                              {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                              },
                              {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                              },
                              {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                              }
                            ],
                            "type": "collection",
                            "label": "Small"
                          },
                          {
                            "name": "large",
                            "spec": [
                              {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                              },
                              {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                              },
                              {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                              }
                            ],
                            "type": "collection",
                            "label": "Large"
                          },
                          {
                            "name": "full",
                            "spec": [
                              {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                              },
                              {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                              },
                              {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                              }
                            ],
                            "type": "collection",
                            "label": "Full"
                          }
                        ],
                        "type": "collection",
                        "label": "Thumbnails"
                      }
                    ],
                    "type": "array",
                    "label": "Profile Picture"
                  },
                  {
                    "name": "Phone",
                    "type": "text",
                    "label": "Phone"
                  },
                  {
                    "name": "Role",
                    "type": "text",
                    "label": "Role"
                  },
                  {
                    "name": "Created at",
                    "type": "date",
                    "label": "Created at"
                  },
                  {
                    "name": "Upadted at",
                    "type": "date",
                    "label": "Upadted at"
                  },
                  {
                    "name": "Record ID",
                    "type": "text",
                    "label": "Record ID"
                  },
                  {
                    "name": "Clients",
                    "spec": {
                      "label": "Record ID"
                    },
                    "type": "array",
                    "label": "Clients"
                  },
                  {
                    "name": "Features",
                    "spec": {
                      "label": "Record ID"
                    },
                    "type": "array",
                    "label": "Features"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:airtable3,airtable2",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2419123
              }
            }
          ],
          "disabled": true
        },
        {
          "flow": [
            {
              "id": 36,
              "mapper": {
                "model": "sonar",
                "messages": [
                  {
                    "role": "system",
                    "content": "You are a factual data extraction assistant. Extract exact numerical values only."
                  },
                  {
                    "role": "user",
                    "content": "Extract the number of employees from the webpage:\n\nhttps://www.bayer-praezisionsteile.de/\n\nReturn the result in the format: '[number] Mitarbeiter'. If no number is found, return only '-'. If e.g. 10+ employees is stated, just return 10—same applies to a range, return the lower number. If you return anything then an integer + the type of employee, you will be punished!"
                  }
                ]
              },
              "module": "perplexity-ai:createAChatCompletion",
              "version": 1,
              "metadata": {
                "expect": [
                  {
                    "name": "model",
                    "type": "select",
                    "label": "Model",
                    "required": true
                  },
                  {
                    "name": "messages",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content",
                        "required": true
                      },
                      {
                        "name": "role",
                        "type": "select",
                        "label": "Role",
                        "options": [
                          {
                            "label": "User",
                            "value": "user"
                          },
                          {
                            "label": "Assistant",
                            "value": "assistant"
                          },
                          {
                            "label": "System",
                            "value": "system"
                          }
                        ],
                        "required": true
                      }
                    ],
                    "type": "array",
                    "label": "Messages",
                    "required": true
                  },
                  {
                    "name": "max_tokens",
                    "type": "number",
                    "label": "Max Tokens"
                  },
                  {
                    "name": "temperature",
                    "type": "number",
                    "label": "Temperature",
                    "validate": {
                      "max": 1.999,
                      "min": 0
                    }
                  },
                  {
                    "name": "top_p",
                    "type": "number",
                    "label": "Top P",
                    "validate": {
                      "max": 1,
                      "min": 0
                    }
                  },
                  {
                    "name": "top_k",
                    "type": "number",
                    "label": "Top K",
                    "validate": {
                      "max": 2048,
                      "min": 0
                    }
                  },
                  {
                    "name": "presence_penalty",
                    "type": "number",
                    "label": "Presence Penalty",
                    "validate": {
                      "max": 2,
                      "min": -2
                    }
                  },
                  {
                    "name": "frequency_penalty",
                    "type": "number",
                    "label": "Frequency Penalty",
                    "validate": {
                      "min": 0
                    }
                  },
                  {
                    "name": "search_domain_filter",
                    "spec": {
                      "name": "value",
                      "type": "text"
                    },
                    "type": "array",
                    "label": "Search Domain Filter"
                  },
                  {
                    "name": "search_recency_filter",
                    "type": "select",
                    "label": "Search Recency Filter",
                    "validate": {
                      "enum": [
                        "month",
                        "week",
                        "day",
                        "hour"
                      ]
                    }
                  },
                  {
                    "name": "return_images",
                    "type": "boolean",
                    "label": "Return Images"
                  },
                  {
                    "name": "return_related_questions",
                    "type": "boolean",
                    "label": "Return Related Questions"
                  }
                ],
                "restore": {
                  "expect": {
                    "model": {
                      "mode": "chose",
                      "label": "sonar"
                    },
                    "messages": {
                      "mode": "chose",
                      "items": [
                        {
                          "role": {
                            "mode": "chose",
                            "label": "System"
                          }
                        },
                        {
                          "role": {
                            "mode": "chose",
                            "label": "User"
                          }
                        }
                      ]
                    },
                    "return_images": {
                      "mode": "chose"
                    },
                    "search_domain_filter": {
                      "mode": "chose"
                    },
                    "search_recency_filter": {
                      "mode": "chose",
                      "label": "Empty"
                    },
                    "return_related_questions": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "perplexity-ai"
                      },
                      "label": "Karim's Perplexity connection"
                    }
                  }
                },
                "designer": {
                  "x": 600,
                  "y": 450
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:perplexity-ai",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 3057961
              }
            },
            {
              "id": 37,
              "mapper": {
                "scope": "roundtrip",
                "variables": [
                  {
                    "name": "Head Count",
                    "value": "{{36.choices[].message.content}}"
                  }
                ]
              },
              "module": "util:SetVariables",
              "version": 1,
              "metadata": {
                "expect": [
                  {
                    "name": "variables",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                      }
                    ],
                    "type": "array",
                    "label": "Variables"
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  }
                ],
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    },
                    "variables": {
                      "items": [
                        null
                      ]
                    }
                  }
                },
                "designer": {
                  "x": 900,
                  "y": 450
                },
                "interface": [
                  {
                    "name": "Head Count",
                    "type": "any",
                    "label": "Head Count"
                  }
                ]
              },
              "parameters": {}
            },
            {
              "id": 46,
              "mapper": null,
              "module": "builtin:BasicRouter",
              "routes": [
                {
                  "flow": [
                    {
                      "id": 42,
                      "mapper": {
                        "model": "gpt-4o",
                        "top_p": "1",
                        "select": "chat",
                        "messages": [
                          {
                            "role": "system",
                            "content": "You are a data extraction assistant specializing in retrieving precise numerical and factual information from web pages. Your responses must be strictly accurate and formatted clearly. If the requested information is found, return it exactly as written on the page. If it is not found, return '-' without additional text or assumptions."
                          },
                          {
                            "role": "user",
                            "content": "Extract the number of employees from the webpage:\nhttps://www.devex-gmbh.de\n\nIf an exact number is found, return it in the format: \n'[number] Mitarbeiter' (e.g., '10 Mitarbeiter').\n\nIf no number is found, return it in this format:\n'-' (without quotes).\n\nDo not guess or provide unrelated information.",
                            "imageDetail": "auto"
                          }
                        ],
                        "max_tokens": "1024",
                        "temperature": "0.7",
                        "n_completions": "1",
                        "response_format": "text"
                      },
                      "module": "openai-gpt-3:CreateCompletion",
                      "version": 1,
                      "metadata": {
                        "expect": [
                          {
                            "name": "select",
                            "type": "select",
                            "label": "Select Method",
                            "required": true,
                            "validate": {
                              "enum": [
                                "chat",
                                "prompt"
                              ]
                            }
                          },
                          {
                            "name": "temperature",
                            "type": "number",
                            "label": "Temperature",
                            "validate": {
                              "max": 2,
                              "min": 0
                            }
                          },
                          {
                            "name": "top_p",
                            "type": "number",
                            "label": "Top P",
                            "validate": {
                              "max": 1,
                              "min": 0
                            }
                          },
                          {
                            "name": "n_completions",
                            "type": "number",
                            "label": "Number"
                          },
                          {
                            "name": "frequency_penalty",
                            "type": "number",
                            "label": "Frequency Penalty",
                            "validate": {
                              "max": 2,
                              "min": -2
                            }
                          },
                          {
                            "name": "presence_penalty",
                            "type": "number",
                            "label": "Presence Penalty",
                            "validate": {
                              "max": 2,
                              "min": -2
                            }
                          },
                          {
                            "name": "logit_bias",
                            "spec": {
                              "name": "value",
                              "spec": [
                                {
                                  "name": "token",
                                  "type": "text",
                                  "label": "Token ID",
                                  "required": true
                                },
                                {
                                  "name": "probability",
                                  "type": "number",
                                  "label": "Probability",
                                  "required": true,
                                  "validate": {
                                    "max": 100,
                                    "min": -100
                                  }
                                }
                              ],
                              "type": "collection",
                              "label": "Token Probability"
                            },
                            "type": "array",
                            "label": "Token Probability"
                          },
                          {
                            "name": "seed",
                            "type": "integer",
                            "label": "Seed"
                          },
                          {
                            "name": "stop",
                            "spec": {
                              "name": "value",
                              "type": "text",
                              "label": "Stop Sequence"
                            },
                            "type": "array",
                            "label": "Stop Sequences",
                            "validate": {
                              "maxItems": 4
                            }
                          },
                          {
                            "name": "additionalParameters",
                            "spec": {
                              "name": "value",
                              "spec": [
                                {
                                  "name": "key",
                                  "type": "text",
                                  "label": "Parameter Name",
                                  "required": true
                                },
                                {
                                  "name": "type",
                                  "type": "select",
                                  "label": "Input Type",
                                  "options": [
                                    {
                                      "label": "Text",
                                      "value": "text",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "text",
                                          "label": "Parameter Value"
                                        }
                                      ],
                                      "default": true
                                    },
                                    {
                                      "label": "Number",
                                      "value": "number",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "number",
                                          "label": "Parameter Value"
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Boolean",
                                      "value": "boolean",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "boolean",
                                          "label": "Parameter Value"
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Date",
                                      "value": "date",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "date",
                                          "label": "Parameter Value"
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Any",
                                      "value": "any",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "any",
                                          "label": "Parameter Value"
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "collection",
                              "label": "Input Parameter"
                            },
                            "type": "array",
                            "label": "Other Input Parameters"
                          },
                          {
                            "name": "model",
                            "type": "select",
                            "label": "Model",
                            "required": true
                          },
                          {
                            "name": "max_tokens",
                            "type": "uinteger",
                            "label": "Max Completion Tokens"
                          },
                          {
                            "name": "messages",
                            "spec": {
                              "name": "value",
                              "spec": [
                                {
                                  "name": "role",
                                  "type": "select",
                                  "label": "Role",
                                  "options": {
                                    "store": [
                                      {
                                        "label": "Developer / System",
                                        "value": "system",
                                        "nested": [
                                          {
                                            "help": "Text content of the message on behalf of the selected __Role__.",
                                            "name": "content",
                                            "type": "text",
                                            "label": "Text Content"
                                          }
                                        ]
                                      },
                                      {
                                        "label": "User",
                                        "value": "user",
                                        "nested": [
                                          {
                                            "help": "Text content of the message on behalf of the selected __Role__.",
                                            "name": "content",
                                            "type": "text",
                                            "label": "Text Content"
                                          },
                                          {
                                            "name": "imageInputType",
                                            "type": "select",
                                            "label": "Image Input Type",
                                            "options": [
                                              {
                                                "label": "URL",
                                                "value": "url",
                                                "nested": [
                                                  {
                                                    "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                    "name": "imageUrl",
                                                    "type": "url",
                                                    "label": "Image URL"
                                                  }
                                                ]
                                              },
                                              {
                                                "label": "Image File",
                                                "value": "file",
                                                "nested": [
                                                  {
                                                    "name": "imageFile",
                                                    "spec": [
                                                      {
                                                        "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                        "name": "imageFilename",
                                                        "type": "filename",
                                                        "label": "Image Filename",
                                                        "semantic": "file:name",
                                                        "extension": [
                                                          "jpg",
                                                          "jpeg",
                                                          "png",
                                                          "webp",
                                                          "gif"
                                                        ]
                                                      },
                                                      {
                                                        "name": "imageData",
                                                        "type": "buffer",
                                                        "label": "Image Data",
                                                        "semantic": "file:data"
                                                      }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Image"
                                                  }
                                                ]
                                              }
                                            ],
                                            "mappable": false
                                          },
                                          {
                                            "name": "imageDetail",
                                            "type": "select",
                                            "label": "Image Detail",
                                            "options": [
                                              {
                                                "label": "Auto",
                                                "value": "auto",
                                                "default": true
                                              },
                                              {
                                                "label": "High",
                                                "value": "high"
                                              },
                                              {
                                                "label": "Low",
                                                "value": "low"
                                              }
                                            ],
                                            "advanced": true
                                          }
                                        ]
                                      },
                                      {
                                        "label": "Assistant",
                                        "value": "assistant",
                                        "nested": [
                                          {
                                            "help": "Text content of the message on behalf of the selected __Role__.",
                                            "name": "content",
                                            "type": "text",
                                            "label": "Text Content"
                                          }
                                        ]
                                      }
                                    ]
                                  },
                                  "required": true
                                }
                              ],
                              "type": "collection",
                              "label": "Message"
                            },
                            "type": "array",
                            "label": "Messages",
                            "required": true
                          },
                          {
                            "name": "response_format",
                            "type": "select",
                            "label": "Response Format",
                            "validate": {
                              "enum": [
                                "text",
                                "json_object"
                              ]
                            }
                          },
                          {
                            "name": "prediction",
                            "type": "text",
                            "label": "Predicted outputs"
                          },
                          {
                            "name": "select",
                            "type": "select",
                            "label": "Select Method",
                            "required": true,
                            "validate": {
                              "enum": [
                                "chat",
                                "prompt"
                              ]
                            }
                          },
                          {
                            "name": "temperature",
                            "type": "number",
                            "label": "Temperature",
                            "validate": {
                              "max": 2,
                              "min": 0
                            }
                          },
                          {
                            "name": "top_p",
                            "type": "number",
                            "label": "Top P",
                            "validate": {
                              "max": 1,
                              "min": 0
                            }
                          },
                          {
                            "name": "n_completions",
                            "type": "number",
                            "label": "Number"
                          },
                          {
                            "name": "frequency_penalty",
                            "type": "number",
                            "label": "Frequency Penalty",
                            "validate": {
                              "max": 2,
                              "min": -2
                            }
                          },
                          {
                            "name": "presence_penalty",
                            "type": "number",
                            "label": "Presence Penalty",
                            "validate": {
                              "max": 2,
                              "min": -2
                            }
                          },
                          {
                            "name": "logit_bias",
                            "spec": {
                              "name": "value",
                              "spec": [
                                {
                                  "name": "token",
                                  "type": "text",
                                  "label": "Token ID",
                                  "required": true
                                },
                                {
                                  "name": "probability",
                                  "type": "number",
                                  "label": "Probability",
                                  "required": true,
                                  "validate": {
                                    "max": 100,
                                    "min": -100
                                  }
                                }
                              ],
                              "type": "collection",
                              "label": "Token Probability"
                            },
                            "type": "array",
                            "label": "Token Probability"
                          },
                          {
                            "name": "seed",
                            "type": "integer",
                            "label": "Seed"
                          },
                          {
                            "name": "stop",
                            "spec": {
                              "name": "value",
                              "type": "text",
                              "label": "Stop Sequence"
                            },
                            "type": "array",
                            "label": "Stop Sequences",
                            "validate": {
                              "maxItems": 4
                            }
                          },
                          {
                            "name": "additionalParameters",
                            "spec": {
                              "name": "value",
                              "spec": [
                                {
                                  "name": "key",
                                  "type": "text",
                                  "label": "Parameter Name",
                                  "required": true
                                },
                                {
                                  "name": "type",
                                  "type": "select",
                                  "label": "Input Type",
                                  "options": [
                                    {
                                      "label": "Text",
                                      "value": "text",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "text",
                                          "label": "Parameter Value"
                                        }
                                      ],
                                      "default": true
                                    },
                                    {
                                      "label": "Number",
                                      "value": "number",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "number",
                                          "label": "Parameter Value"
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Boolean",
                                      "value": "boolean",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "boolean",
                                          "label": "Parameter Value"
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Date",
                                      "value": "date",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "date",
                                          "label": "Parameter Value"
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Any",
                                      "value": "any",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "any",
                                          "label": "Parameter Value"
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "collection",
                              "label": "Input Parameter"
                            },
                            "type": "array",
                            "label": "Other Input Parameters"
                          },
                          {
                            "name": "model",
                            "type": "select",
                            "label": "Model",
                            "required": true
                          },
                          {
                            "name": "max_tokens",
                            "type": "uinteger",
                            "label": "Max Completion Tokens"
                          },
                          {
                            "name": "messages",
                            "spec": {
                              "name": "value",
                              "spec": [
                                {
                                  "name": "role",
                                  "type": "select",
                                  "label": "Role",
                                  "options": {
                                    "store": [
                                      {
                                        "label": "Developer / System",
                                        "value": "system",
                                        "nested": [
                                          {
                                            "help": "Text content of the message on behalf of the selected __Role__.",
                                            "name": "content",
                                            "type": "text",
                                            "label": "Text Content"
                                          }
                                        ]
                                      },
                                      {
                                        "label": "User",
                                        "value": "user",
                                        "nested": [
                                          {
                                            "help": "Text content of the message on behalf of the selected __Role__.",
                                            "name": "content",
                                            "type": "text",
                                            "label": "Text Content"
                                          },
                                          {
                                            "name": "imageInputType",
                                            "type": "select",
                                            "label": "Image Input Type",
                                            "options": [
                                              {
                                                "label": "URL",
                                                "value": "url",
                                                "nested": [
                                                  {
                                                    "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                    "name": "imageUrl",
                                                    "type": "url",
                                                    "label": "Image URL"
                                                  }
                                                ]
                                              },
                                              {
                                                "label": "Image File",
                                                "value": "file",
                                                "nested": [
                                                  {
                                                    "name": "imageFile",
                                                    "spec": [
                                                      {
                                                        "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                        "name": "imageFilename",
                                                        "type": "filename",
                                                        "label": "Image Filename",
                                                        "semantic": "file:name",
                                                        "extension": [
                                                          "jpg",
                                                          "jpeg",
                                                          "png",
                                                          "webp",
                                                          "gif"
                                                        ]
                                                      },
                                                      {
                                                        "name": "imageData",
                                                        "type": "buffer",
                                                        "label": "Image Data",
                                                        "semantic": "file:data"
                                                      }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Image"
                                                  }
                                                ]
                                              }
                                            ],
                                            "mappable": false
                                          },
                                          {
                                            "name": "imageDetail",
                                            "type": "select",
                                            "label": "Image Detail",
                                            "options": [
                                              {
                                                "label": "Auto",
                                                "value": "auto",
                                                "default": true
                                              },
                                              {
                                                "label": "High",
                                                "value": "high"
                                              },
                                              {
                                                "label": "Low",
                                                "value": "low"
                                              }
                                            ],
                                            "advanced": true
                                          }
                                        ]
                                      },
                                      {
                                        "label": "Assistant",
                                        "value": "assistant",
                                        "nested": [
                                          {
                                            "help": "Text content of the message on behalf of the selected __Role__.",
                                            "name": "content",
                                            "type": "text",
                                            "label": "Text Content"
                                          }
                                        ]
                                      }
                                    ]
                                  },
                                  "required": true
                                }
                              ],
                              "type": "collection",
                              "label": "Message"
                            },
                            "type": "array",
                            "label": "Messages",
                            "required": true
                          },
                          {
                            "name": "response_format",
                            "type": "select",
                            "label": "Response Format",
                            "validate": {
                              "enum": [
                                "text",
                                "json_object"
                              ]
                            }
                          },
                          {
                            "name": "prediction",
                            "type": "text",
                            "label": "Predicted outputs"
                          }
                        ],
                        "restore": {
                          "expect": {
                            "stop": {
                              "mode": "chose"
                            },
                            "model": {
                              "mode": "chose",
                              "label": "gpt-4o (system)"
                            },
                            "select": {
                              "label": "Create a Chat Completion (GPT and o1 models)"
                            },
                            "messages": {
                              "mode": "chose",
                              "items": [
                                {
                                  "role": {
                                    "mode": "chose",
                                    "label": "Developer / System"
                                  }
                                },
                                {
                                  "role": {
                                    "mode": "chose",
                                    "label": "User"
                                  },
                                  "imageDetail": {
                                    "mode": "chose",
                                    "label": "Auto"
                                  },
                                  "imageInputType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                  }
                                }
                              ]
                            },
                            "logit_bias": {
                              "mode": "chose"
                            },
                            "response_format": {
                              "mode": "chose",
                              "label": "Text"
                            },
                            "additionalParameters": {
                              "mode": "chose"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                              },
                              "label": "Karim's OpenAI connection"
                            }
                          }
                        },
                        "advanced": true,
                        "designer": {
                          "x": 1500,
                          "y": 300,
                          "name": "Get MA"
                        },
                        "interface": [
                          {
                            "name": "result",
                            "type": "any",
                            "label": "Result"
                          },
                          {
                            "name": "id",
                            "type": "text",
                            "label": "ID"
                          },
                          {
                            "name": "object",
                            "type": "text",
                            "label": "Object"
                          },
                          {
                            "name": "created",
                            "type": "date",
                            "label": "Created"
                          },
                          {
                            "name": "model",
                            "type": "text",
                            "label": "Model"
                          },
                          {
                            "name": "choices",
                            "spec": {
                              "spec": [
                                {
                                  "name": "text",
                                  "type": "text",
                                  "label": "Text"
                                },
                                {
                                  "name": "index",
                                  "type": "number",
                                  "label": "Index"
                                },
                                {
                                  "name": "logprobs",
                                  "type": "text",
                                  "label": "Log Probs"
                                },
                                {
                                  "name": "finish_reason",
                                  "type": "text",
                                  "label": "Finish Reason"
                                },
                                {
                                  "name": "message",
                                  "spec": [
                                    {
                                      "name": "role",
                                      "type": "text",
                                      "label": "Role"
                                    },
                                    {
                                      "name": "content",
                                      "type": "text",
                                      "label": "Content"
                                    },
                                    {
                                      "name": "refusal",
                                      "type": "text",
                                      "label": "Refusal"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Message"
                                }
                              ],
                              "type": "collection"
                            },
                            "type": "array",
                            "label": "Choices"
                          },
                          {
                            "name": "usage",
                            "spec": [
                              {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                              },
                              {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                              },
                              {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                              },
                              {
                                "name": "prompt_tokens_details",
                                "spec": [
                                  {
                                    "name": "cached_tokens",
                                    "type": "uinteger",
                                    "label": "Cached Tokens"
                                  },
                                  {
                                    "name": "text_tokens",
                                    "type": "uinteger",
                                    "label": "Text Tokens"
                                  },
                                  {
                                    "name": "image_tokens",
                                    "type": "uinteger",
                                    "label": "Image Tokens"
                                  },
                                  {
                                    "name": "audio_tokens",
                                    "type": "uinteger",
                                    "label": "Audio Tokens"
                                  }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                              },
                              {
                                "name": "completion_tokens_details",
                                "spec": [
                                  {
                                    "name": "reasoning_tokens",
                                    "type": "uinteger",
                                    "label": "Reasoning Tokens"
                                  },
                                  {
                                    "name": "text_tokens",
                                    "type": "uinteger",
                                    "label": "Text Tokens"
                                  },
                                  {
                                    "name": "audio_tokens",
                                    "type": "uinteger",
                                    "label": "Audio Tokens"
                                  },
                                  {
                                    "name": "accepted_prediction_tokens",
                                    "type": "uinteger",
                                    "label": "Accepted Prediction Tokens"
                                  },
                                  {
                                    "name": "rejected_prediction_tokens",
                                    "type": "uinteger",
                                    "label": "Rejected Prediction Tokens"
                                  }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                              }
                            ],
                            "type": "collection",
                            "label": "Usage"
                          },
                          {
                            "name": "system_fingerprint",
                            "type": "text",
                            "label": "System Fingerprint"
                          }
                        ],
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:openai-gpt-3",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 2579821
                      }
                    },
                    {
                      "id": 43,
                      "mapper": {
                        "from": "share",
                        "mode": "select",
                        "values": {
                          "0": "{{emptystring}}",
                          "1": "{{emptystring}}"
                        },
                        "sheetId": "Tabellenblatt1",
                        "rowNumber": "{{2.`__ROW_NUMBER__`}}",
                        "spreadsheetId": "/1Oi4pd8kJkb4DcEfUwsaLS0v_Z4WbeCgrFgQ7ZY58pJc",
                        "includesHeaders": true,
                        "valueInputOption": "USER_ENTERED"
                      },
                      "module": "google-sheets:updateRow",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "mode",
                            "type": "select",
                            "label": "Search Method",
                            "required": true,
                            "validate": {
                              "enum": [
                                "select",
                                "fromAll",
                                "map"
                              ]
                            }
                          },
                          {
                            "name": "valueInputOption",
                            "type": "select",
                            "label": "Value input option",
                            "validate": {
                              "enum": [
                                "USER_ENTERED",
                                "RAW"
                              ]
                            }
                          },
                          {
                            "name": "from",
                            "type": "select",
                            "label": "Drive",
                            "required": true,
                            "validate": {
                              "enum": [
                                "drive",
                                "share",
                                "team"
                              ]
                            }
                          },
                          {
                            "name": "spreadsheetId",
                            "type": "file",
                            "label": "Spreadsheet ID",
                            "required": true
                          },
                          {
                            "name": "sheetId",
                            "type": "select",
                            "label": "Sheet Name",
                            "required": true
                          },
                          {
                            "name": "rowNumber",
                            "type": "uinteger",
                            "label": "Row number",
                            "required": true
                          },
                          {
                            "name": "includesHeaders",
                            "type": "select",
                            "label": "Table contains headers",
                            "required": true,
                            "validate": {
                              "enum": [
                                true,
                                false
                              ]
                            }
                          },
                          {
                            "name": "values",
                            "spec": [
                              {
                                "name": "0",
                                "type": "text",
                                "label": "Webseite (A)"
                              },
                              {
                                "name": "1",
                                "type": "text",
                                "label": "Mitarbeiter (B)"
                              },
                              {
                                "name": "2",
                                "type": "text",
                                "label": "(C)"
                              },
                              {
                                "name": "3",
                                "type": "text",
                                "label": "(D)"
                              },
                              {
                                "name": "4",
                                "type": "text",
                                "label": "(E)"
                              },
                              {
                                "name": "5",
                                "type": "text",
                                "label": "(F)"
                              },
                              {
                                "name": "6",
                                "type": "text",
                                "label": "(G)"
                              },
                              {
                                "name": "7",
                                "type": "text",
                                "label": "(H)"
                              },
                              {
                                "name": "8",
                                "type": "text",
                                "label": "(I)"
                              },
                              {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                              },
                              {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                              },
                              {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                              },
                              {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                              },
                              {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                              },
                              {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                              },
                              {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                              },
                              {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                              },
                              {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                              }
                            ],
                            "type": "collection",
                            "label": "Values"
                          }
                        ],
                        "restore": {
                          "expect": {
                            "from": {
                              "label": "Shared with me"
                            },
                            "mode": {
                              "label": "Search by path"
                            },
                            "sheetId": {
                              "label": "Tabellenblatt1"
                            },
                            "spreadsheetId": {
                              "path": [
                                "MITARBEITERANZAHL"
                              ]
                            },
                            "includesHeaders": {
                              "label": "Yes",
                              "nested": [
                                {
                                  "name": "values",
                                  "spec": [
                                    {
                                      "name": "0",
                                      "type": "text",
                                      "label": "Webseite (A)"
                                    },
                                    {
                                      "name": "1",
                                      "type": "text",
                                      "label": "Mitarbeiter (B)"
                                    },
                                    {
                                      "name": "2",
                                      "type": "text",
                                      "label": "(C)"
                                    },
                                    {
                                      "name": "3",
                                      "type": "text",
                                      "label": "(D)"
                                    },
                                    {
                                      "name": "4",
                                      "type": "text",
                                      "label": "(E)"
                                    },
                                    {
                                      "name": "5",
                                      "type": "text",
                                      "label": "(F)"
                                    },
                                    {
                                      "name": "6",
                                      "type": "text",
                                      "label": "(G)"
                                    },
                                    {
                                      "name": "7",
                                      "type": "text",
                                      "label": "(H)"
                                    },
                                    {
                                      "name": "8",
                                      "type": "text",
                                      "label": "(I)"
                                    },
                                    {
                                      "name": "9",
                                      "type": "text",
                                      "label": "(J)"
                                    },
                                    {
                                      "name": "10",
                                      "type": "text",
                                      "label": "(K)"
                                    },
                                    {
                                      "name": "11",
                                      "type": "text",
                                      "label": "(L)"
                                    },
                                    {
                                      "name": "12",
                                      "type": "text",
                                      "label": "(M)"
                                    },
                                    {
                                      "name": "13",
                                      "type": "text",
                                      "label": "(N)"
                                    },
                                    {
                                      "name": "14",
                                      "type": "text",
                                      "label": "(O)"
                                    },
                                    {
                                      "name": "15",
                                      "type": "text",
                                      "label": "(P)"
                                    },
                                    {
                                      "name": "16",
                                      "type": "text",
                                      "label": "(Q)"
                                    },
                                    {
                                      "name": "17",
                                      "type": "text",
                                      "label": "(R)"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Values"
                                }
                              ]
                            },
                            "valueInputOption": {
                              "mode": "chose",
                              "label": "User entered"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "google"
                              },
                              "label": "Karim's Zynera Google connection (karim@zynera.ai)"
                            }
                          }
                        },
                        "designer": {
                          "x": 1800,
                          "y": 300,
                          "name": "Update Row",
                          "messages": [
                            {
                              "message": "Module references non-existing module '2'.",
                              "category": "reference",
                              "severity": "error"
                            }
                          ]
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:google",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 2907000
                      }
                    }
                  ]
                },
                {
                  "flow": [
                    {
                      "id": 44,
                      "mapper": {
                        "model": "gpt-4o",
                        "top_p": "1",
                        "select": "chat",
                        "messages": [
                          {
                            "role": "system",
                            "content": "You are an AI that extracts employee headcount from website text. Rules:\n1. Only return exact, explicitly stated employee counts\n2. Return '-' if count is unclear or requires inference\n3. Format response as: 'Answer: [number] [type]' or 'Answer: -'\n4. For multiple employee types, separate with comma\n5. Never estimate or guess numbers"
                          },
                          {
                            "role": "user",
                            "content": "Analyze the entire website text including all subpages:\n\n###WEBSITE###\nhttps://www.devex-gmbh.de\n###WEBSITE###",
                            "imageDetail": "auto"
                          },
                          {
                            "role": "user",
                            "content": "Example: Unser Team besteht aus 25 festangestellten Mitarbeitern, davon 12 Techniker und 8 Vertriebsmitarbeiter.",
                            "imageDetail": "auto"
                          },
                          {
                            "role": "assistant",
                            "content": "Answer: 25 Mitarbeiter (12 Techniker, 8 Vertriebsmitarbeiter)"
                          },
                          {
                            "role": "user",
                            "content": "Example: Mit unseren ca. 30-35 Mitarbeitern sind wir gut aufgestellt.",
                            "imageDetail": "auto"
                          },
                          {
                            "role": "assistant",
                            "content": "Answer: 30 Mitarbeiter"
                          },
                          {
                            "role": "user",
                            "content": "Example: 200+ Zahlende Kunden weltweit, €100M+ Über Chatarmin generierter Umsatz, 10+Mitarbeiter die unsere Kunden glücklich machen, €20M Umsatz, der durch Chatarmin während BFCM 2024 verdient wurde",
                            "imageDetail": "auto"
                          },
                          {
                            "role": "assistant",
                            "content": "Answer: 10 Mitarbeiter"
                          }
                        ],
                        "max_tokens": "1024",
                        "temperature": "0.7",
                        "n_completions": "1",
                        "response_format": "text"
                      },
                      "module": "openai-gpt-3:CreateCompletion",
                      "version": 1,
                      "metadata": {
                        "expect": [
                          {
                            "name": "select",
                            "type": "select",
                            "label": "Select Method",
                            "required": true,
                            "validate": {
                              "enum": [
                                "chat",
                                "prompt"
                              ]
                            }
                          },
                          {
                            "name": "temperature",
                            "type": "number",
                            "label": "Temperature",
                            "validate": {
                              "max": 2,
                              "min": 0
                            }
                          },
                          {
                            "name": "top_p",
                            "type": "number",
                            "label": "Top P",
                            "validate": {
                              "max": 1,
                              "min": 0
                            }
                          },
                          {
                            "name": "n_completions",
                            "type": "number",
                            "label": "Number"
                          },
                          {
                            "name": "frequency_penalty",
                            "type": "number",
                            "label": "Frequency Penalty",
                            "validate": {
                              "max": 2,
                              "min": -2
                            }
                          },
                          {
                            "name": "presence_penalty",
                            "type": "number",
                            "label": "Presence Penalty",
                            "validate": {
                              "max": 2,
                              "min": -2
                            }
                          },
                          {
                            "name": "logit_bias",
                            "spec": {
                              "name": "value",
                              "spec": [
                                {
                                  "name": "token",
                                  "type": "text",
                                  "label": "Token ID",
                                  "required": true
                                },
                                {
                                  "name": "probability",
                                  "type": "number",
                                  "label": "Probability",
                                  "required": true,
                                  "validate": {
                                    "max": 100,
                                    "min": -100
                                  }
                                }
                              ],
                              "type": "collection",
                              "label": "Token Probability"
                            },
                            "type": "array",
                            "label": "Token Probability"
                          },
                          {
                            "name": "seed",
                            "type": "integer",
                            "label": "Seed"
                          },
                          {
                            "name": "stop",
                            "spec": {
                              "name": "value",
                              "type": "text",
                              "label": "Stop Sequence"
                            },
                            "type": "array",
                            "label": "Stop Sequences",
                            "validate": {
                              "maxItems": 4
                            }
                          },
                          {
                            "name": "additionalParameters",
                            "spec": {
                              "name": "value",
                              "spec": [
                                {
                                  "name": "key",
                                  "type": "text",
                                  "label": "Parameter Name",
                                  "required": true
                                },
                                {
                                  "name": "type",
                                  "type": "select",
                                  "label": "Input Type",
                                  "options": [
                                    {
                                      "label": "Text",
                                      "value": "text",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "text",
                                          "label": "Parameter Value"
                                        }
                                      ],
                                      "default": true
                                    },
                                    {
                                      "label": "Number",
                                      "value": "number",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "number",
                                          "label": "Parameter Value"
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Boolean",
                                      "value": "boolean",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "boolean",
                                          "label": "Parameter Value"
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Date",
                                      "value": "date",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "date",
                                          "label": "Parameter Value"
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Any",
                                      "value": "any",
                                      "nested": [
                                        {
                                          "name": "value",
                                          "type": "any",
                                          "label": "Parameter Value"
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "collection",
                              "label": "Input Parameter"
                            },
                            "type": "array",
                            "label": "Other Input Parameters"
                          },
                          {
                            "name": "model",
                            "type": "select",
                            "label": "Model",
                            "required": true
                          },
                          {
                            "name": "max_tokens",
                            "type": "uinteger",
                            "label": "Max Completion Tokens"
                          },
                          {
                            "name": "messages",
                            "spec": {
                              "name": "value",
                              "spec": [
                                {
                                  "name": "role",
                                  "type": "select",
                                  "label": "Role",
                                  "options": {
                                    "store": [
                                      {
                                        "label": "Developer / System",
                                        "value": "system",
                                        "nested": [
                                          {
                                            "help": "Text content of the message on behalf of the selected __Role__.",
                                            "name": "content",
                                            "type": "text",
                                            "label": "Text Content"
                                          }
                                        ]
                                      },
                                      {
                                        "label": "User",
                                        "value": "user",
                                        "nested": [
                                          {
                                            "help": "Text content of the message on behalf of the selected __Role__.",
                                            "name": "content",
                                            "type": "text",
                                            "label": "Text Content"
                                          },
                                          {
                                            "name": "imageInputType",
                                            "type": "select",
                                            "label": "Image Input Type",
                                            "options": [
                                              {
                                                "label": "URL",
                                                "value": "url",
                                                "nested": [
                                                  {
                                                    "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                    "name": "imageUrl",
                                                    "type": "url",
                                                    "label": "Image URL"
                                                  }
                                                ]
                                              },
                                              {
                                                "label": "Image File",
                                                "value": "file",
                                                "nested": [
                                                  {
                                                    "name": "imageFile",
                                                    "spec": [
                                                      {
                                                        "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                        "name": "imageFilename",
                                                        "type": "filename",
                                                        "label": "Image Filename",
                                                        "semantic": "file:name",
                                                        "extension": [
                                                          "jpg",
                                                          "jpeg",
                                                          "png",
                                                          "webp",
                                                          "gif"
                                                        ]
                                                      },
                                                      {
                                                        "name": "imageData",
                                                        "type": "buffer",
                                                        "label": "Image Data",
                                                        "semantic": "file:data"
                                                      }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Image"
                                                  }
                                                ]
                                              }
                                            ],
                                            "mappable": false
                                          },
                                          {
                                            "name": "imageDetail",
                                            "type": "select",
                                            "label": "Image Detail",
                                            "options": [
                                              {
                                                "label": "Auto",
                                                "value": "auto",
                                                "default": true
                                              },
                                              {
                                                "label": "High",
                                                "value": "high"
                                              },
                                              {
                                                "label": "Low",
                                                "value": "low"
                                              }
                                            ],
                                            "advanced": true
                                          }
                                        ]
                                      },
                                      {
                                        "label": "Assistant",
                                        "value": "assistant",
                                        "nested": [
                                          {
                                            "help": "Text content of the message on behalf of the selected __Role__.",
                                            "name": "content",
                                            "type": "text",
                                            "label": "Text Content"
                                          }
                                        ]
                                      }
                                    ]
                                  },
                                  "required": true
                                }
                              ],
                              "type": "collection",
                              "label": "Message"
                            },
                            "type": "array",
                            "label": "Messages",
                            "required": true
                          },
                          {
                            "name": "response_format",
                            "type": "select",
                            "label": "Response Format",
                            "validate": {
                              "enum": [
                                "text",
                                "json_object"
                              ]
                            }
                          },
                          {
                            "name": "prediction",
                            "type": "text",
                            "label": "Predicted outputs"
                          }
                        ],
                        "restore": {
                          "expect": {
                            "stop": {
                              "mode": "chose"
                            },
                            "model": {
                              "mode": "chose",
                              "label": "gpt-4o (system)"
                            },
                            "select": {
                              "label": "Create a Chat Completion (GPT and o1 models)"
                            },
                            "messages": {
                              "mode": "chose",
                              "items": [
                                {
                                  "role": {
                                    "mode": "chose",
                                    "label": "Developer / System"
                                  }
                                },
                                {
                                  "role": {
                                    "mode": "chose",
                                    "label": "User"
                                  },
                                  "imageDetail": {
                                    "mode": "chose",
                                    "label": "Auto"
                                  },
                                  "imageInputType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                  }
                                },
                                {
                                  "role": {
                                    "mode": "chose",
                                    "label": "User"
                                  },
                                  "imageDetail": {
                                    "mode": "chose",
                                    "label": "Auto"
                                  },
                                  "imageInputType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                  }
                                },
                                {
                                  "role": {
                                    "mode": "chose",
                                    "label": "Assistant"
                                  }
                                },
                                {
                                  "role": {
                                    "mode": "chose",
                                    "label": "User"
                                  },
                                  "imageDetail": {
                                    "mode": "chose",
                                    "label": "Auto"
                                  },
                                  "imageInputType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                  }
                                },
                                {
                                  "role": {
                                    "mode": "chose",
                                    "label": "Assistant"
                                  }
                                },
                                {
                                  "role": {
                                    "mode": "chose",
                                    "label": "User"
                                  },
                                  "imageDetail": {
                                    "mode": "chose",
                                    "label": "Auto"
                                  },
                                  "imageInputType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                  }
                                },
                                {
                                  "role": {
                                    "mode": "chose",
                                    "label": "Assistant"
                                  }
                                }
                              ]
                            },
                            "logit_bias": {
                              "mode": "chose"
                            },
                            "response_format": {
                              "mode": "chose",
                              "label": "Text"
                            },
                            "additionalParameters": {
                              "mode": "chose"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                              },
                              "label": "Karim's OpenAI connection"
                            }
                          }
                        },
                        "advanced": true,
                        "designer": {
                          "x": 1500,
                          "y": 600,
                          "name": "Get MA V2"
                        },
                        "interface": [
                          {
                            "name": "result",
                            "type": "any",
                            "label": "Result"
                          },
                          {
                            "name": "id",
                            "type": "text",
                            "label": "ID"
                          },
                          {
                            "name": "object",
                            "type": "text",
                            "label": "Object"
                          },
                          {
                            "name": "created",
                            "type": "date",
                            "label": "Created"
                          },
                          {
                            "name": "model",
                            "type": "text",
                            "label": "Model"
                          },
                          {
                            "name": "choices",
                            "spec": {
                              "spec": [
                                {
                                  "name": "text",
                                  "type": "text",
                                  "label": "Text"
                                },
                                {
                                  "name": "index",
                                  "type": "number",
                                  "label": "Index"
                                },
                                {
                                  "name": "logprobs",
                                  "type": "text",
                                  "label": "Log Probs"
                                },
                                {
                                  "name": "finish_reason",
                                  "type": "text",
                                  "label": "Finish Reason"
                                },
                                {
                                  "name": "message",
                                  "spec": [
                                    {
                                      "name": "role",
                                      "type": "text",
                                      "label": "Role"
                                    },
                                    {
                                      "name": "content",
                                      "type": "text",
                                      "label": "Content"
                                    },
                                    {
                                      "name": "refusal",
                                      "type": "text",
                                      "label": "Refusal"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Message"
                                }
                              ],
                              "type": "collection"
                            },
                            "type": "array",
                            "label": "Choices"
                          },
                          {
                            "name": "usage",
                            "spec": [
                              {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                              },
                              {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                              },
                              {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                              },
                              {
                                "name": "prompt_tokens_details",
                                "spec": [
                                  {
                                    "name": "cached_tokens",
                                    "type": "uinteger",
                                    "label": "Cached Tokens"
                                  },
                                  {
                                    "name": "text_tokens",
                                    "type": "uinteger",
                                    "label": "Text Tokens"
                                  },
                                  {
                                    "name": "image_tokens",
                                    "type": "uinteger",
                                    "label": "Image Tokens"
                                  },
                                  {
                                    "name": "audio_tokens",
                                    "type": "uinteger",
                                    "label": "Audio Tokens"
                                  }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                              },
                              {
                                "name": "completion_tokens_details",
                                "spec": [
                                  {
                                    "name": "reasoning_tokens",
                                    "type": "uinteger",
                                    "label": "Reasoning Tokens"
                                  },
                                  {
                                    "name": "text_tokens",
                                    "type": "uinteger",
                                    "label": "Text Tokens"
                                  },
                                  {
                                    "name": "audio_tokens",
                                    "type": "uinteger",
                                    "label": "Audio Tokens"
                                  },
                                  {
                                    "name": "accepted_prediction_tokens",
                                    "type": "uinteger",
                                    "label": "Accepted Prediction Tokens"
                                  },
                                  {
                                    "name": "rejected_prediction_tokens",
                                    "type": "uinteger",
                                    "label": "Rejected Prediction Tokens"
                                  }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                              }
                            ],
                            "type": "collection",
                            "label": "Usage"
                          },
                          {
                            "name": "system_fingerprint",
                            "type": "text",
                            "label": "System Fingerprint"
                          }
                        ],
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:openai-gpt-3",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 2579821
                      }
                    },
                    {
                      "id": 45,
                      "mapper": {
                        "from": "share",
                        "mode": "select",
                        "values": {
                          "0": "{{emptystring}}",
                          "1": "{{emptystring}}"
                        },
                        "sheetId": "Tabellenblatt1",
                        "rowNumber": "{{2.`__ROW_NUMBER__`}}",
                        "spreadsheetId": "/1Oi4pd8kJkb4DcEfUwsaLS0v_Z4WbeCgrFgQ7ZY58pJc",
                        "includesHeaders": true,
                        "valueInputOption": "USER_ENTERED"
                      },
                      "module": "google-sheets:updateRow",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "mode",
                            "type": "select",
                            "label": "Search Method",
                            "required": true,
                            "validate": {
                              "enum": [
                                "select",
                                "fromAll",
                                "map"
                              ]
                            }
                          },
                          {
                            "name": "valueInputOption",
                            "type": "select",
                            "label": "Value input option",
                            "validate": {
                              "enum": [
                                "USER_ENTERED",
                                "RAW"
                              ]
                            }
                          },
                          {
                            "name": "from",
                            "type": "select",
                            "label": "Drive",
                            "required": true,
                            "validate": {
                              "enum": [
                                "drive",
                                "share",
                                "team"
                              ]
                            }
                          },
                          {
                            "name": "spreadsheetId",
                            "type": "file",
                            "label": "Spreadsheet ID",
                            "required": true
                          },
                          {
                            "name": "sheetId",
                            "type": "select",
                            "label": "Sheet Name",
                            "required": true
                          },
                          {
                            "name": "rowNumber",
                            "type": "uinteger",
                            "label": "Row number",
                            "required": true
                          },
                          {
                            "name": "includesHeaders",
                            "type": "select",
                            "label": "Table contains headers",
                            "required": true,
                            "validate": {
                              "enum": [
                                true,
                                false
                              ]
                            }
                          },
                          {
                            "name": "values",
                            "spec": [
                              {
                                "name": "0",
                                "type": "text",
                                "label": "Webseite (A)"
                              },
                              {
                                "name": "1",
                                "type": "text",
                                "label": "Mitarbeiter (B)"
                              },
                              {
                                "name": "2",
                                "type": "text",
                                "label": "(C)"
                              },
                              {
                                "name": "3",
                                "type": "text",
                                "label": "(D)"
                              },
                              {
                                "name": "4",
                                "type": "text",
                                "label": "(E)"
                              },
                              {
                                "name": "5",
                                "type": "text",
                                "label": "(F)"
                              },
                              {
                                "name": "6",
                                "type": "text",
                                "label": "(G)"
                              },
                              {
                                "name": "7",
                                "type": "text",
                                "label": "(H)"
                              },
                              {
                                "name": "8",
                                "type": "text",
                                "label": "(I)"
                              },
                              {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                              },
                              {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                              },
                              {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                              },
                              {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                              },
                              {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                              },
                              {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                              },
                              {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                              },
                              {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                              },
                              {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                              }
                            ],
                            "type": "collection",
                            "label": "Values"
                          }
                        ],
                        "restore": {
                          "expect": {
                            "from": {
                              "label": "Shared with me"
                            },
                            "mode": {
                              "label": "Search by path"
                            },
                            "sheetId": {
                              "label": "Tabellenblatt1"
                            },
                            "spreadsheetId": {
                              "path": [
                                "MITARBEITERANZAHL"
                              ]
                            },
                            "includesHeaders": {
                              "label": "Yes",
                              "nested": [
                                {
                                  "name": "values",
                                  "spec": [
                                    {
                                      "name": "0",
                                      "type": "text",
                                      "label": "Webseite (A)"
                                    },
                                    {
                                      "name": "1",
                                      "type": "text",
                                      "label": "Mitarbeiter (B)"
                                    },
                                    {
                                      "name": "2",
                                      "type": "text",
                                      "label": "(C)"
                                    },
                                    {
                                      "name": "3",
                                      "type": "text",
                                      "label": "(D)"
                                    },
                                    {
                                      "name": "4",
                                      "type": "text",
                                      "label": "(E)"
                                    },
                                    {
                                      "name": "5",
                                      "type": "text",
                                      "label": "(F)"
                                    },
                                    {
                                      "name": "6",
                                      "type": "text",
                                      "label": "(G)"
                                    },
                                    {
                                      "name": "7",
                                      "type": "text",
                                      "label": "(H)"
                                    },
                                    {
                                      "name": "8",
                                      "type": "text",
                                      "label": "(I)"
                                    },
                                    {
                                      "name": "9",
                                      "type": "text",
                                      "label": "(J)"
                                    },
                                    {
                                      "name": "10",
                                      "type": "text",
                                      "label": "(K)"
                                    },
                                    {
                                      "name": "11",
                                      "type": "text",
                                      "label": "(L)"
                                    },
                                    {
                                      "name": "12",
                                      "type": "text",
                                      "label": "(M)"
                                    },
                                    {
                                      "name": "13",
                                      "type": "text",
                                      "label": "(N)"
                                    },
                                    {
                                      "name": "14",
                                      "type": "text",
                                      "label": "(O)"
                                    },
                                    {
                                      "name": "15",
                                      "type": "text",
                                      "label": "(P)"
                                    },
                                    {
                                      "name": "16",
                                      "type": "text",
                                      "label": "(Q)"
                                    },
                                    {
                                      "name": "17",
                                      "type": "text",
                                      "label": "(R)"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Values"
                                }
                              ]
                            },
                            "valueInputOption": {
                              "mode": "chose",
                              "label": "User entered"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "google"
                              },
                              "label": "Karim's Zynera Google connection (karim@zynera.ai)"
                            }
                          }
                        },
                        "designer": {
                          "x": 1800,
                          "y": 600,
                          "name": "Update Row",
                          "messages": [
                            {
                              "message": "Module references non-existing module '2'.",
                              "category": "reference",
                              "severity": "error"
                            }
                          ]
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:google",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 2907000
                      }
                    }
                  ]
                }
              ],
              "version": 1,
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 450
                }
              }
            }
          ],
          "disabled": true
        },
        {
          "flow": [
            {
              "id": 38,
              "module": "snovio:SearchFindProspects",
              "version": 1,
              "metadata": {
                "designer": {
                  "x": 600,
                  "y": 900,
                  "messages": [
                    {
                      "message": "The module is not set up.",
                      "category": "setupreq",
                      "severity": "error"
                    }
                  ]
                }
              }
            },
            {
              "id": 39,
              "module": "openai-gpt-3:CreateCompletion",
              "version": 1,
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 900
                }
              }
            },
            {
              "id": 40,
              "mapper": {},
              "module": "builtin:BasicAggregator",
              "version": 1,
              "metadata": {
                "restore": {
                  "extra": {
                    "feeder": {
                      "label": "Snov.io - Search Prospects [38]"
                    },
                    "target": {
                      "label": "Custom"
                    }
                  }
                },
                "designer": {
                  "x": 1200,
                  "y": 900
                }
              },
              "parameters": {
                "feeder": 38
              }
            },
            {
              "id": 41,
              "mapper": {
                "range": "{{emptystring}}",
                "sheetId": "{{emptystring}}",
                "spreadsheetId": "{{emptystring}}",
                "valueInputOption": "USER_ENTERED"
              },
              "module": "google-sheets:updateMultipleRows",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "spreadsheetId",
                    "type": "text",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option"
                  },
                  {
                    "type": "hidden"
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "text",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option"
                  },
                  {
                    "type": "hidden"
                  },
                  {
                    "mode": "edit",
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "range",
                    "type": "text",
                    "label": "Range",
                    "required": true
                  },
                  {
                    "mode": "edit",
                    "name": "rows",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "values",
                          "spec": {
                            "type": "text",
                            "label": "Column"
                          },
                          "type": "array",
                          "label": "Values",
                          "labels": {
                            "add": "Add value"
                          }
                        }
                      ],
                      "type": "collection",
                      "label": "Row"
                    },
                    "type": "array",
                    "label": "Rows"
                  }
                ],
                "restore": {
                  "expect": {
                    "rows": {
                      "mode": "edit"
                    },
                    "sheetId": {
                      "mode": "edit"
                    },
                    "valueInputOption": {
                      "mode": "chose",
                      "label": "User entered"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "Karim's Zynera Google connection (karim@zynera.ai)"
                    }
                  }
                },
                "designer": {
                  "x": 1500,
                  "y": 900
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2907000
              }
            }
          ],
          "disabled": true
        }
      ],
      "version": 1,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 450
        }
      }
    }
  ],
  "name": "Self Destructive Scenario V1",
  "metadata": {
    "instant": false,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "34": {
          "id": "recdIN6dsmOanIIfE"
        },
        "35": {
          "id": "recdIN6dsmOanIIfE",
          "createdTime": "2025-01-28T16:17:50.000Z",
          "fld8JSvFF9DHvyx8U": "Zacharia Test ",
          "fldMyEFUgTElWNWUk": "recdIN6dsmOanIIfE",
          "flddc9lk1X9XKHn2B": "2025-01-28",
          "fldkdKw2c3nBm9kGJ": "Onboarding",
          "fldq3AEE1cemrs39R": "Hi",
          "fldxXiZHRiVpKszM6": "Zacharia Test",
          "fldyOChw50mZWwLyw": "2025-01-28T16:17:50.000Z"
        },
        "36": {
          "id": "2e6d6a13-db0c-4072-85d2-9403f4640cf4",
          "model": "sonar",
          "usage": {
            "total_tokens": 104,
            "prompt_tokens": 103,
            "completion_tokens": 1
          },
          "object": "chat.completion",
          "choices": [
            {
              "delta": {
                "role": "assistant",
                "content": ""
              },
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "-"
              },
              "finish_reason": "stop"
            }
          ],
          "created": 1738358306,
          "citations": [
            "https://www.bayer-praezisionsteile.de"
          ]
        },
        "37": {
          "Head Count": "-"
        },
        "42": {
          "id": "chatcmpl-Aw8eHdeSSEEMo7k6HHp51z6ScXYno",
          "model": "gpt-4o-2024-08-06",
          "usage": {
            "total_tokens": 144,
            "prompt_tokens": 142,
            "completion_tokens": 2,
            "prompt_tokens_details": {
              "audio_tokens": 0,
              "cached_tokens": 0
            },
            "completion_tokens_details": {
              "audio_tokens": 0,
              "reasoning_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "object": "chat.completion",
          "result": "-",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "-",
                "refusal": null
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "created": "2025-02-01T14:20:33.000Z",
          "service_tier": "default",
          "system_fingerprint": "fp_4691090a87"
        },
        "44": {
          "id": "chatcmpl-Aw8eZkFFZckYKblCZmcje14DXOf87",
          "model": "gpt-4o-2024-08-06",
          "usage": {
            "total_tokens": 270,
            "prompt_tokens": 264,
            "completion_tokens": 6,
            "prompt_tokens_details": {
              "audio_tokens": 0,
              "cached_tokens": 0
            },
            "completion_tokens_details": {
              "audio_tokens": 0,
              "reasoning_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "object": "chat.completion",
          "result": "Answer: 10 Mitarbeiter",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "Answer: 10 Mitarbeiter",
                "refusal": null
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "created": "2025-02-01T14:20:51.000Z",
          "service_tier": "default",
          "system_fingerprint": "fp_50cad350e4"
        },
        "47": {
          "test": "Test"
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}