scenarios/2845083
{"flow":[{"id":3,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":1,"mapper":{"name":"Text with email","scope":"roundtrip","value":"Hey there! If you need to contact us, please email academydemo@make.com, or helloacademy@make.com"},"module":"util:SetVariable2","version":1,"metadata":{"expect":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}},{"name":"value","type":"any","label":"Variable value"}],"restore":{"expect":{"scope":{"label":"One cycle"}}},"designer":{"x":300,"y":0},"interface":[{"name":"Text with email","type":"any","label":"Text with email"}]},"parameters":{}},{"id":2,"mapper":{"text":"{{1.`Text with email`}}","pattern":"##emails","specialCharsPattern":""},"module":"regexp:GetElementsFromText","version":1,"metadata":{"expect":[{"name":"pattern","type":"select","label":"Pattern","required":true,"validate":{"enum":["##emails","##html_tags","##http_urls","##ftp_urls","##telephone_numbers","##ipv4","##ipv6","##emoji","##key_value_pairs"]}},{"name":"text","type":"text","label":"Text","required":true},{"name":"specialCharsPattern","type":"text","label":"Special characters in the pattern"}],"restore":{"expect":{"pattern":{"label":"Email"}}},"designer":{"x":600,"y":0,"messages":[{"message":"A transformer should not be the last module in the route.","category":"last","severity":"warning"}]},"interface":[{"name":"match","type":"any","label":"Match"}],"parameters":[{"name":"continueWhenNoRes","type":"boolean","label":"Continue the execution of the route even if the module finds no matches","required":true}]},"parameters":{"continueWhenNoRes":false}}],"disabled":true},{"flow":[{"id":4,"mapper":{"scope":"roundtrip","variables":[{"name":"Table","value":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Football Players and Teams</title>\n<style>\n    table {\n        width: 100%;\n        border-collapse: collapse;\n    }\n    th, td {\n        border: 1px solid black;\n        padding: 8px;\n        text-align: center;\n    }\n</style>\n</head>\n<body>\n\n<h2>Football Players and Their Teams</h2>\n\n<table>\n  <tr>\n    <th>Player</th>\n    <th>Team</th>\n    <th>League</th>\n  </tr>\n  <tr>\n    <td>Paolo Makedini</td>\n    <td>AC Makelan</td>\n    <td>Italy</td>\n  </tr>\n  <tr>\n    <td>Harry Makeguire</td>\n    <td>Makechester United</td>\n    <td>England</td>\n  </tr>\n  <tr>\n    <td>Antoine Griezmake</td>\n    <td>Athletico Makedrid</td>\n    <td>Spain</td>\n  </tr>\n  <tr>\n    <td>Alessandro Make Piero</td>\n    <td>MakeVentus</td>\n    <td>Italy</td>\n  </tr>\n  <tr>\n    <td>Claude Makelele</td>\n    <td>Real Makedrid</td>\n    <td>Spain</td>\n  </tr>\n  <tr>\n    <td>Zlatan Ibramakeovich</td>\n    <td>Paris Saint GerMake</td>\n    <td>France</td>\n  </tr>\n</table>\n\n</body>\n</html>"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null]}}},"designer":{"x":300,"y":300},"interface":[{"name":"Table","type":"any","label":"Table"}]},"parameters":{}},{"id":5,"mapper":{"html":"{{4.Table}}"},"module":"regexp:HTMLTableParser2","version":1,"metadata":{"expect":[{"name":"html","type":"text","label":"HTML","required":true}],"restore":{},"designer":{"x":600,"y":300},"parameters":[{"name":"continueWhenNoRes","type":"boolean","label":"Continue the execution of the route even if the module finds no matches","required":true},{"name":"stripHTMLFromContent","type":"boolean","label":"Strip HTML from contents","required":true},{"name":"skipFirstRow","type":"boolean","label":"Skip the first row","required":true}]},"parameters":{"skipFirstRow":false,"continueWhenNoRes":false,"stripHTMLFromContent":true}},{"id":13,"mapper":{"array":"{{5.rows}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":900,"y":300}},"parameters":{}},{"id":16,"mapper":{"scope":"roundtrip","variables":[{"name":"Player","value":"{{13.columns[1]}}"},{"name":"Team","value":"{{13.columns[2]}}"},{"name":"League","value":"{{13.columns[3]}}"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null,null,null]}}},"designer":{"x":1200,"y":300},"interface":[{"name":"Player","type":"any","label":"Player"},{"name":"Team","type":"any","label":"Team"},{"name":"League","type":"any","label":"League"}]},"parameters":{}},{"id":20,"mapper":{"Team":"{{16.Team}}","League":"{{16.League}}","Player":"{{16.Player}}"},"module":"csv:CreateAggregator","version":1,"metadata":{"restore":{"extra":{"feeder":{"label":"Iterator [13]"}},"parameters":{"newlineType":{"label":"LF"},"delimiterType":{"label":"Other"}}},"designer":{"x":1500,"y":300,"messages":[{"message":"A transformer should not be the last module in the route.","category":"last","severity":"warning"}]},"parameters":[{"name":"includeHeaders","type":"boolean","label":"Include headers in the first row","required":true},{"name":"delimiterType","type":"select","label":"Delimiter","required":true,"validate":{"enum":[",","\t","other"]}},{"name":"newlineType","type":"select","label":"Newline","required":true,"validate":{"enum":["LF","CRLF"]}},{"name":"delimiter","type":"text","label":"Delimiter character","required":true,"validate":{"max":1,"min":1}}]},"parameters":{"feeder":13,"delimiter":",","newlineType":"LF","delimiterType":"other","includeHeaders":false}}],"disabled":true},{"flow":[{"id":21,"mapper":{"scope":"roundtrip","variables":[{"name":"HTML","value":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Make Academy and Make</title>\n</head>\n<body>\n\n<p>The <a href=\"https://www.make.com/academy\">Make Academy</a> is part of Make, and aims to help users get started with using our platform. For further information on Make, check out our <a href=\"https://www.make.com/community\">community</a> and <a href=\"https://www.make.com/blog\">blog</a>.</p>\n\n</body>\n</html>\n​"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null]}}},"designer":{"x":300,"y":600},"interface":[{"name":"HTML","type":"any","label":"HTML"}]},"parameters":{}},{"id":22,"mapper":{"html":"{{21.HTML}}","elementType":"a"},"module":"regexp:HTMLParser","version":1,"metadata":{"expect":[{"name":"elementType","type":"select","label":"Element type","required":true,"validate":{"enum":["img","a","iframe"]}},{"name":"html","type":"text","label":"HTML"}],"restore":{"expect":{"elementType":{"label":"Link (a)"}}},"designer":{"x":600,"y":600,"messages":[{"message":"A transformer should not be the last module in the route.","category":"last","severity":"warning"}]},"interface":[{"name":"element","type":"text","label":"Element"},{"name":"innerContent","type":"text","label":"Inner content"},{"name":"attrs","spec":[{"name":"href","type":"text","label":"href"},{"name":"rel","type":"text","label":"rel"},{"name":"target","type":"text","label":"target"}],"type":"collection","label":"Attributes"}],"parameters":[{"name":"continueWhenNoRes","type":"boolean","label":"Continue the execution of the route even if the module finds no matches","required":true}]},"parameters":{"continueWhenNoRes":false}}],"disabled":true},{"flow":[{"id":23,"mapper":{"scope":"roundtrip","variables":[{"name":"Text","value":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n\n<h1>Welcome to the Make Academy</h1> <p>Make Academy is an educational platform for makers, creators, and innovators to learn about Make.</p>\n\n<h2>Explore our courses, workshops, and resources to:</h2>\n\n<ul>\n  <li>Learn new techniques and technologies</li>\n  <li>Build exciting projects</li>\n  <li>Connect with a vibrant community of fellow Makers</li>\n</ul>\n</html>\n​"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null]}}},"designer":{"x":300,"y":900},"interface":[{"name":"Text","type":"any","label":"Text"}]},"parameters":{}},{"id":24,"mapper":{"html":"{{23.Text}}","newline":"lf","uppercaseHeadings":true},"module":"regexp:HTMLToText","version":1,"metadata":{"expect":[{"name":"html","type":"text","label":"HTML"},{"name":"newline","type":"select","label":"Line break","required":true,"validate":{"enum":["lf","crlf","cr"]}},{"name":"uppercaseHeadings","type":"boolean","label":"Uppercase headings","required":true}],"restore":{"expect":{"newline":{"label":"LF (\\n) - Unix/Mac OS X"}}},"advanced":true,"designer":{"x":600,"y":900,"messages":[{"message":"A transformer should not be the last module in the route.","category":"last","severity":"warning"}]}},"parameters":{}}],"disabled":true},{"flow":[{"id":47,"mapper":{"from":"share","sheetId":"Tabellenblatt1","sortOrder":"asc","spreadsheetId":"1g_qdG6p50CjkxhVVwaK4GY-6To1Eh3u6GUb05CEEMSE","tableFirstRow":"A1:CZ1","includesHeaders":true,"valueRenderOption":"FORMATTED_VALUE","dateTimeRenderOption":"FORMATTED_STRING"},"module":"google-sheets:filterRows","version":2,"metadata":{"expect":[{"name":"from","type":"select","label":"Search Method","required":true,"validate":{"enum":["drive","share"]}},{"name":"valueRenderOption","type":"select","label":"Value render option","validate":{"enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"]}},{"name":"dateTimeRenderOption","type":"select","label":"Date and time render option","validate":{"enum":["SERIAL_NUMBER","FORMATTED_STRING"]}},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"spreadsheetId","type":"text","label":"Spreadsheet ID","required":true},{"name":"from","type":"select","label":"Search Method","required":true,"validate":{"enum":["drive","share"]}},{"name":"valueRenderOption","type":"select","label":"Value render option","validate":{"enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"]}},{"name":"dateTimeRenderOption","type":"select","label":"Date and time render option","validate":{"enum":["SERIAL_NUMBER","FORMATTED_STRING"]}},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"spreadsheetId","type":"text","label":"Spreadsheet ID","required":true},{"name":"sheetId","type":"select","label":"Sheet Name","required":true},{"name":"includesHeaders","type":"select","label":"Table contains headers","required":true,"validate":{"enum":[true,false]}},{"name":"tableFirstRow","type":"select","label":"Column range","required":true,"validate":{"enum":["A1:Z1","A1:BZ1","A1:CZ1","A1:DZ1","A1:MZ1","A1:ZZ1","A1:AZZ1","A1:BZZ1","A1:CZZ1","A1:DZZ1","A1:MZZ1","A1:ZZZ1"]}},{"name":"filter","type":"filter","label":"Filter","options":"rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"},{"name":"orderBy","type":"select","label":"Order by"},{"name":"sortOrder","type":"select","label":"Sort order","validate":{"enum":["asc","desc"]}}],"restore":{"expect":{"from":{"label":"Select from all"},"orderBy":{"mode":"chose","label":"Empty"},"sheetId":{"mode":"chose","label":"Tabellenblatt1"},"sortOrder":{"mode":"chose","label":"Ascending"},"tableFirstRow":{"label":"A-CZ"},"includesHeaders":{"mode":"chose","label":"Yes"},"valueRenderOption":{"mode":"chose","label":"Formatted value"},"dateTimeRenderOption":{"mode":"chose","label":"Formatted string"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"My Google connection (karim@zynera.ai)"}}},"designer":{"x":300,"y":1200},"interface":[{"name":"__IMTLENGTH__","type":"uinteger","label":"Total number of bundles"},{"name":"__IMTINDEX__","type":"uinteger","label":"Bundle order position"},{"name":"__ROW_NUMBER__","type":"number","label":"Row number"},{"name":"__SPREADSHEET_ID__","type":"text","label":"Spreadsheet ID"},{"name":"__SHEET__","type":"text","label":"Sheet"},{"name":"0","type":"text","label":"Name (A)"},{"name":"1","type":"text","label":"Country (B)"},{"name":"2","type":"text","label":"Phone (C)"},{"name":"3","type":"text","label":"Comments (D)"},{"name":"4","type":"text","label":"Email (E)"},{"name":"5","type":"text","label":"(F)"},{"name":"6","type":"text","label":"(G)"},{"name":"7","type":"text","label":"(H)"},{"name":"8","type":"text","label":"(I)"},{"name":"9","type":"text","label":"(J)"},{"name":"10","type":"text","label":"(K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"},{"name":"25","type":"text","label":"(Z)"},{"name":"26","type":"text","label":"(AA)"},{"name":"27","type":"text","label":"(AB)"},{"name":"28","type":"text","label":"(AC)"},{"name":"29","type":"text","label":"(AD)"},{"name":"30","type":"text","label":"(AE)"},{"name":"31","type":"text","label":"(AF)"},{"name":"32","type":"text","label":"(AG)"},{"name":"33","type":"text","label":"(AH)"},{"name":"34","type":"text","label":"(AI)"},{"name":"35","type":"text","label":"(AJ)"},{"name":"36","type":"text","label":"(AK)"},{"name":"37","type":"text","label":"(AL)"},{"name":"38","type":"text","label":"(AM)"},{"name":"39","type":"text","label":"(AN)"},{"name":"40","type":"text","label":"(AO)"},{"name":"41","type":"text","label":"(AP)"},{"name":"42","type":"text","label":"(AQ)"},{"name":"43","type":"text","label":"(AR)"},{"name":"44","type":"text","label":"(AS)"},{"name":"45","type":"text","label":"(AT)"},{"name":"46","type":"text","label":"(AU)"},{"name":"47","type":"text","label":"(AV)"},{"name":"48","type":"text","label":"(AW)"},{"name":"49","type":"text","label":"(AX)"},{"name":"50","type":"text","label":"(AY)"},{"name":"51","type":"text","label":"(AZ)"},{"name":"52","type":"text","label":"(BA)"},{"name":"53","type":"text","label":"(BB)"},{"name":"54","type":"text","label":"(BC)"},{"name":"55","type":"text","label":"(BD)"},{"name":"56","type":"text","label":"(BE)"},{"name":"57","type":"text","label":"(BF)"},{"name":"58","type":"text","label":"(BG)"},{"name":"59","type":"text","label":"(BH)"},{"name":"60","type":"text","label":"(BI)"},{"name":"61","type":"text","label":"(BJ)"},{"name":"62","type":"text","label":"(BK)"},{"name":"63","type":"text","label":"(BL)"},{"name":"64","type":"text","label":"(BM)"},{"name":"65","type":"text","label":"(BN)"},{"name":"66","type":"text","label":"(BO)"},{"name":"67","type":"text","label":"(BP)"},{"name":"68","type":"text","label":"(BQ)"},{"name":"69","type":"text","label":"(BR)"},{"name":"70","type":"text","label":"(BS)"},{"name":"71","type":"text","label":"(BT)"},{"name":"72","type":"text","label":"(BU)"},{"name":"73","type":"text","label":"(BV)"},{"name":"74","type":"text","label":"(BW)"},{"name":"75","type":"text","label":"(BX)"},{"name":"76","type":"text","label":"(BY)"},{"name":"77","type":"text","label":"(BZ)"},{"name":"78","type":"text","label":"(CA)"},{"name":"79","type":"text","label":"(CB)"},{"name":"80","type":"text","label":"(CC)"},{"name":"81","type":"text","label":"(CD)"},{"name":"82","type":"text","label":"(CE)"},{"name":"83","type":"text","label":"(CF)"},{"name":"84","type":"text","label":"(CG)"},{"name":"85","type":"text","label":"(CH)"},{"name":"86","type":"text","label":"(CI)"},{"name":"87","type":"text","label":"(CJ)"},{"name":"88","type":"text","label":"(CK)"},{"name":"89","type":"text","label":"(CL)"},{"name":"90","type":"text","label":"(CM)"},{"name":"91","type":"text","label":"(CN)"},{"name":"92","type":"text","label":"(CO)"},{"name":"93","type":"text","label":"(CP)"},{"name":"94","type":"text","label":"(CQ)"},{"name":"95","type":"text","label":"(CR)"},{"name":"96","type":"text","label":"(CS)"},{"name":"97","type":"text","label":"(CT)"},{"name":"98","type":"text","label":"(CU)"},{"name":"99","type":"text","label":"(CV)"},{"name":"100","type":"text","label":"(CW)"},{"name":"101","type":"text","label":"(CX)"},{"name":"102","type":"text","label":"(CY)"},{"name":"103","type":"text","label":"(CZ)"}],"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2907000}},{"id":26,"mapper":{"number":"{{47.`2`}}","defaultCountry":"{{47.`1`}}"},"module":"phonenumber:TransformerParseNumber","version":1,"metadata":{"expect":[{"name":"number","type":"text","label":"Phone number","required":true},{"name":"defaultCountry","type":"select","label":"Default country for parsing","required":true,"validate":{"enum":["AC","AD","AE","AF","AG","AI","AL","AM","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CP","CR","CU","CV","CW","CX","CY","CZ","DE","DG","DJ","DK","DM","DO","DZ","EA","EC","EE","EG","EH","ER","ES","ET","EU","FI","FJ","FK","FM","FO","FR","FX","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","IC","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SU","SV","SX","SY","SZ","TA","TC","TD","TF","TG","TH","TJ","TK","TL","TM","TN","TO","TR","TT","TV","TW","TZ","UA","UG","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","YE","YT","ZA","ZM","ZW"]}}],"restore":{"expect":{"defaultCountry":{"mode":"edit"}}},"designer":{"x":600,"y":1200}},"parameters":{}},{"id":27,"mapper":{"text":"{{47.`4`}}","pattern":"##emails","specialCharsPattern":""},"module":"regexp:GetElementsFromText","version":1,"metadata":{"expect":[{"name":"pattern","type":"select","label":"Pattern","required":true,"validate":{"enum":["##emails","##html_tags","##http_urls","##ftp_urls","##telephone_numbers","##ipv4","##ipv6","##emoji","##key_value_pairs"]}},{"name":"text","type":"text","label":"Text","required":true},{"name":"specialCharsPattern","type":"text","label":"Special characters in the pattern"}],"restore":{"expect":{"pattern":{"label":"Email"}}},"designer":{"x":900,"y":1200},"interface":[{"name":"match","type":"any","label":"Match"}],"parameters":[{"name":"continueWhenNoRes","type":"boolean","label":"Continue the execution of the route even if the module finds no matches","required":true}]},"parameters":{"continueWhenNoRes":false}},{"id":28,"mapper":{"mode":"fromAll","values":{"2":"{{26.phone}}","4":"{{27.match}}"},"sheetId":"Tabellenblatt1","rowNumber":"{{47.`__ROW_NUMBER__`}}","spreadsheetId":"1g_qdG6p50CjkxhVVwaK4GY-6To1Eh3u6GUb05CEEMSE","includesHeaders":true,"valueInputOption":"USER_ENTERED"},"module":"google-sheets:updateRow","version":2,"metadata":{"expect":[{"name":"mode","type":"select","label":"Search Method","required":true,"validate":{"enum":["select","fromAll","map"]}},{"name":"valueInputOption","type":"select","label":"Value input option","validate":{"enum":["USER_ENTERED","RAW"]}},{"name":"spreadsheetId","type":"text","label":"Spreadsheet ID","required":true},{"mode":"edit","name":"sheetId","type":"select","label":"Sheet Name","required":true},{"name":"rowNumber","type":"uinteger","label":"Row number","required":true},{"name":"includesHeaders","type":"select","label":"Table contains headers","required":true,"validate":{"enum":[true,false]}},{"name":"values","spec":[{"name":"0","type":"text","label":"Name (A)"},{"name":"1","type":"text","label":"Country (B)"},{"name":"2","type":"text","label":"Phone (C)"},{"name":"3","type":"text","label":"Comments (D)"},{"name":"4","type":"text","label":"Email (E)"},{"name":"5","type":"text","label":"(F)"},{"name":"6","type":"text","label":"(G)"},{"name":"7","type":"text","label":"(H)"},{"name":"8","type":"text","label":"(I)"},{"name":"9","type":"text","label":"(J)"},{"name":"10","type":"text","label":"(K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"},{"name":"25","type":"text","label":"(Z)"}],"type":"collection","label":"Values"}],"restore":{"expect":{"mode":{"label":"Select from all"},"sheetId":{"mode":"chose","label":"Tabellenblatt1"},"includesHeaders":{"label":"Yes","nested":[{"name":"values","spec":[{"name":"0","type":"text","label":"Name (A)"},{"name":"1","type":"text","label":"Country (B)"},{"name":"2","type":"text","label":"Phone (C)"},{"name":"3","type":"text","label":"Comments (D)"},{"name":"4","type":"text","label":"Email (E)"},{"name":"5","type":"text","label":"(F)"},{"name":"6","type":"text","label":"(G)"},{"name":"7","type":"text","label":"(H)"},{"name":"8","type":"text","label":"(I)"},{"name":"9","type":"text","label":"(J)"},{"name":"10","type":"text","label":"(K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"},{"name":"25","type":"text","label":"(Z)"}],"type":"collection","label":"Values"}]},"valueInputOption":{"mode":"chose","label":"User entered"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"My Google connection (karim@zynera.ai)"}}},"designer":{"x":1200,"y":1200},"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2907000}}],"disabled":true},{"flow":[{"id":46,"mapper":{"from":"share","sheetId":"Tabellenblatt4","sortOrder":"asc","spreadsheetId":"1g_qdG6p50CjkxhVVwaK4GY-6To1Eh3u6GUb05CEEMSE","tableFirstRow":"A1:CZ1","includesHeaders":true,"valueRenderOption":"FORMATTED_VALUE","dateTimeRenderOption":"FORMATTED_STRING"},"module":"google-sheets:filterRows","version":2,"metadata":{"expect":[{"name":"from","type":"select","label":"Search Method","required":true,"validate":{"enum":["drive","share"]}},{"name":"valueRenderOption","type":"select","label":"Value render option","validate":{"enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"]}},{"name":"dateTimeRenderOption","type":"select","label":"Date and time render option","validate":{"enum":["SERIAL_NUMBER","FORMATTED_STRING"]}},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"spreadsheetId","type":"text","label":"Spreadsheet ID","required":true},{"name":"sheetId","type":"select","label":"Sheet Name","required":true},{"name":"includesHeaders","type":"select","label":"Table contains headers","required":true,"validate":{"enum":[true,false]}},{"name":"tableFirstRow","type":"select","label":"Column range","required":true,"validate":{"enum":["A1:Z1","A1:BZ1","A1:CZ1","A1:DZ1","A1:MZ1","A1:ZZ1","A1:AZZ1","A1:BZZ1","A1:CZZ1","A1:DZZ1","A1:MZZ1","A1:ZZZ1"]}},{"name":"filter","type":"filter","label":"Filter","options":"rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"},{"name":"orderBy","type":"select","label":"Order by"},{"name":"sortOrder","type":"select","label":"Sort order","validate":{"enum":["asc","desc"]}}],"restore":{"expect":{"from":{"label":"Select from all"},"orderBy":{"mode":"chose"},"sheetId":{"mode":"chose","label":"Tabellenblatt4"},"sortOrder":{"mode":"chose","label":"Ascending"},"tableFirstRow":{"label":"A-CZ"},"includesHeaders":{"mode":"chose","label":"Yes"},"valueRenderOption":{"mode":"chose","label":"Formatted value"},"dateTimeRenderOption":{"mode":"chose","label":"Formatted string"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"My Google connection (karim@zynera.ai)"}}},"designer":{"x":300,"y":1500},"interface":[{"name":"__IMTLENGTH__","type":"uinteger","label":"Total number of bundles"},{"name":"__IMTINDEX__","type":"uinteger","label":"Bundle order position"},{"name":"__ROW_NUMBER__","type":"number","label":"Row number"},{"name":"__SPREADSHEET_ID__","type":"text","label":"Spreadsheet ID"},{"name":"__SHEET__","type":"text","label":"Sheet"},{"name":"0","type":"text","label":"First Name (A)"},{"name":"1","type":"text","label":"Last Name (B)"},{"name":"2","type":"text","label":"Email (C)"},{"name":"3","type":"text","label":"Street (D)"},{"name":"4","type":"text","label":"City (E)"},{"name":"5","type":"text","label":"Postal Code (F)"},{"name":"6","type":"text","label":"Country (G)"},{"name":"7","type":"text","label":"(H)"},{"name":"8","type":"text","label":"(I)"},{"name":"9","type":"text","label":"(J)"},{"name":"10","type":"text","label":"(K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"},{"name":"25","type":"text","label":"(Z)"},{"name":"26","type":"text","label":"(AA)"},{"name":"27","type":"text","label":"(AB)"},{"name":"28","type":"text","label":"(AC)"},{"name":"29","type":"text","label":"(AD)"},{"name":"30","type":"text","label":"(AE)"},{"name":"31","type":"text","label":"(AF)"},{"name":"32","type":"text","label":"(AG)"},{"name":"33","type":"text","label":"(AH)"},{"name":"34","type":"text","label":"(AI)"},{"name":"35","type":"text","label":"(AJ)"},{"name":"36","type":"text","label":"(AK)"},{"name":"37","type":"text","label":"(AL)"},{"name":"38","type":"text","label":"(AM)"},{"name":"39","type":"text","label":"(AN)"},{"name":"40","type":"text","label":"(AO)"},{"name":"41","type":"text","label":"(AP)"},{"name":"42","type":"text","label":"(AQ)"},{"name":"43","type":"text","label":"(AR)"},{"name":"44","type":"text","label":"(AS)"},{"name":"45","type":"text","label":"(AT)"},{"name":"46","type":"text","label":"(AU)"},{"name":"47","type":"text","label":"(AV)"},{"name":"48","type":"text","label":"(AW)"},{"name":"49","type":"text","label":"(AX)"},{"name":"50","type":"text","label":"(AY)"},{"name":"51","type":"text","label":"(AZ)"},{"name":"52","type":"text","label":"(BA)"},{"name":"53","type":"text","label":"(BB)"},{"name":"54","type":"text","label":"(BC)"},{"name":"55","type":"text","label":"(BD)"},{"name":"56","type":"text","label":"(BE)"},{"name":"57","type":"text","label":"(BF)"},{"name":"58","type":"text","label":"(BG)"},{"name":"59","type":"text","label":"(BH)"},{"name":"60","type":"text","label":"(BI)"},{"name":"61","type":"text","label":"(BJ)"},{"name":"62","type":"text","label":"(BK)"},{"name":"63","type":"text","label":"(BL)"},{"name":"64","type":"text","label":"(BM)"},{"name":"65","type":"text","label":"(BN)"},{"name":"66","type":"text","label":"(BO)"},{"name":"67","type":"text","label":"(BP)"},{"name":"68","type":"text","label":"(BQ)"},{"name":"69","type":"text","label":"(BR)"},{"name":"70","type":"text","label":"(BS)"},{"name":"71","type":"text","label":"(BT)"},{"name":"72","type":"text","label":"(BU)"},{"name":"73","type":"text","label":"(BV)"},{"name":"74","type":"text","label":"(BW)"},{"name":"75","type":"text","label":"(BX)"},{"name":"76","type":"text","label":"(BY)"},{"name":"77","type":"text","label":"(BZ)"},{"name":"78","type":"text","label":"(CA)"},{"name":"79","type":"text","label":"(CB)"},{"name":"80","type":"text","label":"(CC)"},{"name":"81","type":"text","label":"(CD)"},{"name":"82","type":"text","label":"(CE)"},{"name":"83","type":"text","label":"(CF)"},{"name":"84","type":"text","label":"(CG)"},{"name":"85","type":"text","label":"(CH)"},{"name":"86","type":"text","label":"(CI)"},{"name":"87","type":"text","label":"(CJ)"},{"name":"88","type":"text","label":"(CK)"},{"name":"89","type":"text","label":"(CL)"},{"name":"90","type":"text","label":"(CM)"},{"name":"91","type":"text","label":"(CN)"},{"name":"92","type":"text","label":"(CO)"},{"name":"93","type":"text","label":"(CP)"},{"name":"94","type":"text","label":"(CQ)"},{"name":"95","type":"text","label":"(CR)"},{"name":"96","type":"text","label":"(CS)"},{"name":"97","type":"text","label":"(CT)"},{"name":"98","type":"text","label":"(CU)"},{"name":"99","type":"text","label":"(CV)"},{"name":"100","type":"text","label":"(CW)"},{"name":"101","type":"text","label":"(CX)"},{"name":"102","type":"text","label":"(CY)"},{"name":"103","type":"text","label":"(CZ)"}],"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2907000}},{"id":48,"mapper":{"input":"{{46.`6`}}","casesTable":[{"output":"^(F-)?\\d{5}$","pattern":"France|FR"},{"output":"^\\d{5}$","pattern":"Italy|IT"},{"output":"^\\d{3}-\\d{4}$","pattern":"Japan|JP"},{"output":"^[A-Z]{1,2}\\d{1,2}[A-Z]?\\s+\\d[A-Z]{2}$","pattern":"England|EN|UK"}],"elseOutput":"","useRegExpMatch":true},"module":"util:Switcher","version":1,"metadata":{"expect":[{"name":"input","type":"text","label":"Input"},{"name":"useRegExpMatch","type":"boolean","label":"Use regular expressions to match","required":true},{"name":"casesTable","spec":[{"name":"pattern","type":"text","label":"Pattern"},{"name":"output","type":"any","label":"Output"}],"type":"array","label":"Cases","required":true},{"name":"elseOutput","type":"any","label":"Else"}],"restore":{"expect":{"casesTable":{"mode":"chose","items":[null,null,null,null]}}},"designer":{"x":600,"y":1500}},"parameters":{}},{"id":49,"filter":{"name":"Output Exist","conditions":[[{"a":"{{48.output}}","o":"exist"}]]},"mapper":{"text":"{{46.`5`}}","pattern":"({{48.output}})"},"module":"regexp:AdvancedParser","version":1,"metadata":{"expect":[{"name":"pattern","type":"text","label":"Pattern","required":true},{"name":"text","type":"text","label":"Text","required":true}],"restore":{},"designer":{"x":900,"y":1500},"parameters":[{"name":"global","type":"boolean","label":"Global match","required":true},{"name":"sensitive","type":"boolean","label":"Case sensitive","required":true},{"name":"multiline","type":"boolean","label":"Multiline","required":true},{"name":"singleline","type":"boolean","label":"Singleline","required":true},{"name":"continueWhenNoRes","type":"boolean","label":"Continue the execution of the route even if the module finds no matches","required":true},{"name":"advancedParser","type":"hidden"}]},"parameters":{"global":false,"multiline":false,"sensitive":false,"singleline":false,"advancedParser":true,"continueWhenNoRes":true}},{"id":50,"filter":{"name":"Value Not Exist","conditions":[[{"a":"{{49.value}}","o":"exist"}]]},"mapper":{"value":"Row number: {{46.`__ROW_NUMBER__`}}<br>\nCountry: {{46.`6`}}<br>\nPostal code: {{46.`5`}}<br>"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{"extra":{"feeder":{"label":"Google Sheets - Search Rows [46]"}},"parameters":{"rowSeparator":{"label":"Other"}}},"advanced":true,"designer":{"x":1200,"y":1500},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}},{"name":"otherRowSeparator","type":"text","label":"Separator"}]},"parameters":{"feeder":46,"rowSeparator":"other","otherRowSeparator":"<br>"}},{"id":51,"filter":{"name":"Text Exist","conditions":[[{"a":"{{50.text}}","o":"exist"}]]},"mapper":{"cc":[],"to":["karim@zynera.ai"],"bcc":[],"from":"","html":"Here is the list of the postal codes that are incorrect: <br>{{50.text}}<br>","subject":"Postal codes that need to be changed","attachments":[]},"module":"google-email:ActionSendEmail","version":2,"metadata":{"expect":[{"name":"from","type":"text","label":"From"},{"name":"to","spec":{"name":"value","type":"email","label":"Email address","required":true},"type":"array","label":"To","required":true},{"name":"subject","type":"text","label":"Subject"},{"name":"html","type":"text","label":"Content"},{"name":"attachments","spec":[{"name":"fileName","type":"filename","label":"File name","required":true,"semantic":"file:name"},{"name":"data","type":"buffer","label":"Data","required":true,"semantic":"file:data"},{"name":"cid","type":"text","label":"Content-ID"}],"type":"array","label":"Attachments"},{"name":"cc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Copy recipient"},{"name":"bcc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Blind copy recipient"}],"restore":{"expect":{"cc":{"mode":"chose"},"to":{"mode":"chose","items":[null]},"bcc":{"mode":"chose"},"attachments":{"mode":"chose"}},"parameters":{"account":{"data":{"scoped":"true","connection":"google-restricted"},"label":"My Google Restricted connection (karim@zynera.ai)"}}},"designer":{"x":1500,"y":1500},"parameters":[{"name":"account","type":"account:google-restricted","label":"Connection","required":true}]},"parameters":{"account":2907007}}],"disabled":true},{"flow":[{"id":52,"mapper":{"file":"/1WpjL9fiuWxqKyZGBklK0PUbmmFdUzPaA","select":"value","destination":"drive","formatDrawings":"image/jpeg","formatDocuments":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","formatSpreadsheets":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","formatPresentations":"application/vnd.openxmlformats-officedocument.presentationml.presentation"},"module":"google-drive:getAFile","version":4,"metadata":{"expect":[{"type":"hidden"},{"name":"select","type":"select","label":"Enter a File ID","required":true,"validate":{"enum":["map","value"]}},{"name":"formatDocuments","type":"select","label":"Convert Google Documents Files to Format","required":true,"validate":{"enum":["application/vnd.openxmlformats-officedocument.wordprocessingml.document","application/pdf","application/vnd.oasis.opendocument.text","text/html","text/plain","application/rtf"]}},{"name":"formatSpreadsheets","type":"select","label":"Convert Google Spreadsheets Files to Format","required":true,"validate":{"enum":["application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","application/x-vnd.oasis.opendocument.spreadsheet","application/pdf"]}},{"name":"formatPresentations","type":"select","label":"Convert Google Slides Files to Format","required":true,"validate":{"enum":["application/vnd.openxmlformats-officedocument.presentationml.presentation","application/pdf"]}},{"name":"formatDrawings","type":"select","label":"Convert Google Drawings Files to Format","required":true,"validate":{"enum":["image/jpeg","image/png","image/svg+xml","application/pdf"]}},{"name":"destination","type":"select","label":"Choose a Drive","required":true,"validate":{"enum":["drive","share","team"]}},{"name":"file","type":"file","label":"File ID","required":true},{"type":"hidden"},{"name":"select","type":"select","label":"Enter a File ID","required":true,"validate":{"enum":["map","value"]}},{"name":"formatDocuments","type":"select","label":"Convert Google Documents Files to Format","required":true,"validate":{"enum":["application/vnd.openxmlformats-officedocument.wordprocessingml.document","application/pdf","application/vnd.oasis.opendocument.text","text/html","text/plain","application/rtf"]}},{"name":"formatSpreadsheets","type":"select","label":"Convert Google Spreadsheets Files to Format","required":true,"validate":{"enum":["application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","application/x-vnd.oasis.opendocument.spreadsheet","application/pdf"]}},{"name":"formatPresentations","type":"select","label":"Convert Google Slides Files to Format","required":true,"validate":{"enum":["application/vnd.openxmlformats-officedocument.presentationml.presentation","application/pdf"]}},{"name":"formatDrawings","type":"select","label":"Convert Google Drawings Files to Format","required":true,"validate":{"enum":["image/jpeg","image/png","image/svg+xml","application/pdf"]}},{"name":"destination","type":"select","label":"Choose a Drive","required":true,"validate":{"enum":["drive","share","team"]}},{"name":"file","type":"file","label":"File ID","required":true}],"restore":{"expect":{"file":{"path":["MA C04 U04.txt"]},"select":{"label":"Select from the list"},"destination":{"label":"My Drive"},"formatDrawings":{"label":"JPEG"},"formatDocuments":{"label":"MS Word Document"},"formatSpreadsheets":{"label":"MS Excel"},"formatPresentations":{"label":"MS PowerPoint"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google-restricted"},"label":"My Google Restricted connection (karim@zynera.ai)"}}},"designer":{"x":155,"y":2343},"parameters":[{"name":"__IMTCONN__","type":"account:google-restricted","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2907007}},{"id":53,"mapper":{"scope":"roundtrip","variables":[{"name":"Car Registration Data","value":"{{toString(52.data)}}"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null]}}},"designer":{"x":455,"y":2343},"interface":[{"name":"Car Registration Data","type":"any","label":"Car Registration Data"}]},"parameters":{}},{"id":54,"mapper":{"sort":[],"filter":[],"mappAbleLimit":""},"module":"datastore:SearchRecord","version":1,"metadata":{"expect":[{"name":"filter","type":"filter","label":"Filter","options":"rpc://datastore/1.10.14/RpcGetUDTKeys","required":true},{"name":"sort","spec":[{"name":"key","type":"select","label":"Key","dynamic":true,"options":[],"required":true},{"name":"order","type":"select","label":"Order","options":[{"label":"Ascending","value":1},{"label":"Descending","value":-1}],"required":true}],"type":"array","label":"Sort"},{"name":"mappAbleLimit","type":"uinteger","label":"Mappable Limit"}],"restore":{"parameters":{"datastore":{"label":"MA C04 U04"}}},"designer":{"x":755,"y":2343},"interface":[{"name":"__IMTLENGTH__","type":"uinteger","label":"Total number of bundles"},{"name":"__IMTINDEX__","type":"uinteger","label":"Bundle order position"},{"name":"key","type":"text","label":"Key"},{"name":"data","spec":[{"name":"First Name","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"Last Name","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"Email","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"County","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"Car Registration Plate","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":"Record"}],"parameters":[{"name":"datastore","type":"datastore","label":"Data store","required":true},{"name":"continueWhenNoRes","type":"boolean","label":"Continue the execution of the route even if the module returns no results"},{"name":"limit","type":"uinteger","label":"Limit"}]},"parameters":{"limit":null,"datastore":60089,"continueWhenNoRes":false}},{"id":55,"mapper":{"text":"{{53.`Car Registration Data`}}","pattern":"{{54.data.Email}}:(.*)"},"module":"regexp:AdvancedParser","version":1,"metadata":{"expect":[{"name":"pattern","type":"text","label":"Pattern","required":true},{"name":"text","type":"text","label":"Text","required":true}],"restore":{},"designer":{"x":1055,"y":2343},"parameters":[{"name":"global","type":"boolean","label":"Global match","required":true},{"name":"sensitive","type":"boolean","label":"Case sensitive","required":true},{"name":"multiline","type":"boolean","label":"Multiline","required":true},{"name":"singleline","type":"boolean","label":"Singleline","required":true},{"name":"continueWhenNoRes","type":"boolean","label":"Continue the execution of the route even if the module finds no matches","required":true},{"name":"advancedParser","type":"hidden"}]},"parameters":{"global":false,"multiline":false,"sensitive":true,"singleline":false,"advancedParser":true,"continueWhenNoRes":false}},{"id":56,"mapper":{"input":"{{54.data.County}}","casesTable":[{"output":"[A-Z]{2}\\d{2}\\s?[A-Z]{3}","pattern":"United Kingdom"},{"output":"[A-Z]{2}\\d{2}\\s?[A-Z]{1,2}\\s?\\d{1,4}","pattern":"India"},{"output":"\\d[A-Z]{3}\\s?-\\s?\\d{3}","pattern":"Australia"},{"output":"[A-Z]{2}\\s?\\d{3}\\s?[A-Z]{2}","pattern":"Italy"}],"elseOutput":"([^;]+)","useRegExpMatch":false},"module":"util:Switcher","version":1,"metadata":{"expect":[{"name":"input","type":"text","label":"Input"},{"name":"useRegExpMatch","type":"boolean","label":"Use regular expressions to match","required":true},{"name":"casesTable","spec":[{"name":"pattern","type":"text","label":"Pattern"},{"name":"output","type":"any","label":"Output"}],"type":"array","label":"Cases","required":true},{"name":"elseOutput","type":"any","label":"Else"}],"restore":{"expect":{"casesTable":{"mode":"chose","items":[null,null,null,null]}}},"designer":{"x":1355,"y":2343}},"parameters":{}},{"id":57,"mapper":{"text":"{{55.value}}","pattern":"car registration=({{56.output}})"},"module":"regexp:AdvancedParser","version":1,"metadata":{"expect":[{"name":"pattern","type":"text","label":"Pattern","required":true},{"name":"text","type":"text","label":"Text","required":true}],"restore":{},"designer":{"x":1655,"y":2343},"parameters":[{"name":"global","type":"boolean","label":"Global match","required":true},{"name":"sensitive","type":"boolean","label":"Case sensitive","required":true},{"name":"multiline","type":"boolean","label":"Multiline","required":true},{"name":"singleline","type":"boolean","label":"Singleline","required":true},{"name":"continueWhenNoRes","type":"boolean","label":"Continue the execution of the route even if the module finds no matches","required":true},{"name":"advancedParser","type":"hidden"}]},"parameters":{"global":false,"multiline":false,"sensitive":true,"singleline":false,"advancedParser":true,"continueWhenNoRes":true}},{"id":58,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":59,"filter":{"name":"Value Exist","conditions":[[{"a":"{{57.value}}","o":"exist"}]]},"mapper":{"key":"{{54.key}}","data":{"Email":"","County":"","Last Name":"","First Name":"","Car Registration Plate":"{{57.value}}"},"upsert":true,"overwriteArrays":false},"module":"datastore:UpdateRecord","version":1,"metadata":{"expect":[{"name":"key","type":"text","label":"Key","required":true},{"name":"upsert","type":"boolean","label":"Insert missing record","required":true},{"name":"overwriteArrays","type":"boolean","label":"Overwrite an existing array in the record","required":true},{"name":"data","spec":[{"name":"First Name","type":"text","label":null},{"name":"Last Name","type":"text","label":null},{"name":"Email","type":"text","label":null},{"name":"County","type":"text","label":null},{"name":"Car Registration Plate","type":"text","label":null}],"type":"collection","label":"Record"}],"restore":{"expect":{"upsert":{"mode":"chose"},"overwriteArrays":{"mode":"chose"}},"parameters":{"datastore":{"label":"MA C04 U04"}}},"designer":{"x":2255,"y":2193},"parameters":[{"name":"datastore","type":"datastore","label":"Data store","required":true}]},"parameters":{"datastore":60089}}]},{"flow":[{"id":60,"filter":{"name":"Value Not Exist","conditions":[]},"mapper":{"key":"{{54.key}}","data":{"Email":"","County":"","Last Name":"","First Name":"","Car Registration Plate":"Incorrect or empty: {{55.value}}"},"upsert":true,"overwriteArrays":false},"module":"datastore:UpdateRecord","version":1,"metadata":{"expect":[{"name":"key","type":"text","label":"Key","required":true},{"name":"upsert","type":"boolean","label":"Insert missing record","required":true},{"name":"overwriteArrays","type":"boolean","label":"Overwrite an existing array in the record","required":true},{"name":"data","spec":[{"name":"First Name","type":"text","label":null},{"name":"Last Name","type":"text","label":null},{"name":"Email","type":"text","label":null},{"name":"County","type":"text","label":null},{"name":"Car Registration Plate","type":"text","label":null}],"type":"collection","label":"Record"}],"restore":{"expect":{"upsert":{"mode":"chose"},"overwriteArrays":{"mode":"chose"}},"parameters":{"datastore":{"label":"MA C04 U04"}}},"designer":{"x":2255,"y":2493},"parameters":[{"name":"datastore","type":"datastore","label":"Data store","required":true}]},"parameters":{"datastore":60089}}]}],"version":1,"metadata":{"designer":{"x":1955,"y":2343}},"parameters":{"else":1}}]}],"version":1,"metadata":{"designer":{"x":0,"y":750}}}],"name":"Make Advanced Course 4 Regex","metadata":{"instant":false,"version":1,"designer":{"orphans":[[{"id":29,"mapper":{},"module":"google-email:TriggerNewEmail","version":2,"metadata":{"restore":{"parameters":{"folder":{"path":["INBOX"]},"account":{"data":{"scoped":"true","connection":"google-restricted"},"label":"My Google Restricted connection"},"criteria":{"label":"All emails"},"searchType":{"label":"Simple filter"}}},"advanced":true,"designer":{"x":940,"y":1786,"messages":[{"message":"A trigger must be the first module in a scenario.","category":"link","severity":"warning"}]},"parameters":[{"name":"account","type":"account:google-restricted","label":"Connection","required":true},{"name":"searchType","type":"select","label":"Filter type","required":true,"validate":{"enum":["simple","gmail"]}},{"name":"markSeen","type":"boolean","label":"Mark email message(s) as read when fetched"},{"name":"maxResults","type":"uinteger","label":"Maximum number of results","required":true},{"name":"folder","type":"folder","label":"Folder","required":true},{"name":"criteria","type":"select","label":"Criteria","required":true,"validate":{"enum":["ALL","SEEN","UNSEEN"]}},{"name":"from","type":"email","label":"Sender email address"},{"name":"subject","type":"text","label":"Subject"},{"name":"text","type":"text","label":"Search phrase"}]},"parameters":{"from":"","text":"","folder":"INBOX","account":2907007,"subject":"Hotel list","criteria":"ALL","markSeen":false,"maxResults":1,"searchType":"simple"}},{"id":30,"mapper":{"text":"{{29.text}}"},"module":"regexp:Parser","version":1,"metadata":{"expect":[{"name":"text","type":"text","label":"Text"}],"restore":{},"designer":{"x":1345,"y":1779},"interface":[{"name":"$1","type":"text","label":"$1"},{"name":"$2","type":"text","label":"$2"},{"name":"i","type":"uinteger","label":"i"},{"name":"__IMTMATCH__","type":"any","label":"Fallback Match"}],"parameters":[{"name":"pattern","type":"text","label":"Pattern","required":true},{"name":"global","type":"boolean","label":"Global match","required":true},{"name":"sensitive","type":"boolean","label":"Case sensitive","required":true},{"name":"multiline","type":"boolean","label":"Multiline","required":true},{"name":"singleline","type":"boolean","label":"Singleline","required":true},{"name":"continueWhenNoRes","type":"boolean","label":"Continue the execution of the route even if the module finds no matches","required":true},{"name":"ignoreInfiniteLoopsWhenGlobal","type":"boolean","label":"Ignore errors when there is an infinite search loop","required":true}]},"parameters":{"global":true,"pattern":"\\*(.*?)\\*\\nCatalog:\\s\\[(.*?)\\]","multiline":false,"sensitive":true,"singleline":false,"continueWhenNoRes":true,"ignoreInfiniteLoopsWhenGlobal":false}},{"id":31,"mapper":{"mode":"fromAll","values":{"0":"{{30.`$1`}}","1":"{{30.`$2`}}"},"sheetId":"Tabellenblatt2","spreadsheetId":"1g_qdG6p50CjkxhVVwaK4GY-6To1Eh3u6GUb05CEEMSE","includesHeaders":true,"insertDataOption":"INSERT_ROWS","valueInputOption":"USER_ENTERED","insertUnformatted":false},"module":"google-sheets:addRow","version":2,"metadata":{"expect":[{"name":"mode","type":"select","label":"Search Method","required":true,"validate":{"enum":["select","fromAll","map"]}},{"name":"insertUnformatted","type":"boolean","label":"Unformatted","required":true},{"name":"valueInputOption","type":"select","label":"Value input option","validate":{"enum":["USER_ENTERED","RAW"]}},{"name":"insertDataOption","type":"select","label":"Insert data option","validate":{"enum":["INSERT_ROWS","OVERWRITE"]}},{"name":"spreadsheetId","type":"text","label":"Spreadsheet ID","required":true},{"name":"sheetId","type":"select","label":"Sheet Name","required":true},{"name":"includesHeaders","type":"select","label":"Table contains headers","required":true,"validate":{"enum":[true,false]}},{"name":"values","spec":[{"name":"0","type":"text","label":"Name (A)"},{"name":"1","type":"text","label":"Catalog (B)"},{"name":"2","type":"text","label":"(C)"},{"name":"3","type":"text","label":"(D)"},{"name":"4","type":"text","label":"(E)"},{"name":"5","type":"text","label":"(F)"},{"name":"6","type":"text","label":"(G)"},{"name":"7","type":"text","label":"(H)"},{"name":"8","type":"text","label":"(I)"},{"name":"9","type":"text","label":"(J)"},{"name":"10","type":"text","label":"(K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"},{"name":"25","type":"text","label":"(Z)"}],"type":"collection","label":"Values"}],"restore":{"expect":{"mode":{"label":"Select from all"},"sheetId":{"mode":"chose","label":"Tabellenblatt2"},"includesHeaders":{"label":"Yes","nested":[{"name":"values","spec":[{"name":"0","type":"text","label":"Name (A)"},{"name":"1","type":"text","label":"Catalog (B)"},{"name":"2","type":"text","label":"(C)"},{"name":"3","type":"text","label":"(D)"},{"name":"4","type":"text","label":"(E)"},{"name":"5","type":"text","label":"(F)"},{"name":"6","type":"text","label":"(G)"},{"name":"7","type":"text","label":"(H)"},{"name":"8","type":"text","label":"(I)"},{"name":"9","type":"text","label":"(J)"},{"name":"10","type":"text","label":"(K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"},{"name":"25","type":"text","label":"(Z)"}],"type":"collection","label":"Values"}]},"insertDataOption":{"mode":"chose","label":"Insert rows"},"valueInputOption":{"mode":"chose","label":"User entered"},"insertUnformatted":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"My Google connection (karim@zynera.ai)"}}},"designer":{"x":1778,"y":1789},"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2907000}}],[{"id":32,"mapper":{},"module":"google-email:TriggerNewEmail","version":2,"metadata":{"restore":{"parameters":{"folder":{"path":["INBOX"]},"account":{"data":{"scoped":"true","connection":"google-restricted"},"label":"My Google Restricted connection (karim@zynera.ai)"},"searchType":{"label":"Gmail filter"}}},"designer":{"x":890,"y":2050,"messages":[{"message":"A trigger must be the first module in a scenario.","category":"link","severity":"warning"}]},"parameters":[{"name":"account","type":"account:google-restricted","label":"Connection","required":true},{"name":"searchType","type":"select","label":"Filter type","required":true,"validate":{"enum":["simple","gmail"]}},{"name":"markSeen","type":"boolean","label":"Mark email message(s) as read when fetched"},{"name":"maxResults","type":"uinteger","label":"Maximum number of results","required":true},{"name":"folder","type":"folder","label":"Folder","required":true},{"name":"xGmRaw","type":"text","label":"Query","required":true}]},"parameters":{"folder":"INBOX","xGmRaw":"subject:booking_1","account":2907007,"markSeen":false,"maxResults":1,"searchType":"gmail"}},{"id":33,"mapper":{"text":"{{32.text}}"},"module":"regexp:Parser","version":1,"metadata":{"expect":[{"name":"text","type":"text","label":"Text"}],"restore":{},"designer":{"x":1176,"y":2016},"interface":[{"name":"Email","type":"text","label":"Email"},{"name":"Phone","type":"text","label":"Phone"},{"name":"Dates","type":"text","label":"Dates"},{"name":"People","type":"text","label":"People"},{"name":"Requirements","type":"text","label":"Requirements"},{"name":"i","type":"uinteger","label":"i"},{"name":"__IMTMATCH__","type":"any","label":"Fallback Match"}],"parameters":[{"name":"pattern","type":"text","label":"Pattern","required":true},{"name":"global","type":"boolean","label":"Global match","required":true},{"name":"sensitive","type":"boolean","label":"Case sensitive","required":true},{"name":"multiline","type":"boolean","label":"Multiline","required":true},{"name":"singleline","type":"boolean","label":"Singleline","required":true},{"name":"continueWhenNoRes","type":"boolean","label":"Continue the execution of the route even if the module finds no matches","required":true},{"name":"ignoreInfiniteLoopsWhenGlobal","type":"boolean","label":"Ignore errors when there is an infinite search loop","required":true}]},"parameters":{"global":true,"pattern":"Email: (?<Email>.*)\\nPhone number: (?<Phone>.*)\\nBooking dates: (?<Dates>.*)\\nNumber of people: (?<People>.*)\\nDietary requirements: (?<Requirements>.*)\\n","multiline":false,"sensitive":false,"singleline":false,"continueWhenNoRes":false,"ignoreInfiniteLoopsWhenGlobal":false}},{"id":35,"mapper":{"text":"{{33.Phone}}","value":"{{emptystring}}","global":true,"pattern":"[\\-\\s\\/\\.\\+\\(\\)]","multiline":false,"sensitive":false,"singleline":false},"module":"regexp:Replace","version":1,"metadata":{"expect":[{"name":"pattern","type":"text","label":"Pattern","required":true},{"name":"value","type":"text","label":"New value"},{"name":"global","type":"boolean","label":"Global match","required":true},{"name":"sensitive","type":"boolean","label":"Case sensitive","required":true},{"name":"multiline","type":"boolean","label":"Multiline","required":true},{"name":"singleline","type":"boolean","label":"Singleline","required":true},{"name":"text","type":"text","label":"Text"}],"restore":{"expect":{"global":{"mode":"chose"},"multiline":{"mode":"chose"},"sensitive":{"mode":"chose"},"singleline":{"mode":"chose"}}},"designer":{"x":1554,"y":2029}},"parameters":{}},{"id":34,"mapper":{"mode":"fromAll","values":{"0":"{{33.Email}}","1":"{{35.text}}","2":"{{33.Dates}}","3":"{{33.People}}","4":"{{33.Requirements}}"},"sheetId":"Tabellenblatt3","spreadsheetId":"1g_qdG6p50CjkxhVVwaK4GY-6To1Eh3u6GUb05CEEMSE","includesHeaders":true,"insertDataOption":"INSERT_ROWS","valueInputOption":"USER_ENTERED","insertUnformatted":false},"module":"google-sheets:addRow","version":2,"metadata":{"expect":[{"name":"mode","type":"select","label":"Search Method","required":true,"validate":{"enum":["select","fromAll","map"]}},{"name":"insertUnformatted","type":"boolean","label":"Unformatted","required":true},{"name":"valueInputOption","type":"select","label":"Value input option","validate":{"enum":["USER_ENTERED","RAW"]}},{"name":"insertDataOption","type":"select","label":"Insert data option","validate":{"enum":["INSERT_ROWS","OVERWRITE"]}},{"name":"spreadsheetId","type":"text","label":"Spreadsheet ID","required":true},{"name":"sheetId","type":"select","label":"Sheet Name","required":true},{"name":"includesHeaders","type":"select","label":"Table contains headers","required":true,"validate":{"enum":[true,false]}},{"name":"values","spec":[{"name":"0","type":"text","label":"Email (A)"},{"name":"1","type":"text","label":"Phone (B)"},{"name":"2","type":"text","label":"Booking (C)"},{"name":"3","type":"text","label":"People (D)"},{"name":"4","type":"text","label":"Requirements (E)"},{"name":"5","type":"text","label":"(F)"},{"name":"6","type":"text","label":"(G)"},{"name":"7","type":"text","label":"(H)"},{"name":"8","type":"text","label":"(I)"},{"name":"9","type":"text","label":"(J)"},{"name":"10","type":"text","label":"(K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"},{"name":"25","type":"text","label":"(Z)"}],"type":"collection","label":"Values"}],"restore":{"expect":{"mode":{"label":"Select from all"},"sheetId":{"mode":"chose","label":"Tabellenblatt3"},"includesHeaders":{"label":"Yes","nested":[{"name":"values","spec":[{"name":"0","type":"text","label":"Email (A)"},{"name":"1","type":"text","label":"Phone (B)"},{"name":"2","type":"text","label":"Booking (C)"},{"name":"3","type":"text","label":"People (D)"},{"name":"4","type":"text","label":"Requirements (E)"},{"name":"5","type":"text","label":"(F)"},{"name":"6","type":"text","label":"(G)"},{"name":"7","type":"text","label":"(H)"},{"name":"8","type":"text","label":"(I)"},{"name":"9","type":"text","label":"(J)"},{"name":"10","type":"text","label":"(K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"},{"name":"25","type":"text","label":"(Z)"}],"type":"collection","label":"Values"}]},"insertDataOption":{"mode":"chose","label":"Insert rows"},"valueInputOption":{"mode":"chose","label":"User entered"},"insertUnformatted":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"My Google connection (karim@zynera.ai)"}}},"designer":{"x":1924,"y":2021},"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2907000}}],[{"id":36,"mapper":{},"module":"google-email:TriggerNewEmail","version":2,"metadata":{"restore":{"parameters":{"folder":{"path":["INBOX"]},"account":{"data":{"scoped":"true","connection":"google-restricted"},"label":"My Google Restricted connection (karim@zynera.ai)"},"criteria":{"label":"All emails"},"searchType":{"label":"Simple filter"}}},"advanced":true,"designer":{"x":1861,"y":1047,"messages":[{"message":"A trigger must be the first module in a scenario.","category":"link","severity":"warning"}]},"parameters":[{"name":"account","type":"account:google-restricted","label":"Connection","required":true},{"name":"searchType","type":"select","label":"Filter type","required":true,"validate":{"enum":["simple","gmail"]}},{"name":"markSeen","type":"boolean","label":"Mark email message(s) as read when fetched"},{"name":"maxResults","type":"uinteger","label":"Maximum number of results","required":true},{"name":"folder","type":"folder","label":"Folder","required":true},{"name":"criteria","type":"select","label":"Criteria","required":true,"validate":{"enum":["ALL","SEEN","UNSEEN"]}},{"name":"from","type":"email","label":"Sender email address"},{"name":"subject","type":"text","label":"Subject"},{"name":"text","type":"text","label":"Search phrase"}]},"parameters":{"from":"","text":"","folder":"INBOX","account":2907007,"subject":"booking_2","criteria":"ALL","markSeen":false,"maxResults":1,"searchType":"simple"}},{"id":37,"mapper":{"text":"{{36.text}}"},"module":"regexp:Parser","version":1,"metadata":{"expect":[{"name":"text","type":"text","label":"Text"}],"restore":{},"designer":{"x":2221,"y":1054},"interface":[{"name":"Email","type":"text","label":"Email"},{"name":"Phone","type":"text","label":"Phone"},{"name":"Dates","type":"text","label":"Dates"},{"name":"People","type":"text","label":"People"},{"name":"Requirements","type":"text","label":"Requirements"},{"name":"i","type":"uinteger","label":"i"},{"name":"__IMTMATCH__","type":"any","label":"Fallback Match"}],"parameters":[{"name":"pattern","type":"text","label":"Pattern","required":true},{"name":"global","type":"boolean","label":"Global match","required":true},{"name":"sensitive","type":"boolean","label":"Case sensitive","required":true},{"name":"multiline","type":"boolean","label":"Multiline","required":true},{"name":"singleline","type":"boolean","label":"Singleline","required":true},{"name":"continueWhenNoRes","type":"boolean","label":"Continue the execution of the route even if the module finds no matches","required":true},{"name":"ignoreInfiniteLoopsWhenGlobal","type":"boolean","label":"Ignore errors when there is an infinite search loop","required":true}]},"parameters":{"global":true,"pattern":"Email: (?<Email>.*)|Phone number: (?<Phone>.*)|Booking dates: (?<Dates>.*)|Number of people: (?<People>\\d*)|Dietary requirements: (?<Requirements>.*)","multiline":false,"sensitive":false,"singleline":false,"continueWhenNoRes":false,"ignoreInfiniteLoopsWhenGlobal":false}},{"id":40,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":41,"mapper":{"Dates":"{{37.Dates}}","Email":"{{37.Email}}","Phone":"{{37.Phone}}","People":"{{37.People}}","Requirements":"{{37.Requirements}}"},"module":"builtin:BasicAggregator","version":1,"metadata":{"restore":{"extra":{"feeder":{"label":"Text parser - Match pattern [37]"},"target":{"label":"Custom"}}},"designer":{"x":2975,"y":698}},"parameters":{"feeder":37}},{"id":42,"mapper":{"scope":"roundtrip","variables":[{"name":"Email","value":"{{first(remove(map(41.array; \"Email\"); null))}}"},{"name":"Phone","value":"{{first(remove(map(41.array; \"Phone\"); null))}}"},{"name":"Dates","value":"{{first(remove(map(41.array; \"Dates\"); null))}}"},{"name":"People","value":"{{first(remove(map(41.array; \"People\"); null))}}"},{"name":"Requirements","value":"{{first(remove(map(41.array; \"Requirements\"); null))}}"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null,null,null,null,null]}}},"designer":{"x":3343,"y":685},"interface":[{"name":"Email","type":"any","label":"Email"},{"name":"Phone","type":"any","label":"Phone"},{"name":"Dates","type":"any","label":"Dates"},{"name":"People","type":"any","label":"People"},{"name":"Requirements","type":"any","label":"Requirements"}]},"parameters":{}},{"id":39,"mapper":{"mode":"fromAll","values":{"0":"{{42.Email}}","1":"{{42.Phone}}","2":"{{42.Dates}}","3":"{{42.People}}","4":"{{42.Requirements}}"},"sheetId":"Tabellenblatt3","spreadsheetId":"1g_qdG6p50CjkxhVVwaK4GY-6To1Eh3u6GUb05CEEMSE","includesHeaders":true,"insertDataOption":"INSERT_ROWS","valueInputOption":"USER_ENTERED","insertUnformatted":false},"module":"google-sheets:addRow","version":2,"metadata":{"expect":[{"name":"mode","type":"select","label":"Search Method","required":true,"validate":{"enum":["select","fromAll","map"]}},{"name":"insertUnformatted","type":"boolean","label":"Unformatted","required":true},{"name":"valueInputOption","type":"select","label":"Value input option","validate":{"enum":["USER_ENTERED","RAW"]}},{"name":"insertDataOption","type":"select","label":"Insert data option","validate":{"enum":["INSERT_ROWS","OVERWRITE"]}},{"name":"spreadsheetId","type":"text","label":"Spreadsheet ID","required":true},{"name":"sheetId","type":"select","label":"Sheet Name","required":true},{"name":"includesHeaders","type":"select","label":"Table contains headers","required":true,"validate":{"enum":[true,false]}},{"name":"values","spec":[{"name":"0","type":"text","label":"Email (A)"},{"name":"1","type":"text","label":"Phone (B)"},{"name":"2","type":"text","label":"Dates (C)"},{"name":"3","type":"text","label":"People (D)"},{"name":"4","type":"text","label":"Requirements (E)"},{"name":"5","type":"text","label":"(F)"},{"name":"6","type":"text","label":"(G)"},{"name":"7","type":"text","label":"(H)"},{"name":"8","type":"text","label":"(I)"},{"name":"9","type":"text","label":"(J)"},{"name":"10","type":"text","label":"(K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"},{"name":"25","type":"text","label":"(Z)"}],"type":"collection","label":"Values"}],"restore":{"expect":{"mode":{"label":"Select from all"},"sheetId":{"mode":"chose","label":"Tabellenblatt3"},"includesHeaders":{"label":"Yes","nested":[{"name":"values","spec":[{"name":"0","type":"text","label":"Email (A)"},{"name":"1","type":"text","label":"Phone (B)"},{"name":"2","type":"text","label":"Dates (C)"},{"name":"3","type":"text","label":"People (D)"},{"name":"4","type":"text","label":"Requirements (E)"},{"name":"5","type":"text","label":"(F)"},{"name":"6","type":"text","label":"(G)"},{"name":"7","type":"text","label":"(H)"},{"name":"8","type":"text","label":"(I)"},{"name":"9","type":"text","label":"(J)"},{"name":"10","type":"text","label":"(K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"},{"name":"25","type":"text","label":"(Z)"}],"type":"collection","label":"Values"}]},"insertDataOption":{"mode":"chose","label":"Insert rows"},"valueInputOption":{"mode":"chose","label":"User entered"},"insertUnformatted":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"My Google connection (karim@zynera.ai)"}}},"designer":{"x":3685,"y":706},"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2907000}}],"disabled":true},{"flow":[{"id":43,"mapper":{"value":"{{if(37.Email; \"A_email=\" + 37.Email)}}{{if(37.Phone; \"B_phone=\" + 37.Phone)}}{{if(37.Dates; \"C_dates=\" + 37.Dates)}}{{if(37.People; \"D_people=\" + 37.People)}}{{if(37.Requirements; \"E_requirements=\" + 37.Requirements)}}"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{"extra":{"feeder":{"label":"Text parser - Match pattern [37]"}},"parameters":{"rowSeparator":{"label":"Other"}}},"advanced":true,"designer":{"x":2951,"y":1288},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}},{"name":"otherRowSeparator","type":"text","label":"Separator"}]},"parameters":{"feeder":37,"rowSeparator":"other","otherRowSeparator":"|"}},{"id":44,"mapper":{"scope":"roundtrip","variables":[{"name":"Email","value":"{{last(split(get(sort(split(43.text; \"|\")); 1); \"=\"))}}"},{"name":"Phone","value":"{{last(split(get(sort(split(43.text; \"|\")); 2); \"=\"))}}"},{"name":"Dates","value":"{{last(split(get(sort(split(43.text; \"|\")); 3); \"=\"))}}"},{"name":"People","value":"{{last(split(get(sort(split(43.text; \"|\")); 4); \"=\"))}}"},{"name":"Requirements","value":"{{last(split(get(sort(split(43.text; \"|\")); 5); \"=\"))}}"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null,null,null,null,null]}}},"designer":{"x":3340,"y":1296},"interface":[{"name":"Email","type":"any","label":"Email"},{"name":"Phone","type":"any","label":"Phone"},{"name":"Dates","type":"any","label":"Dates"},{"name":"People","type":"any","label":"People"},{"name":"Requirements","type":"any","label":"Requirements"}]},"parameters":{}},{"id":45,"mapper":{"mode":"fromAll","values":{"0":"{{44.Email}}","1":"{{44.Phone}}","2":"{{44.Dates}}","3":"{{44.People}}","4":"{{44.Requirements}}"},"sheetId":"Tabellenblatt3","spreadsheetId":"1g_qdG6p50CjkxhVVwaK4GY-6To1Eh3u6GUb05CEEMSE","includesHeaders":true,"insertDataOption":"INSERT_ROWS","valueInputOption":"USER_ENTERED","insertUnformatted":false},"module":"google-sheets:addRow","version":2,"metadata":{"expect":[{"name":"mode","type":"select","label":"Search Method","required":true,"validate":{"enum":["select","fromAll","map"]}},{"name":"insertUnformatted","type":"boolean","label":"Unformatted","required":true},{"name":"valueInputOption","type":"select","label":"Value input option","validate":{"enum":["USER_ENTERED","RAW"]}},{"name":"insertDataOption","type":"select","label":"Insert data option","validate":{"enum":["INSERT_ROWS","OVERWRITE"]}},{"name":"spreadsheetId","type":"text","label":"Spreadsheet ID","required":true},{"name":"sheetId","type":"select","label":"Sheet Name","required":true},{"name":"includesHeaders","type":"select","label":"Table contains headers","required":true,"validate":{"enum":[true,false]}},{"name":"values","spec":[{"name":"0","type":"text","label":"Email (A)"},{"name":"1","type":"text","label":"Phone (B)"},{"name":"2","type":"text","label":"Dates (C)"},{"name":"3","type":"text","label":"People (D)"},{"name":"4","type":"text","label":"Requirements (E)"},{"name":"5","type":"text","label":"(F)"},{"name":"6","type":"text","label":"(G)"},{"name":"7","type":"text","label":"(H)"},{"name":"8","type":"text","label":"(I)"},{"name":"9","type":"text","label":"(J)"},{"name":"10","type":"text","label":"(K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"},{"name":"25","type":"text","label":"(Z)"}],"type":"collection","label":"Values"}],"restore":{"expect":{"mode":{"label":"Select from all"},"sheetId":{"mode":"chose","label":"Tabellenblatt3"},"includesHeaders":{"label":"Yes","nested":[{"name":"values","spec":[{"name":"0","type":"text","label":"Email (A)"},{"name":"1","type":"text","label":"Phone (B)"},{"name":"2","type":"text","label":"Dates (C)"},{"name":"3","type":"text","label":"People (D)"},{"name":"4","type":"text","label":"Requirements (E)"},{"name":"5","type":"text","label":"(F)"},{"name":"6","type":"text","label":"(G)"},{"name":"7","type":"text","label":"(H)"},{"name":"8","type":"text","label":"(I)"},{"name":"9","type":"text","label":"(J)"},{"name":"10","type":"text","label":"(K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"},{"name":"25","type":"text","label":"(Z)"}],"type":"collection","label":"Values"}]},"insertDataOption":{"mode":"chose","label":"Insert rows"},"valueInputOption":{"mode":"chose","label":"User entered"},"insertUnformatted":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"My Google connection (karim@zynera.ai)"}}},"designer":{"x":3676,"y":1289},"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2907000}}]}],"version":1,"metadata":{"designer":{"x":2691,"y":1070}}}]],"samples":{"1":{"Text with email":"Hey there! If you need to contact us, please email academydemo@make.com, or helloacademy@make.com"},"2":{"match":"academydemo@make.com"},"4":{"Table":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=..."},"5":{"rows":[{"index":7,"columns":["Zlatan Ibramakeovich"]}],"caption":"","headers":["Player"]},"13":{"index":2,"columns":["Paolo Makedini"],"__IMTINDEX__":1,"__IMTLENGTH__":6},"16":{"Team":"AC Makelan","League":"Italy","Player":"Paolo Makedini"},"20":{"text":"\"AC Makelan\",\"Italy\",\"Paolo Makedini\"\n\"Makechester United\",\"England\",\"Harry Makeguire\"\n\"Athletico Ma..."},"21":{"HTML":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=..."},"22":{"attrs":{"href":"https://www.make.com/academy"},"element":"<a href=\"https://www.make.com/academy\">Make Academy</a>","innerContent":"Make Academy"},"23":{"Text":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=..."},"24":{"text":"WELCOME TO THE MAKE ACADEMY\nMake Academy is an educational platform for makers, creators, and innova..."},"26":{"ext":null,"e164":"+15555551234","type":"UNKNOWN","phone":5555551234,"valid":false,"country":null,"rfc3966":"tel:+1-555-555-1234","national":"(555) 555-1234","international":"+1 555-555-1234","countryCallingCode":1},"27":{"match":"eagles@hotelcalifornia.com"},"28":{"updatedRows":1,"updatedCells":2,"updatedRange":"Tabellenblatt1!A2:E2","spreadsheetId":"1g_qdG6p50CjkxhVVwaK4GY-6To1Eh3u6GUb05CEEMSE","updatedColumns":2},"29":{"cc":null,"id":57,"to":[{"name":"","address":"karim@zynera.ai"}],"bcc":null,"date":"2024-11-03T14:46:36.000Z","from":{"name":"Karim | Zynera","address":"karim@zynera.ai"},"html":"<div dir=\"ltr\">Dear Erika,<br><br>as requested please find below the list of hotels and price catalo...","size":2239,"text":"Dear Erika,\n\nas requested please find below the list of hotels and price catalogue in\nthe required a...","labels":["\\Important"],"headers":{"replyTo":null,"received":null,"messageId":"<CAB0P_UjVq8ud_WfKaJJzi7Y+CKifeQX=_XeW7Fhm01KsPSjwow@mail.gmail.com>","deliveredTo":null,"xOriginalFrom":null},"subject":"Hotel list","priority":"normal","threadId":"192f2703a98d376d","xGmMsgid":"1814713017621132270","inReplyTo":null,"messageId":"192f27dff095b3ee","references":null,"attachments":[],"headersList":[{"key":"content-type","value":"multipart/alternative; boundary=\"0000000000002b3dc40626033c54\""}],"messageLink":"https://mail.google.com/mail/u/0/#inbox/192f27dff095b3ee"},"30":{"i":1,"$1":"Hotel calling","$2":"https://www.hotelcalling.com/catalog"},"31":{"updates":{"updatedRows":1,"updatedCells":2,"updatedRange":"Tabellenblatt2!A2:B2","spreadsheetId":"1g_qdG6p50CjkxhVVwaK4GY-6To1Eh3u6GUb05CEEMSE","updatedColumns":2},"rowNumber":2,"sheetName":"Tabellenblatt2","tableRange":"Tabellenblatt2!A1:B1","spreadsheetId":"1g_qdG6p50CjkxhVVwaK4GY-6To1Eh3u6GUb05CEEMSE"},"32":{"cc":null,"id":58,"to":[{"name":"Karim El Kassas","address":"karim@zynera.ai"}],"bcc":null,"date":"2024-11-03T15:09:03.000Z","from":{"name":"Karim | Zynera","address":"karim@zynera.ai"},"html":"<div dir=\"ltr\">Dear Erika the Explorer, <br><br>many thanks for providing us with the details about ...","size":1553,"text":"Dear Erika the Explorer,\n\nmany thanks for providing us with the details about transportation and\nacc...","labels":["\\Important"],"headers":{"replyTo":null,"received":null,"messageId":"<CAB0P_UgSkV+K=bbw-A65kJdmt=VqQR0arnESAgrRJ9fra=cS=A@mail.gmail.com>","deliveredTo":null,"xOriginalFrom":null},"subject":"booking_1","priority":"normal","threadId":"192f280e176496c9","xGmMsgid":"1814714429892208714","inReplyTo":null,"messageId":"192f2928c280284a","references":null,"attachments":[],"headersList":[{"key":"content-type","value":"multipart/alternative; boundary=\"00000000000076607e0626038c35\""}],"messageLink":"https://mail.google.com/mail/u/0/#inbox/192f2928c280284a"},"33":{"i":1,"Dates":"01/05/2024-15/05/2024","Email":"archie@archeology.com","Phone":"01 234-567-89","People":"3","Requirements":"no mango, no peanuts"},"34":{"updates":{"updatedRows":1,"updatedCells":5,"updatedRange":"Tabellenblatt3!A2:E2","spreadsheetId":"1g_qdG6p50CjkxhVVwaK4GY-6To1Eh3u6GUb05CEEMSE","updatedColumns":5},"rowNumber":2,"sheetName":"Tabellenblatt3","tableRange":"Tabellenblatt3!A1:E1","spreadsheetId":"1g_qdG6p50CjkxhVVwaK4GY-6To1Eh3u6GUb05CEEMSE"},"35":{"text":"0123456789"},"36":{"cc":null,"id":59,"to":[{"name":"Karim El Kassas","address":"karim@zynera.ai"}],"bcc":null,"date":"2024-11-03T21:27:43.000Z","from":{"name":"Karim | Zynera","address":"karim@zynera.ai"},"html":"<div dir=\"ltr\">Dear Erika the Explorer, <br><br>many thanks for providing us with the details about ...","size":1553,"text":"Dear Erika the Explorer,\n\nmany thanks for providing us with the details about transportation and\nacc...","labels":["\\Important"],"headers":{"replyTo":null,"received":null,"messageId":"<CAB0P_UhyAJWj5Ug5nbMgQUX6Qq=fP2AMcij7oL5ry=uyiOXbGg@mail.gmail.com>","deliveredTo":null,"xOriginalFrom":null},"subject":"booking_2","priority":"normal","threadId":"192f299aab2358cf","xGmMsgid":"1814738253912361694","inReplyTo":null,"messageId":"192f3ed3b8c24ade","references":null,"attachments":[],"headersList":[{"key":"content-type","value":"multipart/alternative; boundary=\"000000000000b1209f062608d6d3\""}],"messageLink":"https://mail.google.com/mail/u/0/#inbox/192f3ed3b8c24ade"},"37":{"i":1,"Dates":null,"Email":null,"Phone":null,"People":null,"Requirements":"no mango, no peanuts"},"39":{"updates":{"updatedRows":1,"updatedCells":5,"updatedRange":"Tabellenblatt3!A3:E3","spreadsheetId":"1g_qdG6p50CjkxhVVwaK4GY-6To1Eh3u6GUb05CEEMSE","updatedColumns":5},"rowNumber":3,"sheetName":"Tabellenblatt3","tableRange":"Tabellenblatt3!A1:E2","spreadsheetId":"1g_qdG6p50CjkxhVVwaK4GY-6To1Eh3u6GUb05CEEMSE"},"41":{"array":[{"Dates":"01/05/2024-15/05/2024","Email":"archie@archeology.com","Phone":"01 234-567-89","People":"3","Requirements":"no mango, no peanuts"}],"__IMTAGGLENGTH__":5},"42":{"Dates":"01/05/2024-15/05/2024","Email":"archie@archeology.com","Phone":"01 234-567-89","People":"3","Requirements":"no mango, no peanuts"},"43":{"text":"E_requirements=no mango, no peanuts|C_dates=01/05/2024-15/05/2024|D_people=3|A_email=archie@archeolo..."},"44":{"Dates":"01/05/2024-15/05/2024","Email":"archie@archeology.com","Phone":"01 234-567-89","People":"3","Requirements":"no mango, no peanuts"},"45":{"updates":{"updatedRows":1,"updatedCells":5,"updatedRange":"Tabellenblatt3!A5:E5","spreadsheetId":"1g_qdG6p50CjkxhVVwaK4GY-6To1Eh3u6GUb05CEEMSE","updatedColumns":5},"rowNumber":5,"sheetName":"Tabellenblatt3","tableRange":"Tabellenblatt3!A1:E4","spreadsheetId":"1g_qdG6p50CjkxhVVwaK4GY-6To1Eh3u6GUb05CEEMSE"},"52":{"id":"1WpjL9fiuWxqKyZGBklK0PUbmmFdUzPaA","data":"IMTBuffer(303, binary, 57f3a461544cc43726a1a845472d068cebc9f20a): 6e6c6175646140666572726172692e636f...","kind":"drive#file","name":"MA C04 U04.txt","size":"303","owners":[{"me":true,"kind":"drive#user","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLFI5_DICb972cjnNmdKqj3CSIJOP2dO4tyv46s9y8238dyIg=s64","displayName":"Karim El Kassas","emailAddress":"karim@zynera.ai","permissionId":"08841125851464298466"}],"shared":false,"spaces":["drive"],"parents":["0AE7ORyi2RL-rUk9PVA"],"starred":false,"trashed":false,"version":"3","filesize":303,"iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/text/plain","mimeType":"text/plain","ownedByMe":true,"viewedByMe":true,"createdTime":"2024-11-03T22:15:54.654Z","md5Checksum":"52a9e4016a81eaf1eb5ec306dbcbd1bf","permissions":[{"id":"08841125851464298466","kind":"drive#permission","role":"owner","type":"user","deleted":false,"photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLFI5_DICb972cjnNmdKqj3CSIJOP2dO4tyv46s9y8238dyIg=s64","displayName":"Karim El Kassas","emailAddress":"karim@zynera.ai","pendingOwner":false}],"webViewLink":"https://drive.google.com/file/d/1WpjL9fiuWxqKyZGBklK0PUbmmFdUzPaA/view?usp=drivesdk","capabilities":{"canCopy":true,"canEdit":true,"canShare":true,"canTrash":true,"canDelete":true,"canRename":true,"canComment":true,"canUntrash":true,"canDownload":true,"canReadLabels":false,"canAddChildren":false,"canListChildren":false,"canModifyLabels":false,"canModifyContent":true,"canReadRevisions":true,"canRemoveChildren":false,"canAcceptOwnership":false,"canAddMyDriveParent":false,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canRemoveMyDriveParent":true,"canMoveItemIntoTeamDrive":true,"canMoveChildrenWithinDrive":false,"canModifyContentRestriction":true,"canRemoveContentRestriction":false,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canModifyOwnerContentRestriction":true,"canModifyEditorContentRestriction":true,"canChangeCopyRequiresWriterPermission":true},"hasThumbnail":true,"modifiedByMe":true,"modifiedTime":"2024-11-03T22:15:36.000Z","sha1Checksum":"57f3a461544cc43726a1a845472d068cebc9f20a","fileExtension":"txt","permissionIds":["08841125851464298466"],"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBNPvxDhYftIetEOu14d4RHhHzvUk7PgRVAq2jsF6M3PWTZK...","headRevisionId":"0B07ORyi2RL-rN01GeHBpS3cwZG1neE8vWXpJc3FEWXFoektVPQ","quotaBytesUsed":"303","sha256Checksum":"01ce074c5692c53566ec566f3d95f84455e01cf766339d9b737a55ffc62cef19","viewedByMeTime":"2024-11-03T22:15:54.654Z","webContentLink":"https://drive.google.com/uc?id=1WpjL9fiuWxqKyZGBklK0PUbmmFdUzPaA&export=download","isAppAuthorized":false,"writersCanShare":true,"modifiedByMeTime":"2024-11-03T22:15:36.000Z","originalFilename":"MA C04 U04.txt","thumbnailVersion":"1","explicitlyTrashed":false,"fullFileExtension":"txt","lastModifyingUser":{"me":true,"kind":"drive#user","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLFI5_DICb972cjnNmdKqj3CSIJOP2dO4tyv46s9y8238dyIg=s64","displayName":"Karim El Kassas","emailAddress":"karim@zynera.ai","permissionId":"08841125851464298466"},"linkShareMetadata":{"securityUpdateEnabled":true,"securityUpdateEligible":false},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false},"53":{"Car Registration Data":"nlauda@ferrari.com: car registration=XY 987 ZT;city=Milan\njclark@lotus.com: last name=Doe;age=34;car..."},"54":{"key":"d6c9fb190603","data":{"Email":"nlauda@ferrari.com","County":"Italy","Last Name":"Lauda","First Name":"Niki","Car Registration Plate":null},"__IMTINDEX__":1,"__IMTLENGTH__":4},"55":{"index":0,"value":" car registration=XY 987 ZT;city=Milan"},"56":{"isElse":false,"output":"[A-Z]{2}\\s?\\d{3}\\s?[A-Z]{2}"},"57":{"index":1,"value":"XY 987 ZT"},"59":{"key":"d6c9fb190603"},"60":{"key":"e48d46ab8b16"}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}