scenarios/2846737.json
{
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0,
          "messages": [
            {
              "message": "Value must not be empty.",
              "category": "setup",
              "severity": "error"
            }
          ]
        }
      }
    },
    {
      "id": 2,
      "module": "airtable:ActionUpdateRecords",
      "version": 3,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "mapper": {
        "name": "Beratungsvertrag | _CLIENT <> Zynera",
        "send": true,
        "fields": {},
        "tokens": {
          "Sender.City": "Königstein",
          "Sender.Email": "karim@zynera.ai",
          "Sender.Company": "Harez Tokhi Karim El Kassas GbR",
          "Sender.Country": "Deutschland",
          "Sender.LastName": "El Kassas",
          "Sender.FirstName": "Karim",
          "Sender.PostalCode": "61462",
          "Sender.StreetAddress": "Falkensteiner Str. 8"
        },
        "message": "Hi _FIRST NAME,\n\nanbei der Vertrag inkl. Verschwiegenheitserklärung.\n\nFreue mich von dir zu hören!\n\nBeste Grüße,\nKarim",
        "subject": "Karim El Kassas sent you Beratungsvertrag | _CLIENT <> Zynera",
        "metadata": [
          {
            "key": "recordID",
            "value": "{{2.id}}"
          }
        ],
        "template": "F2s3y6DU6d6dZes7L5wSSL",
        "folder_uuid": null
      },
      "module": "pandadoc:createADocuments",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "name",
            "type": "text",
            "label": "Document Name",
            "required": true
          },
          {
            "name": "template",
            "type": "select",
            "label": "Template ID",
            "required": true
          },
          {
            "name": "send",
            "type": "boolean",
            "label": "Send a document",
            "required": true
          },
          {
            "name": "folder_uuid",
            "type": "folder",
            "label": "Folder"
          },
          {
            "name": "tags",
            "spec": {
              "name": "value",
              "type": "text",
              "label": "Tag"
            },
            "type": "array",
            "label": "Tags"
          },
          {
            "name": "images",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Image Block Name",
                "required": true
              },
              {
                "name": "urls",
                "type": "url",
                "label": "Image URL",
                "required": true
              }
            ],
            "type": "array",
            "label": "Images"
          },
          {
            "name": "metadata",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key",
                "required": true
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value",
                "required": true
              }
            ],
            "type": "array",
            "label": "Document Metadata"
          },
          {
            "name": "content_placeholders",
            "spec": [
              {
                "name": "block_id",
                "type": "select",
                "label": "Block ID",
                "dynamic": true,
                "options": [],
                "required": true
              },
              {
                "name": "content_library_items",
                "spec": [
                  {
                    "name": "id",
                    "type": "select",
                    "label": "Content Library Item ID",
                    "dynamic": true,
                    "options": {
                      "store": []
                    },
                    "required": true
                  }
                ],
                "type": "array",
                "label": "Content Library Items",
                "required": true
              }
            ],
            "type": "array",
            "label": "Content Placeholders"
          },
          {
            "name": "tokens",
            "spec": [
              {
                "name": "Client.Email",
                "type": "email",
                "label": "Role: Client Email",
                "metadata": {
                  "role": "Client"
                }
              },
              {
                "name": "Sender.Email",
                "type": "email",
                "label": "Role: Sender Email",
                "metadata": {
                  "role": "Sender"
                }
              },
              {
                "name": "Client.City",
                "type": "text",
                "label": "Role: Client  City ",
                "metadata": {
                  "role": "Client"
                }
              },
              {
                "name": "Client.Company",
                "type": "text",
                "label": "Role: Client  Company ",
                "metadata": {
                  "role": "Client"
                }
              },
              {
                "name": "Client.Country",
                "type": "text",
                "label": "Role: Client  Country ",
                "metadata": {
                  "role": "Client"
                }
              },
              {
                "name": "Client.FirstName",
                "type": "text",
                "label": "Role: Client  First Name ",
                "metadata": {
                  "role": "Client"
                }
              },
              {
                "name": "Client.LastName",
                "type": "text",
                "label": "Role: Client  Last Name ",
                "metadata": {
                  "role": "Client"
                }
              },
              {
                "name": "Client.PostalCode",
                "type": "text",
                "label": "Role: Client  Postal Code ",
                "metadata": {
                  "role": "Client"
                }
              },
              {
                "name": "Client.StreetAddress",
                "type": "text",
                "label": "Role: Client  Street Address ",
                "metadata": {
                  "role": "Client"
                }
              },
              {
                "name": "Sender.City",
                "type": "text",
                "label": "Role: Sender  City ",
                "metadata": {
                  "role": "Sender"
                }
              },
              {
                "name": "Sender.Company",
                "type": "text",
                "label": "Role: Sender  Company ",
                "metadata": {
                  "role": "Sender"
                }
              },
              {
                "name": "Sender.Country",
                "type": "text",
                "label": "Role: Sender  Country ",
                "metadata": {
                  "role": "Sender"
                }
              },
              {
                "name": "Sender.FirstName",
                "type": "text",
                "label": "Role: Sender  First Name ",
                "metadata": {
                  "role": "Sender"
                }
              },
              {
                "name": "Sender.LastName",
                "type": "text",
                "label": "Role: Sender  Last Name ",
                "metadata": {
                  "role": "Sender"
                }
              },
              {
                "name": "Sender.PostalCode",
                "type": "text",
                "label": "Role: Sender  Postal Code ",
                "metadata": {
                  "role": "Sender"
                }
              },
              {
                "name": "Sender.StreetAddress",
                "type": "text",
                "label": "Role: Sender  Street Address ",
                "metadata": {
                  "role": "Sender"
                }
              }
            ],
            "type": "collection",
            "label": "Tokens"
          },
          {
            "name": "fields",
            "spec": [
              {
                "name": "MM / DD / YYYY",
                "type": "text",
                "label": "Sender MM / DD / YYYY"
              }
            ],
            "type": "collection",
            "label": "Fields"
          },
          {
            "name": "recipients",
            "spec": [
              {
                "name": "email",
                "type": "email",
                "label": "Email",
                "required": true
              },
              {
                "name": "first_name",
                "type": "text",
                "label": "First name"
              },
              {
                "name": "last_name",
                "type": "text",
                "label": "Last name"
              }
            ],
            "type": "array",
            "label": "CC Recipients"
          },
          {
            "name": "subject",
            "type": "text",
            "label": "Subject",
            "required": true
          },
          {
            "name": "message",
            "type": "text",
            "label": "Message",
            "required": true
          }
        ],
        "restore": {
          "expect": {
            "tags": {
              "mode": "chose"
            },
            "images": {
              "mode": "chose"
            },
            "metadata": {
              "mode": "chose",
              "items": [
                null
              ]
            },
            "template": {
              "mode": "chose",
              "label": "Beratungsvertrag V1"
            },
            "recipients": {
              "mode": "chose"
            },
            "folder_uuid": {
              "mode": "chose"
            },
            "content_placeholders": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "pandadoc"
              },
              "label": "My PandaDoc connection (hello@zynera.de)"
            }
          }
        },
        "designer": {
          "x": 600,
          "y": 0
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:pandadoc",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 2756561
      }
    },
    {
      "id": 4,
      "module": "airtable:ActionUpdateRecords",
      "version": 3,
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        }
      }
    }
  ],
  "name": "2. Onboarding",
  "metadata": {
    "instant": true,
    "version": 1,
    "designer": {
      "orphans": []
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}