scenarios/2859781
{"flow":[{"id":1,"mapper":{},"module":"gateway:CustomWebHook","version":1,"metadata":{"restore":{"parameters":{"hook":{"data":{"editable":"true"},"label":"hookdeck-aladhan"}}},"designer":{"x":0,"y":150},"interface":[{"name":"__IMTHEADERS__","spec":[{"name":"name","type":"text","label":"Name"},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"}],"parameters":[{"name":"hook","type":"hook:gateway-webhook","label":"Webhook","required":true},{"name":"maxResults","type":"number","label":"Maximum number of results"}]},"parameters":{"hook":1652532,"maxResults":1}},{"id":2,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":3,"filter":{"name":"Instant","conditions":[[{"a":"{{first(map(1.`__IMTHEADERS__`; \"value\"; \"name\"; \"x-hookdeck-attempt-count\"))}}","b":"1","o":"text:equal"}]]},"mapper":{"body":"","status":"200","headers":[{"key":"Retry-After","value":"{{1.value}}"}]},"module":"gateway:WebhookRespond","version":1,"metadata":{"expect":[{"name":"status","type":"uinteger","label":"Status","required":true,"validate":{"min":100}},{"name":"body","type":"any","label":"Body"},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key","required":true,"validate":{"max":256}},{"name":"value","type":"text","label":"Value","required":true,"validate":{"max":4096}}],"type":"array","label":"Custom headers","validate":{"maxItems":16}}],"restore":{"expect":{"headers":{"mode":"chose","items":[null]}}},"advanced":true,"designer":{"x":600,"y":0}},"parameters":{}}]},{"flow":[{"id":9,"mapper":{"item":[{"id":"karim@zynera.ai"}],"timeMax":"{{addMinutes(now; 5)}}","timeMin":"{{now}}"},"module":"google-calendar:getFreeBusyInformation","version":5,"metadata":{"expect":[{"name":"timeMin","time":true,"type":"date","label":"Minimum Time","required":true},{"name":"timeMax","time":true,"type":"date","label":"Maximum Time","required":true},{"name":"item","spec":[{"mode":"edit","name":"id","type":"select","label":"Calendar ID","dynamic":true,"options":[],"required":true}],"type":"array","label":"Calendars","required":true}],"restore":{"expect":{"item":{"mode":"chose","items":[{"id":{"mode":"chose","label":"Zynera (Primary Calendar)"}}]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"Karim's Google connection (karim@zynera.ai)"}}},"designer":{"x":600,"y":300,"name":"Zynera"},"interface":[{"name":"kind","type":"text","label":"Kind"},{"name":"timeMin","type":"date","label":"Time Min"},{"name":"timeMax","type":"date","label":"Time Max"},{"name":"calendars","spec":[{"name":"karim@zynera.ai","spec":[{"name":"busy","spec":[{"name":"start","type":"date","label":"Start"},{"name":"end","type":"date","label":"End"}],"type":"array","label":"Busy"},{"name":"errors","spec":[{"name":"domain","type":"date","label":"Domain"},{"name":"reason","type":"date","label":"Reason"}],"type":"array","label":"Errors"}],"type":"collection","label":"karim@zynera.ai"}],"type":"collection","label":"Calendars"}],"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2907000}},{"id":6,"filter":{"name":"Not Busy","conditions":[[{"a":"{{9.calendars.`karim@zynera.ai`.busy}}","b":"0","o":"array:equal"}]]},"mapper":{"item":[{"id":"karim@hdt-systems.com"}],"timeMax":"{{addMinutes(now; 5)}}","timeMin":"{{now}}"},"module":"google-calendar:getFreeBusyInformation","version":5,"metadata":{"expect":[{"name":"timeMin","time":true,"type":"date","label":"Minimum Time","required":true},{"name":"timeMax","time":true,"type":"date","label":"Maximum Time","required":true},{"name":"item","spec":[{"mode":"edit","name":"id","type":"select","label":"Calendar ID","dynamic":true,"options":[],"required":true}],"type":"array","label":"Calendars","required":true}],"restore":{"expect":{"item":{"mode":"chose","items":[{"id":{"mode":"chose","label":"HDT Systems (Primary Calendar)"}}]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"Karim's HDT Systems Google connection (karim@hdt-systems.com)"}}},"designer":{"x":900,"y":300,"name":"HDT Systems"},"interface":[{"name":"kind","type":"text","label":"Kind"},{"name":"timeMin","type":"date","label":"Time Min"},{"name":"timeMax","type":"date","label":"Time Max"},{"name":"calendars","spec":[{"name":"karim@hdt-systems.com","spec":[{"name":"busy","spec":[{"name":"start","type":"date","label":"Start"},{"name":"end","type":"date","label":"End"}],"type":"array","label":"Busy"},{"name":"errors","spec":[{"name":"domain","type":"date","label":"Domain"},{"name":"reason","type":"date","label":"Reason"}],"type":"array","label":"Errors"}],"type":"collection","label":"karim@hdt-systems.com"}],"type":"collection","label":"Calendars"}],"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2934528}},{"id":8,"filter":{"name":"Not Busy","conditions":[[{"a":"{{6.calendars.`karim@hdt-systems.com`.busy}}","b":"0","o":"array:equal"}]]},"mapper":{"item":[{"id":"karim@relationl.co"}],"timeMax":"{{addMinutes(now; 5)}}","timeMin":"{{now}}"},"module":"google-calendar:getFreeBusyInformation","version":5,"metadata":{"expect":[{"name":"timeMin","time":true,"type":"date","label":"Minimum Time","required":true},{"name":"timeMax","time":true,"type":"date","label":"Maximum Time","required":true},{"name":"item","spec":[{"mode":"edit","name":"id","type":"select","label":"Calendar ID","dynamic":true,"options":[],"required":true}],"type":"array","label":"Calendars","required":true}],"restore":{"expect":{"item":{"mode":"chose","items":[{"id":{"mode":"chose","label":"Relationl (Primary Calendar)"}}]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"Karim's Relationl Google connection (karim@relationl.co)"}}},"designer":{"x":1200,"y":300,"name":"Relationl"},"interface":[{"name":"kind","type":"text","label":"Kind"},{"name":"timeMin","type":"date","label":"Time Min"},{"name":"timeMax","type":"date","label":"Time Max"},{"name":"calendars","spec":[{"name":"karim@relationl.co","spec":[{"name":"busy","spec":[{"name":"start","type":"date","label":"Start"},{"name":"end","type":"date","label":"End"}],"type":"array","label":"Busy"},{"name":"errors","spec":[{"name":"domain","type":"date","label":"Domain"},{"name":"reason","type":"date","label":"Reason"}],"type":"array","label":"Errors"}],"type":"collection","label":"karim@relationl.co"}],"type":"collection","label":"Calendars"}],"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2934544}},{"id":4,"filter":{"name":"Not Busy","conditions":[[{"a":"{{8.calendars.`karim@relationl.co`.busy}}","b":"0","o":"array:equal"}]]},"mapper":{"cc":[],"to":["make_aladhan_hookdeck@aol.com","elkassas.karim@icloud.com"],"bcc":[],"from":"","text":"Instant iCloud Trigger","sender":"","headers":[],"replyTo":"","subject":"Adhan","priority":"normal","inReplyTo":"","references":[],"attachments":[],"contentType":"text"},"module":"email:ActionSendEmail","version":7,"metadata":{"expect":[{"name":"to","spec":{"name":"value","type":"email","label":"Email address","required":true},"type":"array","label":"To","required":true},{"name":"subject","type":"text","label":"Subject"},{"name":"contentType","type":"select","label":"Content Type","required":true,"validate":{"enum":["html","text"]}},{"name":"attachments","spec":[{"name":"fileName","type":"filename","label":"File name","required":true,"semantic":"file:name"},{"name":"data","type":"buffer","label":"Data","required":true,"semantic":"file:data"},{"name":"cid","type":"text","label":"Content-ID"}],"type":"array","label":"Attachments"},{"name":"cc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Copy recipient"},{"name":"bcc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Blind copy recipient"},{"name":"from","type":"text","label":"From"},{"name":"sender","type":"text","label":"Sender"},{"name":"replyTo","type":"text","label":"Reply-To"},{"name":"inReplyTo","type":"text","label":"In-Reply-To"},{"name":"references","spec":{"name":"value","type":"text","label":"Reference","required":true},"type":"array","label":"References"},{"name":"priority","type":"select","label":"Priority","validate":{"enum":["high","normal","low"]}},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key","required":true},{"name":"value","type":"text","label":"Value","required":true}],"type":"array","label":"Headers"},{"name":"text","type":"text","label":"Content"}],"restore":{"expect":{"cc":{"mode":"chose"},"to":{"mode":"chose","items":[null,null]},"bcc":{"mode":"chose"},"priority":{"label":"Normal"},"references":{"mode":"chose"},"attachments":{"mode":"chose"},"contentType":{"label":"Plaintext"}},"parameters":{"account":{"data":{"scoped":"true","connection":"smtp"},"label":"My Email connection (SMTP karim@el-kassas.com)"},"saveAfterSent":{"label":"No"}}},"designer":{"x":1500,"y":300},"parameters":[{"name":"account","type":"account:smtp,google-restricted,microsoft-smtp-imap","label":"Connection","required":true},{"name":"saveAfterSent","type":"select","label":"Save message after sending","required":true,"validate":{"enum":[true,false]}},{"type":"hidden"}]},"parameters":{"account":2357943,"saveAfterSent":false}}]}],"version":1,"metadata":{"designer":{"x":300,"y":150}},"parameters":{"else":1}}],"name":"S2.0 Hookdeck > Email","metadata":{"instant":true,"version":1,"designer":{"orphans":[],"samples":{"1":{"key":"Isha","value":"2024-11-09T17:31:00.000Z","__IMTHEADERS__":[{"name":"cf-connecting-ip","value":"35.196.71.29"}]},"4":{"messageId":"<aebb31ac-5a5c-0025-09a1-a3fcc28ac39b@el-kassas.com>"},"6":{"kind":"calendar#freeBusy","timeMax":"2024-11-18T15:57:39.000Z","timeMin":"2024-11-18T14:57:39.000Z","calendars":{"karim@hdt-systems.com":{"busy":[{"end":"2024-11-18T15:57:39.000Z","start":"2024-11-18T15:30:00.000Z"}]}}},"9":{"kind":"calendar#freeBusy","timeMax":"2024-11-18T15:02:39.000Z","timeMin":"2024-11-18T14:57:39.000Z","calendars":{"karim@zynera.ai":{"busy":[]}}}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}