scenarios/2860792.json
{
  "flow": [
    {
      "id": 2,
      "mapper": {
        "limit": "1000",
        "filter": [],
        "status": "open",
        "customer": "",
        "subscription": "",
        "collection_method": "send_invoice"
      },
      "module": "stripe:listInvoices",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "customer",
            "type": "text",
            "label": "Customer ID"
          },
          {
            "name": "subscription",
            "type": "text",
            "label": "Subscription ID"
          },
          {
            "name": "status",
            "type": "select",
            "label": "Status",
            "validate": {
              "enum": [
                "draft",
                "open",
                "paid",
                "uncollectible",
                "void"
              ]
            }
          },
          {
            "name": "collection_method",
            "type": "select",
            "label": "Collection Method",
            "validate": {
              "enum": [
                "charge_automatically",
                "send_invoice"
              ]
            }
          },
          {
            "name": "filter",
            "type": "filter",
            "label": "Filter",
            "options": {
              "logic": "and",
              "store": [
                {
                  "label": "[Date] Created",
                  "value": "created"
                },
                {
                  "label": "[Date] Due Date",
                  "value": "due_date"
                }
              ],
              "operators": [
                {
                  "label": "Date",
                  "options": [
                    {
                      "label": "Later than",
                      "value": "date::gt"
                    },
                    {
                      "label": "Earlier than",
                      "value": "date::lt"
                    },
                    {
                      "label": "Later than or equal to",
                      "value": "date::gte"
                    },
                    {
                      "label": "Earlier than or equal to",
                      "value": "date::lte"
                    }
                  ]
                }
              ]
            }
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit"
          }
        ],
        "restore": {
          "expect": {
            "status": {
              "label": "Open"
            },
            "collection_method": {
              "label": "Send Invoice"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "stripe"
              },
              "label": "My Stripe connection"
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 150
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:stripe",
            "label": "Connection"
          }
        ]
      },
      "parameters": {}
    },
    {
      "id": 20,
      "filter": {
        "name": "30 days past due",
        "conditions": [
          [
            {
              "a": "{{formatDate(2.due_date; \"DD-MM-YYYY\")}}",
              "b": "{{formatDate(addDays(now; -30); \"DD-MM-YYYY\")}}",
              "o": "date:equal"
            }
          ]
        ]
      },
      "mapper": {
        "from": "drive",
        "filter": [
          [
            {
              "a": "H",
              "b": "{{2.id}}",
              "o": "text:equal"
            }
          ]
        ],
        "sortOrder": "asc",
        "tableFirstRow": "A1:CZ1",
        "includesHeaders": true,
        "valueRenderOption": "FORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING"
      },
      "module": "google-sheets:filterRows",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "from",
            "type": "select",
            "label": "Enter a Spreadsheet ID and Sheet Name",
            "required": true,
            "validate": {
              "enum": [
                "drive",
                "share"
              ]
            }
          },
          {
            "name": "valueRenderOption",
            "type": "select",
            "label": "Value render option",
            "validate": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ]
            }
          },
          {
            "name": "dateTimeRenderOption",
            "type": "select",
            "label": "Date and time render option",
            "validate": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ]
            }
          },
          {
            "name": "limit",
            "type": "number",
            "label": "Maximum number of returned rows"
          },
          {
            "name": "spreadsheetId",
            "type": "select",
            "label": "Spreadsheet",
            "required": true
          },
          {
            "name": "sheetId",
            "type": "select",
            "label": "Sheet Name",
            "required": true
          },
          {
            "name": "includesHeaders",
            "type": "select",
            "label": "Table contains headers",
            "required": true,
            "validate": {
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "tableFirstRow",
            "type": "select",
            "label": "Column range",
            "required": true,
            "validate": {
              "enum": [
                "A1:Z1",
                "A1:BZ1",
                "A1:CZ1",
                "A1:DZ1",
                "A1:MZ1",
                "A1:ZZ1",
                "A1:AZZ1",
                "A1:BZZ1",
                "A1:CZZ1",
                "A1:DZZ1",
                "A1:MZZ1",
                "A1:ZZZ1"
              ]
            }
          },
          {
            "name": "filter",
            "type": "filter",
            "label": "Filter",
            "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
          },
          {
            "name": "sortOrder",
            "type": "select",
            "label": "Sort order",
            "validate": {
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "orderBy",
            "type": "select",
            "label": "Order by"
          }
        ],
        "restore": {
          "expect": {
            "from": {
              "label": "Select from My Drive"
            },
            "orderBy": {
              "mode": "chose"
            },
            "sheetId": {
              "mode": "chose",
              "label": "Unpaid Invoices"
            },
            "sortOrder": {
              "mode": "chose",
              "label": "Ascending"
            },
            "spreadsheetId": {
              "mode": "chose",
              "label": "Stripe "
            },
            "tableFirstRow": {
              "label": "A-CZ"
            },
            "includesHeaders": {
              "mode": "chose",
              "label": "Yes"
            },
            "valueRenderOption": {
              "mode": "chose",
              "label": "Formatted value"
            },
            "dateTimeRenderOption": {
              "mode": "chose",
              "label": "Formatted string"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "google"
              },
              "label": "My Google connection (l.govender@make.com)"
            }
          }
        },
        "designer": {
          "x": 300,
          "y": 150
        },
        "interface": [
          {
            "name": "__IMTLENGTH__",
            "type": "uinteger",
            "label": "Total number of bundles"
          },
          {
            "name": "__IMTINDEX__",
            "type": "uinteger",
            "label": "Bundle order position"
          },
          {
            "name": "__ROW_NUMBER__",
            "type": "number",
            "label": "Row number"
          },
          {
            "name": "__SPREADSHEET_ID__",
            "type": "text",
            "label": "Spreadsheet ID"
          },
          {
            "name": "__SHEET__",
            "type": "text",
            "label": "Sheet"
          },
          {
            "name": "0",
            "type": "text",
            "label": "Name (A)"
          },
          {
            "name": "1",
            "type": "text",
            "label": "Created date (B)"
          },
          {
            "name": "2",
            "type": "text",
            "label": "Due Date (C)"
          },
          {
            "name": "3",
            "type": "text",
            "label": "Amount Due (D)"
          },
          {
            "name": "4",
            "type": "text",
            "label": "Customer email (E)"
          },
          {
            "name": "5",
            "type": "text",
            "label": "Plan (F)"
          },
          {
            "name": "6",
            "type": "text",
            "label": "PDF link (G)"
          },
          {
            "name": "7",
            "type": "text",
            "label": "Invoice ID (H)"
          },
          {
            "name": "8",
            "type": "text",
            "label": "(I)"
          },
          {
            "name": "9",
            "type": "text",
            "label": "(J)"
          },
          {
            "name": "10",
            "type": "text",
            "label": "(K)"
          },
          {
            "name": "11",
            "type": "text",
            "label": "(L)"
          },
          {
            "name": "12",
            "type": "text",
            "label": "(M)"
          },
          {
            "name": "13",
            "type": "text",
            "label": "(N)"
          },
          {
            "name": "14",
            "type": "text",
            "label": "(O)"
          },
          {
            "name": "15",
            "type": "text",
            "label": "(P)"
          },
          {
            "name": "16",
            "type": "text",
            "label": "(Q)"
          },
          {
            "name": "17",
            "type": "text",
            "label": "(R)"
          },
          {
            "name": "18",
            "type": "text",
            "label": "(S)"
          },
          {
            "name": "19",
            "type": "text",
            "label": "(T)"
          },
          {
            "name": "20",
            "type": "text",
            "label": "(U)"
          },
          {
            "name": "21",
            "type": "text",
            "label": "(V)"
          },
          {
            "name": "22",
            "type": "text",
            "label": "(W)"
          },
          {
            "name": "23",
            "type": "text",
            "label": "(X)"
          },
          {
            "name": "24",
            "type": "text",
            "label": "(Y)"
          },
          {
            "name": "25",
            "type": "text",
            "label": "(Z)"
          },
          {
            "name": "26",
            "type": "text",
            "label": "(AA)"
          },
          {
            "name": "27",
            "type": "text",
            "label": "(AB)"
          },
          {
            "name": "28",
            "type": "text",
            "label": "(AC)"
          },
          {
            "name": "29",
            "type": "text",
            "label": "(AD)"
          },
          {
            "name": "30",
            "type": "text",
            "label": "(AE)"
          },
          {
            "name": "31",
            "type": "text",
            "label": "(AF)"
          },
          {
            "name": "32",
            "type": "text",
            "label": "(AG)"
          },
          {
            "name": "33",
            "type": "text",
            "label": "(AH)"
          },
          {
            "name": "34",
            "type": "text",
            "label": "(AI)"
          },
          {
            "name": "35",
            "type": "text",
            "label": "(AJ)"
          },
          {
            "name": "36",
            "type": "text",
            "label": "(AK)"
          },
          {
            "name": "37",
            "type": "text",
            "label": "(AL)"
          },
          {
            "name": "38",
            "type": "text",
            "label": "(AM)"
          },
          {
            "name": "39",
            "type": "text",
            "label": "(AN)"
          },
          {
            "name": "40",
            "type": "text",
            "label": "(AO)"
          },
          {
            "name": "41",
            "type": "text",
            "label": "(AP)"
          },
          {
            "name": "42",
            "type": "text",
            "label": "(AQ)"
          },
          {
            "name": "43",
            "type": "text",
            "label": "(AR)"
          },
          {
            "name": "44",
            "type": "text",
            "label": "(AS)"
          },
          {
            "name": "45",
            "type": "text",
            "label": "(AT)"
          },
          {
            "name": "46",
            "type": "text",
            "label": "(AU)"
          },
          {
            "name": "47",
            "type": "text",
            "label": "(AV)"
          },
          {
            "name": "48",
            "type": "text",
            "label": "(AW)"
          },
          {
            "name": "49",
            "type": "text",
            "label": "(AX)"
          },
          {
            "name": "50",
            "type": "text",
            "label": "(AY)"
          },
          {
            "name": "51",
            "type": "text",
            "label": "(AZ)"
          },
          {
            "name": "52",
            "type": "text",
            "label": "(BA)"
          },
          {
            "name": "53",
            "type": "text",
            "label": "(BB)"
          },
          {
            "name": "54",
            "type": "text",
            "label": "(BC)"
          },
          {
            "name": "55",
            "type": "text",
            "label": "(BD)"
          },
          {
            "name": "56",
            "type": "text",
            "label": "(BE)"
          },
          {
            "name": "57",
            "type": "text",
            "label": "(BF)"
          },
          {
            "name": "58",
            "type": "text",
            "label": "(BG)"
          },
          {
            "name": "59",
            "type": "text",
            "label": "(BH)"
          },
          {
            "name": "60",
            "type": "text",
            "label": "(BI)"
          },
          {
            "name": "61",
            "type": "text",
            "label": "(BJ)"
          },
          {
            "name": "62",
            "type": "text",
            "label": "(BK)"
          },
          {
            "name": "63",
            "type": "text",
            "label": "(BL)"
          },
          {
            "name": "64",
            "type": "text",
            "label": "(BM)"
          },
          {
            "name": "65",
            "type": "text",
            "label": "(BN)"
          },
          {
            "name": "66",
            "type": "text",
            "label": "(BO)"
          },
          {
            "name": "67",
            "type": "text",
            "label": "(BP)"
          },
          {
            "name": "68",
            "type": "text",
            "label": "(BQ)"
          },
          {
            "name": "69",
            "type": "text",
            "label": "(BR)"
          },
          {
            "name": "70",
            "type": "text",
            "label": "(BS)"
          },
          {
            "name": "71",
            "type": "text",
            "label": "(BT)"
          },
          {
            "name": "72",
            "type": "text",
            "label": "(BU)"
          },
          {
            "name": "73",
            "type": "text",
            "label": "(BV)"
          },
          {
            "name": "74",
            "type": "text",
            "label": "(BW)"
          },
          {
            "name": "75",
            "type": "text",
            "label": "(BX)"
          },
          {
            "name": "76",
            "type": "text",
            "label": "(BY)"
          },
          {
            "name": "77",
            "type": "text",
            "label": "(BZ)"
          },
          {
            "name": "78",
            "type": "text",
            "label": "(CA)"
          },
          {
            "name": "79",
            "type": "text",
            "label": "(CB)"
          },
          {
            "name": "80",
            "type": "text",
            "label": "(CC)"
          },
          {
            "name": "81",
            "type": "text",
            "label": "(CD)"
          },
          {
            "name": "82",
            "type": "text",
            "label": "(CE)"
          },
          {
            "name": "83",
            "type": "text",
            "label": "(CF)"
          },
          {
            "name": "84",
            "type": "text",
            "label": "(CG)"
          },
          {
            "name": "85",
            "type": "text",
            "label": "(CH)"
          },
          {
            "name": "86",
            "type": "text",
            "label": "(CI)"
          },
          {
            "name": "87",
            "type": "text",
            "label": "(CJ)"
          },
          {
            "name": "88",
            "type": "text",
            "label": "(CK)"
          },
          {
            "name": "89",
            "type": "text",
            "label": "(CL)"
          },
          {
            "name": "90",
            "type": "text",
            "label": "(CM)"
          },
          {
            "name": "91",
            "type": "text",
            "label": "(CN)"
          },
          {
            "name": "92",
            "type": "text",
            "label": "(CO)"
          },
          {
            "name": "93",
            "type": "text",
            "label": "(CP)"
          },
          {
            "name": "94",
            "type": "text",
            "label": "(CQ)"
          },
          {
            "name": "95",
            "type": "text",
            "label": "(CR)"
          },
          {
            "name": "96",
            "type": "text",
            "label": "(CS)"
          },
          {
            "name": "97",
            "type": "text",
            "label": "(CT)"
          },
          {
            "name": "98",
            "type": "text",
            "label": "(CU)"
          },
          {
            "name": "99",
            "type": "text",
            "label": "(CV)"
          },
          {
            "name": "100",
            "type": "text",
            "label": "(CW)"
          },
          {
            "name": "101",
            "type": "text",
            "label": "(CX)"
          },
          {
            "name": "102",
            "type": "text",
            "label": "(CY)"
          },
          {
            "name": "103",
            "type": "text",
            "label": "(CZ)"
          }
        ],
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Connection"
          }
        ]
      },
      "parameters": {}
    },
    {
      "id": 21,
      "mapper": null,
      "module": "builtin:BasicRouter",
      "routes": [
        {
          "flow": [
            {
              "id": 5,
              "filter": {
                "name": "Only new unpaid invoices",
                "conditions": [
                  [
                    {
                      "a": "{{20.`__IMTLENGTH__`}}",
                      "b": "0",
                      "o": "number:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "mode": "select",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
              },
              "module": "google-sheets:addRow",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "mode",
                    "type": "select",
                    "label": "Choose a Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "select",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "insertUnformatted",
                    "type": "boolean",
                    "label": "Unformatted",
                    "required": true
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "validate": {
                      "enum": [
                        "USER_ENTERED",
                        "RAW"
                      ]
                    }
                  },
                  {
                    "name": "insertDataOption",
                    "type": "select",
                    "label": "Insert data option",
                    "validate": {
                      "enum": [
                        "INSERT_ROWS",
                        "OVERWRITE"
                      ]
                    }
                  },
                  {
                    "name": "from",
                    "type": "select",
                    "label": "Choose a Drive",
                    "required": true,
                    "validate": {
                      "enum": [
                        "drive",
                        "share",
                        "team"
                      ]
                    }
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "file",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "values",
                    "spec": [
                      {
                        "name": "0",
                        "type": "text",
                        "label": "Name (A)"
                      },
                      {
                        "name": "1",
                        "type": "text",
                        "label": "Created date (B)"
                      },
                      {
                        "name": "2",
                        "type": "text",
                        "label": "Due Date (C)"
                      },
                      {
                        "name": "3",
                        "type": "text",
                        "label": "Amount Due (D)"
                      },
                      {
                        "name": "4",
                        "type": "text",
                        "label": "Customer email (E)"
                      },
                      {
                        "name": "5",
                        "type": "text",
                        "label": "Plan (F)"
                      },
                      {
                        "name": "6",
                        "type": "text",
                        "label": "PDF link (G)"
                      },
                      {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                      },
                      {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                      },
                      {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                      },
                      {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                      },
                      {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                      },
                      {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                      },
                      {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                      },
                      {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                      },
                      {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                      },
                      {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                      },
                      {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                      },
                      {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                      },
                      {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                      },
                      {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                      },
                      {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                      },
                      {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                      },
                      {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                      },
                      {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                      },
                      {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                      }
                    ],
                    "type": "collection",
                    "label": "Values"
                  }
                ],
                "restore": {
                  "expect": {
                    "from": {
                      "label": "My Drive"
                    },
                    "mode": {
                      "label": "Select by path"
                    },
                    "sheetId": {
                      "label": "Unpaid Invoices"
                    },
                    "spreadsheetId": {
                      "path": [
                        "Courses and Tutorials",
                        "Use cases - 2023",
                        "Stripe",
                        "Stripe "
                      ]
                    },
                    "includesHeaders": {
                      "label": "Yes",
                      "nested": [
                        {
                          "name": "values",
                          "spec": [
                            {
                              "name": "0",
                              "type": "text",
                              "label": "Name (A)"
                            },
                            {
                              "name": "1",
                              "type": "text",
                              "label": "Created date (B)"
                            },
                            {
                              "name": "2",
                              "type": "text",
                              "label": "Due Date (C)"
                            },
                            {
                              "name": "3",
                              "type": "text",
                              "label": "Amount Due (D)"
                            },
                            {
                              "name": "4",
                              "type": "text",
                              "label": "Customer email (E)"
                            },
                            {
                              "name": "5",
                              "type": "text",
                              "label": "Plan (F)"
                            },
                            {
                              "name": "6",
                              "type": "text",
                              "label": "PDF link (G)"
                            },
                            {
                              "name": "7",
                              "type": "text",
                              "label": "(H)"
                            },
                            {
                              "name": "8",
                              "type": "text",
                              "label": "(I)"
                            },
                            {
                              "name": "9",
                              "type": "text",
                              "label": "(J)"
                            },
                            {
                              "name": "10",
                              "type": "text",
                              "label": "(K)"
                            },
                            {
                              "name": "11",
                              "type": "text",
                              "label": "(L)"
                            },
                            {
                              "name": "12",
                              "type": "text",
                              "label": "(M)"
                            },
                            {
                              "name": "13",
                              "type": "text",
                              "label": "(N)"
                            },
                            {
                              "name": "14",
                              "type": "text",
                              "label": "(O)"
                            },
                            {
                              "name": "15",
                              "type": "text",
                              "label": "(P)"
                            },
                            {
                              "name": "16",
                              "type": "text",
                              "label": "(Q)"
                            },
                            {
                              "name": "17",
                              "type": "text",
                              "label": "(R)"
                            },
                            {
                              "name": "18",
                              "type": "text",
                              "label": "(S)"
                            },
                            {
                              "name": "19",
                              "type": "text",
                              "label": "(T)"
                            },
                            {
                              "name": "20",
                              "type": "text",
                              "label": "(U)"
                            },
                            {
                              "name": "21",
                              "type": "text",
                              "label": "(V)"
                            },
                            {
                              "name": "22",
                              "type": "text",
                              "label": "(W)"
                            },
                            {
                              "name": "23",
                              "type": "text",
                              "label": "(X)"
                            },
                            {
                              "name": "24",
                              "type": "text",
                              "label": "(Y)"
                            },
                            {
                              "name": "25",
                              "type": "text",
                              "label": "(Z)"
                            }
                          ],
                          "type": "collection",
                          "label": "Values"
                        }
                      ]
                    },
                    "insertDataOption": {
                      "mode": "chose",
                      "label": "Insert rows"
                    },
                    "valueInputOption": {
                      "mode": "chose",
                      "label": "User entered"
                    },
                    "insertUnformatted": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "My Google connection (l.govender@make.com)"
                    }
                  }
                },
                "designer": {
                  "x": 900,
                  "y": 0
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection"
                  }
                ]
              },
              "parameters": {}
            },
            {
              "id": 9,
              "mapper": {
                "url": "{{2.invoice_pdf}}",
                "method": "get",
                "serializeUrl": false,
                "shareCookies": false
              },
              "module": "http:ActionGetFile",
              "version": 3,
              "metadata": {
                "expect": [
                  {
                    "name": "url",
                    "type": "url",
                    "label": "URL",
                    "required": true
                  },
                  {
                    "name": "serializeUrl",
                    "type": "boolean",
                    "label": "Serialize URL",
                    "required": true
                  },
                  {
                    "name": "method",
                    "type": "hidden",
                    "label": "Method"
                  },
                  {
                    "name": "shareCookies",
                    "type": "boolean",
                    "label": "Share cookies with other HTTP modules",
                    "required": true
                  }
                ],
                "restore": {},
                "designer": {
                  "x": 1200,
                  "y": 0
                },
                "parameters": [
                  {
                    "name": "handleErrors",
                    "type": "boolean",
                    "label": "Evaluate all states as errors (except for 2xx and 3xx )"
                  }
                ]
              },
              "parameters": {
                "handleErrors": false
              }
            },
            {
              "id": 8,
              "mapper": {
                "cc": [],
                "to": [
                  "{{20.`4`}}"
                ],
                "bcc": [],
                "from": "",
                "html": "Hey {{20.`0`}}!\n\nHere's a friendly reminder that your invoice needs to be paid.\n\nThanks",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [
                  {
                    "cid": "",
                    "data": "{{9.data}}",
                    "fileName": "{{9.fileName}}"
                  }
                ],
                "contentType": "html"
              },
              "module": "email:ActionSendEmail",
              "version": 7,
              "metadata": {
                "expect": [
                  {
                    "name": "to",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address",
                      "required": true
                    },
                    "type": "array",
                    "label": "To",
                    "required": true
                  },
                  {
                    "name": "subject",
                    "type": "text",
                    "label": "Subject"
                  },
                  {
                    "name": "contentType",
                    "type": "select",
                    "label": "Content Type",
                    "required": true,
                    "validate": {
                      "enum": [
                        "html",
                        "text"
                      ]
                    }
                  },
                  {
                    "name": "attachments",
                    "spec": [
                      {
                        "name": "fileName",
                        "type": "filename",
                        "label": "File name",
                        "required": true,
                        "semantic": "file:name"
                      },
                      {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true,
                        "semantic": "file:data"
                      },
                      {
                        "name": "cid",
                        "type": "text",
                        "label": "Content-ID"
                      }
                    ],
                    "type": "array",
                    "label": "Attachments"
                  },
                  {
                    "name": "cc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address"
                    },
                    "type": "array",
                    "label": "Copy recipient"
                  },
                  {
                    "name": "bcc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address"
                    },
                    "type": "array",
                    "label": "Blind copy recipient"
                  },
                  {
                    "name": "from",
                    "type": "text",
                    "label": "From"
                  },
                  {
                    "name": "sender",
                    "type": "text",
                    "label": "Sender"
                  },
                  {
                    "name": "replyTo",
                    "type": "text",
                    "label": "Reply-To"
                  },
                  {
                    "name": "inReplyTo",
                    "type": "text",
                    "label": "In-Reply-To"
                  },
                  {
                    "name": "references",
                    "spec": {
                      "name": "value",
                      "type": "text",
                      "label": "Reference",
                      "required": true
                    },
                    "type": "array",
                    "label": "References"
                  },
                  {
                    "name": "priority",
                    "type": "select",
                    "label": "Priority",
                    "validate": {
                      "enum": [
                        "high",
                        "normal",
                        "low"
                      ]
                    }
                  },
                  {
                    "name": "headers",
                    "spec": [
                      {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value",
                        "required": true
                      }
                    ],
                    "type": "array",
                    "label": "Headers"
                  },
                  {
                    "name": "html",
                    "type": "text",
                    "label": "Content"
                  }
                ],
                "restore": {
                  "expect": {
                    "cc": {
                      "mode": "chose"
                    },
                    "to": {
                      "mode": "chose",
                      "items": [
                        null
                      ]
                    },
                    "bcc": {
                      "mode": "chose"
                    },
                    "priority": {
                      "label": "Normal"
                    },
                    "references": {
                      "mode": "chose"
                    },
                    "attachments": {
                      "mode": "chose",
                      "items": [
                        null
                      ]
                    },
                    "contentType": {
                      "label": "HTML"
                    }
                  },
                  "parameters": {
                    "account": {
                      "data": {
                        "scoped": "true",
                        "connection": "google-restricted"
                      },
                      "label": "My Google Restricted connection (l.govender@make.com)"
                    },
                    "saveAfterSent": {
                      "label": "No"
                    }
                  }
                },
                "designer": {
                  "x": 1500,
                  "y": 0
                },
                "parameters": [
                  {
                    "name": "account",
                    "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                    "label": "Connection"
                  },
                  {
                    "name": "saveAfterSent",
                    "type": "select",
                    "label": "Save message after sending",
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  }
                ]
              },
              "parameters": {
                "saveAfterSent": false
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 19,
              "filter": {
                "name": "More than one unpaid invoice for the customer",
                "conditions": []
              },
              "mapper": {
                "from": "drive",
                "filter": [
                  [
                    {
                      "a": "A",
                      "b": "{{2.customer_name}}",
                      "o": "text:equal"
                    }
                  ]
                ],
                "sortOrder": "asc",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
              },
              "module": "google-sheets:filterRows",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "from",
                    "type": "select",
                    "label": "Enter a Spreadsheet ID and Sheet Name",
                    "required": true,
                    "validate": {
                      "enum": [
                        "drive",
                        "share"
                      ]
                    }
                  },
                  {
                    "name": "valueRenderOption",
                    "type": "select",
                    "label": "Value render option",
                    "validate": {
                      "enum": [
                        "FORMATTED_VALUE",
                        "UNFORMATTED_VALUE",
                        "FORMULA"
                      ]
                    }
                  },
                  {
                    "name": "dateTimeRenderOption",
                    "type": "select",
                    "label": "Date and time render option",
                    "validate": {
                      "enum": [
                        "SERIAL_NUMBER",
                        "FORMATTED_STRING"
                      ]
                    }
                  },
                  {
                    "name": "limit",
                    "type": "number",
                    "label": "Maximum number of returned rows"
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "select",
                    "label": "Spreadsheet",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "tableFirstRow",
                    "type": "select",
                    "label": "Column range",
                    "required": true,
                    "validate": {
                      "enum": [
                        "A1:Z1",
                        "A1:BZ1",
                        "A1:CZ1",
                        "A1:DZ1",
                        "A1:MZ1",
                        "A1:ZZ1",
                        "A1:AZZ1",
                        "A1:BZZ1",
                        "A1:CZZ1",
                        "A1:DZZ1",
                        "A1:MZZ1",
                        "A1:ZZZ1"
                      ]
                    }
                  },
                  {
                    "name": "filter",
                    "type": "filter",
                    "label": "Filter",
                    "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                  },
                  {
                    "name": "sortOrder",
                    "type": "select",
                    "label": "Sort order",
                    "validate": {
                      "enum": [
                        "asc",
                        "desc"
                      ]
                    }
                  },
                  {
                    "name": "orderBy",
                    "type": "select",
                    "label": "Order by"
                  }
                ],
                "restore": {
                  "expect": {
                    "from": {
                      "label": "Select from My Drive"
                    },
                    "orderBy": {
                      "mode": "chose"
                    },
                    "sheetId": {
                      "mode": "chose",
                      "label": "Unpaid Invoices"
                    },
                    "sortOrder": {
                      "mode": "chose",
                      "label": "Ascending"
                    },
                    "spreadsheetId": {
                      "mode": "chose",
                      "label": "Stripe "
                    },
                    "tableFirstRow": {
                      "label": "A-CZ"
                    },
                    "includesHeaders": {
                      "mode": "chose",
                      "label": "Yes"
                    },
                    "valueRenderOption": {
                      "mode": "chose",
                      "label": "Formatted value"
                    },
                    "dateTimeRenderOption": {
                      "mode": "chose",
                      "label": "Formatted string"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "My Google connection (l.govender@make.com)"
                    }
                  }
                },
                "designer": {
                  "x": 900,
                  "y": 300
                },
                "interface": [
                  {
                    "name": "__IMTLENGTH__",
                    "type": "uinteger",
                    "label": "Total number of bundles"
                  },
                  {
                    "name": "__IMTINDEX__",
                    "type": "uinteger",
                    "label": "Bundle order position"
                  },
                  {
                    "name": "__ROW_NUMBER__",
                    "type": "number",
                    "label": "Row number"
                  },
                  {
                    "name": "__SPREADSHEET_ID__",
                    "type": "text",
                    "label": "Spreadsheet ID"
                  },
                  {
                    "name": "__SHEET__",
                    "type": "text",
                    "label": "Sheet"
                  },
                  {
                    "name": "0",
                    "type": "text",
                    "label": "Name (A)"
                  },
                  {
                    "name": "1",
                    "type": "text",
                    "label": "Created date (B)"
                  },
                  {
                    "name": "2",
                    "type": "text",
                    "label": "Due Date (C)"
                  },
                  {
                    "name": "3",
                    "type": "text",
                    "label": "Amount Due (D)"
                  },
                  {
                    "name": "4",
                    "type": "text",
                    "label": "Customer email (E)"
                  },
                  {
                    "name": "5",
                    "type": "text",
                    "label": "Plan (F)"
                  },
                  {
                    "name": "6",
                    "type": "text",
                    "label": "PDF link (G)"
                  },
                  {
                    "name": "7",
                    "type": "text",
                    "label": "Invoice ID (H)"
                  },
                  {
                    "name": "8",
                    "type": "text",
                    "label": "(I)"
                  },
                  {
                    "name": "9",
                    "type": "text",
                    "label": "(J)"
                  },
                  {
                    "name": "10",
                    "type": "text",
                    "label": "(K)"
                  },
                  {
                    "name": "11",
                    "type": "text",
                    "label": "(L)"
                  },
                  {
                    "name": "12",
                    "type": "text",
                    "label": "(M)"
                  },
                  {
                    "name": "13",
                    "type": "text",
                    "label": "(N)"
                  },
                  {
                    "name": "14",
                    "type": "text",
                    "label": "(O)"
                  },
                  {
                    "name": "15",
                    "type": "text",
                    "label": "(P)"
                  },
                  {
                    "name": "16",
                    "type": "text",
                    "label": "(Q)"
                  },
                  {
                    "name": "17",
                    "type": "text",
                    "label": "(R)"
                  },
                  {
                    "name": "18",
                    "type": "text",
                    "label": "(S)"
                  },
                  {
                    "name": "19",
                    "type": "text",
                    "label": "(T)"
                  },
                  {
                    "name": "20",
                    "type": "text",
                    "label": "(U)"
                  },
                  {
                    "name": "21",
                    "type": "text",
                    "label": "(V)"
                  },
                  {
                    "name": "22",
                    "type": "text",
                    "label": "(W)"
                  },
                  {
                    "name": "23",
                    "type": "text",
                    "label": "(X)"
                  },
                  {
                    "name": "24",
                    "type": "text",
                    "label": "(Y)"
                  },
                  {
                    "name": "25",
                    "type": "text",
                    "label": "(Z)"
                  },
                  {
                    "name": "26",
                    "type": "text",
                    "label": "(AA)"
                  },
                  {
                    "name": "27",
                    "type": "text",
                    "label": "(AB)"
                  },
                  {
                    "name": "28",
                    "type": "text",
                    "label": "(AC)"
                  },
                  {
                    "name": "29",
                    "type": "text",
                    "label": "(AD)"
                  },
                  {
                    "name": "30",
                    "type": "text",
                    "label": "(AE)"
                  },
                  {
                    "name": "31",
                    "type": "text",
                    "label": "(AF)"
                  },
                  {
                    "name": "32",
                    "type": "text",
                    "label": "(AG)"
                  },
                  {
                    "name": "33",
                    "type": "text",
                    "label": "(AH)"
                  },
                  {
                    "name": "34",
                    "type": "text",
                    "label": "(AI)"
                  },
                  {
                    "name": "35",
                    "type": "text",
                    "label": "(AJ)"
                  },
                  {
                    "name": "36",
                    "type": "text",
                    "label": "(AK)"
                  },
                  {
                    "name": "37",
                    "type": "text",
                    "label": "(AL)"
                  },
                  {
                    "name": "38",
                    "type": "text",
                    "label": "(AM)"
                  },
                  {
                    "name": "39",
                    "type": "text",
                    "label": "(AN)"
                  },
                  {
                    "name": "40",
                    "type": "text",
                    "label": "(AO)"
                  },
                  {
                    "name": "41",
                    "type": "text",
                    "label": "(AP)"
                  },
                  {
                    "name": "42",
                    "type": "text",
                    "label": "(AQ)"
                  },
                  {
                    "name": "43",
                    "type": "text",
                    "label": "(AR)"
                  },
                  {
                    "name": "44",
                    "type": "text",
                    "label": "(AS)"
                  },
                  {
                    "name": "45",
                    "type": "text",
                    "label": "(AT)"
                  },
                  {
                    "name": "46",
                    "type": "text",
                    "label": "(AU)"
                  },
                  {
                    "name": "47",
                    "type": "text",
                    "label": "(AV)"
                  },
                  {
                    "name": "48",
                    "type": "text",
                    "label": "(AW)"
                  },
                  {
                    "name": "49",
                    "type": "text",
                    "label": "(AX)"
                  },
                  {
                    "name": "50",
                    "type": "text",
                    "label": "(AY)"
                  },
                  {
                    "name": "51",
                    "type": "text",
                    "label": "(AZ)"
                  },
                  {
                    "name": "52",
                    "type": "text",
                    "label": "(BA)"
                  },
                  {
                    "name": "53",
                    "type": "text",
                    "label": "(BB)"
                  },
                  {
                    "name": "54",
                    "type": "text",
                    "label": "(BC)"
                  },
                  {
                    "name": "55",
                    "type": "text",
                    "label": "(BD)"
                  },
                  {
                    "name": "56",
                    "type": "text",
                    "label": "(BE)"
                  },
                  {
                    "name": "57",
                    "type": "text",
                    "label": "(BF)"
                  },
                  {
                    "name": "58",
                    "type": "text",
                    "label": "(BG)"
                  },
                  {
                    "name": "59",
                    "type": "text",
                    "label": "(BH)"
                  },
                  {
                    "name": "60",
                    "type": "text",
                    "label": "(BI)"
                  },
                  {
                    "name": "61",
                    "type": "text",
                    "label": "(BJ)"
                  },
                  {
                    "name": "62",
                    "type": "text",
                    "label": "(BK)"
                  },
                  {
                    "name": "63",
                    "type": "text",
                    "label": "(BL)"
                  },
                  {
                    "name": "64",
                    "type": "text",
                    "label": "(BM)"
                  },
                  {
                    "name": "65",
                    "type": "text",
                    "label": "(BN)"
                  },
                  {
                    "name": "66",
                    "type": "text",
                    "label": "(BO)"
                  },
                  {
                    "name": "67",
                    "type": "text",
                    "label": "(BP)"
                  },
                  {
                    "name": "68",
                    "type": "text",
                    "label": "(BQ)"
                  },
                  {
                    "name": "69",
                    "type": "text",
                    "label": "(BR)"
                  },
                  {
                    "name": "70",
                    "type": "text",
                    "label": "(BS)"
                  },
                  {
                    "name": "71",
                    "type": "text",
                    "label": "(BT)"
                  },
                  {
                    "name": "72",
                    "type": "text",
                    "label": "(BU)"
                  },
                  {
                    "name": "73",
                    "type": "text",
                    "label": "(BV)"
                  },
                  {
                    "name": "74",
                    "type": "text",
                    "label": "(BW)"
                  },
                  {
                    "name": "75",
                    "type": "text",
                    "label": "(BX)"
                  },
                  {
                    "name": "76",
                    "type": "text",
                    "label": "(BY)"
                  },
                  {
                    "name": "77",
                    "type": "text",
                    "label": "(BZ)"
                  },
                  {
                    "name": "78",
                    "type": "text",
                    "label": "(CA)"
                  },
                  {
                    "name": "79",
                    "type": "text",
                    "label": "(CB)"
                  },
                  {
                    "name": "80",
                    "type": "text",
                    "label": "(CC)"
                  },
                  {
                    "name": "81",
                    "type": "text",
                    "label": "(CD)"
                  },
                  {
                    "name": "82",
                    "type": "text",
                    "label": "(CE)"
                  },
                  {
                    "name": "83",
                    "type": "text",
                    "label": "(CF)"
                  },
                  {
                    "name": "84",
                    "type": "text",
                    "label": "(CG)"
                  },
                  {
                    "name": "85",
                    "type": "text",
                    "label": "(CH)"
                  },
                  {
                    "name": "86",
                    "type": "text",
                    "label": "(CI)"
                  },
                  {
                    "name": "87",
                    "type": "text",
                    "label": "(CJ)"
                  },
                  {
                    "name": "88",
                    "type": "text",
                    "label": "(CK)"
                  },
                  {
                    "name": "89",
                    "type": "text",
                    "label": "(CL)"
                  },
                  {
                    "name": "90",
                    "type": "text",
                    "label": "(CM)"
                  },
                  {
                    "name": "91",
                    "type": "text",
                    "label": "(CN)"
                  },
                  {
                    "name": "92",
                    "type": "text",
                    "label": "(CO)"
                  },
                  {
                    "name": "93",
                    "type": "text",
                    "label": "(CP)"
                  },
                  {
                    "name": "94",
                    "type": "text",
                    "label": "(CQ)"
                  },
                  {
                    "name": "95",
                    "type": "text",
                    "label": "(CR)"
                  },
                  {
                    "name": "96",
                    "type": "text",
                    "label": "(CS)"
                  },
                  {
                    "name": "97",
                    "type": "text",
                    "label": "(CT)"
                  },
                  {
                    "name": "98",
                    "type": "text",
                    "label": "(CU)"
                  },
                  {
                    "name": "99",
                    "type": "text",
                    "label": "(CV)"
                  },
                  {
                    "name": "100",
                    "type": "text",
                    "label": "(CW)"
                  },
                  {
                    "name": "101",
                    "type": "text",
                    "label": "(CX)"
                  },
                  {
                    "name": "102",
                    "type": "text",
                    "label": "(CY)"
                  },
                  {
                    "name": "103",
                    "type": "text",
                    "label": "(CZ)"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection"
                  }
                ]
              },
              "parameters": {}
            },
            {
              "id": 26,
              "flags": {
                "stopIfEmpty": true
              },
              "filter": {
                "name": "",
                "conditions": [
                  [
                    {
                      "a": "{{19.`__IMTLENGTH__`}}",
                      "b": "1",
                      "o": "number:greater"
                    },
                    {
                      "a": "{{19.`__IMTINDEX__`}}",
                      "b": "1",
                      "o": "number:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "value": "{{19.`0`}}"
              },
              "module": "util:TextAggregator",
              "version": 1,
              "metadata": {
                "expect": [
                  {
                    "name": "value",
                    "type": "text",
                    "label": "Text"
                  }
                ],
                "restore": {
                  "extra": {
                    "feeder": {
                      "label": "Stripe - Search Invoices [2]"
                    }
                  },
                  "parameters": {
                    "rowSeparator": {
                      "label": "New row"
                    }
                  }
                },
                "advanced": true,
                "designer": {
                  "x": 1200,
                  "y": 300
                },
                "parameters": [
                  {
                    "name": "rowSeparator",
                    "type": "select",
                    "label": "Row separator",
                    "validate": {
                      "enum": [
                        "\n",
                        "\t",
                        "other"
                      ]
                    }
                  }
                ]
              },
              "parameters": {
                "feeder": 2,
                "rowSeparator": "\n"
              }
            },
            {
              "id": 18,
              "mapper": {
                "text": "Hey there!\n\nHere's the customers with more than 1 outstanding invoice:\n{{26.text}}\n\nHere's the full <PAST THE SPREADSHEET LINK HERE|Unpaid invoices report.> ",
                "parse": false,
                "mrkdwn": true
              },
              "module": "slack:CreateMessage",
              "version": 4,
              "metadata": {
                "expect": [
                  {
                    "name": "channelWType",
                    "type": "select",
                    "label": "Enter a channel ID or name",
                    "required": true,
                    "validate": {
                      "enum": [
                        "manualy",
                        "list"
                      ]
                    }
                  },
                  {
                    "name": "text",
                    "type": "text",
                    "label": "Text"
                  },
                  {
                    "name": "blocks",
                    "type": "text",
                    "label": "Blocks"
                  },
                  {
                    "name": "thread_ts",
                    "type": "text",
                    "label": "Thread message ID (time stamp)"
                  },
                  {
                    "name": "reply_broadcast",
                    "type": "boolean",
                    "label": "Reply broadcast"
                  },
                  {
                    "name": "link_names",
                    "type": "boolean",
                    "label": "Link names"
                  },
                  {
                    "name": "parse",
                    "type": "boolean",
                    "label": "Parse message text"
                  },
                  {
                    "name": "mrkdwn",
                    "type": "boolean",
                    "label": "Use markdown"
                  },
                  {
                    "name": "unfurl_links",
                    "type": "boolean",
                    "label": "Unfurl primarily text-based content"
                  },
                  {
                    "name": "unfurl_media",
                    "type": "boolean",
                    "label": "Unfurl media content"
                  },
                  {
                    "name": "icon_emoji",
                    "type": "text",
                    "label": "Icon emoji"
                  },
                  {
                    "name": "icon_url",
                    "type": "url",
                    "label": "Icon url"
                  },
                  {
                    "name": "username",
                    "type": "text",
                    "label": "User name"
                  },
                  {
                    "name": "channelType",
                    "type": "select",
                    "label": "Channel type",
                    "required": true,
                    "validate": {
                      "enum": [
                        "public",
                        "private",
                        "im",
                        "mpim"
                      ]
                    }
                  },
                  {
                    "name": "channel",
                    "type": "select",
                    "label": "User",
                    "required": true
                  }
                ],
                "restore": {
                  "expect": {
                    "parse": {
                      "mode": "chose"
                    },
                    "mrkdwn": {
                      "mode": "chose"
                    },
                    "channel": {
                      "mode": "chose",
                      "label": "lwgovender7"
                    },
                    "link_names": {
                      "mode": "chose"
                    },
                    "channelType": {
                      "label": "IM channel"
                    },
                    "channelWType": {
                      "label": "Select from the list"
                    },
                    "unfurl_links": {
                      "mode": "chose"
                    },
                    "unfurl_media": {
                      "mode": "chose"
                    },
                    "reply_broadcast": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "slack2"
                      },
                      "label": "My Slack (user) connection (lwgovender7)"
                    }
                  }
                },
                "designer": {
                  "x": 1500,
                  "y": 300
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:slack2,slack3",
                    "label": "Connection"
                  }
                ]
              },
              "parameters": {}
            }
          ]
        }
      ],
      "version": 1,
      "metadata": {
        "designer": {
          "x": 600,
          "y": 150
        }
      }
    }
  ],
  "name": "Send reminders for unpaid Stripe invoices to your customers and escalate for multiple defaults 1/2",
  "metadata": {
    "instant": false,
    "version": 1,
    "designer": {
      "orphans": []
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}