scenarios/2917131
{"flow":[{"id":1,"mapper":{},"module":"gateway:CustomWebHook","version":1,"metadata":{"restore":{"parameters":{"hook":{"data":{"editable":"true"},"label":"Fireflies Completion"}}},"designer":{"x":0,"y":0,"name":"Fireflies"},"parameters":[{"name":"hook","type":"hook:gateway-webhook","label":"Webhook","required":true},{"name":"maxResults","type":"number","label":"Maximum number of results"}]},"parameters":{"hook":1686584,"maxResults":1}},{"id":2,"mapper":{"text":"🪰 New meeting completed\n\nhttps://app.fireflies.ai/view/{{1.meetingId}}","parse":false,"mrkdwn":true,"channel":"C079LH1T231","channelType":"public","channelWType":"list"},"module":"slack:CreateMessage","version":4,"metadata":{"expect":[{"name":"channelWType","type":"select","label":"Enter a channel ID or name","required":true,"validate":{"enum":["manualy","list"]}},{"name":"text","type":"text","label":"Text"},{"name":"blocks","type":"text","label":"Blocks"},{"name":"thread_ts","type":"text","label":"Thread message ID (time stamp)"},{"name":"reply_broadcast","type":"boolean","label":"Reply broadcast"},{"name":"link_names","type":"boolean","label":"Link names"},{"name":"parse","type":"boolean","label":"Parse message text"},{"name":"mrkdwn","type":"boolean","label":"Use markdown"},{"name":"unfurl_links","type":"boolean","label":"Unfurl primarily text-based content"},{"name":"unfurl_media","type":"boolean","label":"Unfurl media content"},{"name":"icon_emoji","type":"text","label":"Icon emoji"},{"name":"icon_url","type":"url","label":"Icon url"},{"name":"username","type":"text","label":"User name"},{"name":"channelType","type":"select","label":"Channel type","required":true,"validate":{"enum":["public","private","im","mpim"]}},{"name":"channel","type":"select","label":"Public channel","required":true}],"restore":{"expect":{"parse":{"mode":"chose"},"mrkdwn":{"mode":"chose"},"channel":{"mode":"chose","label":"meetings"},"link_names":{"mode":"chose"},"channelType":{"label":"Public channel"},"channelWType":{"label":"Select from the list"},"unfurl_links":{"mode":"chose"},"unfurl_media":{"mode":"chose"},"reply_broadcast":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"slack3"},"label":"Zynera's Slack (bot) connection (zarvis)"}}},"designer":{"x":300,"y":0,"name":"Ping Meetings"},"parameters":[{"name":"__IMTCONN__","type":"account:slack2,slack3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2736305}}],"name":"Meeting Completion | Fireflies > Slack @karime","metadata":{"instant":true,"version":1,"designer":{"orphans":[[{"id":5,"module":"airtable:ActionUpdateRecords","version":3,"metadata":{"designer":{"x":0,"y":306,"name":"Update Meeting","messages":[{"message":"The module is not connected to the data flow.","category":"link","severity":"warning"}]}}}],[{"id":4,"module":"airtable:ActionSearchRecords","version":3,"metadata":{"designer":{"x":300,"y":306,"name":"Search Client","messages":[{"message":"The module is not connected to the data flow.","category":"link","severity":"warning"},{"message":"The module is not set up.","category":"setupreq","severity":"error"}]}}}],[{"id":6,"module":"fireflies-ai:executeGraphQLQuery","version":1,"metadata":{"designer":{"x":600,"y":306,"messages":[{"message":"The module is not connected to the data flow.","category":"link","severity":"warning"},{"message":"The module is not set up.","category":"setupreq","severity":"error"}]}}}]],"samples":{"2":{"ts":"1733342274.767449","channel":"C079LH1T231","message":{"ts":"1733342274.767449","team":"T0766JH8935","text":":fly: New meeting completed:\n<https://app.fireflies.ai/view/uVfh4rbzyouugNU3>","type":"message","user":"U07EF8P5D2Q","app_id":"A07ERC5QP97","blocks":[{"type":"rich_text","block_id":"hDhuq","elements":[{"type":"rich_text_section","elements":[{"url":"https://app.fireflies.ai/view/uVfh4rbzyouugNU3","name":"fly","text":" New meeting completed:\n","type":"link","unicode":"1fab0"}]}]}],"bot_id":"B07F1HQ8HPS","bot_profile":{"id":"B07F1HQ8HPS","name":"ZARVIS","icons":{"image_36":"https://avatars.slack-edge.com/2024-07-27/7474217493991_66ecfa41a56d2ebcc673_36.webp","image_48":"https://avatars.slack-edge.com/2024-07-27/7474217493991_66ecfa41a56d2ebcc673_48.webp","image_72":"https://avatars.slack-edge.com/2024-07-27/7474217493991_66ecfa41a56d2ebcc673_72.webp"},"app_id":"A07ERC5QP97","deleted":false,"team_id":"T0766JH8935","updated":"2024-07-28T01:03:56.000Z"}}}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}