scenarios/2936825.json
{
  "flow": [
    {
      "id": 8,
      "mapper": null,
      "module": "builtin:BasicRouter",
      "routes": [
        {
          "flow": [
            {
              "id": 16,
              "filter": {
                "name": "Fireflies",
                "conditions": []
              },
              "mapper": {
                "scope": "roundtrip",
                "variables": [
                  {
                    "name": "Transcript JSON",
                    "value": "[{\"sentence\":\"Hallo, guten Morgen zusammen.\",\"startTime\":\"00:09\",\"endTime\":\"00:10\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Hallo.\",\"startTime\":\"00:11\",\"endTime\":\"00:12\",\"speaker_name\":\"Kanzlei Besprechung\",\"speaker_id\":1},{\"sentence\":\"Hallo, guten Morgen.\",\"startTime\":\"01:21\",\"endTime\":\"01:22\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Vollständig, oder?\",\"startTime\":\"01:32\",\"endTime\":\"01:33\",\"speaker_name\":\"Kanzlei Besprechung\",\"speaker_id\":1},{\"sentence\":\"Genau.\",\"startTime\":\"01:35\",\"endTime\":\"01:35\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also können auch gerne noch ein bisschen warten, wie ihr wollt.\",\"startTime\":\"01:35\",\"endTime\":\"01:39\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Nehmen wir es dann eigentlich vollständig.\",\"startTime\":\"01:39\",\"endTime\":\"01:41\",\"speaker_name\":\"Kanzlei Besprechung\",\"speaker_id\":1},{\"sentence\":\"Dann zweitausendein.\",\"startTime\":\"01:41\",\"endTime\":\"01:42\",\"speaker_name\":\"Kanzlei Besprechung\",\"speaker_id\":1},{\"sentence\":\"Okay, super.\",\"startTime\":\"01:42\",\"endTime\":\"01:44\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Perfekt.\",\"startTime\":\"01:44\",\"endTime\":\"01:45\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann schauen wir mal, da kommt noch jemand rein, dann können wir anfangen.\",\"startTime\":\"01:46\",\"endTime\":\"02:05\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Super.\",\"startTime\":\"02:05\",\"endTime\":\"02:05\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann wünsche ich erstmal einen schönen guten Morgen.\",\"startTime\":\"02:06\",\"endTime\":\"02:07\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich hoffe, euch geht es allen gut.\",\"startTime\":\"02:07\",\"endTime\":\"02:09\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wir schauen uns heute mal so ein bisschen paar Spezialthemen an.\",\"startTime\":\"02:09\",\"endTime\":\"02:13\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, ich habe ein paar Themen mitgebracht.\",\"startTime\":\"02:13\",\"endTime\":\"02:15\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wenn ihr sagt, ihr habt da noch Fragen, können wir die auch klären.\",\"startTime\":\"02:15\",\"endTime\":\"02:17\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also heute ist eher wirklich nur alles, was spezial ist.\",\"startTime\":\"02:17\",\"endTime\":\"02:20\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wir schauen uns ein bisschen v v an.\",\"startTime\":\"02:20\",\"endTime\":\"02:22\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich habe mal so einen Demo Bestand bisschen mitgebracht.\",\"startTime\":\"02:22\",\"endTime\":\"02:24\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich kann vieles zeigen, leider nicht alles, aber wir gucken uns das mal an.\",\"startTime\":\"02:24\",\"endTime\":\"02:27\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, hat sich da einiges geändert.\",\"startTime\":\"02:27\",\"endTime\":\"02:30\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann schauen wir uns so ein bisschen an Freizeichen online, was ist das?\",\"startTime\":\"02:30\",\"endTime\":\"02:33\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und dann sage ich noch ein paar Worte zur Beschluss Bescheidprüfung ganz am Schluss, wie man das machen kann.\",\"startTime\":\"02:33\",\"endTime\":\"02:39\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und dann ist noch Zeit für eure Fragen, wenn ihr sagt, hey, ist irgendwas unklar oder ich habe irgendwas nicht verstanden, dann können wir das da heute auch noch klären.\",\"startTime\":\"02:39\",\"endTime\":\"02:47\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Genau.\",\"startTime\":\"02:47\",\"endTime\":\"02:48\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Sonst, wie gesagt, ihr wisst das ganze.\",\"startTime\":\"02:48\",\"endTime\":\"02:50\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wenn ihr Fragen habt, dürft ihr jederzeit gerne reinfragen.\",\"startTime\":\"02:50\",\"endTime\":\"02:53\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ist es interaktiv?\",\"startTime\":\"02:53\",\"endTime\":\"02:54\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und dann würde ich sagen, schauen wir uns das ganze gleich mal an.\",\"startTime\":\"02:54\",\"endTime\":\"02:58\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So 1 s teile ich euch meinen Bildschirm.\",\"startTime\":\"02:58\",\"endTime\":\"03:01\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wenn ihr irgendwas nicht seht, ihr habt in eurem Teams ist da unten so ein kleines Plus und Minus.\",\"startTime\":\"03:02\",\"endTime\":\"03:07\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Da könnt ihr es euch auch ein bisschen größer machen, weil besonders im Datev Arbeitsblatt ist es nicht immer alles so gut darstellbar.\",\"startTime\":\"03:07\",\"endTime\":\"03:16\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, dann fangen wir mal an.\",\"startTime\":\"03:17\",\"endTime\":\"03:19\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Okay, wir starten heute mit Vermietung und Verpachtung.\",\"startTime\":\"03:31\",\"endTime\":\"03:36\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wie macht ihr es denn aktuell?\",\"startTime\":\"03:36\",\"endTime\":\"03:37\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Was sind da bis jetzt so eure Erfahrungen?\",\"startTime\":\"03:37\",\"endTime\":\"03:39\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wie seid ihr mit Vermietung und Verpachtung umgegangen?\",\"startTime\":\"03:40\",\"endTime\":\"03:43\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wir haben Excel Aufstellung gemacht meistens.\",\"startTime\":\"03:48\",\"endTime\":\"03:51\",\"speaker_name\":\"Kanzlei Besprechung\",\"speaker_id\":1},{\"sentence\":\"Das heißt, ihr habt entweder, glaube ich, ein Rewe gebucht, klassisch in meine Steuern, wenn es ein kleinerer war, oder mit Excel, oder?\",\"startTime\":\"03:53\",\"endTime\":\"03:59\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ja.\",\"startTime\":\"04:00\",\"endTime\":\"04:01\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Okay, dann gibt es von der Datev, vielleicht kennt es der eine oder andere, das hat früher geheißen digitales Einkommensteuerbelege.\",\"startTime\":\"04:02\",\"endTime\":\"04:10\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das wurde ja abgeschafft und das ist so ein bisschen der Nachfolger.\",\"startTime\":\"04:10\",\"endTime\":\"04:13\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das Ganze ist verfügbar für einmal.\",\"startTime\":\"04:14\",\"endTime\":\"04:18\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also das heißt, man bucht im Rewe.\",\"startTime\":\"04:18\",\"endTime\":\"04:19\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wie gesagt, wir schauen es uns jetzt dann gleich praktisch an.\",\"startTime\":\"04:19\",\"endTime\":\"04:22\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Der ganze Spaß kostet einmal 19,90 zum aktuellen Tageszeitpunkt pro Jahr.\",\"startTime\":\"04:22\",\"endTime\":\"04:28\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das kann man sich vorstellen wie so eine Art Branchenpaket.\",\"startTime\":\"04:29\",\"endTime\":\"04:32\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das schauen wir uns jetzt dann gleich im Programm an.\",\"startTime\":\"04:32\",\"endTime\":\"04:35\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Vorweg, für wen ist das interessant?\",\"startTime\":\"04:35\",\"endTime\":\"04:37\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also wenn der Mandant jetzt, sage ich mal, irgendwie eine Wohnung hat, dann ist das Falsche.\",\"startTime\":\"04:38\",\"endTime\":\"04:43\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist eher für die größeren Mandanten, die mehrere Objekte haben.\",\"startTime\":\"04:43\",\"endTime\":\"04:46\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich sage immer so drei, vier Objekte aufwärts oder wo es einfach so ein bisschen komplexer wird, ist es immer ganz praktisch.\",\"startTime\":\"04:46\",\"endTime\":\"04:54\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Genau, so, wie kriegt man das hin?\",\"startTime\":\"04:54\",\"endTime\":\"04:57\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Voraussetzung ist Rechnungswesen beim Mandanten und was für Voraussetzungen genau, schauen wir uns mal jetzt gemeinsam im Arbeitsplatz an.\",\"startTime\":\"04:57\",\"endTime\":\"05:07\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also welche, es gibt ja verschiedene Mandantentypen.\",\"startTime\":\"05:09\",\"endTime\":\"05:12\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Es gibt einmal, wenn wir uns mal einen neuen Mandanten anlegen, also das ist Ein ganz häufiger Fehler, es geht nicht für natürliche Personen.\",\"startTime\":\"05:12\",\"endTime\":\"05:26\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, wenn ihr das aktivieren wollt und dort ist natürliche Person, werdet ihr in einen Fehler reinlaufen.\",\"startTime\":\"05:26\",\"endTime\":\"05:32\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Die DatEV unterstützt dieses sogenannte Rechnungswesen Paket oder Branchenpaket nur für Einzelunternehmen oder Unternehmer.\",\"startTime\":\"05:32\",\"endTime\":\"05:40\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist jetzt dann auch gleich wichtig, weil wir schauen uns einmal an, wie legt man das neu an und wie macht man einmal einen Jahreswechsel.\",\"startTime\":\"05:40\",\"endTime\":\"05:46\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wenn ihr vielleicht schon in Rewe habt ihr bereits irgendeinen VNV Mandat, schon mal ein Rewe gebucht?\",\"startTime\":\"05:46\",\"endTime\":\"05:52\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also beim normalen Rechnungswesen Schuh, ja, habt.\",\"startTime\":\"06:00\",\"endTime\":\"06:03\",\"speaker_name\":\"Kanzlei Besprechung\",\"speaker_id\":1},{\"sentence\":\"Ihr gemacht, okay, weil dann schauen wir uns auch den Wechsel an, weil wenn ihr sagt, ihr habt noch nie einen gemacht, dann können wir uns den Wechsel sparen.\",\"startTime\":\"06:03\",\"endTime\":\"06:09\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Aber wenn ihr schon welche habt, dann zeige ich es euch auch Ÿousand, wie man den Kontenrahmen, den Wechsel macht.\",\"startTime\":\"06:09\",\"endTime\":\"06:15\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Okay, so, das heißt, hier ist wichtig, also Voraussetzung schon mal Unternehmen oder Einzelunternehmen.\",\"startTime\":\"06:16\",\"endTime\":\"06:24\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das könnt ihr sehen an dem Symbol, dann wisst ihr schon mal, was ist.\",\"startTime\":\"06:24\",\"endTime\":\"06:28\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, dann im nächsten Schritt gehen wir gleich weiter, schauen wir uns mal die Voraussetzungen an.\",\"startTime\":\"06:28\",\"endTime\":\"06:37\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Hier geht es jetzt dann eher die Voraussetzungen im Rechnungswesen.\",\"startTime\":\"06:37\",\"endTime\":\"06:41\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das schauen wir uns auch mal an.\",\"startTime\":\"06:41\",\"endTime\":\"06:42\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, habe ich mal ein Testmandat.\",\"startTime\":\"06:44\",\"endTime\":\"06:47\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das Ganze, was ich euch jetzt zeige, ist, also wenn wir jetzt von dem sogenannten Wechsel sprechen, wir machen jetzt nämlich mal zuerst einen Wechsel durch.\",\"startTime\":\"06:57\",\"endTime\":\"07:05\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also wie stelle ich das ein, wenn ich schon Rechnungswesen habe?\",\"startTime\":\"07:05\",\"endTime\":\"07:08\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich habe jetzt hier Test GmbH oder beziehungsweise wäre das jetzt Huberschmitt Franz, so ungefähr.\",\"startTime\":\"07:09\",\"endTime\":\"07:15\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also das ist jetzt nur für die Variante, wenn ihr noch kein, also wenn ihr ein Rechnungswesen habt.\",\"startTime\":\"07:15\",\"endTime\":\"07:20\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, und dann habt ihr hier die Möglichkeit einmal auf Bestand zu gehen und könnt einen sogenannten Jahreswechsel machen.\",\"startTime\":\"07:20\",\"endTime\":\"07:26\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Schauen wir uns gleich an.\",\"startTime\":\"07:26\",\"endTime\":\"07:27\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, wo haben wir es denn?\",\"startTime\":\"07:31\",\"endTime\":\"07:33\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, ihr müsst als erstes in das höchste Wirtschaftsjahr reingehen, sonst macht ihr nichts.\",\"startTime\":\"07:36\",\"endTime\":\"07:42\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Klassisch, so wie ihr es schon mal gemacht habt.\",\"startTime\":\"07:42\",\"endTime\":\"07:43\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und dann habt ihr hier bei Jahresübernahme neues Wirtschaftsjahr anlegen.\",\"startTime\":\"07:43\",\"endTime\":\"07:47\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und jetzt zeige ich euch gleich was.\",\"startTime\":\"07:47\",\"endTime\":\"07:49\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Jetzt gibt es ein paar Voraussetzungen, damit es überhaupt möglich ist, dass ihr wechseln könnt.\",\"startTime\":\"07:50\",\"endTime\":\"07:54\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also es muss einmal mindestens Wirtschaftsjahr 2023 sein.\",\"startTime\":\"07:54\",\"endTime\":\"07:59\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Vorher geht die Lösung nicht.\",\"startTime\":\"07:59\",\"endTime\":\"08:01\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann muss der Kontenrahmen davor hier gewesen sein.\",\"startTime\":\"08:01\",\"endTime\":\"08:04\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Entweder SKR oder vereinzelt noch SKR.\",\"startTime\":\"08:04\",\"endTime\":\"08:10\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Sieben und neunzigste, das sind die einzigen drei, die funktionieren.\",\"startTime\":\"08:10\",\"endTime\":\"08:13\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das kann ich euch aber noch mal schicken.\",\"startTime\":\"08:13\",\"endTime\":\"08:15\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich habe das nochmal aufgeschrieben, das ist ganz wichtig, sonst geht hier einfach nichts.\",\"startTime\":\"08:15\",\"endTime\":\"08:19\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann leider Wirtschaftsjahr ist gleich Kalenderjahr, das heißt, es ist immer vom 01.01.\",\"startTime\":\"08:19\",\"endTime\":\"08:24\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Bis zum ein und dreiigste, zwölfte.\",\"startTime\":\"08:24\",\"endTime\":\"08:26\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und es geht natürlich für privat, also für die Einkommensteuer.\",\"startTime\":\"08:27\",\"endTime\":\"08:32\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Es geht aber auch für Unternehmensformen.\",\"startTime\":\"08:32\",\"endTime\":\"08:34\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Welche Unternehmensformen sind möglich?\",\"startTime\":\"08:34\",\"endTime\":\"08:37\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist einmal der sogenannte Einzelkaufmann, sonstige Einzelunternehmen, EBR, also BTG, das müssten Bruchteilsgesellschaften sein, GbR und Erbgemeinschaft und Wohnungseigentümergemeinschaften.\",\"startTime\":\"08:37\",\"endTime\":\"08:52\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, es trifft relativ viele und das heißt, da kann man relativ viel mitmachen.\",\"startTime\":\"08:52\",\"endTime\":\"08:58\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, wie geht das Ganze jetzt weiter?\",\"startTime\":\"08:58\",\"endTime\":\"09:01\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das sind so ein bisschen die Grundvoraussetzungen.\",\"startTime\":\"09:01\",\"endTime\":\"09:03\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und wie gesagt, wir gehen hier auf Bestand, Jahreswechsel.\",\"startTime\":\"09:04\",\"endTime\":\"09:07\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich habe jetzt hier sogar schon 24 und dann habt ihr hier die Möglichkeit auszuwählen.\",\"startTime\":\"09:08\",\"endTime\":\"09:13\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, ihr müsst euch jetzt dann hier entscheiden zwischen SKR oder und.\",\"startTime\":\"09:14\",\"endTime\":\"09:18\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und wichtig vielleicht auch noch, es darf vorher kein Branchenpaket sein.\",\"startTime\":\"09:18\",\"endTime\":\"09:21\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, wenn jetzt hier vorher schon irgendein Branchenpaket war, dann geht es auch nicht.\",\"startTime\":\"09:21\",\"endTime\":\"09:26\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, wir machen uns jetzt mal SKR.\",\"startTime\":\"09:26\",\"endTime\":\"09:28\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und jetzt habt ihr hier unten wieder den Button Vermietung und Verpachtung, den bitte anklicken.\",\"startTime\":\"09:28\",\"endTime\":\"09:35\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und jetzt kommt eine Meldung, dass es Geld kostet.\",\"startTime\":\"09:35\",\"endTime\":\"09:38\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich habe das schon gewechselt, deswegen ist bei mir kommt da eine Meldung, aber bei euch kommt jetzt Achtung, es kostet €19,90 im Monat, zweitausendein, dass ihr das wisst.\",\"startTime\":\"09:38\",\"endTime\":\"09:47\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, hier wird ihr Vermietung und Verpachtung einmal auswählen, dann im nächsten Schritt.\",\"startTime\":\"09:49\",\"endTime\":\"09:55\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, dann brauchen wir als nächstes, wenn ihr jetzt wechseln wollen würdet von auf als Beispiel habt ihr hier so überleitungstabellen wieder.\",\"startTime\":\"10:01\",\"endTime\":\"10:14\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das kennt ihr vielleicht schon, wenn ihr mal Kontenrahmen gemacht habt, also dass ihr da nicht erschrickt.\",\"startTime\":\"10:14\",\"endTime\":\"10:18\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist ganz normal, klassisch wie aus dem Rechnungswesen.\",\"startTime\":\"10:18\",\"endTime\":\"10:23\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann habt ihr hier einmal die neue Buchführungsjahr anlegen, da muss auch der Haken sein und dann könnt ihr hier die EB Werte noch vortragen, wenn ihr wollt.\",\"startTime\":\"10:24\",\"endTime\":\"10:33\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist hier einmal links.\",\"startTime\":\"10:33\",\"endTime\":\"10:34\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Die Haken könnt ihr aber auch später machen.\",\"startTime\":\"10:34\",\"endTime\":\"10:38\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann habt ihr die individuelle Funktionen, falls ihr die schon mal gehabt haben.\",\"startTime\":\"10:38\",\"endTime\":\"10:41\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Haben nicht ganz so viele, aber kann ganz gut sein.\",\"startTime\":\"10:41\",\"endTime\":\"10:44\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ÿousand und dann natürlich Stammdaten würde ich mitnehmen.\",\"startTime\":\"10:44\",\"endTime\":\"10:47\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und wichtig ist, dass ihr da keinen Opus mehr weiterführen könnt, dass ihr das da anhakt, das macht es wahrscheinlich Probleme.\",\"startTime\":\"10:49\",\"endTime\":\"10:57\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Genau, so, dann klassisch auf OK und dann wird jetzt in den Kontenrahmen reinkommen.\",\"startTime\":\"10:57\",\"endTime\":\"11:02\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist jetzt der Wechsel, das ist die Variante erste.\",\"startTime\":\"11:02\",\"endTime\":\"11:05\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Jetzt schauen wir uns mal vielleicht erstmal an, wie sieht es denn im Ÿousand Programm aus oder wie funktioniert das denn, bevor ich euch dann die Neuanlage zeige.\",\"startTime\":\"11:06\",\"endTime\":\"11:14\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also vom Programm sieht es einfach klassisch aus wie Rewe und jetzt gucken wir uns mal an, was hat sich denn da so ein bisschen verändert oder was sieht denn da eigentlich anders aus wie davor.\",\"startTime\":\"11:17\",\"endTime\":\"11:26\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Was jetzt gleich passieren wird, dass es sechsstellige Fachkontenlänge ist.\",\"startTime\":\"11:28\",\"endTime\":\"11:33\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Da wird der ein oder andere jetzt sagen, ja das ist doch voll die kleine Buchhaltung zweitausendein, warum ist es denn jetzt sechsstellig?\",\"startTime\":\"11:33\",\"endTime\":\"11:39\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das hat den Hintergrund, dass man das sehr genau aufteilen kann.\",\"startTime\":\"11:39\",\"endTime\":\"11:42\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, das könnt ihr auch nicht ändern, auch wenn es eine kleine Fibu ist, aber das zeige ich euch jetzt auch gleich einmal praktisch an dem Beispiel.\",\"startTime\":\"11:42\",\"endTime\":\"11:49\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wenn wir uns jetzt mal den Kontenplan angucken, habe ich hier die Möglichkeit, wo haben wir es denn, Sachkonten, Kontenplan.\",\"startTime\":\"11:50\",\"endTime\":\"11:58\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So jetzt habt ihr ja hier Konten Länge, die sind, zeige ich euch jetzt gleich mal, schauen wir uns mal an und da denkt sich jetzt der eine oder andere wahrscheinlich, boah warum sechs Konten, aber ich zeige es euch mal beim Beispiel Wasser oder Gas, wo haben wir es denn?\",\"startTime\":\"11:59\",\"endTime\":\"12:18\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann hat es nämlich hauptsächlich zu tun mit den ganzen Nebenkosten und wenn ihr jetzt hier seht, ist es total geil von der Datev eigentlich gelöst, dass er hier die ganzen Anwendungsfälle hat und der vollautomatisch den abzugsfähigen Teil aufteilt.\",\"startTime\":\"12:20\",\"endTime\":\"12:33\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, wenn wir jetzt mal doppelklick aufs Konto drauf machen, seht ihr das hier unten hat er die Berechnungen mit drinnen und deswegen habt ihr hier so viel Konten, einfach aus dem Hintergrund, dass man diese Nebenkostenabrechnung sehr genau aufteilen kann und man einen ganz genauen Überblick hat, wie das Ganze funktioniert.\",\"startTime\":\"12:33\",\"endTime\":\"12:51\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und hier, wenn wir uns mal anschauen, das heißt ihr habt ja auch so eine Vorsteuerfunktion, das richtig abzuziehen und sobald ihr das Konto abgibt, wird es vollautomatisch aufteilen und deswegen auch diese lange Sachkontenlänge.\",\"startTime\":\"12:52\",\"endTime\":\"13:08\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Aber das ist so ein bisschen das Praktische, was sich geändert hat.\",\"startTime\":\"13:08\",\"endTime\":\"13:11\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ist natürlich jetzt völlig ungewohnt, weil es einfach andere Konten sind, die er vielleicht eingespielt hat, aber wenn ihr es hier jetzt mal beim Beispiel Gas seht, habt ihr hier eigentlich jeden Fall abgedeckt und das ist schon mal das praktische, warum dieser Kontenrahmen euch dann ultra genaue Auswertungsmöglichkeiten bietet und dass man da auf jeden Fall kommt.\",\"startTime\":\"13:11\",\"endTime\":\"13:31\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das Ganze ist immer eingestellt, hier unten könnt ihr euch auch dann nochmal verändern, wenn ihr möchtet, habt ihr hier unten immer den Faktor für die Berechnung, falls der eines Tages mal anders ist.\",\"startTime\":\"13:31\",\"endTime\":\"13:41\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Aber ihr kommt mit den Dativ Standard Konten sehr weit.\",\"startTime\":\"13:41\",\"endTime\":\"13:46\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das ist schon mal das Praktische von den ganzen Sachen und da kriegt ihr die automatische Aufteilung schon mal komplett hin.\",\"startTime\":\"13:47\",\"endTime\":\"13:54\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, dann haben wir als nächstes, was hat sich noch geändert?\",\"startTime\":\"13:55\",\"endTime\":\"14:00\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Der eine oder andere wird es jetzt sehr befremdlich finden, weil es gibt auf einmal jetzt Kostenstellen und das schauen wir uns jetzt dann auch gleich mal an.\",\"startTime\":\"14:00\",\"endTime\":\"14:07\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wenn ihr unter den Stammdaten reingeht, habt ihr hier einmal das Thema Kostenstellenträger.\",\"startTime\":\"14:09\",\"endTime\":\"14:18\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Jetzt denkt sich der eine, okay, das letzte was ich will, ist eigentlich Kostenstellen, aber das ist die Möglichkeit, es direkt an die Einkommensteuererklärung zu übergeben.\",\"startTime\":\"14:18\",\"endTime\":\"14:27\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und wie das Ganze aussieht, schauen wir uns auch mal gleich jetzt an.\",\"startTime\":\"14:27\",\"endTime\":\"14:30\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, ihr habt hier, könnt ihr eine sogenannte Hierarchie einbauen.\",\"startTime\":\"14:31\",\"endTime\":\"14:34\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, ich zeig das mal, ihr habt auf der linken Seite Kostenstelle.\",\"startTime\":\"14:34\",\"endTime\":\"14:40\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Jede Kostenstelle ist, wie ihr euch das aufteilt, meistens macht man das halt, jede Wohnung ist eine Kostenstelle zweitausendein und die kann man in ein sogenanntes V v Objekt in Hierarchie einfügen.\",\"startTime\":\"14:40\",\"endTime\":\"14:50\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, wenn ihr jetzt was Neues habt, können wir uns das mal anschauen, könnt ihr jetzt hier einmal eine lange Bezeichnung geben und eine Kurzbezeichnung, wie das Ganze heißt.\",\"startTime\":\"14:51\",\"endTime\":\"15:01\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also machen wir mal hier, das ist die Wohnung OG als Beispiel und dann haben wir hier vielleicht die Abkürzung 20.\",\"startTime\":\"15:01\",\"endTime\":\"15:13\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Noch einen Verantwortlichen könnt ihr die komplette Adress beimachen.\",\"startTime\":\"15:14\",\"endTime\":\"15:18\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist auch ganz cool, wenn jetzt z.B.\",\"startTime\":\"15:18\",\"endTime\":\"15:19\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"der Mandant kauft irgendwie eine Wohnung und die ist jetzt erst ab dem, was weiß ich, verfügbar, ab dem 01.01.\",\"startTime\":\"15:20\",\"endTime\":\"15:26\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Könnt ihr das ja einmal dann hier auch eingeben und klickt dann einmal auf OK.\",\"startTime\":\"15:28\",\"endTime\":\"15:33\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, dann wäre die angelegt.\",\"startTime\":\"15:33\",\"endTime\":\"15:34\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich mache das jetzt mal nicht.\",\"startTime\":\"15:34\",\"endTime\":\"15:36\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und jetzt könnt ihr die auch zuordnen einem Objekt.\",\"startTime\":\"15:39\",\"endTime\":\"15:42\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und jetzt könnt ihr z.B.\",\"startTime\":\"15:42\",\"endTime\":\"15:43\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"sagen hier ist vielleicht eins wichtig, dass ihr euch angewöhnt, immer die gleiche Schreibweise, also jetzt nicht einmal Straße und einmal STR, sondern bitte achtet dass ihr das relativ einheitlich schreibt, weil sonst sieht es manchmal nicht so gut aus und ist das Ganze nicht so angenehm.\",\"startTime\":\"15:43\",\"endTime\":\"16:00\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist ganz wichtig, dass ihr hier bitte immer auf die richtige streitweise guckt, sonst sieht es irgendwann total nach Chaos aus und das ist eigentlich nicht so schön von dem ganzen Ablauf.\",\"startTime\":\"16:00\",\"endTime\":\"16:10\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Es ist wichtig, so genau, Straße haben wir gesagt, dass ihr die immer gleich nennen sollt, nur könnt ihr euch Objekte, das Heißt, der erste Schritt ist, was man hergeht und sich für jedes Objekt oder für jede Wohnung erstmal eine Kostenstelle anlegt.\",\"startTime\":\"16:11\",\"endTime\":\"16:25\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Da kann man so ein bisschen experimentieren, je nachdem genau wie man die Auswertung haben möchte oder für welchen Anwendungsfall ich das habe.\",\"startTime\":\"16:26\",\"endTime\":\"16:32\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich bin immer ein Fan, umso genauer, umso besser.\",\"startTime\":\"16:32\",\"endTime\":\"16:35\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Aber das ist der erste Schritt, wie komme ich dann noch mal langsam hin?\",\"startTime\":\"16:35\",\"endTime\":\"16:38\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Die Datev hat auch standardmäßig immer schon welche angelegt.\",\"startTime\":\"16:38\",\"endTime\":\"16:41\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, wenn ihr sagt, boah, ich bin mir da jetzt total unsicher, dann sind immer drei Sachen schon angelegt.\",\"startTime\":\"16:41\",\"endTime\":\"16:47\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, ihr fängt ja nie von null an.\",\"startTime\":\"16:47\",\"endTime\":\"16:49\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt im worst case könnt ihr einfach nur den Namen ändern.\",\"startTime\":\"16:49\",\"endTime\":\"16:51\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, nochmal langsam, ihr geht auf Stammdaten und dann habt ihr hier kostenstellen Trigger.\",\"startTime\":\"16:52\",\"endTime\":\"16:57\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das Kost System ist immer schon angelegt, da braucht ihr nichts machen.\",\"startTime\":\"16:57\",\"endTime\":\"17:00\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und dann könnt ihr hier neu anlegen und legt euch den ersten an.\",\"startTime\":\"17:01\",\"endTime\":\"17:05\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Es sind aber immer schon drei drinnen, deswegen tue ich mich immer leicht, die dann eher zu bearbeiten.\",\"startTime\":\"17:05\",\"endTime\":\"17:10\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und dann habt ihr, wenn ihr rechte Maustaste drauf klickt, kommt ihr auch Hierarchien verwalten.\",\"startTime\":\"17:10\",\"endTime\":\"17:15\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Jetzt habt ihr hier eine Übersicht und ihr seht auch dahinter, wenn man jetzt hier eine neue Hierarchie anlegt, könnt ihr auch sagen, ist es relevant für Anlage V oder nicht.\",\"startTime\":\"17:15\",\"endTime\":\"17:24\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist dann wichtig, sonst könnt ihr das dann eventuell nicht übergeben.\",\"startTime\":\"17:24\",\"endTime\":\"17:28\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, wie kann ich jetzt was umsortieren?\",\"startTime\":\"17:29\",\"endTime\":\"17:34\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ist klassisch, klappt euch das jetzt hier auf, wo ihr es hinhaben wollt.\",\"startTime\":\"17:35\",\"endTime\":\"17:38\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und jetzt kann ich hier sagen, Wohnung rechts, markiert es und schiebt es rüber.\",\"startTime\":\"17:38\",\"endTime\":\"17:42\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und dann habe ich das hierarchisch sortiert und die Datev weiß, was gehört wie zusammen.\",\"startTime\":\"17:43\",\"endTime\":\"17:48\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das macht natürlich in den Auswertungen top, dass man genau sehen kann, welches Objekt hat wie viel abgeschmissen, also lohnt sich das, passt es und so weiter.\",\"startTime\":\"17:48\",\"endTime\":\"17:56\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und natürlich auch für V, v ist es dann langfristig wichtig und das könnt ihr dann jederzeit ändern.\",\"startTime\":\"17:56\",\"endTime\":\"18:04\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ihr könnt euch auch, wenn ihr wollt, so habe ich das immer gemacht, wenn ihr drin seid, auch ein paar Notizen ablegen.\",\"startTime\":\"18:04\",\"endTime\":\"18:12\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wenn ihr hier auf bearbeiten geht, seht ihr das hier unten habt ihr auch Notizen und da könnt ihr das einmal klassisch, die ganzen Notizen ablegen.\",\"startTime\":\"18:12\",\"endTime\":\"18:22\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist wichtig.\",\"startTime\":\"18:23\",\"endTime\":\"18:24\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann schauen wir uns den nächsten Step einmal an.\",\"startTime\":\"18:25\",\"endTime\":\"18:28\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wir gehen als nächstes rein, so haben wir es hier.\",\"startTime\":\"18:30\",\"endTime\":\"18:38\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, dann schauen wir uns mal den Buchungsstapel an.\",\"startTime\":\"18:38\",\"endTime\":\"18:42\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also wie arbeitet man damit?\",\"startTime\":\"18:42\",\"endTime\":\"18:45\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Es wird ganz klassisch gebucht, so wie ihr das komplett kennt.\",\"startTime\":\"18:45\",\"endTime\":\"18:49\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das einzige, was ihr macht, ist, dass ihr hier unten immer das Objekt mit anwählt.\",\"startTime\":\"18:49\",\"endTime\":\"18:54\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Seht ihr das?\",\"startTime\":\"18:54\",\"endTime\":\"18:54\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und jetzt sind die Objekte, die wir vorhin angelegt haben.\",\"startTime\":\"18:54\",\"endTime\":\"18:57\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ihr könnt euch auch so eine Sammelkostenstelle machen, aber das heißt, wenn wir uns mal die Buchungen anschauen, ist bei jedem Objekt immer hinterlegt die Kostenstelle.\",\"startTime\":\"18:58\",\"endTime\":\"19:07\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist das Wichtige und deswegen müsst ihr auch im ersten Schritt immer einmal zweitausendein die Kostenstelle anlegen.\",\"startTime\":\"19:07\",\"endTime\":\"19:14\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und hier wird klassisch, wie ihr erkennt, im Rewe gebucht.\",\"startTime\":\"19:14\",\"endTime\":\"19:18\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und jetzt gibt es ein paar Sachen, die ich richtig cool finde.\",\"startTime\":\"19:18\",\"endTime\":\"19:20\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ihr könnt Kontoauszugsmanager machen, klassisch, wie ihr es kennt.\",\"startTime\":\"19:21\",\"endTime\":\"19:24\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also wenn der Mandant jetzt ein Hausgeldkonto hat, könnt ihr ganz normal Kontoauszugsmanager einrichten, wie ihr das kennt.\",\"startTime\":\"19:24\",\"endTime\":\"19:31\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Fall Nr.\",\"startTime\":\"19:32\",\"endTime\":\"19:33\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Zwei ihr könnt wiederkehrende Buchungen machen, auch wie ihr es klassisch kennt.\",\"startTime\":\"19:33\",\"endTime\":\"19:38\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ihr könnt Lerndateien machen, auch wie ihr es klassisch kennt.\",\"startTime\":\"19:39\",\"endTime\":\"19:42\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und was ich am besten finde, ist, ihr könnt digitales Belegebuchen machen mit Datev Unternehmen online.\",\"startTime\":\"19:42\",\"endTime\":\"19:48\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt jetzt mal als der Mandant kriegt, der hat vielleicht bei euch schon eine GmbH oder ein Unternehmen, dann bekommt der Datev Unternehmen online, ladet da seine ganzen Belege hoch, ihr bucht die runter, klassisch mit Kontoauszugsmanager noch mit im Schlepptau.\",\"startTime\":\"19:49\",\"endTime\":\"20:06\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das einzige, was sich eigentlich geändert hat, sind, dass ihr einmalig die Kostenstellen mit anlegen müsst und dass ihr halt eine längere Sachkontenlänge habt von sechs und ihr aber automatisch die Aufteilungen habt.\",\"startTime\":\"20:06\",\"endTime\":\"20:19\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, ihr könnt Lerndatei machen, ihr könnt wiederkehrende Buchungen machen und das finde ich schon ziemlich gut.\",\"startTime\":\"20:19\",\"endTime\":\"20:25\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das macht das Leben auch ganz leicht.\",\"startTime\":\"20:25\",\"endTime\":\"20:27\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und wir schauen uns dann gleich an, was das noch für so alles für Vorteile hat.\",\"startTime\":\"20:28\",\"endTime\":\"20:32\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Aber wie gesagt, ihr müsst hier mit Kostenstellen arbeiten, das ist wichtig.\",\"startTime\":\"20:32\",\"endTime\":\"20:37\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das sind die wir vorhin auch angelegt haben.\",\"startTime\":\"20:37\",\"endTime\":\"20:40\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Genau.\",\"startTime\":\"20:41\",\"endTime\":\"20:42\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Gibt es bis hier schon mal Fragen, bevor ich weitermache bei v v jetzt mal zum Einstieg.\",\"startTime\":\"20:42\",\"endTime\":\"20:47\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wenn ich das alles auf Kostenstellen tue, dann brauchen wir aber.\",\"startTime\":\"20:51\",\"endTime\":\"20:55\",\"speaker_name\":\"Kanzlei Besprechung\",\"speaker_id\":1},{\"sentence\":\"Ja, man kann es nicht ändern, aber nutzt man dann eigentlich diese sechsstelligen kann und das so genau aufteilen kann?\",\"startTime\":\"20:55\",\"endTime\":\"21:02\",\"speaker_name\":\"Kanzlei Besprechung\",\"speaker_id\":1},{\"sentence\":\"Ja, dann nutzt man trotzdem.\",\"startTime\":\"21:03\",\"endTime\":\"21:06\",\"speaker_name\":\"Kanzlei Besprechung\",\"speaker_id\":1},{\"sentence\":\"Ja, die nutzt man.\",\"startTime\":\"21:07\",\"endTime\":\"21:08\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also du kannst es auch nicht abschalten.\",\"startTime\":\"21:08\",\"endTime\":\"21:09\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also ist eine gute Frage von dir.\",\"startTime\":\"21:09\",\"endTime\":\"21:10\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich habe mich das auch gefragt, weil ich habe immer so einen Eindruck gehabt, das war so ein bisschen doppelt gemoppelt eigentlich, weil ich habe die Kostenstelle, zeige ich dir die Konten auch noch.\",\"startTime\":\"21:10\",\"endTime\":\"21:17\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Aber du nutzt schon beides.\",\"startTime\":\"21:17\",\"endTime\":\"21:19\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also einmal, weil Datev das so will und du kannst damit auch wirklich riesen Einheiten buchen und dann brauchst du das jetzt.\",\"startTime\":\"21:19\",\"endTime\":\"21:27\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich verstehe schon euren Anwendungsfall.\",\"startTime\":\"21:28\",\"endTime\":\"21:29\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Der hat jetzt drei Wohnungen oder fünf und dann sagt man ja, eigentlich bräuchte ich es nicht.\",\"startTime\":\"21:29\",\"endTime\":\"21:33\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ja, gebe ich dir teilweise recht, aber Datev hat es halt so ausgelegt, dass ich das dann machen kann.\",\"startTime\":\"21:33\",\"endTime\":\"21:39\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und diese ganzen abzugfähigen Geschichten kannst du halt mit diesen langen Sachkonten besser lösen.\",\"startTime\":\"21:39\",\"endTime\":\"21:45\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Du kannst es aber auch nicht ändern.\",\"startTime\":\"21:46\",\"endTime\":\"21:47\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Aber trotzdem ist eine berechtigte und gute Frage von dir.\",\"startTime\":\"21:47\",\"endTime\":\"21:50\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Okay.\",\"startTime\":\"21:51\",\"endTime\":\"21:52\",\"speaker_name\":\"Kanzlei Besprechung\",\"speaker_id\":1},{\"sentence\":\"Genau.\",\"startTime\":\"21:57\",\"endTime\":\"21:58\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, noch jemand eine Frage, bevor ich weitermache?\",\"startTime\":\"21:58\",\"endTime\":\"22:02\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Okay.\",\"startTime\":\"22:06\",\"endTime\":\"22:07\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So mein persönliches Highlight, das finde ich richtig stark, ist die Umsatzsteuervoranmeldung.\",\"startTime\":\"22:07\",\"endTime\":\"22:15\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wenn ihr eine braucht, schaut mal euch hier unten an.\",\"startTime\":\"22:15\",\"endTime\":\"22:18\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich hoffe, man erkennt es bei euch im Meetingraum.\",\"startTime\":\"22:18\",\"endTime\":\"22:20\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Der teilt euch das alles sogar auf die Wohnungen auf.\",\"startTime\":\"22:20\",\"endTime\":\"22:22\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Die sieht ein bisschen anders aus, als wir es von Rewe kennt.\",\"startTime\":\"22:22\",\"endTime\":\"22:25\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das finde ich schon spitze.\",\"startTime\":\"22:26\",\"endTime\":\"22:27\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das ist auch vielleicht nochmal eins, warum das für die ganzen langen Sachkonten spricht.\",\"startTime\":\"22:27\",\"endTime\":\"22:32\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das ist hier, wenn ihr hier unten auf Vermietung und Verpachtung geht, zack, seht ihr das?\",\"startTime\":\"22:33\",\"endTime\":\"22:38\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Da seht ihr genau die Steuern pro Objekt.\",\"startTime\":\"22:38\",\"endTime\":\"22:40\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und dann habe ich auch so ein Gefühl, ist es richtig, ist es nicht richtig?\",\"startTime\":\"22:40\",\"endTime\":\"22:43\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das ist auch der große Unterschied, wenn ich es jetzt normal im Rewe buch, weil ihr seht, bei euch sind wahrscheinlich ein bisschen klein, aber hier ist auf jede Wohnung alle Steuern aufgeteilt, wo ich was bezahlen muss.\",\"startTime\":\"22:43\",\"endTime\":\"22:53\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und wenn ich hier klicke auf Anlage v, kann ich auch schon genau sehen, was dann da reinkommt.\",\"startTime\":\"22:54\",\"endTime\":\"23:00\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und ich habe hier, wie gesagt, einmal auf die Kosten stellen.\",\"startTime\":\"23:02\",\"endTime\":\"23:05\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich habe auf Anlage v, macht er euch hier schon immer eine Übersicht.\",\"startTime\":\"23:05\",\"endTime\":\"23:08\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist so mega praktisch, weil ich die hier auch direkt raus machen kann.\",\"startTime\":\"23:09\",\"endTime\":\"23:15\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, jetzt hat sich noch ein bisschen was geändert im sogenannten Jahresabschlussmodul.\",\"startTime\":\"23:15\",\"endTime\":\"23:19\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Schauen wir uns das mal an, wenn ich jetzt hier auf Jahresabschluss entwickeln gehe.\",\"startTime\":\"23:21\",\"endTime\":\"23:25\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und jetzt habe ich hier auch das Schöne, dass sich das alles komplett aufteilt.\",\"startTime\":\"23:31\",\"endTime\":\"23:35\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Zeige ich euch mal schnell ÿousand.\",\"startTime\":\"23:35\",\"endTime\":\"23:39\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also ich habe einfach hier, das heißt, ihr habt hier auch direkt den Überblick, wo ist was drauf, was ist wie aufgeteilt?\",\"startTime\":\"23:41\",\"endTime\":\"23:53\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das macht das Ganze auch, finde ich, mega übersichtlich.\",\"startTime\":\"23:53\",\"endTime\":\"23:56\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, ihr habt hier auch viel mehr Auswahl und habt hier genau ist es abzugsfähig, ist es nicht abzugsfähig und habt das alles sauber in einer kompletten Übersicht drin und könnt das alles, finde ich, echt extrem gut nachvollziehen.\",\"startTime\":\"23:56\",\"endTime\":\"24:09\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann mein persönliches Highlight auch ist, wenn ihr hier auf steuern geht, habt ihr hier für die Anlage v schon alles ready.\",\"startTime\":\"24:09\",\"endTime\":\"24:16\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Schauen wir uns mal kurz an.\",\"startTime\":\"24:16\",\"endTime\":\"24:17\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist eher also für die Einzelperson natürlich dann gedacht.\",\"startTime\":\"24:19\",\"endTime\":\"24:22\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So und hier braucht nur ein bisschen leider.\",\"startTime\":\"24:28\",\"endTime\":\"24:33\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Hier ist dann die Übergabe, seht ihr das?\",\"startTime\":\"24:36\",\"endTime\":\"24:40\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Hier unten könnt ihr das dann auch übergeben an den Einkommensteuer Mandanten.\",\"startTime\":\"24:40\",\"endTime\":\"24:43\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Aber hier zeigt euch, wie das Ganze dann übergeben wird an die Anlage v und das Ganze mit einem Klick.\",\"startTime\":\"24:43\",\"endTime\":\"24:49\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und hier seht ihr das ganz genau, wie es dann im Einkommensteuerformular ist, wenn ihr das ganze übergeben wollt, habt ihr hier unten den Punkt Daten weitergeben und könnt es dann direkt mit einem Klick übergeben an den Einkommensteuer, an das Einkommensteuermandat.\",\"startTime\":\"24:50\",\"endTime\":\"25:09\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt ihr müsst den jetzt halt hier auswählen, den Huber und klickt dann auf OK und dann werden die ganzen Werte übertragen.\",\"startTime\":\"25:09\",\"endTime\":\"25:15\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist so ein bisschen die Kette, ich habe es jetzt abgebrochen, aber hier seht ihr dann auch wirklich, wie gesagt, wie das dann das ganze aussieht.\",\"startTime\":\"25:17\",\"endTime\":\"25:25\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ja, das ist so ein bisschen das Modul, wie gesagt, ich finde es ganz cool und ganz praktisch, weil sich einiges getan hat.\",\"startTime\":\"25:27\",\"endTime\":\"25:33\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wir schauen es uns noch mal kurz hier an, so in einer kurzen Zusammenfassung, da können wir uns gleich nochmal anschauen, wie man es neu einrichtet, das heißt, was hat sich geändert, ich habe einmal die Hierarchien und die Kostenstellen und das ist auch wichtig für die Anlage V, dass man auch sieht, was ist dafür relevant und was nicht.\",\"startTime\":\"25:33\",\"endTime\":\"25:52\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich kann, finde ich gut, wiederkehrende Buchungen machen, da kann ich z.b.\",\"startTime\":\"25:54\",\"endTime\":\"25:59\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"miete, Vorauszahlungen automatisch verarbeiten, das finde ich praktisch.\",\"startTime\":\"25:59\",\"endTime\":\"26:03\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann habe ich, also ich kann auch verschiedenste steuerliche Gestaltungen machen, das heißt ihr könnt auch mit Inventar zuordnen, das heißt ihr könnt hier auch wirklich euch austoben, das ist sehr praktisch, das heißt auch wenn ihr davor diese Anlagenbuchführung und so Geschichten habt ihr alles und ihr könnt ja auch wirklich verschiedenste steuerliche Konstrukte mitbauen oder auch mit bebuchen, sagen wir es mal so.\",\"startTime\":\"26:05\",\"endTime\":\"26:30\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann die Auswertung, die wir uns gerade angeschaut haben.\",\"startTime\":\"26:32\",\"endTime\":\"26:35\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Es gibt halt zahlreiche Auswertungen, wo das ultra genau ist, das heißt der Mandant kann halt auf das Objekt, auf die Wohnung runtergebrochen sehen, was hat sich wie rentiert, wo haben wir Geld verdient, wo vielleicht nicht und auch für die eine oder andere Kanzlei hat da schon mehr die Beratung auch aufgesetzt.\",\"startTime\":\"26:35\",\"endTime\":\"26:49\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann haben wir das Thema, dass die Anlage V automatisch, wie wir es uns angeguckt haben, ihr könnt es mit einem Klick übergeben und das ist auch so meiner Meinung nach der größte Mehrwert zum klassischen Rewe buchen, also wenn ich es nicht mit diesem Branchenpaket mache und wie gesagt, Kontoauszugsmanager, Unternehmen, Online Lerndatei, wiederkehrende Buchungen, also alles was ihr aus dem Rewe kennt, ist hier der einzige vor und Nachteil ist, ihr müsst halt bitte einmal die Kostenstellen einrichten, sonst geht leider nichts.\",\"startTime\":\"26:52\",\"endTime\":\"27:29\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist ganz wichtig und wie gesagt, geht erst ab dem Jahr 23, 24, könnt ihr es nutzen, aber sollte dann sowieso relevant sein, dass ihr wisst.\",\"startTime\":\"27:30\",\"endTime\":\"27:42\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Genau, wir gucken uns dann nochmal gleich an, wie man es neu einrichtet, sage ich nochmal ein, zwei Worte dazu.\",\"startTime\":\"27:42\",\"endTime\":\"27:47\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Bevor ich aber das mache, gibt es noch Fragen, ist euch die Funktion so grob klar, wie man das nutzt?\",\"startTime\":\"27:47\",\"endTime\":\"27:52\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das muss man auf jeden Fall mal ausprobiert haben, dass man ein bisschen das Gefühl hat.\",\"startTime\":\"27:52\",\"endTime\":\"27:55\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Schaut euch auch mal den Kontenplan an, weil wie gesagt, der ist einfach ungewohnt für den Anfang.\",\"startTime\":\"27:55\",\"endTime\":\"28:00\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Habt ihr dazu noch irgendwelche Fragen?\",\"startTime\":\"28:02\",\"endTime\":\"28:03\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Irgendwas, was euch unklar ist, was euch noch interessiert?\",\"startTime\":\"28:03\",\"endTime\":\"28:06\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich zeige jetzt noch mal kurz, wie man es neu einrichtet.\",\"startTime\":\"28:06\",\"endTime\":\"28:08\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Was ist euer erster Eindruck?\",\"startTime\":\"28:14\",\"endTime\":\"28:16\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ja, wenn die Übergabe so funktioniert im Steuerprogramm, ist es natürlich schon sinnvoll für einen Mandanten mit vielen Vermieternsubjekten.\",\"startTime\":\"28:21\",\"endTime\":\"28:29\",\"speaker_name\":\"Kanzlei Besprechung\",\"speaker_id\":1},{\"sentence\":\"Ja, also da gebe ich dir recht.\",\"startTime\":\"28:31\",\"endTime\":\"28:34\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wenn der jetzt nur einen hat, also eine Wohnung, naja, würde ich es mir wahrscheinlich sparen.\",\"startTime\":\"28:34\",\"endTime\":\"28:38\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Kommt auf den Umfang so ein bisschen drauf an, aber ja, was sagt der Rest?\",\"startTime\":\"28:38\",\"endTime\":\"28:45\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Was ist da so euer Eindruck?\",\"startTime\":\"28:45\",\"endTime\":\"28:47\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das gleiche.\",\"startTime\":\"28:49\",\"endTime\":\"28:50\",\"speaker_name\":\"Kanzlei Besprechung\",\"speaker_id\":1},{\"sentence\":\"Okay, das heißt, ihr würdet so ein bisschen entscheiden anhand der Menge oder wo ihr sagt, ist es interessant oder ist es nicht interessant?\",\"startTime\":\"28:50\",\"endTime\":\"28:59\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ja, also das ist auch so die Variante, wo ich sage, also ich sage, meine Grenze ist immer so, kommt nicht auf den Aufwand an, aufs Volumen von Mandanten, aber so zwischen drei und fünf geht auf jeden.\",\"startTime\":\"29:02\",\"endTime\":\"29:16\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also wo ich sage, drei und fünf Wohnungen aufwärts oder Einheiten, ab dann finde ich, lohnt sich es.\",\"startTime\":\"29:16\",\"endTime\":\"29:22\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Davor ist, ja, kommt drauf an.\",\"startTime\":\"29:22\",\"endTime\":\"29:24\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Aber wenn ich es vorher schon in Rewe gebucht habe, also ich würde auf jeden Fall sagen, entweder meine Steuern oder ihr macht es wirklich komplett in Rewe.\",\"startTime\":\"29:24\",\"endTime\":\"29:31\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also Rewe mit Branchenpaket.\",\"startTime\":\"29:31\",\"endTime\":\"29:33\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Jetzt nur noch in Rewe buchen, macht meiner Meinung nach gar keinen Sinn.\",\"startTime\":\"29:33\",\"endTime\":\"29:35\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also wenn ihr sagt, ihr habt jetzt Mandanten, den ihr nur in Rewe bucht, dann entweder ganz oder gar nicht.\",\"startTime\":\"29:35\",\"endTime\":\"29:40\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das würde ich euch empfehlen, weil so zwischendrin bringt nichts und dass ihr alles dann abtippt, ja, finde ich ein bisschen nervig und deswegen würde ich das dann so machen.\",\"startTime\":\"29:40\",\"endTime\":\"29:51\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Genau.\",\"startTime\":\"29:51\",\"endTime\":\"29:52\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Kann man eigentlich ansonsten ins Feuer springen.\",\"startTime\":\"29:52\",\"endTime\":\"29:56\",\"speaker_name\":\"Kanzlei Besprechung\",\"speaker_id\":1},{\"sentence\":\"Bei der Kontrolle, weil der Wechsel ist.\",\"startTime\":\"29:56\",\"endTime\":\"29:59\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ja eigentlich geht es ja nicht.\",\"startTime\":\"30:00\",\"endTime\":\"30:02\",\"speaker_name\":\"Kanzlei Besprechung\",\"speaker_id\":1},{\"sentence\":\"Ich weiß, es soll kommen, aber wann, weiß ich nicht.\",\"startTime\":\"30:06\",\"endTime\":\"30:09\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Aber die Frage, also ich habe mir, ich habe es auch mal, wo ich es ausprobiert habe, hatte ich den gleichen Fall.\",\"startTime\":\"30:09\",\"endTime\":\"30:13\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich glaube, zum aktuellen Tageszeitpunkt geht es noch nicht, aber die Datev arbeitet daran, dass es irgendwie geht.\",\"startTime\":\"30:13\",\"endTime\":\"30:18\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ob das jetzt läuft, ist die Frage, bis wann.\",\"startTime\":\"30:18\",\"endTime\":\"30:22\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Aber ja, wir wollten da eine Lösung finden.\",\"startTime\":\"30:22\",\"endTime\":\"30:26\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und vielleicht noch eine erfreuliche Nachricht, habe ich gerade gesehen, die Datev hat sogar fürs Jahr 24, ist sogar noch kostenfrei.\",\"startTime\":\"30:28\",\"endTime\":\"30:36\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also jeder, der mal testen will, jetzt eure Chance.\",\"startTime\":\"30:37\",\"endTime\":\"30:40\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und ab 25 kostet es dann diese 19,50 und fürs Rechenzentrum €13, das ist einmal im Jahr.\",\"startTime\":\"30:40\",\"endTime\":\"30:47\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das sind die aktuellen Datev Preise, dass ihr das wisst.\",\"startTime\":\"30:48\",\"endTime\":\"30:53\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Genau.\",\"startTime\":\"30:54\",\"endTime\":\"30:55\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, dann schauen wir uns noch mal kurz an.\",\"startTime\":\"30:56\",\"endTime\":\"31:00\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also es ist eigentlich fast das gleiche wie beim, wenn wir das anlegen wollen.\",\"startTime\":\"31:11\",\"endTime\":\"31:16\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also ihr legt klassisch eine FIBU an, so wie ihr es immer kennt.\",\"startTime\":\"31:26\",\"endTime\":\"31:30\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wie gesagt, ihr müsst halt aufpassen beim Mandantanlegen, entweder Einzelunternehmen, Zweitausendein oder Unternehmen.\",\"startTime\":\"31:30\",\"endTime\":\"31:37\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das Einzelunternehmen hat die Datev ja in Anführungszeichen verboten, deswegen ist es wieder etwas absurd, dass man das dann benutzen kann.\",\"startTime\":\"31:38\",\"endTime\":\"31:44\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Fragt mich nicht warum, vielleicht warum hat die Datev das eigentlich verboten oder möchte das abschaffen?\",\"startTime\":\"31:46\",\"endTime\":\"31:50\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das hat den Hintergrund, dass bei der neuen Datev Version, also dieses KM Next, gibt es nur noch natürliche Personen oder Unternehmen.\",\"startTime\":\"31:51\",\"endTime\":\"31:57\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Aber die Datev sagt jetzt selber bei dem Thema Zweitausendein, was man Einzelunternehmen anlegen könnte.\",\"startTime\":\"31:57\",\"endTime\":\"32:05\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Es ist halt der einzige Nachteil ist, dass wenn ihr jetzt Unternehmen anklickt, dann habt ihr es halt sauber für KM Next.\",\"startTime\":\"32:06\",\"endTime\":\"32:12\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also das ist die neue Cloud Version von der Datev.\",\"startTime\":\"32:13\",\"endTime\":\"32:15\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Der Nachteil ist, ihr habt aber dann zwei Mandate, einmal die natürliche Person Hermann Schmidt und einmal sein v V, das ist halt nicht in einem integriert.\",\"startTime\":\"32:15\",\"endTime\":\"32:23\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wenn ihr natürliche Personen habt, könnt ihr ja das Rewe anlegen und die Einkommensteuer, dann ist es unter einem Mandat.\",\"startTime\":\"32:23\",\"endTime\":\"32:29\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Der Nachteil ist aber hier, dass ihr für die Zukunft für DATEV KM Nexus dann eines Tages wieder umstellen müsst.\",\"startTime\":\"32:29\",\"endTime\":\"32:35\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Vielleicht bietet die Datev dann ein Umstellungstool an, das steht noch in den Sternen, aber dass ihr wisst, das ist so Fluch und Segen.\",\"startTime\":\"32:35\",\"endTime\":\"32:43\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann müsst ihr beim klassischen Rewe anlegen einfach Kontenrahmen SKR auswählen und das Branchenpaket, was ich euch gezeigt habe, dabei Vermietung und Verpachtung ÿousand.\",\"startTime\":\"32:44\",\"endTime\":\"32:57\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das war es eigentlich.\",\"startTime\":\"32:57\",\"endTime\":\"32:58\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann geht ihr wieder rein.\",\"startTime\":\"32:58\",\"endTime\":\"33:00\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist ein bisschen weniger Aufwand wie beim Kontenrahmenwechsel.\",\"startTime\":\"33:01\",\"endTime\":\"33:04\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Hier könnt ihr alle Informationen anlegen, so wie ihr es normal habt.\",\"startTime\":\"33:05\",\"endTime\":\"33:08\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und sobald ihr hier Vermietung und Verpachtung auswählt, kommen automatisch die Länge Sachkonten sechs.\",\"startTime\":\"33:09\",\"endTime\":\"33:15\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist wichtig, das bitte nicht irgendwie bearbeiten oder nach unten drehen oder so.\",\"startTime\":\"33:15\",\"endTime\":\"33:19\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist wichtig.\",\"startTime\":\"33:20\",\"endTime\":\"33:21\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und dann ist, wie bereits vorhin erklärt, wäre der nächste Job, dass ihr in den Stammdaten geht, Kostenstellen, Träger und euch hier einmal die Kostenstellen anlegt.\",\"startTime\":\"33:22\",\"endTime\":\"33:32\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wer unsicher ist, die Dativ hat immer schon ein paar mit angelegt, dann könnt ihr die auch umbenennen eventuell oder kopieren.\",\"startTime\":\"33:32\",\"endTime\":\"33:38\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, man kann die auch kopieren und nochmal einfügen.\",\"startTime\":\"33:39\",\"endTime\":\"33:41\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Jetzt z.b.\",\"startTime\":\"33:42\",\"endTime\":\"33:42\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"wenn das 100 mal Müllerstrasse heißt, dann mache ich immer mit kopieren und einfügen, dann bin ich da ein bisschen schneller.\",\"startTime\":\"33:42\",\"endTime\":\"33:50\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und genau, dann klassisch buchen, Kontoauszugsmanager, Unternehmen, online, wiederkehrende Buchungen und dann der Rest ist unter Jahresabschluss, habt ihr ja Anlage v oder Jahresabschluss entwickeln und habt dann die ganzen Informationen, so wie ihr es klassisch aus dem EWE kennt.\",\"startTime\":\"33:50\",\"endTime\":\"34:08\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Genau, das wäre es jetzt mal zum ersten Teil so ein bisschen zu v und V gewesen.\",\"startTime\":\"34:10\",\"endTime\":\"34:14\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich habe dann noch zwei, drei Tipps und Tricks aus der Praxis.\",\"startTime\":\"34:14\",\"endTime\":\"34:16\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Zweitausendein, gibt es zu dem Modul noch Fragen, bevor ich nochmal ein, zwei Sätze zu V und v sack.\",\"startTime\":\"34:16\",\"endTime\":\"34:22\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ja, okay.\",\"startTime\":\"34:24\",\"endTime\":\"34:26\",\"speaker_name\":\"Kanzlei Besprechung\",\"speaker_id\":1},{\"sentence\":\"So, jetzt nochmal ein Satz zu v.\",\"startTime\":\"34:27\",\"endTime\":\"34:33\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"V, wenn ihr Mandanten habt, die extrem viel mit Hausverwaltungen arbeiten, zweitausendein, also wirklich von großen Mandaten, dann gibt es von der DATEV, hat sich dieses Rechnungswesen Modul für Schnittstellen geöffnet.\",\"startTime\":\"34:33\",\"endTime\":\"34:50\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das, was ich euch gezeigt habe und z.B.\",\"startTime\":\"34:50\",\"endTime\":\"34:53\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"hausverwaltungssoftware wie DomUs, das ist, was bei uns jetzt im Steuerberaterbereich DatEv ist bei Hausverwaltungen immer Domus und Domos hat eine exzellente DatEv Schnittstelle und da kann ich das, was ich jetzt per Hand mache, direkt per Schnittstelle einspielen.\",\"startTime\":\"34:53\",\"endTime\":\"35:08\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Zweitausendein geht auch mit Belegbild.\",\"startTime\":\"35:08\",\"endTime\":\"35:10\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist halt ein Aufwand, weil es einmal eingerichtet werden muss, aber dass ihr das gehört habt.\",\"startTime\":\"35:10\",\"endTime\":\"35:14\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also wenn ihr ganz große Mandate habt, gibt es die Möglichkeit von der Hausverwaltung inzwischen per Schnittstelle das Ganze einzuspielen.\",\"startTime\":\"35:15\",\"endTime\":\"35:22\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wo es relativ gut klappt, ist z.B.\",\"startTime\":\"35:23\",\"endTime\":\"35:25\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"domus ERP oder ihr habt Mandate, die das nutzen.\",\"startTime\":\"35:25\",\"endTime\":\"35:28\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also da gibt es verschiedenste Konstellationen.\",\"startTime\":\"35:28\",\"endTime\":\"35:30\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist nicht für eine Ein Mann Wohnung gedacht, aber für die großen, dass ihr es gehört habt, das sind Hausverwaltersoftware und das ist so der Big Player am Markt von Bonus.\",\"startTime\":\"35:30\",\"endTime\":\"35:40\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, Fall eins.\",\"startTime\":\"35:40\",\"endTime\":\"35:42\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Fall zwei ist, ihr habt einen Mandanten, der macht seine Immobilien per Excel und ihr wisst schon selber, der hat so gar keinen Überblick und irgendwie das haut vorne und hinten nicht hin.\",\"startTime\":\"35:43\",\"endTime\":\"35:53\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann gibt es so eine Art Unternehmen online für die Immobilienwelt, das heißt Immo Cloud gibt es auch für einen relativ schmalen Taler.\",\"startTime\":\"35:54\",\"endTime\":\"36:03\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das sieht so aus, der Mandant legt ähnlich wie ihr die Kostenstellen in dem Programm an und in diesem Programm kann der Mandant dann seine ganzen Objekte verwalten.\",\"startTime\":\"36:04\",\"endTime\":\"36:14\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, er kann hier total easy dann die Kosten zuordnen, kann dann halt sagen, wer kann sein Hausgeldkonto mit anschließen.\",\"startTime\":\"36:14\",\"endTime\":\"36:23\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das macht dann automatisch auch die Mieter und es macht ihm auch automatisch die Anlage v fast fertig für euch.\",\"startTime\":\"36:23\",\"endTime\":\"36:29\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich zeige es mal, wie es so ein bisschen in der Praxis aussieht.\",\"startTime\":\"36:29\",\"endTime\":\"36:32\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Schauen wir es uns mal kurz an.\",\"startTime\":\"36:33\",\"endTime\":\"36:34\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Der macht auch für den Mandanten eine Nebenkostenabrechnung und ihr seht auch mal optisch, das ist jetzt nicht so komplex, es ist ziemlich leicht.\",\"startTime\":\"36:39\",\"endTime\":\"36:47\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Er kann auch da mit seinen Belegen arbeiten und er macht ihn dann vollautomatisch eine Nebenkostenabrechnung oder Ÿousand und für euch auch ein Datev Export.\",\"startTime\":\"36:47\",\"endTime\":\"36:55\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist eine Cloud Software, das heißt, das kann ja alles zusammenklicken, kann seine ganzen Mieteinnahmen verwalten und so weiter.\",\"startTime\":\"36:56\",\"endTime\":\"37:03\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Aber ihr seht, es ist optisch ganz schön geworden und das Ganze nennt sich Immo Cloud.\",\"startTime\":\"37:03\",\"endTime\":\"37:09\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wie gesagt, ist auch nicht für jeden Mandanten, ist auch wieder ein Spezialfall, aber es ist eine Software, das können die auch 45 Tage mal kostenlos testen.\",\"startTime\":\"37:09\",\"endTime\":\"37:18\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Du kannst halt hier einfach deine ganzen Betriebskosten, hast die Finanzenüberblick, kannst für die Mieter was anlegen und hier, du hast eine sogenannte Datev Schnittstelle zu euch.\",\"startTime\":\"37:19\",\"endTime\":\"37:33\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist der Mehrwert für euch oder warum ich es euch überhaupt zeige.\",\"startTime\":\"37:33\",\"endTime\":\"37:36\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und da teilt ihr euch das alles schon automatisch auf und ihr habt diese ganzen Sachen.\",\"startTime\":\"37:38\",\"endTime\":\"37:43\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Hier ist auch nochmal die FAQs zum Datev Export.\",\"startTime\":\"37:43\",\"endTime\":\"37:46\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ja, blendet euch aus.\",\"startTime\":\"37:46\",\"endTime\":\"37:47\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Genau, aber das ist ganz spannend, das ist auch für ganz wenige Mandate interessant, aber falls ihr mal die Frage bekommt, die Datev Schnittstelle ist zwar relativ neu, aber funktioniert relativ gut und wird auch weiterentwickelt.\",\"startTime\":\"37:48\",\"endTime\":\"37:59\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also Immo Cloud für Mandanten, die ihren Überblick verloren haben, die da ein bisschen mehr Transparenz haben wollen, aber viel selber machen wollen, vielleicht sich auch die Hausverwaltung sparen wollen und so weiter, ist das eigentlich eine ganz coole Idee, wie man was so lösen kann.\",\"startTime\":\"38:00\",\"endTime\":\"38:19\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Genau.\",\"startTime\":\"38:21\",\"endTime\":\"38:22\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, dann schauen wir uns gleich den nächsten Schritt an.\",\"startTime\":\"38:22\",\"endTime\":\"38:32\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dazu noch irgendwelche Fragen, auch von die nicht im Meetingraum sitzen oder die nur per Teams dabei sind.\",\"startTime\":\"38:32\",\"endTime\":\"38:36\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ist bei euch noch irgendwas unklar?\",\"startTime\":\"38:36\",\"endTime\":\"38:38\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ÿousand.\",\"startTime\":\"38:38\",\"endTime\":\"38:38\",\"speaker_name\":\"Kanzlei Besprechung\",\"speaker_id\":1},{\"sentence\":\"Okay.\",\"startTime\":\"38:42\",\"endTime\":\"38:43\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, das war es so ein bisschen zu v v.\",\"startTime\":\"38:45\",\"endTime\":\"38:47\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wie gesagt, vielleicht einen Satz noch, der letzte wirklich, wenn ihr jetzt halt Mandanten habt, die v V haben, aber ihr sagt, das Immocloud ist mir zu aufwendig, die Domo Schnittstelle ist mir zu aufwendig, das Rechnungswesen ist mir zu aufwendig, also das Branchenpaket, dann bleibt nur eine Variante zweitausendein.\",\"startTime\":\"38:48\",\"endTime\":\"39:06\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das ist, wenn ihr hier auf öffnen geht und dann könnt ihr nämlich, wenn ihr hier anklickt unter Vermietung, könnt ihr hier für den Mandanten weitere Ordner anlegen, so wie ich es gemacht habe mit Musterstraße eins, zweite.\",\"startTime\":\"39:06\",\"endTime\":\"39:21\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das ist noch eine Idee, dass ihr sagt, ihr macht euch hier Ordner.\",\"startTime\":\"39:22\",\"endTime\":\"39:25\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich habe die Ordner leider nur im falschen reingemacht, aber hier habt ihr die Möglichkeit, dann noch weitere Ordner für den Mandanten anlegen.\",\"startTime\":\"39:25\",\"endTime\":\"39:34\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich bin jetzt gerade mit der Mandantenansicht drin.\",\"startTime\":\"39:34\",\"endTime\":\"39:36\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Da gibt es dann hier die Funktion, dass ein neuer Ordner steht und dann könnt ihr euch den direkt, also hier rechts, genau, seht ihr das?\",\"startTime\":\"39:36\",\"endTime\":\"39:42\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Neuer Ordner, also ihr klickt erst Vermietung an, das ist immer wichtig, sonst macht er nichts, neuer Ordner und dann sagt ihr hier Huberstrasse fünf, dann tue ich mir zumindest auch schon mal etwas leichter und mache mir dann hier die ganzen Objekte rein.\",\"startTime\":\"39:42\",\"endTime\":\"39:57\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das hat jetzt nichts mit dem Branchenpaket zu tun.\",\"startTime\":\"39:58\",\"endTime\":\"40:00\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ja, kleine Überraschung, man muss es jedes Jahr wieder machen.\",\"startTime\":\"40:01\",\"endTime\":\"40:05\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ist nicht schön.\",\"startTime\":\"40:05\",\"endTime\":\"40:06\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, die Datev hat es nicht automatisiert oder noch nicht.\",\"startTime\":\"40:06\",\"endTime\":\"40:09\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, es muss jedes Jahr wieder neu gemacht werden.\",\"startTime\":\"40:10\",\"endTime\":\"40:15\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist so ein Nachteil.\",\"startTime\":\"40:15\",\"endTime\":\"40:17\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und dann gibt es aber noch eine ganz coole Funktion, ich hoffe, die kann ich euch schnell zeigen.\",\"startTime\":\"40:18\",\"endTime\":\"40:23\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wenn der Mandant Mietobjekte hat, gibt es jetzt hier die Funktion steuerliche Daten.\",\"startTime\":\"40:27\",\"endTime\":\"40:33\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also wiederhole noch mal langsam.\",\"startTime\":\"40:35\",\"endTime\":\"40:36\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wenn der Mandant im letzten Jahr Mietobjekte hat, ich zeige euch auch gleich, wie es geht, könnt ihr dem Mandanten steuerliche Daten zur Verfügung stellen.\",\"startTime\":\"40:37\",\"endTime\":\"40:44\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das geht auch für berufliche Ausgaben etc.\",\"startTime\":\"40:44\",\"endTime\":\"40:47\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und hier kann der Mandant euch jetzt sagen, ob sich da was verändert hat.\",\"startTime\":\"40:48\",\"endTime\":\"40:52\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist in der Meine Steuern Ansicht, das ist eine neue, wie sagt man, Umfrage kann man nicht sagen, aber Erfassungsmaske für den Mandanten.\",\"startTime\":\"40:54\",\"endTime\":\"41:02\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist ziemlich neu, findet jeder spannend, weiß ich nicht und füllt es der Mandant auch aus.\",\"startTime\":\"41:02\",\"endTime\":\"41:07\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Aber hier kann der Mandant euch jetzt hier die Informationen mitgeben, was hat sich geändert und kann hier auf bestätigen und dann bekommt ihr das automatisch in meine Steuern rein.\",\"startTime\":\"41:07\",\"endTime\":\"41:16\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Leider nicht in die Erklärung, aber ihr bekommt ein Übersichtsdokument, wo diese Änderungen drinstehen und die könnt ihr ihm jeden Jahr zur Verfügung stellen.\",\"startTime\":\"41:16\",\"endTime\":\"41:23\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wie das geht, zeige ich gleich nochmal, aber das ist so eine Umfrage und das macht er vollautomatisch.\",\"startTime\":\"41:23\",\"endTime\":\"41:29\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Der erkennt, wie viele Objekte hat er, z.b.\",\"startTime\":\"41:29\",\"endTime\":\"41:32\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"hat er hier berufliche Ausgaben, persönliche Daten und alles was sich ändert, nimmt er hier die Vorjahreswerte und frägt den Mandant, du passt es oder passt es nicht?\",\"startTime\":\"41:32\",\"endTime\":\"41:42\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das kann er euch hiermit bestätigen, kann auch seinen Kommentar dazu abgeben.\",\"startTime\":\"41:42\",\"endTime\":\"41:46\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Zweitausendein.\",\"startTime\":\"41:46\",\"endTime\":\"41:47\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, wie stellt man das bei Vermietung und Verpachtung oder generell für die anderen Sachen zur Verfügung?\",\"startTime\":\"41:47\",\"endTime\":\"41:52\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ihr geht beim Mandanten ins Einkommensteuerprogramm, geht auf habt hier senden an meine Steuern, steuerliche Daten.\",\"startTime\":\"41:53\",\"endTime\":\"42:02\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Bei mir kommt jetzt die Fehlermeldung, weil ich es schon gemacht habe.\",\"startTime\":\"42:02\",\"endTime\":\"42:04\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ihr könnt es nur einmal im Jahr bereitstellen und sagt dann hier auf ja.\",\"startTime\":\"42:04\",\"endTime\":\"42:07\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann dauert es 1 Minute und dann ist für den Mandanten dieses Feld hier zweitausendein zur Verfügung.\",\"startTime\":\"42:07\",\"endTime\":\"42:14\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist für die steuerliche Erfassung ist es wie eine Art Checkliste für den Mandanten.\",\"startTime\":\"42:15\",\"endTime\":\"42:20\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das geht für alles, egal ob es Vermietung und Verpachtung ist, berufliche Ausgaben, persönliche Daten, die kommt dann in meine Steuern rein.\",\"startTime\":\"42:21\",\"endTime\":\"42:29\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, was heißt das jetzt für euch?\",\"startTime\":\"42:29\",\"endTime\":\"42:31\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich würde, wenn ich V v habe, kleinere Mandate, immer zuerst in die Übersicht gehen, die Ordner erstellen, so wie ich es euch gerade gezeigt habe, zweitausendein Vermietung, Aktionen, neue Ordner für jede Straße.\",\"startTime\":\"42:31\",\"endTime\":\"42:45\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann ist Mein zweiter Schritt, ich gehe ins Einkommensteuerprogramm vom letzten oder vom Jahr, sag, wo haben wir, senden an meine Steuern steuerliche Daten, dann schicke ich das, klicke hier auf ja, schicke das zu meine Steuern und dann sage ich zu meinem Mandanten, bitte guck mal hier unter steuerliche Daten, füll mir bitte die Bögen aus oder zumindestens für die und die Objekte.\",\"startTime\":\"42:45\",\"endTime\":\"43:09\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und hier schaut mal, das finde ich eigentlich echt cool, kann der Mandant auch ein neues Objekt anlegen.\",\"startTime\":\"43:10\",\"endTime\":\"43:15\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Seht ihr das?\",\"startTime\":\"43:15\",\"endTime\":\"43:16\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Kann euch sagen, ich habe jetzt hier noch die Huberstrasse gekauft.\",\"startTime\":\"43:17\",\"endTime\":\"43:21\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist, ich zeige euch mal, das ist der Button hier, Vermietung und Verpachtung hinzufügen.\",\"startTime\":\"43:21\",\"endTime\":\"43:28\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Der Nachteil ist nur, wenn er im Vorjahr nichts hatte, kommt dieses Feld nicht.\",\"startTime\":\"43:29\",\"endTime\":\"43:32\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, er muss im Vorjahr mindestens einmal Vermietung und Verpachtung in der Einkommensteuererklärung gehabt haben.\",\"startTime\":\"43:32\",\"endTime\":\"43:38\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das ist das Feld steuerliche Daten erfassen.\",\"startTime\":\"43:38\",\"endTime\":\"43:42\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Genau, das finde ich eigentlich ganz cool, ist eine coole Funktion, ist auch relativ beliebt inzwischen beim Mandanten.\",\"startTime\":\"43:44\",\"endTime\":\"43:51\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, dann kommen wir noch zum letzten Teil, das schauen wir uns kurz theoretisch an und dann gehen wir in die Praxis rein.\",\"startTime\":\"43:54\",\"endTime\":\"44:02\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also es gibt Freizeichen online.\",\"startTime\":\"44:04\",\"endTime\":\"44:07\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Arbeitet ihr damit schon oder was sind so eure Erfahrungen damit, mit dem Freizeichen online?\",\"startTime\":\"44:09\",\"endTime\":\"44:14\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ihr habt es ja von einzelnen Einsatz habe ich gehört, aber wie sind da so eure Meinungen, wie läuft es?\",\"startTime\":\"44:15\",\"endTime\":\"44:19\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also wir haben damit noch nicht gearbeitet.\",\"startTime\":\"44:22\",\"endTime\":\"44:25\",\"speaker_name\":\"Kanzlei Besprechung\",\"speaker_id\":1},{\"sentence\":\"Okay, dann waren es bis jetzt so die Steuerberater.\",\"startTime\":\"44:25\",\"endTime\":\"44:27\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Auf jeden Fall.\",\"startTime\":\"44:27\",\"endTime\":\"44:27\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ein Steuerberater hat mir das von euch erklärt, aber kriegen wir hin, zeige ich euch das.\",\"startTime\":\"44:27\",\"endTime\":\"44:32\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wir schauen es uns kurz theoretisch an, dann schauen wir es uns gleich praktisch an.\",\"startTime\":\"44:32\",\"endTime\":\"44:35\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also Datev, meine Steuern ist dafür gedacht, dass der Mandant digital die Erklärungen abzeichnen kann.\",\"startTime\":\"44:35\",\"endTime\":\"44:44\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Was braucht er dafür?\",\"startTime\":\"44:44\",\"endTime\":\"44:45\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Smartlogin oder Artev Stick.\",\"startTime\":\"44:46\",\"endTime\":\"44:49\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das sind die Voraussetzungen, sonst geht nichts.\",\"startTime\":\"44:49\",\"endTime\":\"44:52\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das Ganze ist so, wenn wir uns mal den ganzen Prozess jetzt anschauen, ihr tut die Einkommensteuererklärung dem Mandanten bereitstellen.\",\"startTime\":\"44:55\",\"endTime\":\"45:03\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wie das geht, zeige ich euch.\",\"startTime\":\"45:03\",\"endTime\":\"45:04\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Der Mandant wird benachrichtigt, sobald er das ganze freigezeichnet hat, wird es vollautomatisch per Elster übermittelt.\",\"startTime\":\"45:05\",\"endTime\":\"45:13\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wenn der Mandant das ganze ablehnt, also ihr sagt, nee, nee, das passt nicht, bekommt ihr die Benachrichtigung, dann könnt ihr es ändern und dann müsst ihr es freizeichnen oder beziehungsweise freigeben.\",\"startTime\":\"45:14\",\"endTime\":\"45:25\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Könnt ihr es wieder zurück freigeben und dann dreht sich das Rad von vorne oder ihr tut es direkt hin verschicken.\",\"startTime\":\"45:25\",\"endTime\":\"45:31\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, wie funktioniert das ganze?\",\"startTime\":\"45:33\",\"endTime\":\"45:35\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Der Abruf funktioniert über den Button drei Zeichen online.\",\"startTime\":\"45:36\",\"endTime\":\"45:42\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wenn wir uns mal kurz anschauen im Programm.\",\"startTime\":\"45:43\",\"endTime\":\"45:45\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, dann haben wir hier, also müsst Erklärung abschließen und dann haben wir hier, was denn jetzt?\",\"startTime\":\"45:51\",\"endTime\":\"45:59\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Meine nehme ich glaube ich nicht abgeschlossen.\",\"startTime\":\"46:00\",\"endTime\":\"46:03\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich zeige es euch mal in der anderen Ansicht.\",\"startTime\":\"46:03\",\"endTime\":\"46:06\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Machen wir es mal so.\",\"startTime\":\"46:10\",\"endTime\":\"46:11\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das sieht so aus.\",\"startTime\":\"46:15\",\"endTime\":\"46:17\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich habe das nämlich schon zu oft gemacht.\",\"startTime\":\"46:19\",\"endTime\":\"46:20\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Genau, und vielleicht was noch wichtig ist, das macht sonst immer nämlich Probleme.\",\"startTime\":\"46:20\",\"endTime\":\"46:24\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ihr müsst es jetzt, also was sind die Voraussetzungen?\",\"startTime\":\"46:25\",\"endTime\":\"46:28\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ihr müsst es bitte einmal in den rechten freischalten, also für den Mandanten, sonst kann er nichts machen.\",\"startTime\":\"46:28\",\"endTime\":\"46:33\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das findet ihr unter dem Punkt Ÿousand hier ganz unten, zeige ich euch mal.\",\"startTime\":\"46:33\",\"endTime\":\"46:37\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also ihr müsst hier dem Mandanten die Rechte geben, dass er das freischalten kann.\",\"startTime\":\"46:39\",\"endTime\":\"46:43\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das ist ganz unten Freizeichen online.\",\"startTime\":\"46:43\",\"endTime\":\"46:45\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, ich gebe hier oben eigentlich immer seine Berater und Mandantennummer ein.\",\"startTime\":\"46:45\",\"endTime\":\"46:48\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und dann habt ihr hier ganz unten, ist hier der Punkt Freizeichnung.\",\"startTime\":\"46:50\",\"endTime\":\"46:54\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, ich wiederhole nochmal für alle, die Administrationsrechte haben, ihr geht in die Rechteverwaltung online, geht hier auf globale Datenfreigabe, gibt hier die Berater und Mandantennummer ein für den Einkommensteuermandat oder das, was er unterschreiben soll.\",\"startTime\":\"46:55\",\"endTime\":\"47:09\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann klicke ich unten links auf Freizeiten, dann nimmt er nämlich automatisch die NR.\",\"startTime\":\"47:10\",\"endTime\":\"47:14\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann bin ich etwas schneller.\",\"startTime\":\"47:14\",\"endTime\":\"47:15\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das sind die Voraussetzungen.\",\"startTime\":\"47:15\",\"endTime\":\"47:16\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Mandant hat Smartlogin oder Atev Stick.\",\"startTime\":\"47:16\",\"endTime\":\"47:20\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Schritt eins.\",\"startTime\":\"47:20\",\"endTime\":\"47:21\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann Schritt zwei, ich gehe einmal in die klassische Einkommensteuererklärung, gehe auf Mandanten, gehe auf Daten senden.\",\"startTime\":\"47:22\",\"endTime\":\"47:35\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Zack.\",\"startTime\":\"47:36\",\"endTime\":\"47:37\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und dann macht ihr es ja wahrscheinlich auch so, dass ihr es übermittelt und dann habt ihr hier mit Freizeichen online diesen Haken bitte setzen.\",\"startTime\":\"47:37\",\"endTime\":\"47:43\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So und jetzt müsst ihr bitte hier die E Mail Adresse vom Mandant eintragen.\",\"startTime\":\"47:47\",\"endTime\":\"47:56\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Er übernimmt es manchmal aus den Stammdaten, aber irgendwie klappt das noch nicht so recht.\",\"startTime\":\"47:57\",\"endTime\":\"48:00\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also im Notfall müsst ihr hier die bitte einmal manuell eingeben oder aus dem Dropdown Feld auswählen.\",\"startTime\":\"48:00\",\"endTime\":\"48:05\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das ist dann, und hier kann ich dann auch noch angeben, wer soll benachrichtigt werden.\",\"startTime\":\"48:07\",\"endTime\":\"48:18\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, möchten sie über die Entscheidung des Freizeit benachrichtigt werden.\",\"startTime\":\"48:19\",\"endTime\":\"48:22\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, ihr könnt hier eure E Mail Adresse eintragen, wenn ihr sagt, ihr wollt da eine Info haben.\",\"startTime\":\"48:22\",\"endTime\":\"48:27\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Manche haben es, manche haben es nicht.\",\"startTime\":\"48:27\",\"endTime\":\"48:29\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, und unter Dokumentenumfang ändern könnt ihr genau festlegen, was soll er alles mitschicken.\",\"startTime\":\"48:30\",\"endTime\":\"48:36\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das heißt, das läuft ganz einfach aus.\",\"startTime\":\"48:37\",\"endTime\":\"48:39\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ihr wählt die Dokumente aus, die ihr haben wollt.\",\"startTime\":\"48:39\",\"endTime\":\"48:41\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Da ist standardmäßig schon alles eigentlich immer dabei.\",\"startTime\":\"48:41\",\"endTime\":\"48:44\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ihr könnt aber hier, das sind alle Unterlagen und die könnt ihr einfach hier links auswählen und dann nach rechts schieben, dann könnt ihr Sachen entfernen oder zufernen.\",\"startTime\":\"48:44\",\"endTime\":\"48:56\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wenn ihr das erste mal macht, würde ich euch hier empfehlen, dass ihr das einmal euch anpasst, wie ihr es haben möchtet und dann auf OK klickt.\",\"startTime\":\"48:56\",\"endTime\":\"49:03\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, dann öffnet er automatisch ein E Mail Feld, also euer Outlook wird sich geöffnet und jetzt müsst ihr hier eure E Mail Adresse vom Mandant angeben.\",\"startTime\":\"49:04\",\"endTime\":\"49:15\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich habe es vorhin gerade falsch gesagt.\",\"startTime\":\"49:16\",\"endTime\":\"49:16\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also die erste e Mail, die ihr eingibt, ist für euch, wenn ihr möchtet, eine Info haben, ob das freigezeitet ist oder nicht.\",\"startTime\":\"49:17\",\"endTime\":\"49:22\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Da könnt ihr dem Mandanten nochmal die E Mail Adresse tragen oder eure.\",\"startTime\":\"49:22\",\"endTime\":\"49:25\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich würde dann eher meine eintragen, weil ich will ja wissen, ob es geklappt hat oder nicht.\",\"startTime\":\"49:25\",\"endTime\":\"49:28\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und im zweiten Schritt jetzt hier bei Outlook, dort gibt er jetzt die E Mail Adresse vom Mandanten ein, der freizeichnen muss.\",\"startTime\":\"49:29\",\"endTime\":\"49:34\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, jetzt aber wichtig, wie wir gerade gelernt haben, wir brauchen die Berechtigung drauf, also der Stick Ÿousand oder der Smart Login.\",\"startTime\":\"49:34\",\"endTime\":\"49:42\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und wenn ihr jetzt z.b.\",\"startTime\":\"49:42\",\"endTime\":\"49:43\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"das der Ehefrau schickt und die hat keinen Zugang und so Probleme können dann kommen.\",\"startTime\":\"49:43\",\"endTime\":\"49:47\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also dass ihr da so ein bisschen mitdenkt, bitte.\",\"startTime\":\"49:47\",\"endTime\":\"49:49\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Jetzt könnt ihr hier noch euren Text ändern, wie ihr wollt.\",\"startTime\":\"49:50\",\"endTime\":\"49:53\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, und dann ist es so, dann bekommt der Mandant die E Mail.\",\"startTime\":\"49:55\",\"endTime\":\"50:00\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das sieht so aus.\",\"startTime\":\"50:00\",\"endTime\":\"50:01\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Schauen wir uns mal an.\",\"startTime\":\"50:01\",\"endTime\":\"50:03\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, schauen wir uns das mal kurz an.\",\"startTime\":\"50:05\",\"endTime\":\"50:07\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ÿousand, der Mandant erhält jetzt diese e Mail.\",\"startTime\":\"50:07\",\"endTime\":\"50:12\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Sehr geehrte Damen und Herren, sie haben ein Dokument für die Einkommensteuer, wie wir es halt vorhin abgeschickt haben.\",\"startTime\":\"50:12\",\"endTime\":\"50:17\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und jetzt ist hier ein Link.\",\"startTime\":\"50:17\",\"endTime\":\"50:18\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Der Link ist immer gleich und der heißt immer wwdativ de fzo, also für Freizeichen online.\",\"startTime\":\"50:18\",\"endTime\":\"50:25\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Der ist immer gleich bei jedem Mandanten, da braucht ihr euch nicht wundern.\",\"startTime\":\"50:25\",\"endTime\":\"50:28\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und jetzt muss der Mandant hier einmal auf den Link gehen und jetzt wird er dazu aufgefordert, sich mit seinem Smartlogin anzumelden.\",\"startTime\":\"50:30\",\"endTime\":\"50:38\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wenn das schon angemeldet ist, kommt nichts.\",\"startTime\":\"50:38\",\"endTime\":\"50:39\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wenn nicht, klassisch Smart Login oder Smartcard.\",\"startTime\":\"50:39\",\"endTime\":\"50:43\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und jetzt ist hier diese Einkommensteuererklärung zur Verfügung.\",\"startTime\":\"50:43\",\"endTime\":\"50:46\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und jetzt kann er hier, wenn er auf den Link, das ist auch ein häufiger Fehler, Der Mandant muss, zeige ich euch mal, hier draufklicken.\",\"startTime\":\"50:47\",\"endTime\":\"51:00\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also der muss auf Einkommensteuererklärung draufdrücken, sonst kann er es eventuell nicht bestätigen.\",\"startTime\":\"51:00\",\"endTime\":\"51:04\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Es ist manchmal so ein bisschen tricky.\",\"startTime\":\"51:04\",\"endTime\":\"51:06\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und wenn er jetzt da draufklickt, zeigt er die komplette Einkommensteuererklärung einmal an.\",\"startTime\":\"51:07\",\"endTime\":\"51:12\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Man kann er sich die halt anschauen komplett.\",\"startTime\":\"51:12\",\"endTime\":\"51:16\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So, und dann hat der Mandant hier die Möglichkeit, schauen wir uns noch mal an.\",\"startTime\":\"51:16\",\"endTime\":\"51:21\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und jetzt kann der Mandant, hier war gerade der Button entweder bestätigen oder ablehnen.\",\"startTime\":\"51:23\",\"endTime\":\"51:27\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das ist das bei ablehnen bekommt ihr eine Nachricht, dann müsste er schauen, warum er es abgelehnt hat.\",\"startTime\":\"51:28\",\"endTime\":\"51:33\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und wenn er jetzt auf bestätigen geht, ist der ganze Prozess durch und es wird automatisch zur Einkommensteuer, also ans Finanzamt das ganze übermittelt, wenn er auf bestätigen klickt.\",\"startTime\":\"51:33\",\"endTime\":\"51:44\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und wenn er hier, wenn ihr mehrere Dokumente habt, kann er auch hier so einen Dropdown machen und man kann hier mehrere Sachen hier auch auswählen.\",\"startTime\":\"51:45\",\"endTime\":\"51:55\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Genau, und das ist eigentlich ganz praktisch.\",\"startTime\":\"51:55\",\"endTime\":\"51:58\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und jetzt sagt ihr natü boah, wo weiß ich denn, ob der Mandant das jetzt freigezeichnet hat oder nicht?\",\"startTime\":\"51:58\",\"endTime\":\"52:03\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dafür könnt ihr auf unsere Kanzlei gehen, Geschäftsfeldübersicht und dann habt ihr hier unter Einkommensteuer alle Einkommensteuermandate und dann könnt ihr euch unter Einstellungen, Liste das Feld Freizeichnung reinmachen und dann seht ihr ganz genau, was ist der Status, hat der Mandant das freigezahlt oder nicht?\",\"startTime\":\"52:04\",\"endTime\":\"52:23\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Zeige ich euch bei mir unsere Kanzlei, Doppelpunkt, dann haben wir hier Einkommensteuer, dann habe ich hier rechte Maustaste, Einstellungen, Liste und dann kann ich jetzt hier mir die ganzen Haken anmachen und dann ist es hier einmal Bearbeitungsstatus, finde ich immer sau wichtig und hier dieses Freizeichnung und Übermittlung, die zwei Sachen auf OK.\",\"startTime\":\"52:23\",\"endTime\":\"52:52\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und dann sehe ich hier unter Freizeichnung, wie der aktuelle Stand ist.\",\"startTime\":\"52:55\",\"endTime\":\"53:02\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich sehe es nur in meiner Testversion jetzt leider nicht, weil ich es nicht bereitstellen kann, aber hier würde ich das Ganze sehen, finde ich auch mega praktisch, macht bloßes Leben auf jeden Fall nochmal deutlich leichter.\",\"startTime\":\"53:02\",\"endTime\":\"53:15\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und hier hinten sehe ich dann, ist Freigezeit oder nicht und auch ob das übermittelt ist oder nicht.\",\"startTime\":\"53:15\",\"endTime\":\"53:19\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und da kann ich dementsprechend auch nach Fehler gucken.\",\"startTime\":\"53:19\",\"endTime\":\"53:22\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das kann ganz praktisch sein.\",\"startTime\":\"53:22\",\"endTime\":\"53:24\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So und wenn ich jetzt da nicht mehr auf den Mandanten warten möchte etc.\",\"startTime\":\"53:24\",\"endTime\":\"53:28\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Kann ich da auch rechte Maustaste draufgehen und kann dann hier auch den Status ändern und so weiter.\",\"startTime\":\"53:28\",\"endTime\":\"53:35\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Kann hier das direkt bereitstellen.\",\"startTime\":\"53:36\",\"endTime\":\"53:38\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also wenn ihr auf die Erklärung gibt in dieser Ansicht.\",\"startTime\":\"53:38\",\"endTime\":\"53:40\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das ist das Thema Datev, meine Steuern, Freizeichen online.\",\"startTime\":\"53:41\",\"endTime\":\"53:47\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Genau.\",\"startTime\":\"53:49\",\"endTime\":\"53:49\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Was ist da so euer erster Eindruck von der Lösung oder was denkt ihr darüber?\",\"startTime\":\"53:49\",\"endTime\":\"53:52\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich bin gespannt, ob das die Mandanten zu annehmen wird.\",\"startTime\":\"53:58\",\"endTime\":\"54:01\",\"speaker_name\":\"Kanzlei Besprechung\",\"speaker_id\":1},{\"sentence\":\"Schwierig.\",\"startTime\":\"54:01\",\"endTime\":\"54:02\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also ich bin ja auch immer ein sehr großer Optimist, bin ich ganz ehrlich zu euch.\",\"startTime\":\"54:02\",\"endTime\":\"54:06\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich finde Freizeichen online nicht schlecht, Ÿousand, aber die Erfahrung zeigt, die brauchen schon etwas Schützenhilfe, bis das läuft.\",\"startTime\":\"54:06\",\"endTime\":\"54:13\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Besonders wenn ihr jetzt Mandate habt, die sowieso erst neu auf meine Steuern sind, da ist es schon viel Neues.\",\"startTime\":\"54:17\",\"endTime\":\"54:24\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Könnt ihr es nutzen, gerne.\",\"startTime\":\"54:26\",\"endTime\":\"54:28\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ich freue mich natürlich, aber ich möchte auch ehrlich zu euch sein, es ist gar nicht so leicht, es an den Mann zu bringen, weil die Mandanten dann die E Mail ignorieren, die vergessen das, dann passen die Rechte nicht.\",\"startTime\":\"54:28\",\"endTime\":\"54:41\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also es ist nicht ganz so easy.\",\"startTime\":\"54:41\",\"endTime\":\"54:43\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Das erste Jahr ist auf jeden Fall mühevoll, danach läuft es aber gut, euch da etwas Kraft und zu geben.\",\"startTime\":\"54:43\",\"endTime\":\"54:50\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Genau.\",\"startTime\":\"54:53\",\"endTime\":\"54:54\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Und das kann man auch für alle anderen Erklärungen nutzen.\",\"startTime\":\"54:54\",\"endTime\":\"54:56\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Aber wir haben auch viele Kanzleien, die machen das so, die schicken eine e Mail, hallo Mandant, das ist deine Steuererklärung.\",\"startTime\":\"54:56\",\"endTime\":\"55:01\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wenn ich in den nächsten 14 Tagen nichts höre, gebe ich es frei.\",\"startTime\":\"55:01\",\"endTime\":\"55:04\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ganz einfach.\",\"startTime\":\"55:04\",\"endTime\":\"55:05\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"So machen es auch manche von dem Prinzip.\",\"startTime\":\"55:05\",\"endTime\":\"55:09\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Genau.\",\"startTime\":\"55:11\",\"endTime\":\"55:12\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Okay, euch soweit klar, wie das funktioniert mit den Freizeichen online?\",\"startTime\":\"55:13\",\"endTime\":\"55:18\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also muss man am besten mal ausprobieren.\",\"startTime\":\"55:18\",\"endTime\":\"55:20\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wir können es auch gerne noch mal praktisch bei euch machen, an irgendeiner Mustererklärung, wenn ihr das möchtet.\",\"startTime\":\"55:20\",\"endTime\":\"55:25\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Aber so ist der Ablauf, wie man beizeichen online für den Mandanten machen kann.\",\"startTime\":\"55:25\",\"endTime\":\"55:32\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Okay, so, dann neigt sich die Schulung heute am Ende.\",\"startTime\":\"55:37\",\"endTime\":\"55:42\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Habt ihr noch irgendwelche Fragen?\",\"startTime\":\"55:42\",\"endTime\":\"55:44\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ist irgendwas unklar?\",\"startTime\":\"55:44\",\"endTime\":\"55:45\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also einmal heute war ja Vermietung und Verpachtung und das Freizeichen online auf dem Programm.\",\"startTime\":\"55:45\",\"endTime\":\"55:50\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Also wenn ihr wollt, wer meint Vorschlag, dass ihr das mal einfach praktisch ausprobiert, wenn einer von euch irgendwie so eine Rede oder so einen Mandanten hat und dann können wir da nochmal gezielt fragen beantworten an eurem Anwendungsfall, wenn ihr möchtet, das wollt, einfach mal so grundlagen, dass ihr da gut reinkommt.\",\"startTime\":\"55:57\",\"endTime\":\"56:13\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Wie gesagt, alles weitere können wir da gerne nochmal so eine Fragestunde machen, wenn ihr sagt, ist noch von den letzten Schulungen irgendwas offen, was euch interessiert zu meinen Steuern, von denjenigen, die in Teams noch mit dabei sind, von euch irgendwas, Fahrer etc.\",\"startTime\":\"56:13\",\"endTime\":\"56:32\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Okay, super.\",\"startTime\":\"56:38\",\"endTime\":\"56:39\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Kann ich euch etwas zeigen oder habe ich das etwas geholfen, was das Thema V v angeht, wie man das löst, was da für Varianten gibt.\",\"startTime\":\"56:40\",\"endTime\":\"56:46\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Super, perfekt.\",\"startTime\":\"56:53\",\"endTime\":\"56:54\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann, wenn ihr Fragen habt, könnt ihr euch gerne jederzeit melden und dann sehen wir uns beim nächsten Mal und dann habt ihr es heute schon geschafft und dann wünsche ich euch viel Spaß bei V V und würde mich freuen, wenn der eine oder andere das einfach mal ausprobiert und mal testet und dann könnt ihr gerne Feedback geben, wie das läuft.\",\"startTime\":\"56:55\",\"endTime\":\"57:12\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Genau.\",\"startTime\":\"57:12\",\"endTime\":\"57:12\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Perfekt.\",\"startTime\":\"57:13\",\"endTime\":\"57:14\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Super.\",\"startTime\":\"57:14\",\"endTime\":\"57:15\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Dann Dankeschön fürs Mitmachen und dann hören wir uns beim nächsten Mal.\",\"startTime\":\"57:15\",\"endTime\":\"57:19\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0},{\"sentence\":\"Ciao.\",\"startTime\":\"57:22\",\"endTime\":\"57:22\",\"speaker_name\":\"Manuel Moucka | Digitalagentur1 GmbH\",\"speaker_id\":0}]"
                  }
                ]
              },
              "module": "util:SetVariables",
              "version": 1,
              "metadata": {
                "expect": [
                  {
                    "name": "variables",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                      }
                    ],
                    "type": "array",
                    "label": "Variables"
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  }
                ],
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    },
                    "variables": {
                      "items": [
                        null
                      ]
                    }
                  }
                },
                "designer": {
                  "x": 1200,
                  "y": 0
                },
                "interface": [
                  {
                    "name": "Transcript JSON",
                    "type": "any",
                    "label": "Transcript JSON"
                  }
                ]
              },
              "parameters": {}
            },
            {
              "id": 6,
              "mapper": {
                "model": "claude-3-5-haiku-20241022",
                "messages": [
                  {
                    "role": "user",
                    "content": [
                      {
                        "text": "Create a SOP on the topics discuss featuring a step-by-step process in German.\n\nEach step should contain a \"Thema/Beschreibung\" and \"Vorteile/Nutzen\".\n\nThis is the Fireflies transcript to follow:\n{{16.`Transcript JSON`}}",
                        "type": "text"
                      }
                    ]
                  }
                ],
                "metadata": {},
                "max_tokens": "2056",
                "temperature": "1"
              },
              "module": "anthropic-claude:createAMessage",
              "version": 1,
              "metadata": {
                "expect": [
                  {
                    "name": "model",
                    "type": "select",
                    "label": "Model",
                    "required": true
                  },
                  {
                    "name": "max_tokens",
                    "type": "uinteger",
                    "label": "Max Tokens",
                    "required": true
                  },
                  {
                    "name": "messages",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "role",
                          "type": "select",
                          "label": "Role",
                          "options": [
                            {
                              "label": "User",
                              "value": "user",
                              "nested": [
                                {
                                  "name": "content",
                                  "spec": {
                                    "spec": [
                                      {
                                        "help": "For models that support image content blocks (vision), see the [Anthropic model comparison table](https://docs.anthropic.com/en/docs/about-claude/models#model-comparison-table).",
                                        "name": "type",
                                        "type": "select",
                                        "label": "Type",
                                        "options": [
                                          {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                              {
                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text",
                                                "required": true
                                              }
                                            ]
                                          },
                                          {
                                            "label": "Image",
                                            "value": "image",
                                            "nested": [
                                              {
                                                "name": "source",
                                                "spec": [
                                                  {
                                                    "help": "File name, including the extension, for example, `image.jpg`.",
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "Filename",
                                                    "required": true,
                                                    "semantic": "file:name",
                                                    "extension": [
                                                      "jpeg",
                                                      "jpg",
                                                      "png",
                                                      "gif",
                                                      "webp"
                                                    ]
                                                  },
                                                  {
                                                    "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                  }
                                                ],
                                                "type": "collection",
                                                "label": "Source",
                                                "required": true
                                              }
                                            ]
                                          },
                                          {
                                            "label": "PDF document",
                                            "value": "document",
                                            "nested": [
                                              {
                                                "type": "html",
                                                "label": "<div style='color: #69502E; background: #F9ECD7; border-radius: 5px; padding: 12px 16px 12px 16px; font-size: 12px;'>PDF support is currently available on Claude 3.5 Sonnet models:<br><b>claude-3-5-sonnet-20241022</b><br><b>claude-3-5-sonnet-20240620</b></div>"
                                              },
                                              {
                                                "name": "pdfFileName",
                                                "type": "filename",
                                                "label": "Filename",
                                                "required": true,
                                                "semantic": "file:name",
                                                "extension": [
                                                  "pdf"
                                                ]
                                              },
                                              {
                                                "name": "pdfFileData",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                              }
                                            ]
                                          },
                                          {
                                            "label": "Tool result",
                                            "value": "tool_result",
                                            "nested": [
                                              {
                                                "name": "tool_use_id",
                                                "type": "text",
                                                "label": "Tool Use ID",
                                                "required": true
                                              },
                                              {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content",
                                                "required": true
                                              }
                                            ]
                                          }
                                        ],
                                        "required": true
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Content"
                                  },
                                  "type": "array",
                                  "label": "Content",
                                  "labels": {
                                    "add": "Add content"
                                  },
                                  "required": true
                                }
                              ]
                            },
                            {
                              "label": "Assistant",
                              "value": "assistant",
                              "nested": [
                                {
                                  "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                  "name": "content",
                                  "type": "text",
                                  "label": "Content",
                                  "required": true
                                }
                              ]
                            },
                            {
                              "label": "Tool Assistant",
                              "value": "tool_assistant",
                              "nested": [
                                {
                                  "name": "content",
                                  "spec": {
                                    "spec": [
                                      {
                                        "help": "You can send image content blocks starting with Claude 3 models.",
                                        "name": "type",
                                        "type": "select",
                                        "label": "Type",
                                        "options": [
                                          {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                              {
                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text",
                                                "required": true
                                              }
                                            ]
                                          },
                                          {
                                            "label": "Tool Use",
                                            "value": "tool_use",
                                            "nested": [
                                              {
                                                "name": "id",
                                                "type": "text",
                                                "label": "Tool Use ID",
                                                "required": true
                                              },
                                              {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Tool Name",
                                                "required": true
                                              },
                                              {
                                                "name": "input",
                                                "type": "any",
                                                "label": "Input",
                                                "required": true
                                              }
                                            ]
                                          }
                                        ],
                                        "required": true
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Content"
                                  },
                                  "type": "array",
                                  "label": "Content",
                                  "labels": {
                                    "add": "Add content"
                                  },
                                  "required": true
                                }
                              ]
                            }
                          ],
                          "required": true
                        }
                      ],
                      "type": "collection",
                      "label": "Message"
                    },
                    "type": "array",
                    "label": "Messages",
                    "required": true
                  },
                  {
                    "name": "system",
                    "type": "text",
                    "label": "System Prompt"
                  },
                  {
                    "name": "metadata",
                    "spec": [
                      {
                        "name": "user_id",
                        "type": "text",
                        "label": "User ID"
                      }
                    ],
                    "type": "collection",
                    "label": "Metadata"
                  },
                  {
                    "name": "stop_sequences",
                    "spec": {
                      "name": "value",
                      "type": "text",
                      "label": "Stop Sequence"
                    },
                    "type": "array",
                    "label": "Stop Sequences"
                  },
                  {
                    "name": "temperature",
                    "type": "number",
                    "label": "Temperature",
                    "validate": {
                      "max": 1,
                      "min": 0
                    }
                  },
                  {
                    "name": "top_p",
                    "type": "number",
                    "label": "Top P",
                    "validate": {
                      "max": 1
                    }
                  },
                  {
                    "name": "top_k",
                    "type": "uinteger",
                    "label": "Top K"
                  },
                  {
                    "name": "additionalParameters",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "key",
                          "type": "text",
                          "label": "Parameter Name",
                          "required": true
                        },
                        {
                          "name": "type",
                          "type": "select",
                          "label": "Input Type",
                          "options": [
                            {
                              "label": "Text",
                              "value": "text",
                              "nested": [
                                {
                                  "name": "value",
                                  "type": "text",
                                  "label": "Parameter Value"
                                }
                              ],
                              "default": true
                            },
                            {
                              "label": "Number",
                              "value": "number",
                              "nested": [
                                {
                                  "name": "value",
                                  "type": "number",
                                  "label": "Parameter Value"
                                }
                              ]
                            },
                            {
                              "label": "Boolean",
                              "value": "boolean",
                              "nested": [
                                {
                                  "name": "value",
                                  "type": "boolean",
                                  "label": "Parameter Value"
                                }
                              ]
                            },
                            {
                              "label": "Date",
                              "value": "date",
                              "nested": [
                                {
                                  "name": "value",
                                  "type": "date",
                                  "label": "Parameter Value"
                                }
                              ]
                            },
                            {
                              "label": "Tools",
                              "value": "tools",
                              "nested": [
                                {
                                  "name": "value",
                                  "spec": {
                                    "type": "text",
                                    "label": "Parameter Value"
                                  },
                                  "type": "array",
                                  "label": "Parameter Values",
                                  "labels": {
                                    "add": "Add parameter value"
                                  }
                                }
                              ]
                            },
                            {
                              "label": "Any",
                              "value": "any",
                              "nested": [
                                {
                                  "name": "value",
                                  "type": "any",
                                  "label": "Parameter Value"
                                }
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "collection",
                      "label": "Input Parameter"
                    },
                    "type": "array",
                    "label": "Other Input Parameters"
                  }
                ],
                "restore": {
                  "expect": {
                    "model": {
                      "mode": "chose",
                      "label": "claude-3-5-haiku-20241022"
                    },
                    "messages": {
                      "mode": "chose",
                      "items": [
                        {
                          "role": {
                            "mode": "chose",
                            "label": "User"
                          },
                          "content": {
                            "mode": "chose",
                            "items": [
                              {
                                "type": {
                                  "mode": "chose",
                                  "label": "Text"
                                }
                              }
                            ]
                          }
                        }
                      ]
                    },
                    "stop_sequences": {
                      "mode": "chose"
                    },
                    "additionalParameters": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "anthropic-claude"
                      },
                      "label": "Karim's Anthropic Claude connection"
                    }
                  }
                },
                "designer": {
                  "x": 1500,
                  "y": 0
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:anthropic-claude",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2918194
              }
            }
          ]
        }
      ],
      "version": 1,
      "metadata": {
        "designer": {
          "x": -400,
          "y": 307
        }
      }
    }
  ],
  "name": "DGA1",
  "metadata": {
    "instant": false,
    "version": 1,
    "designer": {
      "orphans": [
        [
          {
            "id": 20,
            "filter": {
              "name": "OneDrive",
              "conditions": []
            },
            "module": "onedrive:watchFiles",
            "version": 2,
            "metadata": {
              "designer": {
                "x": 300,
                "y": 300,
                "messages": [
                  {
                    "message": "A trigger must be the first module in a scenario.",
                    "category": "link",
                    "severity": "warning"
                  },
                  {
                    "message": "Value must not be empty.",
                    "category": "setup",
                    "severity": "error"
                  }
                ]
              }
            }
          },
          {
            "id": 10,
            "module": "onedrive:getAFileFolder",
            "version": 2,
            "metadata": {
              "designer": {
                "x": 600,
                "y": 300,
                "messages": [
                  {
                    "message": "Value must not be empty.",
                    "category": "setup",
                    "severity": "error"
                  }
                ]
              }
            }
          },
          {
            "id": 11,
            "mapper": {
              "model": "whisper-1",
              "temperature": "1",
              "response_format": "json"
            },
            "module": "openai-gpt-3:CreateTranscription",
            "version": 1,
            "metadata": {
              "expect": [
                {
                  "name": "fileName",
                  "type": "filename",
                  "label": "File Name",
                  "required": true
                },
                {
                  "name": "fileData",
                  "type": "buffer",
                  "label": "File Data",
                  "required": true
                },
                {
                  "name": "model",
                  "type": "select",
                  "label": "Model",
                  "required": true
                },
                {
                  "name": "prompt",
                  "type": "text",
                  "label": "Prompt"
                },
                {
                  "name": "response_format",
                  "type": "select",
                  "label": "Response Format",
                  "validate": {
                    "enum": [
                      "json",
                      "text",
                      "srt",
                      "verbose_json",
                      "vtt"
                    ]
                  }
                },
                {
                  "name": "temperature",
                  "type": "number",
                  "label": "Temperature",
                  "validate": {
                    "max": 1,
                    "min": 0
                  }
                },
                {
                  "name": "language",
                  "type": "text",
                  "label": "Language"
                }
              ],
              "restore": {
                "expect": {
                  "model": {
                    "mode": "chose",
                    "label": "Whisper-1"
                  },
                  "response_format": {
                    "mode": "chose",
                    "label": "JSON"
                  }
                },
                "parameters": {
                  "__IMTCONN__": {
                    "data": {
                      "scoped": "true",
                      "connection": "openai-gpt-3"
                    },
                    "label": "Karim's OpenAI connection"
                  }
                }
              },
              "designer": {
                "x": 900,
                "y": 300,
                "messages": [
                  {
                    "message": "Value must not be empty.",
                    "category": "setup",
                    "severity": "error"
                  },
                  {
                    "message": "Value must not be empty.",
                    "category": "setup",
                    "severity": "error"
                  }
                ]
              },
              "interface": [
                {
                  "name": "text",
                  "type": "text",
                  "label": "Text"
                }
              ],
              "parameters": [
                {
                  "name": "__IMTCONN__",
                  "type": "account:openai-gpt-3",
                  "label": "Connection",
                  "required": true
                }
              ]
            },
            "parameters": {
              "__IMTCONN__": 2579821
            }
          },
          {
            "id": 19,
            "module": "onedrive:moveAFileFolder",
            "version": 2,
            "metadata": {
              "designer": {
                "x": 1200,
                "y": 300,
                "messages": [
                  {
                    "message": "Value must not be empty.",
                    "category": "setup",
                    "severity": "error"
                  }
                ]
              }
            }
          }
        ]
      ],
      "samples": {
        "6": {
          "id": "msg_014dopaTy7kZZQJY9GH5tt5w",
          "role": "assistant",
          "type": "message",
          "model": "claude-3-5-haiku-20241022",
          "usage": {
            "input_tokens": 41843,
            "output_tokens": 635
          },
          "content": [
            {
              "text": "Hier ist ein SOP (Standard Operating Procedure) basierend auf dem Transkript:\n\nSOP: Vermietung und V...",
              "type": "text"
            }
          ],
          "stop_reason": "end_turn",
          "textResponse": "Hier ist ein SOP (Standard Operating Procedure) basierend auf dem Transkript:\n\nSOP: Vermietung und V...",
          "stop_sequence": null
        },
        "16": {
          "Transcript JSON": "[{\"sentence\":\"Hallo, guten Morgen zusammen.\",\"startTime\":\"00:09\",\"endTime\":\"00:10\",\"speaker_name\":\"M..."
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}