scenarios/3004776.json
{
  "flow": [
    {
      "id": 3,
      "mapper": {
        "id": "rec2XPZnALaEUysnz",
        "base": "appmLkopsWumFkgXM",
        "table": "tblMaSYop5fzqigPi",
        "useColumnId": true
      },
      "module": "airtable:ActionGetRecord",
      "version": 3,
      "metadata": {
        "expect": [
          {
            "name": "base",
            "type": "select",
            "label": "Base",
            "required": true
          },
          {
            "name": "useColumnId",
            "type": "boolean",
            "label": "Use Column ID",
            "required": true
          },
          {
            "name": "table",
            "type": "select",
            "label": "Table",
            "required": true
          },
          {
            "name": "id",
            "type": "text",
            "label": "Record ID",
            "required": true
          }
        ],
        "restore": {
          "expect": {
            "base": {
              "mode": "chose",
              "label": "Zynera OS"
            },
            "table": {
              "mode": "chose",
              "label": "Team"
            },
            "useColumnId": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "airtable3"
              },
              "label": "Karim's Airtable connection (User ID: usryWvTaoddQVF23q)"
            }
          }
        },
        "advanced": true,
        "designer": {
          "x": 0,
          "y": 0
        },
        "interface": [
          {
            "name": "id",
            "type": "text",
            "label": "ID"
          },
          {
            "name": "createdTime",
            "type": "date",
            "label": "Created Time"
          },
          {
            "name": "fld8JSvFF9DHvyx8U",
            "type": "text",
            "label": "Name"
          },
          {
            "name": "fldkdKw2c3nBm9kGJ",
            "type": "text",
            "label": "Status"
          },
          {
            "name": "fldMl8lw9Cf18yOni",
            "spec": [
              {
                "name": "id",
                "type": "text",
                "label": "ID"
              },
              {
                "name": "email",
                "type": "email",
                "label": "Email"
              },
              {
                "name": "name",
                "type": "text",
                "label": "Name"
              }
            ],
            "type": "collection",
            "label": "Airtable User"
          },
          {
            "name": "fldzL9feKkz4PufmD",
            "spec": {
              "label": "Record ID"
            },
            "type": "array",
            "label": "Meetings"
          },
          {
            "name": "fldxXiZHRiVpKszM6",
            "type": "text",
            "label": "Prename"
          },
          {
            "name": "fldBxBm5QvWqYcsNg",
            "type": "text",
            "label": "Lastname"
          },
          {
            "name": "fldYxoy6SCynnUMgx",
            "type": "text",
            "label": "Email"
          },
          {
            "name": "fldq3AEE1cemrs39R",
            "type": "text",
            "label": "Slack ID"
          },
          {
            "name": "fld0USfkRcnXGScFB",
            "type": "text",
            "label": "Timezone"
          },
          {
            "name": "fldeWZiGJW1XKSKxA",
            "spec": [
              {
                "name": "id",
                "type": "text",
                "label": "ID"
              },
              {
                "name": "width",
                "type": "uinteger",
                "label": "Width"
              },
              {
                "name": "height",
                "type": "uinteger",
                "label": "Height"
              },
              {
                "name": "url",
                "type": "url",
                "label": "URL"
              },
              {
                "name": "filename",
                "type": "filename",
                "label": "File name"
              },
              {
                "name": "size",
                "type": "uinteger",
                "label": "Size"
              },
              {
                "name": "type",
                "type": "text",
                "label": "MIME type"
              },
              {
                "name": "thumbnails",
                "spec": [
                  {
                    "name": "small",
                    "spec": [
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      },
                      {
                        "name": "width",
                        "type": "uinteger",
                        "label": "Width"
                      },
                      {
                        "name": "height",
                        "type": "uinteger",
                        "label": "Height"
                      }
                    ],
                    "type": "collection",
                    "label": "Small"
                  },
                  {
                    "name": "large",
                    "spec": [
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      },
                      {
                        "name": "width",
                        "type": "uinteger",
                        "label": "Width"
                      },
                      {
                        "name": "height",
                        "type": "uinteger",
                        "label": "Height"
                      }
                    ],
                    "type": "collection",
                    "label": "Large"
                  },
                  {
                    "name": "full",
                    "spec": [
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      },
                      {
                        "name": "width",
                        "type": "uinteger",
                        "label": "Width"
                      },
                      {
                        "name": "height",
                        "type": "uinteger",
                        "label": "Height"
                      }
                    ],
                    "type": "collection",
                    "label": "Full"
                  }
                ],
                "type": "collection",
                "label": "Thumbnails"
              }
            ],
            "type": "array",
            "label": "Profile Picture"
          },
          {
            "name": "fldozHkkEY73ULjYZ",
            "type": "text",
            "label": "Phone"
          },
          {
            "name": "fldWOkEF4MMNfct3D",
            "type": "text",
            "label": "Role"
          },
          {
            "name": "flddc9lk1X9XKHn2B",
            "type": "date",
            "label": "Created at"
          },
          {
            "name": "fldyOChw50mZWwLyw",
            "type": "date",
            "label": "Upadted at"
          },
          {
            "name": "fldMyEFUgTElWNWUk",
            "type": "text",
            "label": "Record ID"
          },
          {
            "name": "fldm3VEUlEZOp8mjG",
            "spec": {
              "label": "Record ID"
            },
            "type": "array",
            "label": "Clients"
          },
          {
            "name": "fldbJdKMR8RY9fwU8",
            "spec": {
              "label": "Record ID"
            },
            "type": "array",
            "label": "Features"
          }
        ],
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:airtable3,airtable2",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 2419123
      }
    },
    {
      "id": 4,
      "mapper": {
        "scope": "roundtrip",
        "variables": [
          {
            "name": "Make vs. n8n",
            "value": "{{3.fld8JSvFF9DHvyx8U}}"
          },
          {
            "name": "Zacharia",
            "value": "{{3.fld0USfkRcnXGScFB}}"
          }
        ]
      },
      "module": "util:SetVariables",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "variables",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Variable name",
                "required": true
              },
              {
                "name": "value",
                "type": "any",
                "label": "Variable value"
              }
            ],
            "type": "array",
            "label": "Variables"
          },
          {
            "name": "scope",
            "type": "select",
            "label": "Variable lifetime",
            "required": true,
            "validate": {
              "enum": [
                "roundtrip",
                "execution"
              ]
            }
          }
        ],
        "restore": {
          "expect": {
            "scope": {
              "label": "One cycle"
            },
            "variables": {
              "items": [
                null,
                null
              ]
            }
          }
        },
        "designer": {
          "x": 300,
          "y": 0
        },
        "interface": [
          {
            "name": "Make vs. n8n",
            "type": "any",
            "label": "Make vs. n8n"
          },
          {
            "name": "Zacharia",
            "type": "any",
            "label": "Zacharia"
          }
        ]
      },
      "parameters": {}
    },
    {
      "id": 6,
      "mapper": {
        "id": "{{3.id}}",
        "base": "appmLkopsWumFkgXM",
        "table": "tblMaSYop5fzqigPi",
        "record": {
          "fldBxBm5QvWqYcsNg": "El Kassas",
          "fldMl8lw9Cf18yOni": {},
          "fldkdKw2c3nBm9kGJ": "Active",
          "fldozHkkEY73ULjYZ": "{{3.fldozHkkEY73ULjYZ}}"
        },
        "typecast": true,
        "useColumnId": true
      },
      "module": "airtable:ActionUpdateRecords",
      "version": 3,
      "metadata": {
        "expect": [
          {
            "name": "base",
            "type": "select",
            "label": "Base",
            "required": true
          },
          {
            "name": "typecast",
            "type": "boolean",
            "label": "Smart links",
            "required": true
          },
          {
            "name": "useColumnId",
            "type": "boolean",
            "label": "Use Column ID",
            "required": true
          },
          {
            "name": "table",
            "type": "select",
            "label": "Table",
            "required": true
          },
          {
            "name": "id",
            "type": "text",
            "label": "Record ID",
            "required": true
          },
          {
            "name": "record",
            "spec": [
              {
                "mode": "edit",
                "name": "fldkdKw2c3nBm9kGJ",
                "type": "select",
                "label": "Status"
              },
              {
                "name": "fldMl8lw9Cf18yOni",
                "spec": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "email",
                    "type": "email",
                    "label": "Email"
                  }
                ],
                "type": "collection",
                "label": "Airtable User"
              },
              {
                "name": "fldzL9feKkz4PufmD",
                "spec": {
                  "name": "value",
                  "label": "Record ID"
                },
                "type": "array",
                "label": "Meetings"
              },
              {
                "name": "fldxXiZHRiVpKszM6",
                "type": "text",
                "label": "Prename"
              },
              {
                "name": "fldBxBm5QvWqYcsNg",
                "type": "text",
                "label": "Lastname"
              },
              {
                "name": "fldYxoy6SCynnUMgx",
                "type": "text",
                "label": "Email"
              },
              {
                "name": "fldq3AEE1cemrs39R",
                "type": "text",
                "label": "Slack ID"
              },
              {
                "mode": "edit",
                "name": "fld0USfkRcnXGScFB",
                "type": "select",
                "label": "Timezone"
              },
              {
                "name": "fldeWZiGJW1XKSKxA",
                "spec": [
                  {
                    "name": "url",
                    "type": "text",
                    "label": "File URL"
                  },
                  {
                    "name": "filename",
                    "type": "filename",
                    "label": "File name"
                  }
                ],
                "type": "array",
                "label": "Profile Picture"
              },
              {
                "name": "fldozHkkEY73ULjYZ",
                "type": "text",
                "label": "Phone"
              },
              {
                "mode": "edit",
                "name": "fldWOkEF4MMNfct3D",
                "type": "select",
                "label": "Role"
              },
              {
                "name": "fldm3VEUlEZOp8mjG",
                "spec": {
                  "name": "value",
                  "label": "Record ID"
                },
                "type": "array",
                "label": "Clients"
              },
              {
                "name": "fldbJdKMR8RY9fwU8",
                "spec": {
                  "name": "value",
                  "label": "Record ID"
                },
                "type": "array",
                "label": "Features"
              }
            ],
            "type": "collection",
            "label": "Record"
          }
        ],
        "restore": {
          "expect": {
            "base": {
              "label": "Zynera OS"
            },
            "table": {
              "label": "Team"
            },
            "record": {
              "nested": {
                "fld0USfkRcnXGScFB": {
                  "mode": "edit"
                },
                "fldWOkEF4MMNfct3D": {
                  "mode": "edit"
                },
                "fldbJdKMR8RY9fwU8": {
                  "mode": "chose"
                },
                "fldeWZiGJW1XKSKxA": {
                  "mode": "chose"
                },
                "fldkdKw2c3nBm9kGJ": {
                  "mode": "chose",
                  "label": "Active"
                },
                "fldm3VEUlEZOp8mjG": {
                  "mode": "chose"
                },
                "fldzL9feKkz4PufmD": {
                  "mode": "chose"
                }
              }
            },
            "typecast": {
              "mode": "chose"
            },
            "useColumnId": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "airtable3"
              },
              "label": "Karim's Airtable connection (User ID: usryWvTaoddQVF23q)"
            }
          }
        },
        "advanced": true,
        "designer": {
          "x": 600,
          "y": 0
        },
        "interface": [
          {
            "name": "id",
            "type": "text",
            "label": "ID"
          },
          {
            "name": "createdTime",
            "type": "date",
            "label": "Created Time"
          },
          {
            "name": "fld8JSvFF9DHvyx8U",
            "type": "text",
            "label": "Name"
          },
          {
            "name": "fldkdKw2c3nBm9kGJ",
            "type": "text",
            "label": "Status"
          },
          {
            "name": "fldMl8lw9Cf18yOni",
            "spec": [
              {
                "name": "id",
                "type": "text",
                "label": "ID"
              },
              {
                "name": "email",
                "type": "email",
                "label": "Email"
              },
              {
                "name": "name",
                "type": "text",
                "label": "Name"
              }
            ],
            "type": "collection",
            "label": "Airtable User"
          },
          {
            "name": "fldzL9feKkz4PufmD",
            "spec": {
              "label": "Record ID"
            },
            "type": "array",
            "label": "Meetings"
          },
          {
            "name": "fldxXiZHRiVpKszM6",
            "type": "text",
            "label": "Prename"
          },
          {
            "name": "fldBxBm5QvWqYcsNg",
            "type": "text",
            "label": "Lastname"
          },
          {
            "name": "fldYxoy6SCynnUMgx",
            "type": "text",
            "label": "Email"
          },
          {
            "name": "fldq3AEE1cemrs39R",
            "type": "text",
            "label": "Slack ID"
          },
          {
            "name": "fld0USfkRcnXGScFB",
            "type": "text",
            "label": "Timezone"
          },
          {
            "name": "fldeWZiGJW1XKSKxA",
            "spec": [
              {
                "name": "id",
                "type": "text",
                "label": "ID"
              },
              {
                "name": "width",
                "type": "uinteger",
                "label": "Width"
              },
              {
                "name": "height",
                "type": "uinteger",
                "label": "Height"
              },
              {
                "name": "url",
                "type": "url",
                "label": "URL"
              },
              {
                "name": "filename",
                "type": "filename",
                "label": "File name"
              },
              {
                "name": "size",
                "type": "uinteger",
                "label": "Size"
              },
              {
                "name": "type",
                "type": "text",
                "label": "MIME type"
              },
              {
                "name": "thumbnails",
                "spec": [
                  {
                    "name": "small",
                    "spec": [
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      },
                      {
                        "name": "width",
                        "type": "uinteger",
                        "label": "Width"
                      },
                      {
                        "name": "height",
                        "type": "uinteger",
                        "label": "Height"
                      }
                    ],
                    "type": "collection",
                    "label": "Small"
                  },
                  {
                    "name": "large",
                    "spec": [
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      },
                      {
                        "name": "width",
                        "type": "uinteger",
                        "label": "Width"
                      },
                      {
                        "name": "height",
                        "type": "uinteger",
                        "label": "Height"
                      }
                    ],
                    "type": "collection",
                    "label": "Large"
                  },
                  {
                    "name": "full",
                    "spec": [
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      },
                      {
                        "name": "width",
                        "type": "uinteger",
                        "label": "Width"
                      },
                      {
                        "name": "height",
                        "type": "uinteger",
                        "label": "Height"
                      }
                    ],
                    "type": "collection",
                    "label": "Full"
                  }
                ],
                "type": "collection",
                "label": "Thumbnails"
              }
            ],
            "type": "array",
            "label": "Profile Picture"
          },
          {
            "name": "fldozHkkEY73ULjYZ",
            "type": "text",
            "label": "Phone"
          },
          {
            "name": "fldWOkEF4MMNfct3D",
            "type": "text",
            "label": "Role"
          },
          {
            "name": "flddc9lk1X9XKHn2B",
            "type": "date",
            "label": "Created at"
          },
          {
            "name": "fldyOChw50mZWwLyw",
            "type": "date",
            "label": "Upadted at"
          },
          {
            "name": "fldMyEFUgTElWNWUk",
            "type": "text",
            "label": "Record ID"
          },
          {
            "name": "fldm3VEUlEZOp8mjG",
            "spec": {
              "label": "Record ID"
            },
            "type": "array",
            "label": "Clients"
          },
          {
            "name": "fldbJdKMR8RY9fwU8",
            "spec": {
              "label": "Record ID"
            },
            "type": "array",
            "label": "Features"
          }
        ],
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:airtable3,airtable2",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 2419123
      }
    }
  ],
  "name": "Airtable Dependencies Test",
  "metadata": {
    "instant": false,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "3": {
          "id": "rec2XPZnALaEUysnz",
          "createdTime": "2024-07-20T12:20:03.000Z",
          "fld0USfkRcnXGScFB": "Europe/Amsterdam",
          "fld8JSvFF9DHvyx8U": "Karim El Kassas",
          "fldBxBm5QvWqYcsNg": "El Kassas",
          "fldMl8lw9Cf18yOni": {
            "id": "usryWvTaoddQVF23q",
            "name": "Karim El Kassas",
            "email": "karim@zynera.ai"
          },
          "fldMyEFUgTElWNWUk": "rec2XPZnALaEUysnz",
          "fldWOkEF4MMNfct3D": "Developer",
          "fldYxoy6SCynnUMgx": "karim@zynera.ai",
          "flddc9lk1X9XKHn2B": "2024-07-20",
          "fldeWZiGJW1XKSKxA": [
            {
              "id": "attPC3LzSwIGlYoH8",
              "url": "https://v5.airtableusercontent.com/v3/u/37/37/1738094400000/ZmY6KZLv2cxMInHOmG4fsA/1NVoB0IAZ2luU4_4M...",
              "size": 181443,
              "type": "image/png",
              "width": 512,
              "height": 512,
              "filename": "7573711801604_96e436719871e21e7d8f_512.png",
              "thumbnails": {
                "full": {
                  "url": "https://v5.airtableusercontent.com/v3/u/37/37/1738094400000/ZscJgxKK-UJax_PXr0Z4nw/4RX7_5D7Klz_gDsGd...",
                  "width": 512,
                  "height": 512
                },
                "large": {
                  "url": "https://v5.airtableusercontent.com/v3/u/37/37/1738094400000/revW6jMaGuGuigP94GMj2w/EnDe4kb1-yiV5fdfQ...",
                  "width": 512,
                  "height": 512
                },
                "small": {
                  "url": "https://v5.airtableusercontent.com/v3/u/37/37/1738094400000/YmXX1G-gf3uOU1M-QmfIWw/9V5c_IFWwlF6zvefO...",
                  "width": 36,
                  "height": 36
                }
              }
            }
          ],
          "fldkdKw2c3nBm9kGJ": "Active",
          "fldm3VEUlEZOp8mjG": [
            "recaLrwfJxPLllUZZ"
          ],
          "fldq3AEE1cemrs39R": "U0766MTE84A",
          "fldxXiZHRiVpKszM6": "Karim",
          "fldyOChw50mZWwLyw": "2025-01-27T23:00:20.000Z"
        },
        "4": {
          "Test": null
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}