scenarios/blueprint (22).json
{
    "name": "Integration Make, GitLab, GitHub",
    "flow": [
        {
            "id": 13,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "variables": [
                    {
                        "name": "Repo Owner",
                        "value": "karimzynera"
                    },
                    {
                        "name": "Repo Name",
                        "value": "make-backup"
                    },
                    {
                        "name": "Repo Path",
                        "value": "test"
                    }
                ],
                "scope": "roundtrip"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Set Globals"
                },
                "restore": {
                    "expect": {
                        "variables": {
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "type": "array",
                        "label": "Variables",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Variable name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Variable value",
                                "type": "any"
                            }
                        ]
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "Repo Owner",
                        "label": "Repo Owner",
                        "type": "any"
                    },
                    {
                        "name": "Repo Name",
                        "label": "Repo Name",
                        "type": "any"
                    },
                    {
                        "name": "Repo Path",
                        "label": "Repo Path",
                        "type": "any"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "url": "https://api.github.com/repos/{{13.`Repo Owner`}}/{{13.`Repo Name`}}/contents/{{13.`Repo Path`}}",
                "serializeUrl": false,
                "method": "get",
                "headers": [
                    {
                        "name": "Accept",
                        "value": "application/vnd.github.raw+json"
                    },
                    {
                        "name": "Authorization",
                        "value": "Bearer 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"
                    },
                    {
                        "name": "X-GitHub-Api-Version",
                        "value": "2022-11-28"
                    }
                ],
                "qs": [],
                "bodyType": "",
                "parseResponse": false,
                "authUser": "",
                "authPass": "",
                "timeout": "",
                "shareCookies": false,
                "ca": "",
                "rejectUnauthorized": true,
                "followRedirect": true,
                "useQuerystring": false,
                "gzip": true,
                "useMtls": false,
                "followAllRedirects": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "qs": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "qs",
                        "type": "array",
                        "label": "Query String",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 6,
                        "module": "make:watchAScenarios",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 2417656,
                            "organization": 277690,
                            "limit": 1000,
                            "team": 170759,
                            "folder": ""
                        },
                        "mapper": {},
                        "metadata": {
                            "designer": {
                                "x": 0,
                                "y": 306,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "A trigger must be the first module in a scenario."
                                    }
                                ]
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "label": "Karim's Make connection (karim@el-kassas.com)",
                                        "data": {
                                            "scoped": "true",
                                            "connection": "make"
                                        }
                                    },
                                    "organization": {
                                        "mode": "chose",
                                        "label": "🟣 Zynera"
                                    },
                                    "team": {
                                        "mode": "chose",
                                        "label": "My Team"
                                    },
                                    "folder": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:make",
                                    "label": "Connection",
                                    "required": true
                                },
                                {
                                    "name": "organization",
                                    "type": "select",
                                    "label": "Organization ID"
                                },
                                {
                                    "name": "islinked",
                                    "type": "boolean",
                                    "label": "Only Active Scenarios"
                                },
                                {
                                    "name": "limit",
                                    "type": "uinteger",
                                    "label": "Limit",
                                    "required": true
                                },
                                {
                                    "name": "team",
                                    "type": "select",
                                    "label": "Team ID"
                                },
                                {
                                    "name": "folder",
                                    "type": "select",
                                    "label": "Folder ID"
                                }
                            ]
                        }
                    }
                ],
                [
                    {
                        "id": 4,
                        "module": "github:ActionGetRepository",
                        "version": 4,
                        "parameters": {
                            "__IMTCONN__": 3025376
                        },
                        "mapper": {
                            "select": "selectFromTheList",
                            "followRenames": true,
                            "owner": "karimzynera",
                            "name": "make-backup"
                        },
                        "metadata": {
                            "designer": {
                                "x": 300,
                                "y": 306,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "label": "Karim's GitHub (OAuth) connection (karimzynera)",
                                        "data": {
                                            "scoped": "true",
                                            "connection": "github"
                                        }
                                    }
                                },
                                "expect": {
                                    "select": {
                                        "label": "Select from the List"
                                    },
                                    "followRenames": {
                                        "mode": "chose"
                                    },
                                    "assignableUsers": {
                                        "mode": "chose"
                                    },
                                    "branchProtectionRules": {
                                        "mode": "chose"
                                    },
                                    "collaborators": {
                                        "mode": "chose"
                                    },
                                    "commitComments": {
                                        "mode": "chose"
                                    },
                                    "deployKeys": {
                                        "mode": "chose"
                                    },
                                    "deployments": {
                                        "mode": "chose"
                                    },
                                    "discussionCategories": {
                                        "mode": "chose"
                                    },
                                    "discussions": {
                                        "mode": "chose"
                                    },
                                    "environments": {
                                        "mode": "chose"
                                    },
                                    "forks": {
                                        "mode": "chose"
                                    },
                                    "issues": {
                                        "mode": "chose"
                                    },
                                    "labels": {
                                        "mode": "chose"
                                    },
                                    "languages": {
                                        "mode": "chose"
                                    },
                                    "mentionableUsers": {
                                        "mode": "chose"
                                    },
                                    "milestones": {
                                        "mode": "chose"
                                    },
                                    "packages": {
                                        "mode": "chose"
                                    },
                                    "pinnedDiscussions": {
                                        "mode": "chose"
                                    },
                                    "pinnedIssues": {
                                        "mode": "chose"
                                    },
                                    "projects": {
                                        "mode": "chose"
                                    },
                                    "pullRequests": {
                                        "mode": "chose"
                                    },
                                    "releases": {
                                        "mode": "chose"
                                    },
                                    "repositoryTopics": {
                                        "mode": "chose"
                                    },
                                    "stargazers": {
                                        "mode": "chose"
                                    },
                                    "submodules": {
                                        "mode": "chose"
                                    },
                                    "vulnerabilityAlerts": {
                                        "mode": "chose"
                                    },
                                    "watchers": {
                                        "mode": "chose"
                                    },
                                    "owner": {
                                        "mode": "chose",
                                        "nested": [
                                            {
                                                "name": "name",
                                                "type": "select",
                                                "label": "Repository Name",
                                                "options": "rpc://github/4/getRepoName",
                                                "required": true
                                            }
                                        ],
                                        "label": "karimzynera"
                                    },
                                    "name": {
                                        "mode": "chose",
                                        "label": "make-backup"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:github2,github",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "select",
                                    "type": "select",
                                    "label": "Enter an Owner and a Repository Name",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "enterManually",
                                            "selectFromTheList"
                                        ]
                                    }
                                },
                                {
                                    "name": "followRenames",
                                    "type": "boolean",
                                    "label": "Follow Renames"
                                },
                                {
                                    "name": "outputKeys",
                                    "type": "select",
                                    "label": "Output Fields",
                                    "multiple": true,
                                    "validate": {
                                        "enum": [
                                            "autoMergeAllowed",
                                            "codeOfConduct",
                                            "contactLinks",
                                            "fundingLinks",
                                            "interactionAbility",
                                            "latestRelease",
                                            "licenseInfo",
                                            "parent",
                                            "databaseId",
                                            "defaultBranchRef{name prefix}",
                                            "deleteBranchOnMerge",
                                            "diskUsage",
                                            "forkCount",
                                            "forkingAllowed",
                                            "hasIssuesEnabled",
                                            "hasProjectsEnabled",
                                            "hasWikiEnabled",
                                            "isArchived",
                                            "isBlankIssuesEnabled",
                                            "isDisabled",
                                            "isEmpty",
                                            "isFork",
                                            "isInOrganization",
                                            "isLocked",
                                            "isMirror",
                                            "isPrivate",
                                            "isSecurityPolicyEnabled",
                                            "isTemplate",
                                            "isUserConfigurationRepository",
                                            "lockReason",
                                            "mergeCommitAllowed",
                                            "mirrorUrl",
                                            "openGraphImageUrl",
                                            "primaryLanguage{color name}",
                                            "projectsResourcePath",
                                            "projectsUrl",
                                            "rebaseMergeAllowed",
                                            "securityPolicyUrl",
                                            "squashMergeAllowed",
                                            "sshUrl",
                                            "stargazerCount",
                                            "tempCloneToken",
                                            "usesCustomOpenGraphImage",
                                            "viewerCanAdminister",
                                            "viewerCanCreateProjects",
                                            "viewerCanSubscribe",
                                            "viewerCanUpdateTopics",
                                            "viewerDefaultCommitEmail",
                                            "viewerDefaultMergeMethod",
                                            "viewerHasStarred",
                                            "viewerPermission",
                                            "viewerPossibleCommitEmails",
                                            "viewerSubscription",
                                            "visibility"
                                        ]
                                    }
                                },
                                {
                                    "name": "assignableUsers",
                                    "type": "boolean",
                                    "label": "Shaw Assignable Users"
                                },
                                {
                                    "name": "branchProtectionRules",
                                    "type": "boolean",
                                    "label": "Show Branch Protection Rules"
                                },
                                {
                                    "name": "collaborators",
                                    "type": "boolean",
                                    "label": "Show Collaborators"
                                },
                                {
                                    "name": "commitComments",
                                    "type": "boolean",
                                    "label": "Show Commit Comments"
                                },
                                {
                                    "name": "deployKeys",
                                    "type": "boolean",
                                    "label": "Show Deploy Keys"
                                },
                                {
                                    "name": "deployments",
                                    "type": "boolean",
                                    "label": "Show Deployments"
                                },
                                {
                                    "name": "discussionCategories",
                                    "type": "boolean",
                                    "label": "Show Discussion Categories"
                                },
                                {
                                    "name": "discussions",
                                    "type": "boolean",
                                    "label": "Show Discussions"
                                },
                                {
                                    "name": "environments",
                                    "type": "boolean",
                                    "label": "Show Environments"
                                },
                                {
                                    "name": "forks",
                                    "type": "boolean",
                                    "label": "Show Forks"
                                },
                                {
                                    "name": "issues",
                                    "type": "boolean",
                                    "label": "Show Issues"
                                },
                                {
                                    "name": "labels",
                                    "type": "boolean",
                                    "label": "Show Labels"
                                },
                                {
                                    "name": "languages",
                                    "type": "boolean",
                                    "label": "Show Languages"
                                },
                                {
                                    "name": "mentionableUsers",
                                    "type": "boolean",
                                    "label": "Show Mentionable Users"
                                },
                                {
                                    "name": "milestones",
                                    "type": "boolean",
                                    "label": "Show Milestones"
                                },
                                {
                                    "name": "packages",
                                    "type": "boolean",
                                    "label": "Show Packages"
                                },
                                {
                                    "name": "pinnedDiscussions",
                                    "type": "boolean",
                                    "label": "Show Pinned Discussions"
                                },
                                {
                                    "name": "pinnedIssues",
                                    "type": "boolean",
                                    "label": "Show Pinned Issues"
                                },
                                {
                                    "name": "projects",
                                    "type": "boolean",
                                    "label": "Show Projects"
                                },
                                {
                                    "name": "pullRequests",
                                    "type": "boolean",
                                    "label": "Show Pull Requests"
                                },
                                {
                                    "name": "releases",
                                    "type": "boolean",
                                    "label": "Show Releases"
                                },
                                {
                                    "name": "repositoryTopics",
                                    "type": "boolean",
                                    "label": "Show Repository Topics"
                                },
                                {
                                    "name": "stargazers",
                                    "type": "boolean",
                                    "label": "Show Stargazers"
                                },
                                {
                                    "name": "submodules",
                                    "type": "boolean",
                                    "label": "Show Submodules"
                                },
                                {
                                    "name": "vulnerabilityAlerts",
                                    "type": "boolean",
                                    "label": "Show Vulnerability Alerts"
                                },
                                {
                                    "name": "watchers",
                                    "type": "boolean",
                                    "label": "Show Watchers"
                                },
                                {
                                    "name": "owner",
                                    "type": "select",
                                    "label": "Owner",
                                    "mode": "edit",
                                    "required": true
                                },
                                {
                                    "name": "name",
                                    "type": "select",
                                    "label": "Repository Name",
                                    "required": true
                                }
                            ]
                        }
                    },
                    {
                        "id": 1,
                        "module": "make:getAScenarioBlueprint",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 2417656
                        },
                        "mapper": {
                            "scenario": "{{6.id}}",
                            "select": "file"
                        },
                        "metadata": {
                            "designer": {
                                "x": 1200,
                                "y": 150,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Make - Watch Scenarios' [6] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "label": "Karim's Make connection (karim@el-kassas.com)",
                                        "data": {
                                            "scoped": "true",
                                            "connection": "make"
                                        }
                                    }
                                },
                                "expect": {
                                    "draft": {
                                        "mode": "chose"
                                    },
                                    "select": {
                                        "mode": "chose",
                                        "label": "In a JSON File"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:make",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "scenario",
                                    "type": "text",
                                    "label": "Scenario ID",
                                    "required": true
                                },
                                {
                                    "name": "draft",
                                    "type": "boolean",
                                    "label": "Draft"
                                },
                                {
                                    "name": "select",
                                    "type": "select",
                                    "label": "Return a Blueprint",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "json",
                                            "string",
                                            "file"
                                        ]
                                    }
                                }
                            ],
                            "interface": [
                                {
                                    "name": "blueprint",
                                    "type": "buffer",
                                    "label": "Blueprint Data",
                                    "semantic": "file:data"
                                },
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File Name",
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "gitSHA",
                                    "type": "text",
                                    "label": "GitHub SHA"
                                },
                                {
                                    "name": "scheduling",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "between",
                                            "spec": {
                                                "type": "date"
                                            },
                                            "type": "array",
                                            "label": "Between"
                                        },
                                        {
                                            "name": "interval",
                                            "type": "number",
                                            "label": "Interval"
                                        },
                                        {
                                            "name": "restrict",
                                            "spec": {
                                                "spec": [
                                                    {
                                                        "name": "days",
                                                        "spec": {
                                                            "type": "number"
                                                        },
                                                        "type": "array",
                                                        "label": "Days"
                                                    },
                                                    {
                                                        "name": "time",
                                                        "spec": {
                                                            "type": "text"
                                                        },
                                                        "type": "array",
                                                        "label": "Time"
                                                    },
                                                    {
                                                        "name": "months",
                                                        "spec": {
                                                            "type": "number"
                                                        },
                                                        "type": "array",
                                                        "label": "Months"
                                                    }
                                                ],
                                                "type": "collection"
                                            },
                                            "type": "array",
                                            "label": "Restrict"
                                        },
                                        {
                                            "name": "date",
                                            "time": true,
                                            "type": "date",
                                            "label": "Date"
                                        },
                                        {
                                            "name": "time",
                                            "type": "text",
                                            "label": "Time"
                                        },
                                        {
                                            "name": "days",
                                            "type": "array",
                                            "label": "Days"
                                        },
                                        {
                                            "name": "months",
                                            "type": "array",
                                            "label": "Months"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Scheduling"
                                },
                                {
                                    "name": "concept",
                                    "type": "boolean",
                                    "label": "Concept"
                                },
                                {
                                    "name": "idSequence",
                                    "type": "uinteger",
                                    "label": "ID Sequence"
                                },
                                {
                                    "name": "created",
                                    "time": true,
                                    "type": "date",
                                    "label": "Created"
                                },
                                {
                                    "name": "last_edit",
                                    "time": true,
                                    "type": "date",
                                    "label": "Last Edit"
                                },
                                {
                                    "name": "metadata",
                                    "spec": [
                                        {
                                            "name": "input_spec",
                                            "type": "any",
                                            "label": "Input Spec"
                                        },
                                        {
                                            "name": "output_spec",
                                            "type": "any",
                                            "label": "Output Spec"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Metadata"
                                },
                                {
                                    "name": "length",
                                    "type": "number",
                                    "label": "Length"
                                }
                            ],
                            "advanced": true
                        }
                    },
                    {
                        "id": 5,
                        "module": "make:makeApiCall",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 2417656
                        },
                        "mapper": {
                            "url": "v2/scenarios/2859781/blueprint",
                            "method": "GET",
                            "headers": [
                                {
                                    "key": "Content-Type",
                                    "value": "application/json"
                                }
                            ]
                        },
                        "metadata": {
                            "designer": {
                                "x": 1500,
                                "y": 150
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "label": "Karim's Make connection (karim@el-kassas.com)",
                                        "data": {
                                            "scoped": "true",
                                            "connection": "make"
                                        }
                                    }
                                },
                                "expect": {
                                    "method": {
                                        "mode": "chose",
                                        "label": "GET"
                                    },
                                    "headers": {
                                        "mode": "chose",
                                        "items": [
                                            null
                                        ]
                                    },
                                    "qs": {
                                        "mode": "chose"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:make",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL",
                                    "required": true
                                },
                                {
                                    "name": "method",
                                    "type": "select",
                                    "label": "Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "GET",
                                            "POST",
                                            "PUT",
                                            "PATCH",
                                            "DELETE"
                                        ]
                                    }
                                },
                                {
                                    "name": "headers",
                                    "type": "array",
                                    "label": "Headers",
                                    "spec": [
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ]
                                },
                                {
                                    "name": "qs",
                                    "type": "array",
                                    "label": "Query String",
                                    "spec": [
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ]
                                },
                                {
                                    "name": "body",
                                    "type": "any",
                                    "label": "Body"
                                }
                            ]
                        }
                    },
                    {
                        "id": 3,
                        "module": "github:makeAnAPICall",
                        "version": 4,
                        "metadata": {
                            "designer": {
                                "x": 1800,
                                "y": 150,
                                "name": "Get File",
                                "messages": [
                                    {
                                        "category": "setup",
                                        "severity": "error",
                                        "message": "Value must not be empty."
                                    }
                                ]
                            }
                        }
                    },
                    {
                        "id": 2,
                        "module": "gitlab:CreateFileRepository",
                        "version": 2,
                        "metadata": {
                            "designer": {
                                "x": 2100,
                                "y": 150,
                                "messages": [
                                    {
                                        "category": "setup",
                                        "severity": "error",
                                        "message": "Value must not be empty."
                                    }
                                ]
                            }
                        }
                    },
                    {
                        "id": 7,
                        "module": "builtin:BasicRouter",
                        "version": 1,
                        "mapper": null,
                        "metadata": {
                            "designer": {
                                "x": 2400,
                                "y": 150
                            }
                        },
                        "routes": [
                            {
                                "flow": [
                                    {
                                        "id": 8,
                                        "module": "github:makeAnAPICall",
                                        "version": 4,
                                        "metadata": {
                                            "designer": {
                                                "x": 2700,
                                                "y": 0,
                                                "name": "Update File"
                                            }
                                        }
                                    }
                                ]
                            },
                            {
                                "flow": [
                                    {
                                        "id": 9,
                                        "module": "github:makeAnAPICall",
                                        "version": 4,
                                        "metadata": {
                                            "designer": {
                                                "x": 2700,
                                                "y": 300,
                                                "name": "Create File"
                                            }
                                        }
                                    }
                                ]
                            }
                        ]
                    }
                ]
            ]
        },
        "zone": "eu1.make.com"
    }
}