scenarios/testo.json
{
  "flow": [
    {
      "id": 10,
      "mapper": {
        "json": "{\n  \"tune\": [\n    {\"key\": \"Imsak\", \"value\": 0},\n    {\"key\": \"Fajr\", \"value\": 3},\n    {\"key\": \"Sunrise\", \"value\": 0},\n    {\"key\": \"Dhuhr\", \"value\": 0},\n    {\"key\": \"Asr\", \"value\": 1},\n    {\"key\": \"Maghrib\", \"value\": 2},\n    {\"key\": \"Sunset\", \"value\": 0},\n    {\"key\": \"Isha\", \"value\": 19},\n    {\"key\": \"Midnight\", \"value\": 0}\n  ]\n}"
      },
      "module": "json:ParseJSON",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "json",
            "type": "text",
            "label": "JSON string",
            "required": true
          }
        ],
        "restore": {
          "parameters": {
            "type": {
              "label": "Choose a data structure"
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 0,
          "name": "Set Tune"
        },
        "parameters": [
          {
            "name": "type",
            "type": "udt",
            "label": "Data structure"
          }
        ]
      },
      "parameters": {
        "type": ""
      }
    },
    {
      "id": 1,
      "mapper": {
        "ca": "",
        "qs": [
          {
            "name": "city",
            "value": "Frankfurt"
          },
          {
            "name": "country",
            "value": "DE"
          },
          {
            "name": "method",
            "value": "4"
          },
          {
            "name": "tune",
            "value": "{{join(map(10.tune; \"value\"); \",\")}}"
          }
        ],
        "url": "https://api.aladhan.com/v1/timingsByCity/{{formatDate(now; \"DD-MM-YYYY\")}}",
        "gzip": true,
        "method": "get",
        "headers": [],
        "timeout": "",
        "useMtls": false,
        "authPass": "",
        "authUser": "",
        "bodyType": "",
        "serializeUrl": false,
        "shareCookies": false,
        "parseResponse": true,
        "followRedirect": true,
        "useQuerystring": false,
        "followAllRedirects": false,
        "rejectUnauthorized": true
      },
      "module": "http:ActionSendData",
      "version": 3,
      "metadata": {
        "expect": [
          {
            "name": "url",
            "type": "url",
            "label": "URL",
            "required": true
          },
          {
            "name": "serializeUrl",
            "type": "boolean",
            "label": "Serialize URL",
            "required": true
          },
          {
            "name": "method",
            "type": "select",
            "label": "Method",
            "required": true,
            "validate": {
              "enum": [
                "get",
                "head",
                "post",
                "put",
                "patch",
                "delete",
                "options"
              ]
            }
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Name",
                "required": true
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Headers"
          },
          {
            "name": "qs",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Name",
                "required": true
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Query String"
          },
          {
            "name": "bodyType",
            "type": "select",
            "label": "Body type",
            "validate": {
              "enum": [
                "raw",
                "x_www_form_urlencoded",
                "multipart_form_data"
              ]
            }
          },
          {
            "name": "parseResponse",
            "type": "boolean",
            "label": "Parse response",
            "required": true
          },
          {
            "name": "authUser",
            "type": "text",
            "label": "User name"
          },
          {
            "name": "authPass",
            "type": "password",
            "label": "Password"
          },
          {
            "name": "timeout",
            "type": "uinteger",
            "label": "Timeout",
            "validate": {
              "max": 300,
              "min": 1
            }
          },
          {
            "name": "shareCookies",
            "type": "boolean",
            "label": "Share cookies with other HTTP modules",
            "required": true
          },
          {
            "name": "ca",
            "type": "cert",
            "label": "Self-signed certificate"
          },
          {
            "name": "rejectUnauthorized",
            "type": "boolean",
            "label": "Reject connections that are using unverified (self-signed) certificates",
            "required": true
          },
          {
            "name": "followRedirect",
            "type": "boolean",
            "label": "Follow redirect",
            "required": true
          },
          {
            "name": "useQuerystring",
            "type": "boolean",
            "label": "Disable serialization of multiple same query string keys as arrays",
            "required": true
          },
          {
            "name": "gzip",
            "type": "boolean",
            "label": "Request compressed content",
            "required": true
          },
          {
            "name": "useMtls",
            "type": "boolean",
            "label": "Use Mutual TLS",
            "required": true
          },
          {
            "name": "followAllRedirects",
            "type": "boolean",
            "label": "Follow all redirect",
            "required": true
          }
        ],
        "restore": {
          "expect": {
            "qs": {
              "mode": "chose",
              "items": [
                null,
                null,
                null,
                null
              ]
            },
            "method": {
              "mode": "chose",
              "label": "GET"
            },
            "headers": {
              "mode": "chose"
            },
            "bodyType": {
              "label": "Empty"
            }
          }
        },
        "designer": {
          "x": 300,
          "y": 0,
          "name": "Get Times"
        },
        "parameters": [
          {
            "name": "handleErrors",
            "type": "boolean",
            "label": "Evaluate all states as errors (except for 2xx and 3xx )",
            "required": true
          },
          {
            "name": "useNewZLibDeCompress",
            "type": "hidden"
          }
        ]
      },
      "parameters": {
        "handleErrors": true,
        "useNewZLibDeCompress": true
      }
    },
    {
      "id": 14,
      "mapper": {
        "scope": "roundtrip",
        "variables": [
          {
            "name": "Timings",
            "value": "{{toArray(1.data.data.timings)}}"
          }
        ]
      },
      "module": "util:SetVariables",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "variables",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Variable name",
                "required": true
              },
              {
                "name": "value",
                "type": "any",
                "label": "Variable value"
              }
            ],
            "type": "array",
            "label": "Variables"
          },
          {
            "name": "scope",
            "type": "select",
            "label": "Variable lifetime",
            "required": true,
            "validate": {
              "enum": [
                "roundtrip",
                "execution"
              ]
            }
          }
        ],
        "restore": {
          "expect": {
            "scope": {
              "label": "One cycle"
            },
            "variables": {
              "items": [
                null
              ]
            }
          }
        },
        "designer": {
          "x": 600,
          "y": 0,
          "name": "Set Timings"
        },
        "interface": [
          {
            "name": "Timings",
            "type": "any",
            "label": "Timings"
          }
        ]
      },
      "parameters": {}
    },
    {
      "id": 13,
      "mapper": {
        "array": "{{14.Timings}}"
      },
      "module": "builtin:BasicFeeder",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "mode": "edit",
            "name": "array",
            "spec": [],
            "type": "array",
            "label": "Array"
          }
        ],
        "restore": {
          "expect": {
            "array": {
              "mode": "edit"
            }
          }
        },
        "designer": {
          "x": 900,
          "y": 0
        }
      },
      "parameters": {}
    },
    {
      "id": 22,
      "filter": {
        "name": "فرض",
        "conditions": [
          [
            {
              "a": "{{13.key}}",
              "b": "Fajr|Dhuhr|Asr|Maghrib|Isha",
              "o": "text:pattern"
            }
          ]
        ]
      },
      "mapper": {
        "duration": "1"
      },
      "module": "util:FunctionSleep",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "duration",
            "type": "uinteger",
            "label": "Delay",
            "required": true,
            "validate": {
              "max": 300,
              "min": 1
            }
          }
        ],
        "restore": {},
        "designer": {
          "x": 1200,
          "y": 0
        }
      },
      "parameters": {}
    },
    {
      "id": 7,
      "mapper": {
        "ca": "",
        "qs": [],
        "url": "https://hkdk.events/ko74lnk4q2trp6",
        "data": "{\"key\": \"{{13.key}}\", \"value\": \"{{parseDate(1.data.data.date.gregorian.date + 13.value; \"DD-MM-YYYY HH:mm\")}}\"}",
        "gzip": true,
        "method": "post",
        "headers": [],
        "timeout": "",
        "useMtls": false,
        "authPass": "",
        "authUser": "",
        "bodyType": "raw",
        "contentType": "application/json",
        "serializeUrl": false,
        "shareCookies": false,
        "parseResponse": true,
        "followRedirect": true,
        "useQuerystring": false,
        "followAllRedirects": false,
        "rejectUnauthorized": true
      },
      "module": "http:ActionSendData",
      "version": 3,
      "metadata": {
        "expect": [
          {
            "name": "url",
            "type": "url",
            "label": "URL",
            "required": true
          },
          {
            "name": "serializeUrl",
            "type": "boolean",
            "label": "Serialize URL",
            "required": true
          },
          {
            "name": "method",
            "type": "select",
            "label": "Method",
            "required": true,
            "validate": {
              "enum": [
                "get",
                "head",
                "post",
                "put",
                "patch",
                "delete",
                "options"
              ]
            }
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Name",
                "required": true
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Headers"
          },
          {
            "name": "qs",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Name",
                "required": true
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Query String"
          },
          {
            "name": "bodyType",
            "type": "select",
            "label": "Body type",
            "validate": {
              "enum": [
                "raw",
                "x_www_form_urlencoded",
                "multipart_form_data"
              ]
            }
          },
          {
            "name": "parseResponse",
            "type": "boolean",
            "label": "Parse response",
            "required": true
          },
          {
            "name": "authUser",
            "type": "text",
            "label": "User name"
          },
          {
            "name": "authPass",
            "type": "password",
            "label": "Password"
          },
          {
            "name": "timeout",
            "type": "uinteger",
            "label": "Timeout",
            "validate": {
              "max": 300,
              "min": 1
            }
          },
          {
            "name": "shareCookies",
            "type": "boolean",
            "label": "Share cookies with other HTTP modules",
            "required": true
          },
          {
            "name": "ca",
            "type": "cert",
            "label": "Self-signed certificate"
          },
          {
            "name": "rejectUnauthorized",
            "type": "boolean",
            "label": "Reject connections that are using unverified (self-signed) certificates",
            "required": true
          },
          {
            "name": "followRedirect",
            "type": "boolean",
            "label": "Follow redirect",
            "required": true
          },
          {
            "name": "useQuerystring",
            "type": "boolean",
            "label": "Disable serialization of multiple same query string keys as arrays",
            "required": true
          },
          {
            "name": "gzip",
            "type": "boolean",
            "label": "Request compressed content",
            "required": true
          },
          {
            "name": "useMtls",
            "type": "boolean",
            "label": "Use Mutual TLS",
            "required": true
          },
          {
            "name": "contentType",
            "type": "select",
            "label": "Content type",
            "validate": {
              "enum": [
                "text/plain",
                "application/json",
                "application/xml",
                "text/xml",
                "text/html",
                "custom"
              ]
            }
          },
          {
            "name": "data",
            "type": "buffer",
            "label": "Request content"
          },
          {
            "name": "followAllRedirects",
            "type": "boolean",
            "label": "Follow all redirect",
            "required": true
          }
        ],
        "restore": {
          "expect": {
            "qs": {
              "mode": "chose"
            },
            "method": {
              "mode": "chose",
              "label": "POST"
            },
            "headers": {
              "mode": "chose"
            },
            "bodyType": {
              "label": "Raw"
            },
            "contentType": {
              "label": "JSON (application/json)"
            }
          }
        },
        "designer": {
          "x": 1500,
          "y": 0,
          "name": "Push Hookdeck"
        },
        "parameters": [
          {
            "name": "handleErrors",
            "type": "boolean",
            "label": "Evaluate all states as errors (except for 2xx and 3xx )",
            "required": true
          },
          {
            "name": "useNewZLibDeCompress",
            "type": "hidden"
          }
        ]
      },
      "parameters": {
        "handleErrors": true,
        "useNewZLibDeCompress": true
      }
    }
  ],
  "name": "S1.0 Aladhan > Hookdeck",
  "metadata": {
    "instant": false,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "1": {
          "data": {
            "code": 200,
            "data": {
              "date": {
                "hijri": {
                  "day": "13",
                  "date": "13-07-1446",
                  "year": "1446",
                  "month": {
                    "ar": "رَجَب",
                    "en": "Rajab",
                    "days": 30,
                    "number": 7
                  },
                  "format": "DD-MM-YYYY",
                  "method": "HJCoSA",
                  "weekday": {
                    "ar": "الاثنين",
                    "en": "Al Athnayn"
                  },
                  "holidays": [
                    "Birth of Sayyidina `Ali ibn Abi Talib (ر)"
                  ],
                  "designation": {
                    "expanded": "Anno Hegirae",
                    "abbreviated": "AH"
                  },
                  "adjustedHolidays": []
                },
                "readable": "13 Jan 2025",
                "gregorian": {
                  "day": "13",
                  "date": "13-01-2025",
                  "year": "2025",
                  "month": {
                    "en": "January",
                    "number": 1
                  },
                  "format": "DD-MM-YYYY",
                  "weekday": {
                    "en": "Monday"
                  },
                  "designation": {
                    "expanded": "Anno Domini",
                    "abbreviated": "AD"
                  },
                  "lunarSighting": false
                },
                "timestamp": "1736748000"
              },
              "meta": {
                "method": {
                  "id": 4,
                  "name": "Umm Al-Qura University, Makkah",
                  "params": {
                    "Fajr": 18.5,
                    "Isha": "90 min"
                  },
                  "location": {
                    "latitude": 21.3890824,
                    "longitude": 39.8579118
                  }
                },
                "offset": {
                  "Asr": "1",
                  "Fajr": "3",
                  "Isha": "19",
                  "Dhuhr": 0,
                  "Imsak": 0,
                  "Sunset": 0,
                  "Maghrib": "2",
                  "Sunrise": 0,
                  "Midnight": 0
                },
                "school": "STANDARD",
                "latitude": 1.234567,
                "timezone": "Europe/Berlin",
                "longitude": 2.34567,
                "midnightMode": "STANDARD",
                "latitudeAdjustmentMethod": "ANGLE_BASED"
              },
              "timings": {
                "Asr": "14:30",
                "Fajr": "06:23",
                "Isha": "18:39",
                "Dhuhr": "12:34",
                "Imsak": "06:10",
                "Sunset": "16:50",
                "Maghrib": "16:52",
                "Sunrise": "08:20",
                "Midnight": "00:35",
                "Lastthird": "03:10",
                "Firstthird": "22:00"
              }
            },
            "status": "OK"
          },
          "headers": [
            {
              "name": "x-kong-request-id",
              "value": "e88647722420f327b1368b7a0b3d2c03"
            }
          ],
          "fileSize": 1355,
          "statusCode": 200,
          "cookieHeaders": []
        },
        "7": {
          "data": {
            "status": "SUCCESS",
            "message": "Request handled by Hookdeck. Check your dashboard to inspect the request: https://dashboard.hookdeck...",
            "request_id": "req_CGpD4qsmUQq2pb8Blmls"
          },
          "headers": [
            {
              "name": "content-encoding",
              "value": "gzip"
            }
          ],
          "fileSize": 211,
          "statusCode": 200,
          "cookieHeaders": []
        },
        "10": {
          "tune": [
            {
              "key": "Midnight",
              "value": 19
            }
          ]
        },
        "13": {
          "key": "Fajr",
          "value": "05:39",
          "__IMTINDEX__": 1,
          "__IMTLENGTH__": 11
        },
        "14": {
          "Timings": [
            {
              "key": "Lastthird",
              "value": "02:36"
            }
          ]
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}