scenarios/testo.json
{
  "flow": [
    {
      "id": 17,
      "mapper": {},
      "module": "gateway:CustomWebHook",
      "version": 1,
      "metadata": {
        "restore": {
          "parameters": {
            "hook": {
              "data": {
                "editable": "true"
              },
              "label": "Airtable - Publish Post"
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 300,
          "name": "Trigger by Airtable Button"
        },
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-webhook",
            "label": "Webhook",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of results"
          }
        ]
      },
      "parameters": {
        "hook": 1293291,
        "maxResults": 1
      }
    },
    {
      "id": 18,
      "mapper": {
        "body": "<script>\nwindow.close()\n</script>",
        "status": "200",
        "headers": []
      },
      "module": "gateway:WebhookRespond",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "status",
            "type": "uinteger",
            "label": "Status",
            "required": true,
            "validate": {
              "min": 100
            }
          },
          {
            "name": "body",
            "type": "any",
            "label": "Body"
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key",
                "required": true,
                "validate": {
                  "max": 256
                }
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value",
                "required": true,
                "validate": {
                  "max": 4096
                }
              }
            ],
            "type": "array",
            "label": "Custom headers",
            "validate": {
              "maxItems": 16
            }
          }
        ],
        "restore": {
          "expect": {
            "headers": {
              "mode": "chose"
            }
          }
        },
        "designer": {
          "x": 300,
          "y": 300,
          "name": "Close Tab"
        }
      },
      "parameters": {}
    },
    {
      "id": 6,
      "mapper": null,
      "module": "builtin:BasicRouter",
      "routes": [
        {
          "flow": [
            {
              "id": 3,
              "filter": {
                "name": "News",
                "conditions": [
                  [
                    {
                      "a": "{{17.tableName}}",
                      "b": "News",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "base": "apptWqaD0CMD6FaD0",
                "table": "tblLhmCwrARjBD5Ec",
                "formula": "Live=0",
                "maxRecords": "10",
                "useColumnId": false
              },
              "module": "airtable:ActionSearchRecords",
              "version": 3,
              "metadata": {
                "expect": [
                  {
                    "name": "base",
                    "type": "select",
                    "label": "Base",
                    "required": true
                  },
                  {
                    "name": "useColumnId",
                    "type": "boolean",
                    "label": "Use Column ID",
                    "required": true
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  },
                  {
                    "name": "formula",
                    "type": "text",
                    "label": "Formula"
                  },
                  {
                    "name": "maxRecords",
                    "type": "integer",
                    "label": "Limit"
                  },
                  {
                    "name": "sort",
                    "spec": [
                      {
                        "name": "field",
                        "type": "select",
                        "label": "Field",
                        "dynamic": true,
                        "options": []
                      },
                      {
                        "name": "direction",
                        "type": "select",
                        "label": "Direction",
                        "options": [
                          {
                            "label": "Descending",
                            "value": "desc"
                          },
                          {
                            "label": "Ascending",
                            "value": "asc"
                          }
                        ]
                      }
                    ],
                    "type": "array",
                    "label": "Sort"
                  },
                  {
                    "name": "view",
                    "type": "select",
                    "label": "View"
                  },
                  {
                    "name": "fields",
                    "type": "select",
                    "label": "Output Fields",
                    "multiple": true
                  }
                ],
                "restore": {
                  "expect": {
                    "base": {
                      "mode": "chose",
                      "label": "Webflow ⚙️"
                    },
                    "sort": {
                      "mode": "chose"
                    },
                    "view": {
                      "mode": "chose"
                    },
                    "table": {
                      "mode": "chose",
                      "label": "News"
                    },
                    "fields": {
                      "mode": "chose"
                    },
                    "useColumnId": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "airtable3"
                      },
                      "label": "My Airtable OAuth connection (User ID: usryWvTaoddQVF23q)"
                    }
                  }
                },
                "designer": {
                  "x": 900,
                  "y": 0,
                  "name": "Get Ready"
                },
                "interface": [
                  {
                    "name": "__IMTLENGTH__",
                    "type": "uinteger",
                    "label": "Total number of bundles"
                  },
                  {
                    "name": "__IMTINDEX__",
                    "type": "uinteger",
                    "label": "Bundle order position"
                  },
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "createdTime",
                    "type": "date",
                    "label": "Created Time"
                  },
                  {
                    "name": "Name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "Notes",
                    "type": "text",
                    "label": "Notes",
                    "multiline": true
                  },
                  {
                    "name": "Assignee",
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      }
                    ],
                    "type": "collection",
                    "label": "Assignee"
                  },
                  {
                    "name": "Status",
                    "type": "text",
                    "label": "Status"
                  },
                  {
                    "name": "Upload",
                    "spec": [
                      {
                        "name": "label",
                        "type": "text",
                        "label": "Label"
                      },
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      }
                    ],
                    "type": "collection",
                    "label": "Upload"
                  },
                  {
                    "name": "Live",
                    "type": "boolean",
                    "label": "Live"
                  },
                  {
                    "name": "PublishDate",
                    "time": true,
                    "type": "date",
                    "label": "PublishDate"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:airtable3,airtable2",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2419123
              }
            },
            {
              "id": 1,
              "mapper": {
                "fields": {
                  "name": "{{3.Name}}",
                  "slug": "{{3.Slug}}",
                  "post-body": "{{3.Body}}",
                  "categories": "{{3.Category}}",
                  "main-image": {
                    "url": "{{3.Cover}}"
                  },
                  "data-created": "{{3.PublishDate}}",
                  "post-summary": "{{3.Summary}}"
                },
                "select": "list",
                "site_id": "65c1b541f39a41111db8b769",
                "collection_id": "65c1b541f39a41111db8b7df"
              },
              "module": "webflow:createItem",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "select",
                    "type": "select",
                    "label": "Choose Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "map",
                        "list"
                      ]
                    }
                  },
                  {
                    "name": "isArchived",
                    "type": "boolean",
                    "label": "Is Archived"
                  },
                  {
                    "name": "isDraft",
                    "type": "boolean",
                    "label": "Is Draft"
                  },
                  {
                    "name": "site_id",
                    "type": "select",
                    "label": "Site",
                    "required": true
                  },
                  {
                    "name": "collection_id",
                    "type": "select",
                    "label": "Collection",
                    "required": true
                  },
                  {
                    "name": "fields",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true,
                        "validate": {
                          "max": 256
                        }
                      },
                      {
                        "name": "post-body",
                        "type": "text",
                        "label": "Post Body"
                      },
                      {
                        "name": "post-summary",
                        "type": "text",
                        "label": "Post Summary"
                      },
                      {
                        "name": "data-created",
                        "time": false,
                        "type": "date",
                        "label": "Data Created"
                      },
                      {
                        "name": "main-image",
                        "spec": [
                          {
                            "name": "url",
                            "type": "url",
                            "label": "URL"
                          },
                          {
                            "name": "alt",
                            "type": "text",
                            "label": "Alternate Text"
                          }
                        ],
                        "type": "collection",
                        "label": "Main Image"
                      },
                      {
                        "name": "featured",
                        "type": "boolean",
                        "label": "Featured?"
                      },
                      {
                        "name": "color",
                        "type": "color",
                        "label": "Color"
                      },
                      {
                        "name": "categories",
                        "type": "select",
                        "label": "Categories"
                      },
                      {
                        "name": "slug",
                        "type": "text",
                        "label": "Slug",
                        "validate": {
                          "max": 256
                        }
                      }
                    ],
                    "type": "collection",
                    "label": "Fields"
                  }
                ],
                "restore": {
                  "expect": {
                    "fields": {
                      "nested": {
                        "featured": {
                          "mode": "chose"
                        },
                        "categories": {
                          "mode": "edit"
                        }
                      }
                    },
                    "select": {
                      "label": "Select from the list"
                    },
                    "isDraft": {
                      "mode": "chose"
                    },
                    "site_id": {
                      "label": "Zynera"
                    },
                    "isArchived": {
                      "mode": "chose"
                    },
                    "collection_id": {
                      "label": "Blog Post [New]s",
                      "nested": [
                        {
                          "name": "fields",
                          "spec": [
                            {
                              "name": "name",
                              "type": "text",
                              "label": "Name",
                              "required": true,
                              "validate": {
                                "max": 256
                              }
                            },
                            {
                              "name": "post-body",
                              "type": "text",
                              "label": "Post Body",
                              "required": false,
                              "multiline": true
                            },
                            {
                              "name": "post-summary",
                              "type": "text",
                              "label": "Post Summary",
                              "required": false
                            },
                            {
                              "name": "data-created",
                              "time": false,
                              "type": "date",
                              "label": "Data Created",
                              "required": false
                            },
                            {
                              "name": "main-image",
                              "spec": [
                                {
                                  "help": "Valid URL with Image extension in it.",
                                  "name": "url",
                                  "type": "url",
                                  "label": "URL",
                                  "required": false
                                },
                                {
                                  "name": "alt",
                                  "type": "text",
                                  "label": "Alternate Text"
                                }
                              ],
                              "type": "collection",
                              "label": "Main Image",
                              "required": false
                            },
                            {
                              "name": "featured",
                              "type": "boolean",
                              "label": "Featured?",
                              "required": false
                            },
                            {
                              "help": "Only hexadecimal color values are supported.",
                              "name": "color",
                              "type": "color",
                              "label": "Color",
                              "required": false
                            },
                            {
                              "name": "categories",
                              "type": "select",
                              "label": "Categories",
                              "options": "rpc://webflow/2/listItems?collection_id=65c1b541f39a41111db8b7fa",
                              "required": false
                            },
                            {
                              "help": "Must be alphanumerical and not contain any spaces or special characters",
                              "name": "slug",
                              "type": "text",
                              "label": "Slug",
                              "required": false,
                              "validate": {
                                "max": 256
                              }
                            }
                          ],
                          "type": "collection",
                          "label": "Fields"
                        }
                      ]
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "webflow2"
                      },
                      "label": "My Webflow v2 connection (hello@zynera.de)"
                    }
                  }
                },
                "designer": {
                  "x": 1200,
                  "y": 0,
                  "name": "Create News"
                },
                "interface": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "Item ID"
                  },
                  {
                    "name": "lastPublished",
                    "type": "text",
                    "label": "Last Published"
                  },
                  {
                    "name": "lastUpdated",
                    "type": "date",
                    "label": "Last Updated"
                  },
                  {
                    "name": "createdOn",
                    "type": "date",
                    "label": "Created on"
                  },
                  {
                    "name": "isArchived",
                    "type": "boolean",
                    "label": "Is Archived"
                  },
                  {
                    "name": "isDraft",
                    "type": "boolean",
                    "label": "Is Draft"
                  },
                  {
                    "name": "fieldData",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true,
                        "validate": {
                          "max": 256
                        }
                      },
                      {
                        "name": "post-body",
                        "type": "text",
                        "label": "Post Body",
                        "required": false,
                        "multiline": true
                      },
                      {
                        "name": "post-summary",
                        "type": "text",
                        "label": "Post Summary",
                        "required": false
                      },
                      {
                        "name": "data-created",
                        "time": false,
                        "type": "date",
                        "label": "Data Created",
                        "required": false
                      },
                      {
                        "name": "main-image",
                        "spec": [
                          {
                            "name": "url",
                            "type": "url",
                            "label": "URL"
                          },
                          {
                            "name": "fileId",
                            "type": "text",
                            "label": "File ID"
                          },
                          {
                            "name": "alt",
                            "type": "text",
                            "label": "Alternate Text"
                          }
                        ],
                        "type": "collection",
                        "label": "Main Image",
                        "required": false
                      },
                      {
                        "name": "featured",
                        "type": "boolean",
                        "label": "Featured?",
                        "required": false
                      },
                      {
                        "help": "Only hexadecimal color values are supported.",
                        "name": "color",
                        "type": "color",
                        "label": "Color",
                        "required": false
                      },
                      {
                        "name": "categories",
                        "type": "text",
                        "label": "Categories",
                        "required": false
                      },
                      {
                        "help": "Must be alphanumerical and not contain any spaces or special characters",
                        "name": "slug",
                        "type": "text",
                        "label": "Slug",
                        "required": false,
                        "validate": {
                          "max": 256
                        }
                      }
                    ],
                    "type": "collection",
                    "label": "Field Data"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:webflow2",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2418006
              }
            },
            {
              "id": 20,
              "mapper": {
                "itemIds": "{{1.id}}",
                "site_id": "65c1b541f39a41111db8b769",
                "collection_id": "65c1b541f39a41111db8b7df"
              },
              "module": "webflow:publishAnItem",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "site_id",
                    "type": "select",
                    "label": "Site",
                    "required": true
                  },
                  {
                    "name": "collection_id",
                    "type": "select",
                    "label": "Collection",
                    "required": true
                  },
                  {
                    "name": "itemIds",
                    "type": "select",
                    "label": "Item IDs",
                    "multiple": true,
                    "required": true
                  }
                ],
                "restore": {
                  "expect": {
                    "itemIds": {
                      "mode": "edit"
                    },
                    "site_id": {
                      "mode": "chose",
                      "label": "Zynera"
                    },
                    "collection_id": {
                      "mode": "chose",
                      "label": "Blog Post [New]s"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "webflow2"
                      },
                      "label": "My Webflow v2 connection (hello@zynera.de)"
                    }
                  }
                },
                "designer": {
                  "x": 1500,
                  "y": 0,
                  "name": "Publish News"
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:webflow2",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2418006
              }
            },
            {
              "id": 11,
              "mapper": {
                "id": "{{3.id}}",
                "base": "apptWqaD0CMD6FaD0",
                "table": "tblLhmCwrARjBD5Ec",
                "record": {
                  "fldAOAj7eHALVAt1i": {},
                  "fldkNxsd23zI2KBMf": true
                },
                "typecast": false,
                "useColumnId": false
              },
              "module": "airtable:ActionUpdateRecords",
              "version": 3,
              "metadata": {
                "expect": [
                  {
                    "name": "base",
                    "type": "select",
                    "label": "Base",
                    "required": true
                  },
                  {
                    "name": "typecast",
                    "type": "boolean",
                    "label": "Smart links",
                    "required": true
                  },
                  {
                    "name": "useColumnId",
                    "type": "boolean",
                    "label": "Use Column ID",
                    "required": true
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  },
                  {
                    "name": "id",
                    "type": "text",
                    "label": "Record ID",
                    "required": true
                  },
                  {
                    "name": "record",
                    "spec": [
                      {
                        "name": "fldJH7lKobrOsQk7h",
                        "type": "text",
                        "label": "Name"
                      },
                      {
                        "name": "fldDkjMBBirXPDp9A",
                        "type": "text",
                        "label": "Notes"
                      },
                      {
                        "name": "fldAOAj7eHALVAt1i",
                        "spec": [
                          {
                            "name": "id",
                            "type": "text",
                            "label": "ID"
                          },
                          {
                            "name": "email",
                            "type": "email",
                            "label": "Email"
                          },
                          {
                            "name": "name",
                            "type": "text",
                            "label": "Name"
                          }
                        ],
                        "type": "collection",
                        "label": "Assignee"
                      },
                      {
                        "mode": "edit",
                        "name": "fldKz7MQ2rsa5gQsc",
                        "type": "select",
                        "label": "Status"
                      },
                      {
                        "name": "fldkNxsd23zI2KBMf",
                        "type": "boolean",
                        "label": "Live"
                      }
                    ],
                    "type": "collection",
                    "label": "Record"
                  }
                ],
                "restore": {
                  "expect": {
                    "base": {
                      "label": "Webflow ⚙️"
                    },
                    "table": {
                      "label": "News"
                    },
                    "record": {
                      "nested": {
                        "fldKz7MQ2rsa5gQsc": {
                          "mode": "edit"
                        },
                        "fldkNxsd23zI2KBMf": {
                          "mode": "chose"
                        }
                      }
                    },
                    "typecast": {
                      "mode": "chose"
                    },
                    "useColumnId": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "airtable3"
                      },
                      "label": "My Airtable OAuth connection (User ID: usryWvTaoddQVF23q)"
                    }
                  }
                },
                "designer": {
                  "x": 1800,
                  "y": 0,
                  "name": "Check Live"
                },
                "interface": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "createdTime",
                    "type": "date",
                    "label": "Created Time"
                  },
                  {
                    "name": "Name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "Notes",
                    "type": "text",
                    "label": "Notes",
                    "multiline": true
                  },
                  {
                    "name": "Assignee",
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      }
                    ],
                    "type": "collection",
                    "label": "Assignee"
                  },
                  {
                    "name": "Status",
                    "type": "text",
                    "label": "Status"
                  },
                  {
                    "name": "Upload",
                    "spec": [
                      {
                        "name": "label",
                        "type": "text",
                        "label": "Label"
                      },
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      }
                    ],
                    "type": "collection",
                    "label": "Upload"
                  },
                  {
                    "name": "Live",
                    "type": "boolean",
                    "label": "Live"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:airtable3,airtable2",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2419123
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 7,
              "filter": {
                "name": "Case Study",
                "conditions": [
                  [
                    {
                      "a": "{{17.tableName}}",
                      "b": "Case Study",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "base": "apptWqaD0CMD6FaD0",
                "table": "tblYwgpilxfHSmqLh",
                "formula": "Live=0",
                "maxRecords": "10",
                "useColumnId": false
              },
              "module": "airtable:ActionSearchRecords",
              "version": 3,
              "metadata": {
                "expect": [
                  {
                    "name": "base",
                    "type": "select",
                    "label": "Base",
                    "required": true
                  },
                  {
                    "name": "useColumnId",
                    "type": "boolean",
                    "label": "Use Column ID",
                    "required": true
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  },
                  {
                    "name": "formula",
                    "type": "text",
                    "label": "Formula"
                  },
                  {
                    "name": "maxRecords",
                    "type": "integer",
                    "label": "Limit"
                  },
                  {
                    "name": "sort",
                    "spec": [
                      {
                        "name": "field",
                        "type": "select",
                        "label": "Field",
                        "dynamic": true,
                        "options": []
                      },
                      {
                        "name": "direction",
                        "type": "select",
                        "label": "Direction",
                        "options": [
                          {
                            "label": "Descending",
                            "value": "desc"
                          },
                          {
                            "label": "Ascending",
                            "value": "asc"
                          }
                        ]
                      }
                    ],
                    "type": "array",
                    "label": "Sort"
                  },
                  {
                    "name": "view",
                    "type": "select",
                    "label": "View"
                  },
                  {
                    "name": "fields",
                    "type": "select",
                    "label": "Output Fields",
                    "multiple": true
                  }
                ],
                "restore": {
                  "expect": {
                    "base": {
                      "mode": "chose",
                      "label": "Webflow ⚙️"
                    },
                    "sort": {
                      "mode": "chose"
                    },
                    "view": {
                      "mode": "chose"
                    },
                    "table": {
                      "mode": "chose",
                      "label": "Case Study"
                    },
                    "fields": {
                      "mode": "chose"
                    },
                    "useColumnId": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "airtable3"
                      },
                      "label": "My Airtable OAuth connection (User ID: usryWvTaoddQVF23q)"
                    }
                  }
                },
                "designer": {
                  "x": 900,
                  "y": 300,
                  "name": "Get Ready"
                },
                "interface": [
                  {
                    "name": "__IMTLENGTH__",
                    "type": "uinteger",
                    "label": "Total number of bundles"
                  },
                  {
                    "name": "__IMTINDEX__",
                    "type": "uinteger",
                    "label": "Bundle order position"
                  },
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "createdTime",
                    "type": "date",
                    "label": "Created Time"
                  },
                  {
                    "name": "Name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "Notes",
                    "type": "text",
                    "label": "Notes",
                    "multiline": true
                  },
                  {
                    "name": "Assignee",
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      }
                    ],
                    "type": "collection",
                    "label": "Assignee"
                  },
                  {
                    "name": "Status",
                    "type": "text",
                    "label": "Status"
                  },
                  {
                    "name": "Upload",
                    "spec": [
                      {
                        "name": "label",
                        "type": "text",
                        "label": "Label"
                      },
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      }
                    ],
                    "type": "collection",
                    "label": "Upload"
                  },
                  {
                    "name": "Live",
                    "type": "boolean",
                    "label": "Live"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:airtable3,airtable2",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2419123
              }
            },
            {
              "id": 8,
              "mapper": {
                "fields": {
                  "name": "{{7.Name}}",
                  "main-project-image": {},
                  "second-project-image": {}
                },
                "select": "list",
                "site_id": "65c1b541f39a41111db8b769",
                "collection_id": "65c1b541f39a41111db8b81e"
              },
              "module": "webflow:createItem",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "select",
                    "type": "select",
                    "label": "Choose Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "map",
                        "list"
                      ]
                    }
                  },
                  {
                    "name": "isArchived",
                    "type": "boolean",
                    "label": "Is Archived"
                  },
                  {
                    "name": "isDraft",
                    "type": "boolean",
                    "label": "Is Draft"
                  },
                  {
                    "name": "site_id",
                    "type": "select",
                    "label": "Site",
                    "required": true
                  },
                  {
                    "name": "collection_id",
                    "type": "select",
                    "label": "Collection",
                    "required": true
                  },
                  {
                    "name": "fields",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true,
                        "validate": {
                          "max": 256
                        }
                      },
                      {
                        "name": "main-project-image",
                        "spec": [
                          {
                            "name": "url",
                            "type": "url",
                            "label": "URL"
                          },
                          {
                            "name": "alt",
                            "type": "text",
                            "label": "Alternate Text"
                          }
                        ],
                        "type": "collection",
                        "label": "Main Project Image"
                      },
                      {
                        "name": "second-project-image",
                        "spec": [
                          {
                            "name": "url",
                            "type": "url",
                            "label": "URL"
                          },
                          {
                            "name": "alt",
                            "type": "text",
                            "label": "Alternate Text"
                          }
                        ],
                        "type": "collection",
                        "label": "Second Project Image"
                      },
                      {
                        "name": "video-link",
                        "type": "url",
                        "label": "Video Link"
                      },
                      {
                        "name": "project-details",
                        "type": "text",
                        "label": "Project Details"
                      },
                      {
                        "name": "project-details-2",
                        "type": "text",
                        "label": "Project Details 2"
                      },
                      {
                        "name": "project-summary",
                        "type": "text",
                        "label": "Project Summary"
                      },
                      {
                        "name": "category",
                        "type": "text",
                        "label": "Category"
                      },
                      {
                        "name": "client",
                        "type": "text",
                        "label": "Client"
                      },
                      {
                        "name": "year",
                        "type": "text",
                        "label": "Year"
                      },
                      {
                        "name": "award",
                        "type": "text",
                        "label": "Award"
                      },
                      {
                        "name": "featured-project",
                        "type": "boolean",
                        "label": "Featured Project?"
                      },
                      {
                        "name": "slug",
                        "type": "text",
                        "label": "Slug",
                        "validate": {
                          "max": 256
                        }
                      }
                    ],
                    "type": "collection",
                    "label": "Fields"
                  }
                ],
                "restore": {
                  "expect": {
                    "fields": {
                      "nested": {
                        "featured-project": {
                          "mode": "chose"
                        }
                      }
                    },
                    "select": {
                      "label": "Select from the list"
                    },
                    "isDraft": {
                      "mode": "chose"
                    },
                    "site_id": {
                      "label": "Zynera"
                    },
                    "isArchived": {
                      "mode": "chose"
                    },
                    "collection_id": {
                      "label": "Project [Case Study]s",
                      "nested": [
                        {
                          "name": "fields",
                          "spec": [
                            {
                              "name": "name",
                              "type": "text",
                              "label": "Name",
                              "required": true,
                              "validate": {
                                "max": 256
                              }
                            },
                            {
                              "name": "main-project-image",
                              "spec": [
                                {
                                  "help": "Valid URL with Image extension in it.",
                                  "name": "url",
                                  "type": "url",
                                  "label": "URL",
                                  "required": false
                                },
                                {
                                  "name": "alt",
                                  "type": "text",
                                  "label": "Alternate Text"
                                }
                              ],
                              "type": "collection",
                              "label": "Main Project Image",
                              "required": false
                            },
                            {
                              "name": "second-project-image",
                              "spec": [
                                {
                                  "help": "Valid URL with Image extension in it.",
                                  "name": "url",
                                  "type": "url",
                                  "label": "URL",
                                  "required": false
                                },
                                {
                                  "name": "alt",
                                  "type": "text",
                                  "label": "Alternate Text"
                                }
                              ],
                              "type": "collection",
                              "label": "Second Project Image",
                              "required": false
                            },
                            {
                              "name": "video-link",
                              "type": "url",
                              "label": "Video Link",
                              "required": false
                            },
                            {
                              "name": "project-details",
                              "type": "text",
                              "label": "Project Details",
                              "required": false,
                              "multiline": true
                            },
                            {
                              "name": "project-details-2",
                              "type": "text",
                              "label": "Project Details 2",
                              "required": false,
                              "multiline": true
                            },
                            {
                              "name": "project-summary",
                              "type": "text",
                              "label": "Project Summary",
                              "required": false
                            },
                            {
                              "name": "category",
                              "type": "text",
                              "label": "Category",
                              "required": false
                            },
                            {
                              "name": "client",
                              "type": "text",
                              "label": "Client",
                              "required": false
                            },
                            {
                              "name": "year",
                              "type": "text",
                              "label": "Year",
                              "required": false
                            },
                            {
                              "name": "award",
                              "type": "text",
                              "label": "Award",
                              "required": false
                            },
                            {
                              "name": "featured-project",
                              "type": "boolean",
                              "label": "Featured Project?",
                              "required": false
                            },
                            {
                              "help": "Must be alphanumerical and not contain any spaces or special characters",
                              "name": "slug",
                              "type": "text",
                              "label": "Slug",
                              "required": false,
                              "validate": {
                                "max": 256
                              }
                            }
                          ],
                          "type": "collection",
                          "label": "Fields"
                        }
                      ]
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "webflow2"
                      },
                      "label": "My Webflow v2 connection (hello@zynera.de)"
                    }
                  }
                },
                "designer": {
                  "x": 1200,
                  "y": 300,
                  "name": "Create Case Study"
                },
                "interface": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "Item ID"
                  },
                  {
                    "name": "lastPublished",
                    "type": "text",
                    "label": "Last Published"
                  },
                  {
                    "name": "lastUpdated",
                    "type": "date",
                    "label": "Last Updated"
                  },
                  {
                    "name": "createdOn",
                    "type": "date",
                    "label": "Created on"
                  },
                  {
                    "name": "isArchived",
                    "type": "boolean",
                    "label": "Is Archived"
                  },
                  {
                    "name": "isDraft",
                    "type": "boolean",
                    "label": "Is Draft"
                  },
                  {
                    "name": "fieldData",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true,
                        "validate": {
                          "max": 256
                        }
                      },
                      {
                        "name": "main-project-image",
                        "spec": [
                          {
                            "name": "url",
                            "type": "url",
                            "label": "URL"
                          },
                          {
                            "name": "fileId",
                            "type": "text",
                            "label": "File ID"
                          },
                          {
                            "name": "alt",
                            "type": "text",
                            "label": "Alternate Text"
                          }
                        ],
                        "type": "collection",
                        "label": "Main Project Image",
                        "required": false
                      },
                      {
                        "name": "second-project-image",
                        "spec": [
                          {
                            "name": "url",
                            "type": "url",
                            "label": "URL"
                          },
                          {
                            "name": "fileId",
                            "type": "text",
                            "label": "File ID"
                          },
                          {
                            "name": "alt",
                            "type": "text",
                            "label": "Alternate Text"
                          }
                        ],
                        "type": "collection",
                        "label": "Second Project Image",
                        "required": false
                      },
                      {
                        "name": "video-link",
                        "spec": [
                          {
                            "name": "url",
                            "type": "text",
                            "label": "URL"
                          },
                          {
                            "name": "metadata",
                            "spec": [
                              {
                                "name": "provider_url",
                                "type": "text",
                                "label": "Provider URL"
                              },
                              {
                                "name": "version",
                                "type": "text",
                                "label": "Version"
                              },
                              {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                              },
                              {
                                "name": "author_name",
                                "type": "text",
                                "label": "Author Name"
                              },
                              {
                                "name": "height",
                                "type": "number",
                                "label": "Height"
                              },
                              {
                                "name": "thumbnail_width",
                                "type": "number",
                                "label": "Thumbnail Width"
                              },
                              {
                                "name": "width",
                                "type": "number",
                                "label": "Width"
                              },
                              {
                                "name": "html",
                                "type": "text",
                                "label": "HTML"
                              },
                              {
                                "name": "author_url",
                                "type": "text",
                                "label": "Author URL"
                              },
                              {
                                "name": "url",
                                "type": "text",
                                "label": "URL"
                              },
                              {
                                "name": "provider_name",
                                "type": "text",
                                "label": "Provider Name"
                              },
                              {
                                "name": "thumbnail_url",
                                "type": "text",
                                "label": "Thumbnail URL"
                              },
                              {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                              },
                              {
                                "name": "thumbnail_height",
                                "type": "number",
                                "label": "Thumbnail Height"
                              },
                              {
                                "name": "source",
                                "type": "text",
                                "label": "Source"
                              },
                              {
                                "name": "thumb",
                                "spec": [
                                  {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL"
                                  },
                                  {
                                    "name": "w",
                                    "type": "number",
                                    "label": "W"
                                  },
                                  {
                                    "name": "h",
                                    "type": "number",
                                    "label": "H"
                                  }
                                ],
                                "type": "collection",
                                "label": "Thumb"
                              },
                              {
                                "name": "aspectRatio",
                                "type": "number",
                                "label": "Aspect Ratio"
                              },
                              {
                                "name": "videoId",
                                "type": "text",
                                "label": "Video ID"
                              },
                              {
                                "name": "youTubeParams",
                                "spec": [],
                                "type": "collection",
                                "label": "You Tube Params"
                              }
                            ],
                            "type": "collection",
                            "label": "Metadata"
                          }
                        ],
                        "type": "collection",
                        "label": "Video Link",
                        "required": false
                      },
                      {
                        "name": "project-details",
                        "type": "text",
                        "label": "Project Details",
                        "required": false,
                        "multiline": true
                      },
                      {
                        "name": "project-details-2",
                        "type": "text",
                        "label": "Project Details 2",
                        "required": false,
                        "multiline": true
                      },
                      {
                        "name": "project-summary",
                        "type": "text",
                        "label": "Project Summary",
                        "required": false
                      },
                      {
                        "name": "category",
                        "type": "text",
                        "label": "Category",
                        "required": false
                      },
                      {
                        "name": "client",
                        "type": "text",
                        "label": "Client",
                        "required": false
                      },
                      {
                        "name": "year",
                        "type": "text",
                        "label": "Year",
                        "required": false
                      },
                      {
                        "name": "award",
                        "type": "text",
                        "label": "Award",
                        "required": false
                      },
                      {
                        "name": "featured-project",
                        "type": "boolean",
                        "label": "Featured Project?",
                        "required": false
                      },
                      {
                        "help": "Must be alphanumerical and not contain any spaces or special characters",
                        "name": "slug",
                        "type": "text",
                        "label": "Slug",
                        "required": false,
                        "validate": {
                          "max": 256
                        }
                      }
                    ],
                    "type": "collection",
                    "label": "Field Data"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:webflow2",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2418006
              }
            },
            {
              "id": 21,
              "mapper": {
                "itemIds": "{{8.id}}",
                "site_id": "65c1b541f39a41111db8b769",
                "collection_id": "65c1b541f39a41111db8b81e"
              },
              "module": "webflow:publishAnItem",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "site_id",
                    "type": "select",
                    "label": "Site",
                    "required": true
                  },
                  {
                    "name": "collection_id",
                    "type": "select",
                    "label": "Collection",
                    "required": true
                  },
                  {
                    "name": "itemIds",
                    "type": "select",
                    "label": "Item IDs",
                    "multiple": true,
                    "required": true
                  }
                ],
                "restore": {
                  "expect": {
                    "itemIds": {
                      "mode": "edit"
                    },
                    "site_id": {
                      "mode": "chose",
                      "label": "Zynera"
                    },
                    "collection_id": {
                      "mode": "chose",
                      "label": "Project [Case Study]s"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "webflow2"
                      },
                      "label": "My Webflow v2 connection (hello@zynera.de)"
                    }
                  }
                },
                "designer": {
                  "x": 1500,
                  "y": 300,
                  "name": "Publish Case Study"
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:webflow2",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2418006
              }
            },
            {
              "id": 12,
              "mapper": {
                "id": "{{7.id}}",
                "base": "apptWqaD0CMD6FaD0",
                "table": "tblYwgpilxfHSmqLh",
                "record": {
                  "fld7FdBPEFHuD3FdW": true,
                  "fldwzao2lgASiAtvc": {}
                },
                "typecast": false,
                "useColumnId": false
              },
              "module": "airtable:ActionUpdateRecords",
              "version": 3,
              "metadata": {
                "expect": [
                  {
                    "name": "base",
                    "type": "select",
                    "label": "Base",
                    "required": true
                  },
                  {
                    "name": "typecast",
                    "type": "boolean",
                    "label": "Smart links",
                    "required": true
                  },
                  {
                    "name": "useColumnId",
                    "type": "boolean",
                    "label": "Use Column ID",
                    "required": true
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  },
                  {
                    "name": "id",
                    "type": "text",
                    "label": "Record ID",
                    "required": true
                  },
                  {
                    "name": "record",
                    "spec": [
                      {
                        "name": "fldEKgCdnRTNWkudo",
                        "type": "text",
                        "label": "Name"
                      },
                      {
                        "name": "fldqvwTHJzn0gALYc",
                        "type": "text",
                        "label": "Notes"
                      },
                      {
                        "name": "fldwzao2lgASiAtvc",
                        "spec": [
                          {
                            "name": "id",
                            "type": "text",
                            "label": "ID"
                          },
                          {
                            "name": "email",
                            "type": "email",
                            "label": "Email"
                          },
                          {
                            "name": "name",
                            "type": "text",
                            "label": "Name"
                          }
                        ],
                        "type": "collection",
                        "label": "Assignee"
                      },
                      {
                        "mode": "edit",
                        "name": "fld4VUzLh9GVDI5FG",
                        "type": "select",
                        "label": "Status"
                      },
                      {
                        "name": "fld7FdBPEFHuD3FdW",
                        "type": "boolean",
                        "label": "Live"
                      }
                    ],
                    "type": "collection",
                    "label": "Record"
                  }
                ],
                "restore": {
                  "expect": {
                    "base": {
                      "label": "Webflow ⚙️"
                    },
                    "table": {
                      "label": "Case Study"
                    },
                    "record": {
                      "nested": {
                        "fld4VUzLh9GVDI5FG": {
                          "mode": "edit"
                        },
                        "fld7FdBPEFHuD3FdW": {
                          "mode": "chose"
                        }
                      }
                    },
                    "typecast": {
                      "mode": "chose"
                    },
                    "useColumnId": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "airtable3"
                      },
                      "label": "My Airtable OAuth connection (User ID: usryWvTaoddQVF23q)"
                    }
                  }
                },
                "designer": {
                  "x": 1800,
                  "y": 300,
                  "name": "Check Live"
                },
                "interface": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "createdTime",
                    "type": "date",
                    "label": "Created Time"
                  },
                  {
                    "name": "Name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "Notes",
                    "type": "text",
                    "label": "Notes",
                    "multiline": true
                  },
                  {
                    "name": "Assignee",
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      }
                    ],
                    "type": "collection",
                    "label": "Assignee"
                  },
                  {
                    "name": "Status",
                    "type": "text",
                    "label": "Status"
                  },
                  {
                    "name": "Upload",
                    "spec": [
                      {
                        "name": "label",
                        "type": "text",
                        "label": "Label"
                      },
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      }
                    ],
                    "type": "collection",
                    "label": "Upload"
                  },
                  {
                    "name": "Live",
                    "type": "boolean",
                    "label": "Live"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:airtable3,airtable2",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2419123
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 9,
              "filter": {
                "name": "Use Case",
                "conditions": [
                  [
                    {
                      "a": "{{17.tableName}}",
                      "b": "Use Case",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "base": "apptWqaD0CMD6FaD0",
                "table": "tblgJefclbD3ey7P9",
                "formula": "Live=0",
                "maxRecords": "10",
                "useColumnId": false
              },
              "module": "airtable:ActionSearchRecords",
              "version": 3,
              "metadata": {
                "expect": [
                  {
                    "name": "base",
                    "type": "select",
                    "label": "Base",
                    "required": true
                  },
                  {
                    "name": "useColumnId",
                    "type": "boolean",
                    "label": "Use Column ID",
                    "required": true
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  },
                  {
                    "name": "formula",
                    "type": "text",
                    "label": "Formula"
                  },
                  {
                    "name": "maxRecords",
                    "type": "integer",
                    "label": "Limit"
                  },
                  {
                    "name": "sort",
                    "spec": [
                      {
                        "name": "field",
                        "type": "select",
                        "label": "Field",
                        "dynamic": true,
                        "options": []
                      },
                      {
                        "name": "direction",
                        "type": "select",
                        "label": "Direction",
                        "options": [
                          {
                            "label": "Descending",
                            "value": "desc"
                          },
                          {
                            "label": "Ascending",
                            "value": "asc"
                          }
                        ]
                      }
                    ],
                    "type": "array",
                    "label": "Sort"
                  },
                  {
                    "name": "view",
                    "type": "select",
                    "label": "View"
                  },
                  {
                    "name": "fields",
                    "type": "select",
                    "label": "Output Fields",
                    "multiple": true
                  }
                ],
                "restore": {
                  "expect": {
                    "base": {
                      "mode": "chose",
                      "label": "Webflow ⚙️"
                    },
                    "sort": {
                      "mode": "chose"
                    },
                    "view": {
                      "mode": "chose"
                    },
                    "table": {
                      "mode": "chose",
                      "label": "Use Case"
                    },
                    "fields": {
                      "mode": "chose"
                    },
                    "useColumnId": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "airtable3"
                      },
                      "label": "My Airtable OAuth connection (User ID: usryWvTaoddQVF23q)"
                    }
                  }
                },
                "designer": {
                  "x": 900,
                  "y": 600,
                  "name": "Get Ready"
                },
                "interface": [
                  {
                    "name": "__IMTLENGTH__",
                    "type": "uinteger",
                    "label": "Total number of bundles"
                  },
                  {
                    "name": "__IMTINDEX__",
                    "type": "uinteger",
                    "label": "Bundle order position"
                  },
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "createdTime",
                    "type": "date",
                    "label": "Created Time"
                  },
                  {
                    "name": "Name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "Notes",
                    "type": "text",
                    "label": "Notes",
                    "multiline": true
                  },
                  {
                    "name": "Assignee",
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      }
                    ],
                    "type": "collection",
                    "label": "Assignee"
                  },
                  {
                    "name": "Status",
                    "type": "text",
                    "label": "Status"
                  },
                  {
                    "name": "Upload",
                    "spec": [
                      {
                        "name": "label",
                        "type": "text",
                        "label": "Label"
                      },
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      }
                    ],
                    "type": "collection",
                    "label": "Upload"
                  },
                  {
                    "name": "Live",
                    "type": "boolean",
                    "label": "Live"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:airtable3,airtable2",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2419123
              }
            },
            {
              "id": 10,
              "mapper": {
                "fields": {
                  "name": "{{9.Name}}"
                },
                "select": "list",
                "site_id": "65c1b541f39a41111db8b769",
                "collection_id": "65c4b394c580c9637707cda4"
              },
              "module": "webflow:createItem",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "select",
                    "type": "select",
                    "label": "Choose Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "map",
                        "list"
                      ]
                    }
                  },
                  {
                    "name": "isArchived",
                    "type": "boolean",
                    "label": "Is Archived"
                  },
                  {
                    "name": "isDraft",
                    "type": "boolean",
                    "label": "Is Draft"
                  },
                  {
                    "name": "site_id",
                    "type": "select",
                    "label": "Site",
                    "required": true
                  },
                  {
                    "name": "collection_id",
                    "type": "select",
                    "label": "Collection",
                    "required": true
                  },
                  {
                    "name": "fields",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true,
                        "validate": {
                          "max": 256
                        }
                      },
                      {
                        "name": "slug",
                        "type": "text",
                        "label": "Slug",
                        "validate": {
                          "max": 256
                        }
                      }
                    ],
                    "type": "collection",
                    "label": "Fields"
                  }
                ],
                "restore": {
                  "expect": {
                    "select": {
                      "label": "Select from the list"
                    },
                    "isDraft": {
                      "mode": "chose"
                    },
                    "site_id": {
                      "label": "Zynera"
                    },
                    "isArchived": {
                      "mode": "chose"
                    },
                    "collection_id": {
                      "label": "Process [Use Case]s",
                      "nested": [
                        {
                          "name": "fields",
                          "spec": [
                            {
                              "name": "name",
                              "type": "text",
                              "label": "Name",
                              "required": true,
                              "validate": {
                                "max": 256
                              }
                            },
                            {
                              "help": "Must be alphanumerical and not contain any spaces or special characters",
                              "name": "slug",
                              "type": "text",
                              "label": "Slug",
                              "required": false,
                              "validate": {
                                "max": 256
                              }
                            }
                          ],
                          "type": "collection",
                          "label": "Fields"
                        }
                      ]
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "webflow2"
                      },
                      "label": "My Webflow v2 connection (hello@zynera.de)"
                    }
                  }
                },
                "designer": {
                  "x": 1200,
                  "y": 600,
                  "name": "Create Use Case"
                },
                "interface": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "Item ID"
                  },
                  {
                    "name": "lastPublished",
                    "type": "text",
                    "label": "Last Published"
                  },
                  {
                    "name": "lastUpdated",
                    "type": "date",
                    "label": "Last Updated"
                  },
                  {
                    "name": "createdOn",
                    "type": "date",
                    "label": "Created on"
                  },
                  {
                    "name": "isArchived",
                    "type": "boolean",
                    "label": "Is Archived"
                  },
                  {
                    "name": "isDraft",
                    "type": "boolean",
                    "label": "Is Draft"
                  },
                  {
                    "name": "fieldData",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true,
                        "validate": {
                          "max": 256
                        }
                      },
                      {
                        "help": "Must be alphanumerical and not contain any spaces or special characters",
                        "name": "slug",
                        "type": "text",
                        "label": "Slug",
                        "required": false,
                        "validate": {
                          "max": 256
                        }
                      }
                    ],
                    "type": "collection",
                    "label": "Field Data"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:webflow2",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2418006
              }
            },
            {
              "id": 22,
              "mapper": {
                "itemIds": "{{10.id}}",
                "site_id": "65c1b541f39a41111db8b769",
                "collection_id": "65c4b394c580c9637707cda4"
              },
              "module": "webflow:publishAnItem",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "site_id",
                    "type": "select",
                    "label": "Site",
                    "required": true
                  },
                  {
                    "name": "collection_id",
                    "type": "select",
                    "label": "Collection",
                    "required": true
                  },
                  {
                    "name": "itemIds",
                    "type": "select",
                    "label": "Item IDs",
                    "multiple": true,
                    "required": true
                  }
                ],
                "restore": {
                  "expect": {
                    "itemIds": {
                      "mode": "edit"
                    },
                    "site_id": {
                      "mode": "chose",
                      "label": "Zynera"
                    },
                    "collection_id": {
                      "mode": "chose",
                      "label": "Process [Use Case]s"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "webflow2"
                      },
                      "label": "My Webflow v2 connection (hello@zynera.de)"
                    }
                  }
                },
                "designer": {
                  "x": 1500,
                  "y": 600,
                  "name": "Publish Use Case"
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:webflow2",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2418006
              }
            },
            {
              "id": 13,
              "mapper": {
                "id": "{{9.id}}",
                "base": "apptWqaD0CMD6FaD0",
                "table": "tblgJefclbD3ey7P9",
                "record": {
                  "fld49sLuqzjzEvdz9": true,
                  "fldgBjUC45nEPIxRJ": {}
                },
                "typecast": false,
                "useColumnId": false
              },
              "module": "airtable:ActionUpdateRecords",
              "version": 3,
              "metadata": {
                "expect": [
                  {
                    "name": "base",
                    "type": "select",
                    "label": "Base",
                    "required": true
                  },
                  {
                    "name": "typecast",
                    "type": "boolean",
                    "label": "Smart links",
                    "required": true
                  },
                  {
                    "name": "useColumnId",
                    "type": "boolean",
                    "label": "Use Column ID",
                    "required": true
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  },
                  {
                    "name": "id",
                    "type": "text",
                    "label": "Record ID",
                    "required": true
                  },
                  {
                    "name": "record",
                    "spec": [
                      {
                        "name": "fldsgLa0PpeFREgBv",
                        "type": "text",
                        "label": "Name"
                      },
                      {
                        "name": "fldrAGBxT2xprpfq3",
                        "type": "text",
                        "label": "Notes"
                      },
                      {
                        "name": "fldgBjUC45nEPIxRJ",
                        "spec": [
                          {
                            "name": "id",
                            "type": "text",
                            "label": "ID"
                          },
                          {
                            "name": "email",
                            "type": "email",
                            "label": "Email"
                          },
                          {
                            "name": "name",
                            "type": "text",
                            "label": "Name"
                          }
                        ],
                        "type": "collection",
                        "label": "Assignee"
                      },
                      {
                        "mode": "edit",
                        "name": "fldDKGfbJjTkHNlFR",
                        "type": "select",
                        "label": "Status"
                      },
                      {
                        "name": "fld49sLuqzjzEvdz9",
                        "type": "boolean",
                        "label": "Live"
                      }
                    ],
                    "type": "collection",
                    "label": "Record"
                  }
                ],
                "restore": {
                  "expect": {
                    "base": {
                      "label": "Webflow ⚙️"
                    },
                    "table": {
                      "label": "Use Case"
                    },
                    "record": {
                      "nested": {
                        "fld49sLuqzjzEvdz9": {
                          "mode": "chose"
                        },
                        "fldDKGfbJjTkHNlFR": {
                          "mode": "edit"
                        }
                      }
                    },
                    "typecast": {
                      "mode": "chose"
                    },
                    "useColumnId": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "airtable3"
                      },
                      "label": "My Airtable OAuth connection (User ID: usryWvTaoddQVF23q)"
                    }
                  }
                },
                "designer": {
                  "x": 1800,
                  "y": 600,
                  "name": "Check Live"
                },
                "interface": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "createdTime",
                    "type": "date",
                    "label": "Created Time"
                  },
                  {
                    "name": "Name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "Notes",
                    "type": "text",
                    "label": "Notes",
                    "multiline": true
                  },
                  {
                    "name": "Assignee",
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      }
                    ],
                    "type": "collection",
                    "label": "Assignee"
                  },
                  {
                    "name": "Status",
                    "type": "text",
                    "label": "Status"
                  },
                  {
                    "name": "Upload",
                    "spec": [
                      {
                        "name": "label",
                        "type": "text",
                        "label": "Label"
                      },
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      }
                    ],
                    "type": "collection",
                    "label": "Upload"
                  },
                  {
                    "name": "Live",
                    "type": "boolean",
                    "label": "Live"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:airtable3,airtable2",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 2419123
              }
            }
          ]
        }
      ],
      "version": 1,
      "metadata": {
        "designer": {
          "x": 600,
          "y": 300
        }
      }
    }
  ],
  "name": "✏️ 5 - Publish Website Content | Airtable > Webflow @kelkassas",
  "metadata": {
    "instant": true,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "3": {
          "id": "rec3g5mdtnGqxWtfS...",
          "Name": "Badge: Webflow...",
          "Frist": "2024-02-18...",
          "Status": "To do...",
          "Priorität": "Hoch...",
          "createdTime": "2024-02-08T09:04:09.000Z",
          "__IMTINDEX__": 1,
          "__IMTLENGTH__": 4
        },
        "17": {
          "recordID": "recUcd1yo9p3kpq8e...",
          "tableName": "News...",
          "publishDate": "2024-02-15T21:00:00.000Z"
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}